section.section-home-slider
	.home-slider.home-slider--no-slider
		.home-slider-slide.slick-active
			picture
				source(srcset="img/front-slider-mob.jpg", media="(max-width: 749px)")
				img.hms-pic(src="img/home-slider-pic.jpg", alt="")
			.hms-info.hms-info--has-course-title
				.hms-info__course-top
					.hms-info__course-title.hms-info__course-title--small БАЗОВЫЙ КУРС <br> медитации Крийя
				.hms-info__top
					.hms-info__title.hms-info__title--smallest-lh.hms-info__title--small Не требует <br > специальной подготовки
				.hms-info__bottom
					.hms-info__area Онлайн
					.hms-info__date В записи
				a.hms-info-btn.hms-info-btn--type-nidra-course(href="")
					span.hms-info-btn__desk Принять участие
					span.hms-info-btn__mob Принять участие
