section.ks-post-constructor


	.kspc-numbered-list
		.container.container--ks
			.kspc-nl
				h2.kspc-nl__title.kspc-h2-style Как приступить к медитации Крийя

				ol.kspc-nl__list
					li.kspc-nl__item Перед началом медитации рекомендуется одеть свободную одежду светлых тонов. Ваша одежда должна была комфортной, свободной и не отвлекать во время практики.
					li.kspc-nl__item Сядьте в любое удобное положение со скрещенными ногам. Это может быть поза по-турецки, полу-лотос, лотос и т.д. Если вам трудно сидеть со скрещенными ногами, вы можете сесть на стул, пуфик или мягкую подушку.
					li.kspc-nl__item Важно, чтобы ваш позвоночник был ровным, этого достаточно для начала. Тело расслаблено, поясница расслаблена.
					li.kspc-nl__item Закройте глаза, слегка поднимите глазные яблоки вверх, смотрите через центр лба. Глаза сильно не напрягайте, вам должно быть комфортно. Если вы устали, опустите глаза, отдохните, расслабьтесь и возвращайтесь в исходное положение (глаза всегда смотрят через центр лба во время практики).
					li.kspc-nl__item Отведите язык назад, прижав его к верхнему нёбу. Вам должно быть комфортно, делайте это без излишних усилий. Не напрягайтесь, если язык устал, верните его в исходное положение, отдохните и продолжайте практику (язык всегда должен быть отведен назад во время практики).
					li.kspc-nl__item Приступайте медитациии!

	.simple-add-to-calendar
		.container.container--ks
			.kspc-event-calendar.kspc-event-calendar--simple-add
				a.kspc-event-calendar__item(href="" target="_blank")
					|  <svg class="kspc-event-calendar__item-pic" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5.33331" width="1.33333" height="12" rx="0.666667" fill="#25378D"/><rect y="6.6665" width="1.33333" height="12" rx="0.666666" transform="rotate(-90 0 6.6665)" fill="#25378D"/></svg>
					span.kspc-event-calendar__item-name Google Календарь

				a.kspc-event-calendar__item(href="" target="_blank")
					|  <svg class="kspc-event-calendar__item-pic" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5.33331" width="1.33333" height="12" rx="0.666667" fill="#25378D"/><rect y="6.6665" width="1.33333" height="12" rx="0.666666" transform="rotate(-90 0 6.6665)" fill="#25378D"/></svg>
					span.kspc-event-calendar__item-name Apple Календарь
			.simple-add-to-calendar__btn-wrap
				a.btn.kspc-event-btn.kspc-event-btn--simple-add(href="")  Принять участие



	.kspc-media-wrap.kspc-media-wrap--has-label
		.container.container--ks
			a.kspc-media.kspc-media--video(href="https://www.youtube.com/embed/tf3wfU6QeG8" data-fancybox)
				img.kspc-media-preview(src="img/0000FF.png", alt="")
			.kspc-media-text 15 минутная медитация Крийя с Мастером Имрамом
