@media screen and (max-width: 1150px) {

	.breadcrumbs {
		padding-top: 18px;
	}

	.breadcrumbs-item {

		&_link {

			&--current {}
		}
	}

	.breadcrumbs-delimiter {
		margin: 0 8px 0 13px;
	}
}

@media screen and (max-width: 749px) {

	.breadcrumbs {
		padding-top: 18px;
	}

	.breadcrumbs-item {

		&_link {

			&--current {}
		}
	}
}