.container--breadcrumbs {
	&+.ksquote {
		padding-top: 46px;
	}
}

.maslider-section {
	&+.breadcrumbs-wrap {
		.breadcrumbs {
			padding-top: 55px;
		}
	}
}

.breadcrumbs-container--ks {}

.breadcrumbs-wrap--in-archive-cat+.artimaster-posts-section{
	margin-top: 0 !important;
}
.breadcrumbs {
	display: flex;
	align-items: center;
	list-style: none;
	padding-top: 33px;
	flex-wrap: wrap;

	&--in-archive-cat {
		padding-top: 88px;
	}
	&--single-article{
		padding: 16px 0 41px;

		@include media(1150) {
			padding: 20px 0 42px;
		}

		@include media(749) {
			padding: vw(17) 0 vw(22);
		}


	}

}






.breadcrumbs-delimiter {
	display: inline-block;
	background: url(../img/breadcrumbs-delimiter.svg) no-repeat center center;
	background-size: contain;
	min-width: 6px;
	margin: 0 8px 0 10px;

	&::before {
		content: '';
		display: block;
		padding-top: 150%;
	}
}

.breadcrumbs-item {
	list-style: none;
	display: inline-flex;
	align-items: center;


	&_link {
		display: block;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 17px;

		letter-spacing: -0.03em;

		color: #AFB4BF;

		&--current {
			color: $dark;
		}
	}
}