.kriya-science-main>.reviews:last-child {
	margin-bottom: 0;
}

.reviews {
	margin-top: 81px;

	&--after-tabs-and-socials {
		margin-top: 26px;
	}

	&:last-child {

		margin-bottom: -61px;
	}
}

.reviews-title {
	margin-top: -4px;

}

.reviews-top {
	margin-left: -14px;

	.reviews-title {
		display: inline-block;
		margin-left: 14px;
	}
}

.reviews-top__count {
	display: inline-block;
	font-weight: normal;
	font-size: 17px;
	line-height: 59px;
	letter-spacing: -0.03em;
	color: #AFB4BF;
	margin-left: 14px;
}

.reviews-form__top {
	display: flex;
	flex-wrap: wrap;
	margin-left: -14px;
}

.reviews-form__top-inp-wrap {
	width: calc(50% - 14px);
	display: block;
	padding-bottom: 14px;
	margin-left: 14px;
}

.reviews__info-after-title {
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 30px;
	color: $dark;
	margin-top: -4px;

	+.reviews-form {
		margin-top: 48px;
	}
}

.reviews-form {
	margin-top: 13px;
}

.reviews-textarea {
	/* or 162% */
	display: flex;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	padding: 10px 22px;
	resize: none;
	/* FieldHint */
	color: $dark;
	/* FieldBorder */
	border: 1px solid #D9DBDE;
	border-radius: 5px;
	background: #FFFFFF;
	font-size: 13px;
	line-height: 21px;

	&::placeholder {
		color: #AFB4BF;
		font-size: inherit;
		line-height: inherit;
	}
}

.reviews-send-btn {
	width: 206px;
	height: 43px;
	margin-top: 14px;
	border-radius: 5px;

	&:hover {}

	&:active {}

	&:focus {}
}

.reviews-container {
	margin-top: 58px;
}

.reviews-item {
	&__top {
		display: flex;
		align-items: flex-end;
	}

	&__name {
		letter-spacing: -0.03em;
		color: $dark;
		font-size: 17px;
		line-height: 22px;
		font-weight: 500;
	}

	&__days {
		margin-bottom: 3px;
		margin-left: 22px;
		letter-spacing: -0.03em;
		color: #AFB4BF;
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		line-height: 13px;
	}

	&__text {
		position: relative;
		margin-top: 8px;
		letter-spacing: -0.55px;
		color: $dark;
		font-size: 17px;
		line-height: 30px;
		height: auto;
		transition: max-height 13s linear, height 13s linear;

		&--with-hide {
			overflow: hidden;
			max-height: 30*4px;
		}

		&--open {
			max-height: 10000px;
		}

		p {}
	}

	&+.reviews-item {
		margin-top: 44px;
	}
}


.reviews-unwrap {
	top: 30*3px;
	right: 0;
	padding-right: 115px;
}

.reviews-more-options {
	margin-top: 6px;
	padding-bottom: 2px;

	&__item {
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 22px;
		letter-spacing: -0.3px;

		color: #AFB4BF;
	}
}

.reviews-loadmore-wrap {
	display: flex;
	justify-content: center;
	margin-top: 45px;
}

.reviews-loadmore {
	display: flex;
	justify-content: center;
	cursor: pointer;
	position: relative;

	&__text {
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 30px;
		text-align: center;
		color: #25378D;
	}

	&__icon {
		position: absolute;
		right: -16px;
		top: 0;
		width: 11px;
		height: auto;
		display: block;
		top: 50%;
		transform: translate(0, -50);
		right: -19px;
		margin-top: -2px;
	}
}









.reviews-item__name {
	display: flex;
}


.reviews-item__name-pic {
	width: 19px;
	position: relative;
	margin-right: 8px;
	margin-left: -1px;
	margin-top: -1px;

	display: block;

	@media screen and (max-width: 1150px) {}

	@media screen and (max-width: 749px) {
		width: vw(19);
		margin-right: vw(8);
		margin-left: vw(-1);
		margin-top: vw(-1);
	}


	&::before {
		content: '';
		display: block;
		padding-top: 100%;
	}

	img {
		line-height: 1;
		@include relative_img();
		object-fit: contain;
	}
}


.reviews-item+.reviews-item:not(.reviews-item--level--1) {
	margin-top: 21px;

	@media screen and (max-width: 1150px) {
		margin-top: 38px;

	}

	@media screen and (max-width: 749px) {
		margin-top: vw(38);
	}
}

.reviews-item--is-child {
	position: relative;

	&::before {
		content: '';
		display: block;
		position: absolute;
		left: -36px;
		top: -7px;
		width: 22px;
		height: 22px;
		background: url(../img/article-template/reply-line.svg) no-repeat center center;
		background-size: contain;

		@media screen and (max-width: 1150px) {
			top: -8px;
		}

		@media screen and (max-width: 749px) {
			left: vw(-36);
			width: vw(22);
			height: vw(22);

			top: vw(-8);
		}
	}
}


.reviews-item-childrens {
	position: relative;
	height: 27px;
	overflow: hidden;

	@media screen and (max-width: 1150px) {}

	@media screen and (max-width: 749px) {
		&:not(.reviews-item-childrens--non-hide) {
			height: vw(27);
			margin-bottom: vw(-3);
		}
	}

	&--non-hide {
		overflow: visible;
		height: auto;

		.reviews-item-childrens__wrap {
			opacity: 1;
			pointer-events: all;
		}
	}
}

.reviews-item-childrens__quantity {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	margin-top: 4px;
	position: absolute;
	left: 0;
	top: 0;
	transition: all .3s linear;

	@media screen and (max-width: 1150px) {
		margin-top: 6px;
	}

	@media screen and (max-width: 749px) {
		margin-top: vw(6);
	}

	&::before {
		content: '';
		display: block;
		width: 15px;
		height: 17px;
		background: url(../img/article-template/reply-icon.svg) no-repeat center center;
		background-size: contain;
		margin-left: 21px;
		margin-top: -1px;

		@media screen and (max-width: 1150px) {
			margin-left: 13px;
			margin-top: -6px;
		}

		@media screen and (max-width: 749px) {
			width: vw(15);
			height: vw(17);
			margin-left: vw(13);
			margin-top: vw(-6);
		}
	}

	span {
		display: block;
		font-size: 17px;
		line-height: 17px;
		letter-spacing: -0.03em;
		color: $dark;
		margin-left: 15px;

		@media screen and (max-width: 1150px) {
			font-size: 15px;
			margin-left: 14px;

		}

		@media screen and (max-width: 749px) {
			font-size: vw(15);
			margin-left: vw(14);
			line-height: vw(17);
		}

	}

	&--hide {
		opacity: 0;
		pointer-events: none;
	}
}

.reviews-item-childrens__wrap {
	opacity: 0;
	pointer-events: none;
	transition: all .4s linear;
	padding-left: 58px;
	margin-top: 21px;

	@media screen and (max-width: 1150px) {

		padding-left: 34px;
		margin-top: 24px;
	}

	@media screen and (max-width: 749px) {
		padding-left: vw(34);
		margin-top: vw(24);
	}


	&--show {
		opacity: 1;
		pointer-events: all;
	}
}

.reviews-response-form-wrap {
	overflow: hidden;
	height: 0;

	@media screen and (max-width: 1150px) {}

	@media screen and (max-width: 749px) {}
}

.reviews-response-form {
	box-sizing: border-box;
	padding-top: 16px;
	padding-bottom: 21px;

	@media screen and (max-width: 1150px) {}

	@media screen and (max-width: 749px) {}
}