@media screen and (max-width: 1150px) {

	.reviews {
		margin-top: 88px;

		&--after-tabs-and-socials {
			margin-top: 35px;
		}

		&:last-child {}
	}

	.reviews__info-after-title {
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 24px;
		margin-top: 6px;

		+.reviews-form {
			margin-top: 29px;
		}
	}

	.reviews-title {}




	.reviews-top {
		margin-left: -19px;

		.reviews-title {
			font-size: 24px;
			line-height: 45px;
			letter-spacing: -0.03em;
			margin-left: 19px;
		}
	}

	.reviews-top__count {
		font-size: 19px;
		line-height: 45px;
		letter-spacing: -0.03em;
		margin-left: 19px;
	}

	.reviews-form__top {
		margin-left: 0;
		justify-content: space-between;
		padding-top: 2px;
	}

	.reviews-form__top-inp-wrap {
		width: calc(50% - 11px);
		display: block;
		padding-bottom: 14px;
		margin-left: 0;
	}






	.reviews-form {
		margin-top: 18px;
	}

	.reviews-textarea {
		&::placeholder {}
	}

	.reviews-send-btn {
		&:hover {}

		&:active {}

		&:focus {}
	}

	.reviews-container {
		margin-top: 53px;
	}

	.reviews-item {
		&__top {
			font-size: 15px;
			line-height: 22px;
		}

		&__name {
			font-style: normal;
			font-weight: 500;
			font-size: 15px;
			line-height: 22px;
			letter-spacing: -0.03em;
			color: $dark;
		}

		&__days {
			font-size: 13px;
			line-height: 13px;
			letter-spacing: -0.03em;
			color: #AFB4BF;
			margin-bottom: 3px;
			margin-left: 21px;
		}

		&__text {
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 24px;
			letter-spacing: -0.03em;
			color: $dark;

			&--with-hide {
				max-height: 24*4px;
			}

			&--with-hide {}

			&--open {
				max-height: 10000px;
			}

			p {}
		}

		&+.reviews-item {
			margin-top: 46px;
		}
	}

	.reviews-unwrap {
		top: 24*3px;
		padding-right: 18px;
	}

	.reviews-more-options {
		margin-top: 9px;
		padding-bottom: 0px;

		&__item {}
	}

	.reviews-loadmore-wrap {
		margin-top: 41px;
	}

	.reviews-loadmore {
		&__text {
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 30px;
			text-align: center;
		}

		&__icon {}
	}
}

@media screen and (max-width: 749px) {
	.reviews {
		margin-top: vw(88);

		&--after-tabs-and-socials {
			margin-top: 9.44444vw;
		}

		&:last-child {
			margin-bottom: vw(-61);
		}
	}

	.reviews-title {}

	.reviews__info-after-title {
		font-size: vw(15);
		line-height: vw(24);
		margin-top: vw(7);

		+.reviews-form {
			margin-top: vw(29);
		}
	}

	.reviews-form {
		margin-top: vw(22);
	}

	.reviews-textarea {
		padding: vw(10) vw(22);
		border-radius: 5px;
		font-size: vw(13);
		line-height: vw(21);
	}

	.reviews-send-btn {
		width: vw(159);
		min-width: vw(159);
		height: vw(43);
		margin-top: vw(14);
	}

	.reviews-send-btn {
		&:hover {}

		&:active {}

		&:focus {}
	}

	.reviews-container {
		margin-top: vw(55);
	}

	.reviews-item {
		&__top {}

		&__name {
			font-style: normal;
			font-weight: 500;
			font-size: vw(15);
			line-height: vw(22);
			letter-spacing: -0.03em;
			color: $dark;
		}

		&__days {
			font-size: vw(13);
			line-height: vw(13);
			letter-spacing: -0.03em;
			color: #AFB4BF;
			margin-bottom: vw(4);
			margin-left: vw(22);
		}

		&__text {
			font-style: normal;
			font-weight: normal;
			font-size: vw(15);
			line-height: vw(24);
			letter-spacing: -0.03em;
			color: $dark;
			margin-top: vw(9);

			&--with-hide {
				max-height: vw(24*4);
			}

			&--open {
				max-height: 10000px;
			}

			p {}
		}

		&+.reviews-item {
			margin-top: vw(47);
		}
	}

	.reviews-unwrap {
		top: vw(24*3);
		padding-right: vw(25);
	}

	.reviews-more-options {
		margin-top: vw(9);
		padding-bottom: vw(0);

		&__item {
			font-size: vw(13);
			line-height: vw(22);
		}
	}

	.reviews-loadmore-wrap {
		margin-top: vw(40);
	}

	.reviews-loadmore {
		&__text {
			font-style: normal;
			font-weight: normal;
			font-size: vw(15);
			line-height: vw(30);
			text-align: center;
		}

		&__icon {
			right: vw(-16);
			width: vw(11);
			right: vw(-19);
			margin-top: vw(-2);
		}
	}


	.reviews-top {
		margin-left: 0;

		.reviews-title {
			font-size: vw(24);
			line-height: vw(39);
			letter-spacing: -0.03em;
			margin-left: 0;
			display: inline;
		}
	}

	.reviews-top__count {
		font-size: vw(15);
		line-height: vw(39);
		letter-spacing: -0.03em;
		margin-left: vw(16);
	}

	.reviews-form__top {
		margin-left: 0;
		justify-content: space-between;
		padding-top: vw(0);
	}

	.reviews-form__top-inp-wrap {
		width: calc(50% - #{vw(5.5)});
		display: block;
		padding-bottom: vw(14);
		margin-left: 0;
	}



}




@media screen and (min-width: 319px) and (max-width: 321px) {
	.reviews-unwrap {
		//top: 24*3px; //пофиксить топ
	}

}



@media screen and (min-width: 413px) and (max-width: 415px) {
	.reviews-unwrap {
		//top: 24*3px; //пофиксить топ
	}

}