.kriya-science-main>.reviews:last-child {
	margin-bottom: 0;
}

.reviews {
	margin-top: 81px;

	&--after-tabs-and-socials {
		margin-top: 26px;
	}

	&:last-child {

		margin-bottom: -61px;
	}
}

.reviews-title {
	margin-top: -4px;

}

.reviews-top {
	margin-left: -14px;

	.reviews-title {
		display: inline-block;
		margin-left: 14px;
	}
}

.reviews-top__count {
	display: inline-block;
	font-weight: normal;
	font-size: 17px;
	line-height: 59px;
	letter-spacing: -0.03em;
	color: #AFB4BF;
	margin-left: 14px;
}

.reviews-form__top {
	display: flex;
	flex-wrap: wrap;
	margin-left: -14px;
}

.reviews-form__top-inp-wrap {
	width: calc(50% - 14px);
	display: block;
	padding-bottom: 14px;
	margin-left: 14px;
}

.reviews__info-after-title {
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 30px;
	color: $dark;
	margin-top: -4px;

	+.reviews-form {
		margin-top: 48px;
	}
}

.reviews-form {
	margin-top: 13px;
}

.reviews-textarea {
	/* or 162% */
	display: flex;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	padding: 10px 22px;
	resize: none;
	/* FieldHint */
	color: $dark;
	/* FieldBorder */
	border: 1px solid #D9DBDE;
	border-radius: 5px;
	background: #FFFFFF;
	font-size: 13px;
	line-height: 21px;

	&::placeholder {
		color: #AFB4BF;
		font-size: inherit;
		line-height: inherit;
	}
}

.reviews-send-btn {
	width: 206px;
	height: 43px;
	margin-top: 14px;
	border-radius: 5px;

	&:hover {}

	&:active {}

	&:focus {}
}

.reviews-container {
	margin-top: 58px;
}

.reviews-item {
	&__top {
		display: flex;
		align-items: flex-end;
	}

	&__name {
		letter-spacing: -0.03em;
		color: $dark;
		font-size: 17px;
		line-height: 22px;
		font-weight: normal;
	}

	&__days {
		margin-bottom: 4px;
		margin-left: 22px;
		letter-spacing: -0.03em;
		color: #AFB4BF;
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		line-height: 13px;
	}

	&__text {
		position: relative;
		margin-top: 8px;
		letter-spacing: -0.55px;
		color: $dark;
		font-size: 17px;
		line-height: 30px;
		height: auto;
		transition: max-height 13s linear, height 13s linear;

		&--with-hide {
			overflow: hidden;
			max-height: 30*4px;
		}

		&--open {
			max-height: 10000px;
		}

		p {}
	}

	&+.reviews-item {
		margin-top: 44px;
	}
}

.reviews-unwrap {
	top: 30*3px;
	right: 0;
	padding-right: 115px;
}

.reviews-more-options {
	margin-top: 6px;
	padding-bottom: 2px;

	&__item {
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 22px;
		letter-spacing: -0.3px;

		color: #AFB4BF;
	}
}

.reviews-loadmore-wrap {
	display: flex;
	justify-content: center;
    margin-top: 45px;
}

.reviews-loadmore {
	display: flex;
	justify-content: center;
	cursor: pointer;
	position: relative;

	&__text {
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 30px;
		text-align: center;
		color: #25378D;
	}

	&__icon {
		position: absolute;
		right: -16px;
		top: 0;
		width: 11px;
		height: auto;
		display: block;
		top: 50%;
		transform: translate(0, -50);
		right: -19px;
		margin-top: -2px;
	}
}