section.ks-post-constructor.ks-post-constructor--contacts
	.music-form-wrap.music-form-wrap--contacts
		.container.container--ks
			h2.music-form-title Контактная информация

			form#ltForm7676420.music-form.music-form--without-subtitle(action='https://imram-kriya.com/pl/lite/block-public/process-html?id=1057050566' method='post' data-open-new-window='0')
				input(type='hidden' name='formParams[setted_offer_id]')
				.music-form-row
					.music-form-item.music-form-item--2
						input.music-form-input.js-need-validate(type='text' maxlength='60' placeholder='Ваше имя' name='formParams[full_name]' value='' data-validate-type='non-empty')
					.music-form-item.music-form-item--2
						input.music-form-input.music-form-input--email.js-need-validate(type='text' maxlength='60' placeholder='Ваш Email' name='formParams[email]' value='' data-validate-type='email')
				.music-form-row
					.music-form-item
						textarea.music-form-input.music-form-input--textarea.js-textarea-autosize(name='formParams[userCustomFields][567900]' placeholder='Сообщение')
				.music-form-row
					.music-form-item.music-form-item--btn
						button#button627644.btn.btn--music-form(type='submit' onclick="if(window['btnprs60a786f6b4d96']){return false;}window['btnprs60a786f6b4d96']=true;setTimeout(function(){window['btnprs60a786f6b4d96']=false},3000);return true;")
							| ОТПРАВИТЬ
					.music-form-item.music-form-item--submit-text
						| Нажимая на кнопку «Отправить», вы
						| подтвержаете,
						| что ознакомлены и согласны с политикой конфиденциальности сайта и условиями обработки
						| персональных
						| данных.
				input#40421260a786f6a50d0.__gc__internal__form__helper(type='hidden' name='__gc__internal__form__helper' value='')
				input#40421260a786f6a50d0ref.__gc__internal__form__helper_ref(type='hidden' name='__gc__internal__form__helper_ref' value='')
				input(type='hidden' name='requestTime' value='1621591798')
				input(type='hidden' name='requestSimpleSign' value='d5a6c412f2145252101fa9e6d901bb1a')
				input(type='hidden' name='isHtmlWidget' value='1')
			span#gccounterImgContainer
			script.
				window.addEventListener('load', function () {
				let loc = document.getElementById("40421260a786f6a50d0");
				loc.value = window.location.href;
				let ref = document.getElementById("40421260a786f6a50d0ref");
				ref.value = document.referrer;
				let statUrl = "https://imram-kriya.com/stat/counter?ref=" + encodeURIComponent(document.referrer) +
				"&loc=" + encodeURIComponent(document.location.href);
				document.getElementById('gccounterImgContainer').innerHTML =
				"<img width=1 height=1 style='display:none' id='gccounterImg' src='" + statUrl + "'/>";
				});

			.hr.hr--before-contacts-form-info

			.contacts-form-info
				.contacts-form-info__item
					.contacts-form-info__item-text Телефон
					a.contacts-form-info__item-link(href="")  +7 905 460-29-91
				.contacts-form-info__item
					.contacts-form-info__item-text Email
					a.contacts-form-info__item-link(href="")  info@imram-kriya.com
				.contacts-form-info__item
					.contacts-form-info__item-text Telegram
					a.contacts-form-info__item-link(href="")  @ImramKriya

			.hr.hr--after-contacts-form-info



	.kspc-qa.js-kspc-qa
		.container.container--ks
			h2.kspc-h2-style.kspc-qa-title Часто задаваемые вопросы
			.kspc-qa-main
				.kspc-qa-item
					.kspc-qa-item__top
						.kspc-qa-item__title Что такое Крийя йога
						.kspc-qa-item__plus
					.kspc-qa-item__content
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic sapiente nobis in laboriosam at! Dolorem!
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic sapiente nobis in laboriosam at! Dolorem!
				.kspc-qa-item
					.kspc-qa-item__top
						.kspc-qa-item__title Что такое медитация
						.kspc-qa-item__plus
					.kspc-qa-item__content
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur molestias aut voluptatem ratione nostrum illum?
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur molestias aut voluptatem ratione nostrum illum?
				.kspc-qa-item
					.kspc-qa-item__top
						.kspc-qa-item__title Если я ничего не знаю о йоге, могу ли я практиковать Крийя
						.kspc-qa-item__plus
					.kspc-qa-item__content
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat explicabo debitis minus impedit, mollitia quis!
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat explicabo debitis minus impedit, mollitia quis!
				.kspc-qa-item
					.kspc-qa-item__top
						.kspc-qa-item__title Ваша первая книга о Крийя йоге
						.kspc-qa-item__plus
					.kspc-qa-item__content
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi deleniti molestias porro, reiciendis ullam praesentium?
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi deleniti molestias porro, reiciendis ullam praesentium?
				.kspc-qa-item
					.kspc-qa-item__top
						.kspc-qa-item__title Могут ли пожилые люди практиковать Крийя
						.kspc-qa-item__plus
					.kspc-qa-item__content
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eveniet tenetur voluptatem, assumenda fuga rem?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eveniet tenetur voluptatem, assumenda fuga rem?
				.kspc-qa-item
					.kspc-qa-item__top
						.kspc-qa-item__title Что такое Семинар Имрам Крийя
						.kspc-qa-item__plus
					.kspc-qa-item__content
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero sint doloremque reiciendis quos alias? Doloribus.
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero sint doloremque reiciendis quos alias? Doloribus.
				.kspc-qa-item
					.kspc-qa-item__top
						.kspc-qa-item__title Одежда для практики
						.kspc-qa-item__plus
					.kspc-qa-item__content
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem magni asperiores consectetur maiores harum tempora.
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem magni asperiores consectetur maiores harum tempora.
				.kspc-qa-item
					.kspc-qa-item__top
						.kspc-qa-item__title Питание
						.kspc-qa-item__plus
					.kspc-qa-item__content
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem magni asperiores consectetur maiores harum tempora.
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem magni asperiores consectetur maiores harum tempora.

