.section-youtube {
	padding-top: 41px;
	padding-bottom: 140px;

	&__container {
		max-width: 100%;
	}

	&__title {
		margin-bottom: 17px;
	}

	&__row {
		display: flex;
		padding-left: 10px;
	}

	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 36px;
	}

	&__icon-wrap {
		width: 93px;
		position: relative;
		&::before{
			content: '';
			display: block;
			padding-top: 100%;
		}
	}
	&__icon {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: center center;
	}

	&__name {
		font-weight: 500;
		font-size: 17px;
		line-height: 26px;
		text-align: center;
		color: $dark;
		margin-top: 8px;
	}
}