.section-youtube {
border-top: 1px solid #DEE6E9;
padding-top: 41px;
padding-bottom: 140px;
    &__container {
        max-width: 100%;
    }

    &__title {
        margin-bottom: 17px;
    }

    &__row {
        display: flex;
        padding-left: 10px;
    }
    
    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 54px;
    }
    
    &__icon {
        margin-bottom: 8px;
    }
    
    &__name {
        font-weight: 500;
        font-size: 17px;
        line-height: 26px;
        text-align: center;
        color: #3E434D;
    }
}