@media screen and (max-width: 1150px) {
	.section-youtube {
		padding-top: 55px;
		padding-bottom: 61px;

		&__container {
			max-width: 100%;
		}

		&__title {
			margin-bottom: 29px;
			text-align: center;
			letter-spacing: -0.03em;
		}

		&__row {
			display: flex;
			justify-content: center;
			justify-content: flex-start;
			width: 100%;
			padding-left: 60px;
		}

		&__link {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-right: 0;

			&:not(:last-child) {
				margin-right: 69px;
			}

			&:nth-child(2) {
				margin-right: 56px;
			}

			&:last-child {
				margin-right: 0px;
			}

		}

		&__icon-wrap {
			width: 93px;
		}

		&__icon {}

		&__name {
			font-weight: 500;
			font-size: 15px;
			line-height: 26px;
			text-align: center;
			color: $dark;
			margin-top: 5px;
		}
	}
}

@media screen and (max-width: 749px) {

	//767 было
	.section-youtube {
		padding-top: vw(44);
		padding-bottom: vw(51);

		&__container {
			max-width: 100%;
		}

		&__title {
			margin-bottom: vw(21);
			text-align: center;
			letter-spacing: -0.03em;
		}

		&__row {
			display: block;
			justify-content: center;
			justify-content: flex-start;
			width: 100%;
			padding-left: 0;
			overflow: auto;
		}

		&__link {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-right: 0;
			flex: 0 0 auto;
			margin-right: vw(36) !important;

		}

		&__icon-wrap {
			width: vw(93);
			margin: 0 auto;
		}

		&__icon {
			margin-bottom: vw(4);
		}

		&__name {
			font-weight: 500;
			font-size: vw(15);
			line-height: vw(26);
			text-align: center;
			color: $dark;
		}
	}
}