section.big-top-pic
	.big-top-pic__container
		.big-top-pic__relative
			picture
				source(srcset="img/DEE6E9.png" media="(max-width: 1150px)")
				source(srcset="img/DEE6E9.png" media="(max-width: 749px)")
				img.big-top-pic__img(src="img/DEE6E9.png")