section.ks-post-constructor
	.kspc-h1-block
		.container.container--ks
			h1.kspc-h1 Крийя йога


	.kspc-slider-block
		.container.container--ks
			.kspc-slider.js-kspc-slider.custom-dots
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/500x3000/000000/FFFFFF/?text=h")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=1", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/3000x1000/000000/FFFFFF/?text=w")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=2", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=3")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=3", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=4")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=4", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=5")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=5", alt="")

	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__h2 Что такое йога?
			.kspc-simple-text__p
				p В представлении большинства людей йог – это человек, развивший способности своего тела до удивительной степени: он умеет лежать на гвоздях, ходить по огню или сидеть в позе лотоса… А ведь основное в йоге – это духовный аспект. Принцип Единства!
				p Поэтому прежде нужно разрушить неверное представление людей о Йоге.
				p Йога есть прямой Путь к Высшему. Я заявляю с полным осознанием и пониманием ответственности. Йога – это воссоединение с Высшим! Это самый прямой и короткий путь самореализации. Йога – это не религия. Это наука, в которой явлены Высшие Знания, из которых возникли различные системы и направления.

	.kspc-text-with-pic-and-hide
		.container.container--ks
			.kspc-twpah.kspc-twpah--pic-right
				.kspc-twpah__pic
					img(src="img/DEE6E9.png", alt="")
				//.kspc-twpah__delimiter
				.kspc-twpah__text
					p Йога присутствует во всех аспектах бытия. Она позволяет познать себя как микрокосмос, используя космический инструмент, которым является наше тело. Применяя научный психо&#8209;физиологический метод, мы можем пробудить внутренние резервы организма (знания, Свыше, с которыми мы рождаемся) и познать себя, как проявление Вселенной, созданной Высшим Творцом.
					p В Йоге используются три основных уровня восприятия  – это ментальный, психо&#8209;эмоциональный и физический. Все это помогает познать Духовный мир.
					p Йог – тот, кто осознает присутствие Вездесущего Творца в каждый момент своего бытия, в каждом дыхании!
					p Это тот, кто является выражением Божественной Силы, Мудрости и Покоя. Это тот, кто растворился, и  в итоге осознал Единство, полностью стерев свое эго. К этому можно прийти через Святую Науку Крийя -сосредоточение -внушение - восприятие .
					p Йога — это опыт, который помогает человеку прочувствовать это единство с Высшим Я, внутри нас и это абсолютно научный метод. Метод, который позволяет воссоединиться с тем, Кто есть Всё-во-всём…
					div.kspc-twpah-unwrap.js-kspc-twpah-unwrap
						span.kspc-twpah-unwrap__dots ...
						span.kspc-twpah-unwrap__text  Развернуть
				.clearfix


	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__h2 Метод ускоренной эволюции
			.kspc-simple-text__p
				p Для прохождения и трансформации всех уровней сознания требуется один миллион лет сознательной практики и праведной жизни.
				p Каждые 8 лет наш мозг обновляется. Например, мозг восьмилетнего ребенка не может воспринять информацию и знания 16-и летнего.  Хотя энергия идет постоянно, но усвоить её мозг не способен, не хватает понимания. Огромное количество наших нейронов спит, емкость восприятия малая.
				p Через восемь лет клетки мозга обновляются и происходит раскрытие под воздействием Солнца, химическим процессов и преобразования химических элементов внутри человека. Каждые  8 лет обновляя клетки мозга&nbsp;можно прийти к Реализации или высочайшей осознанности, но для это требуется один миллион лет эволюции.

	.quote-with-parallax.js-jarallax-1(style="background-image:url(img/quotes-bg-new.jpg);")
		.container.container--ks.container--qwp
			.quote-with-parallax-quote Крийя является физическим, научным и духовным методом, посредством которого ускоряется развитие тела, ума и души и достигается самореализация человека.


	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__h2 Наука Крийя
			.kspc-simple-text__p
				p <b>Крийя-йога – это инструмент, позволяющий человеку ускорить свою эволюцию.</b><span class="hidden display-d"></span> Крийя  — это высший метод постижения Закона Вселенной, где истинный ответ приходит из глубин внутреннего Я. Вечный неизменный закон вселенной, выраженный как Истина, Праведность, Безусловная Любовь, Мир и Покой, Ненасилие. Наука Крийя есть выражение этого Закона в действии.
				p Посредством этой практики, интуиция пробуждается без усилий и вы сможете лицом к Лицу встретиться со своим Высшим Я. Крийя йога учит, как управляя процессом дыхания, можно успокоить разум и достичь высших состояний сознания.
	.kspc-quote-right
		.container.container--ks
			.kspc-quote-right__text 10 минут практики Крийя эквивалентно 20-ти годам естественной эволюции человека…



	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__p
				p В практике Крийя, энергизируя каждую клеточку, особые центры, с концентрацией на продолговатом мозге, мы пробуждаем нейроны и отделы мозга. Мы становимся способны принять и усвоить больше энергии -информации, высших знаний , за пределами обычного понимания.
				p Со временем, когда мы научимся чувствовать очень тонкие каналы внутри позвоночника, ученик подходит к Высоким техникам.
				p Во время практики Высшей Крийя: один сознательный вдох и выдох – это один год эволюции – что соответствует космическому циклу вращения нашей солнечной системы , с ее планетарным сознанием.


	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__h2 Научный метод доступный каждому
			.kspc-simple-text__p
				p Десятки миллионов людей во всем мире сегодня занимаются разными направлениями йоги, воспринимая ее в основном как гимнастику для тела. Однако йога, которую практиковали в течение пяти тысячелетий в Индии, имеет <b>несоизмеримо больший потенциал и глубокий сакральный смысл.</b>
				p Крийя йога<b>, как и Веды, вопреки распространенному заблуждению, не является индийской наукой. Есть</b> мнение, что Крийю изучали пророки Запада и Востока. Ее практиковали Пифагор, Архимед, Леонардо да Винчи, Карл Юнг, а так же многие современные&nbsp;известные лидеры. О ней упоминал в своих Йога-сутрах древний мудрец Патанджали.



	.kspc-text-with-pic-and-hide
		.container.container--ks
			.kspc-twpah.kspc-twpah--pic-left
				.kspc-twpah__pic
					img(src="img/DEE6E9.png", alt="")
				//.kspc-twpah__delimiter
				.kspc-twpah__text
					p Крийя веками передавалась только устно, чтобы избежать искажений, от учителя к ученику через посвящение, в виде Крий или «техник, которые должны практиковаться точно».
					p Любой человек, который ничего не знает о Крийя, но истинно хочет практиковать, хочет что-то сделать для своей жизни, для самого себя и других – может спокойно начать практику.
					p <b>Физическая подготовка - не важна.</b> Наука Крийя преобразует тело и делает человека более подготовленным. Если мы говорим о том, что человек должен быть подготовлен, тогда знания не универсальны. Подготовленным он должен быть тогда, когда сдает экзамены. А до этого, мы должны практиковать, тренироваться и работать над собой.
					p Наука Крийя не является хатха-йогой, здесь не делается акцент, чтобы сидеть в позе лотоса, полулотоса или по-турецки. Здесь очень важно, чтобы ваш позвоночник был ровным, то есть, вы можете сидеть на стуле или маленьком пуфике, который позволит вам удерживать позвоночник ровно. Этого достаточно для начала. Вся реализация происходит в позвоночнике, в головном и спинном мозге. Она не происходит в ногах или руках.
					p Настоящая практика Крийя выглядит следующим образом – мы практикуем Крийя, чтобы пробудить то, чем мы являемся на самом деле, то есть всю палитру цветов сразу, постепенно и достаточно быстро. Мы движемся не от точки А к точке Б, а постигаем сразу весь алфавит. То есть в нас уже все заложено Свыше...
					div.kspc-twpah-unwrap.js-kspc-twpah-unwrap
						span.kspc-twpah-unwrap__dots ...
						span.kspc-twpah-unwrap__text  Развернуть
				.clearfix


	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__h2 Совершенный путь познания Высшего
			.kspc-simple-text__p
				p Парамаханса Йогананда, великий индийский йогин и просветитель, принесший Крийю в Америку и Европу, писал в книге «Автобиография йога», глава 26 «Учение Крия&#8209;йоги»:
				p «Крия-йога — это простой психофизиологический метод, благодаря которому кровь человека освобождается от углекислоты и обогащается кислородом. Атомы&nbsp;этого избыточного количества кислорода преобразуются в жизненный ток, что омолаживает мозг и спинальные центры. Тормозя процесс образования венозной крови, йог в состоянии затормозить или предотвратить разложение тканей.


	.kspc-slider-block
		.container.container--ks
			.kspc-slider.js-kspc-slider.custom-dots
				a.kspc-slider-item(href="img/DEE6E9.png" data-fancybox="slider-2")
					img.kspc-slider-item__img(src="img/DEE6E9.png", alt="")
				a.kspc-slider-item(href="img/DEE6E9.png" data-fancybox="slider-2")
					img.kspc-slider-item__img(src="img/DEE6E9.png", alt="")
				a.kspc-slider-item(href="img/DEE6E9.png" data-fancybox="slider-2")
					img.kspc-slider-item__img(src="img/DEE6E9.png", alt="")

	.kspc-simple-text.kspc-simple-text--with-hide
		.container.container--ks
			.kspc-simple-text__p
				p Крия-йога - это инструмент, благодаря которому может быть ускорена эволюция человека, - объяснял ученикам Шри Юктешвар. - Йоги древности открыли, что секрет Космического Сознания тесно связан с господством над дыханием. Это уникальный и бессмертный вклад Индии в сокровищницу мирового знания. Жизненная сила, обычно занятая поддержанием деятельности сердца, может быть освобождена для более высоких видов деятельности методом успокоения и остановки непрестанной потребности в дыхании".
				p Крия-йог мысленно направляет движение жизненной энергии вверх и вниз вокруг шести спинальных центров (мозговое, затылочное, грудное, поясничное, крестцовое и копчиковое сплетения), соответствующих двенадцати астральным знакам зодиака - символическому Космическому Человеку. Полминуты обращения энергии вокруг чувствительного спинного мозга человека вызывают тонкий прогресс в его эволюции; полминуты крия равны году естественного духовного развития.
				p Астральная система человека с шестью (двенадцать по полярности) внутренними созвездиями, обращающимися вокруг солнца всеведущего духовного ока, связана с физическим солнцем и двенадцатью знаками зодиака. Так на всех людей действует внутренняя и внешняя вселенная. Древние риши - мудрецы открыли, что земная и небесная сфера человека двенадцатилетними циклами толкают его вперед на его естественный путь. Писания утверждают, что человеку требуется миллион лет нормальной безболезненной эволюции, чтобы, усовершенствовав мозг, достичь Космического Сознания.
				p Тысяча крийя, выполняемых в течение восьми с половиной часов, дают йогу за день эквивалент тысячи лет естественной эволюции, или 365.000 лет эволюции за один год. Таким образом за три года крийя-йог может достичь собственным разумным усилием того же результата, который природа дает только через миллион лет. Конечно, ускорением крийя могут пользоваться только такие йоги, которые с помощью гуру тщательно приготовили тело и мозг для того, чтобы выдержать силу, порождаемую интенсивной практикой.
				p Начинающий заниматься крийя делает от 14 до 28 йоговских упражнений два раза в день. Многие йоги достигают освобождения через 6, 12, 24 или 48 лет.
				p Тело обычного человека подобно лампочке в пятьдесят ватт, которая не способна выдержать мощность в миллион ватт, пробужденную постоянной практикой крийя. Благодаря постепенному и регулярному наращиванию простых и всем понятных методов крийя тело человека день за днем астрально преобразуется и становится, наконец, готовым для проявления бесконечных потенций космической энергии, составляющей первое материально активное порождение Духа.
				p Крия-йога не имеет ничего общего с ненаучными дыхательными упражнениями, преподаваемыми многими введенными в заблуждение фанатиками. Попытки насильственно удержать дыхание в легких не только неестественны, но и явно неприятны. Крия же, напротив, с самого начала сопровождается ощущением покоя и ощущением эффекта восстановления в позвоночнике.
				p Древняя йоговская техника преобразует дыхание в вещество мысли. Путем духовного развития можно познать дыхание как ментальную концепцию действия ума: воображаемое дыхание.
				p Можно привести множество примеров математической связи между скоростью дыхания человека и изменениями в состоянии его сознания. Человек, все внимание которого поглощено интеллектуальной беседой или осуществлением какого-нибудь искусного или трудного дела, автоматически дышит очень медленно. Устойчивость внимания зависит от скорости дыхания, быстрое или неровное дыхание неминуемо сопровождается вредными эмоциональными состояниями страха, страсти, гнева. Беспокойная обезьяна дышит со скоростью тридцать два раза в минуту в отличие от человека, скорость дыхания которого в среднем восемнадцать раз. Слон, крокодил, черепаха, змея и другие животные, известные своей долгой жизнью, отличаются меньшей скоростью дыхания, чем у человека. Гигантская черепаха, например, доживающая до трехсот лет, дышит лишь четыре раза в минуту.
				p Омолаживающий эффект сна связан с временным неосознаванием человеком тела и дыхания. Спящий как бы становится йогом, каждую ночь он бессознательно выполняет йоговский ритуал освобождения себя от отождествления с телом и поглощается потоками жизненной силы, исцеляющей главные области головного мозга и шесть "субдинамо" спинальных центров. Таким образом, спящий, сам того не ведая, подзаряжается космической энергией, поддерживающей его всю жизнь».
				div.kspc-twpah-unwrap.js-simple-text-unwrap
					span.kspc-twpah-unwrap__dots ...
					span.kspc-twpah-unwrap__text  Развернуть


	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__h2 Духовный рост и семейные ценности
			.kspc-simple-text__p
				p <b>Практика Крийя, в этом смысле, не нуждается в том, чтобы уходить куда-то.</b><span class="hidden display-d"></span> Лахири Махасайя, ученик Бабаджи, показал всему миру пример домохозяина. У Лахири Махасайя было пятеро детей, жена и множество учеников. Как и все люди он жил достаточно сложной жизнью, поскольку был простым служащим и не имел средств существованию таких, какие есть у нас, но при этом он достиг Реализации, то есть полного освобождения.
				p Вы пришли сюда для реализации — это цель нашей жизни. По дороге вы можете можете и должны создавать семьи, дабы позволить другим душам реализоваться, поэтому чем больше детей, чем лучше.




	.kspc-text-with-pic-and-hide
		.container.container--ks
			.kspc-twpah.kspc-twpah--pic-right.kspc-twpah--non-hide
				.kspc-twpah__pic
					img(src="img/DEE6E9.png", alt="")
				//.kspc-twpah__delimiter
				.kspc-twpah__text
					p Если у вас есть ощущение, что вы монах, значит с этим ощущением нужно что-то делать, потому что настоящее монашество– это ваше полное, спокойное, отрешённое восприятиеывсего того, к чему привязаны люди. «Я монах в миру, у меня есть семья, но истинное монашество — это не уход от мира, а пребывание в миру, но будучи не от мира сего должен быть монах…».
					p Домохозяин или домохозяйка, то есть семьянин – это лучшее, что может быть проявлено и благодаря семье возможно быстрее прийти к Реализации...
				.clearfix

	include ./ks-post-tags-and-share