section.ks-videos
	.container.container--ks.container--ks--mob-no-r
		h2.ks-videos-title Ключи к самореализации
		.ks-videos-row.js-doubleVideo-slider
			.ks-videos-item
				a.ks-videos-item__video(href="img/DEE6E9.png" data-fancybox="videos")
					img.ks-videos-item__preview(src="img/DEE6E9.png", alt="")
				.ks-videos-item__name Посвящение в Крийя практику
			.ks-videos-item
				a.ks-videos-item__video(href="img/DEE6E9.png" data-fancybox="videos")
					img.ks-videos-item__preview(src="img/DEE6E9.png", alt="")
				.ks-videos-item__name Лекция Мастера Имрама. Практика Крийя. Ключи к самореализациии
