section.ksquote
	.container.container--ks
		.ksquote-content
			h2.ksquote-content__title Наука Крийя – прямой и&nbsp;короткий путь <br> к Космическому Сознанию
			.ksquote-content-description
				.ksquote-content-description__desk Не теряйте времени, будьте осознаны, ищите в своей жизни только хорошее, думайте только о хорошем, выбрав практику веры как Путь развития. Практику - как руководство для достижения единства с Высшим и получение личного опыта, не меняйте ее, практикуйте с полным доверием и самоотдачей.
				.ksquote-content-description__mob Не теряйте времени, будьте осознаны, ищите в своей жизни только хорошее, думайте только о хорошем, выбрав практику веры&nbsp;как&nbsp;Путь развития.