section.subscribe#js-header-2
	.container.subscribe__container
		.subscribe__content
			.subscribe__name Наука Крийя
			.subscribe__inner
				img.subscribe__icon.js-share(src="img/icons/subscribe.svg" data-title="Имрам Видео" data-url="http://imram.q7.by/videos" data-picture="http://htmlbook.ru/files/images/samcss/fig15-3.png" data-description="В этом разделе мы представляем уникальные материалы. Каждая статья несет в себе личный Опыт Мастера Имрама. Здесь вы найдете множество ключей, подсказок и ответов на самые животрепещущие вопросы.")
				a.subscribe__link(href="#") Подписаться