.ks-post-constructor--contacts {
	padding-bottom: 7px;

	@media screen and (max-width: 1150px) {}

	@media screen and (max-width: 749px) {}



}

.hr--before-contacts-form-info {
	margin-top: 58px;

	@media screen and (max-width: 1150px) {
		margin-top: 86px;
	}

	@media screen and (max-width: 749px) {
		margin-top: vw(51);
	}
}

.hr--after-contacts-form-info {
	margin-top: 26px;

	@media screen and (max-width: 1150px) {}

	@media screen and (max-width: 749px) {
		margin-top: vw(50);
	}
}

.music-form-wrap--contacts {
	margin-top: 32px;

	@media screen and (max-width: 1150px) {
		margin-top: 0;
	}

	@media screen and (max-width: 749px) {
		margin-top: vw(0);
	}
}

.music-form-wrap+.kspc-qa {
	margin-top: 137px;

	@media screen and (max-width: 1150px) {
		margin-top: 143px;
	}

	@media screen and (max-width: 749px) {
		margin-top: vw(109);
	}
}

.music-form--without-subtitle {
	margin-top: 17px;

	@media screen and (max-width: 1150px) {
		margin-top: 30px;
	}

	@media screen and (max-width: 749px) {
		margin-top: vw(28);
	}
}

.contacts-form-info {
	margin-top: 28px;
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 1150px) {
		margin-top: 27px;
	}

	@media screen and (max-width: 749px) {
		flex-direction: column;
		align-items: center;
		margin-top: vw(49);
	}

	&__item {
		display: block;
		width: 30.4%;
		font-size: 17px;
		line-height: 30px;

		@media screen and (max-width: 1150px) {
			font-size: 15px;
			line-height: 30px;
			width: 30%;
		}

		@media screen and (max-width: 749px) {
			text-align: center;
			font-size: vw(15);
			line-height: vw(30);
			width: 100%;

			&+.contacts-form-info__item {
				margin-top: vw(18);
			}
		}
	}

	&__item-text {
		font-style: normal;
		font-weight: 600;
		color: $dark;

		@media screen and (max-width: 1150px) {}

		@media screen and (max-width: 749px) {}
	}

	&__item-link {
		font-style: normal;
		font-weight: normal;
		color: #25378D;

		margin-top: 4px;
		display: block;

		@media screen and (max-width: 1150px) {
			margin-top: 2px;
		}

		@media screen and (max-width: 749px) {
			margin-top: vw(2);
		}

		&:hover {}

		&:active {}

		&:focus {}
	}
}



.fancybox-support-modal .fancybox-toolbar,
.fancybox-support-modal .custom-fancybox-close.custom-fancybox-close--thanks {
	display: block;
}

.thanks-modal {
	width: 521px;
	max-width: 100%;
	background: #FFFFFF;
	border: 1px solid #D9DBDE;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 100px 58px 102px;

	@media screen and (max-width: 749px) {
		width: 100%;
		padding: 8.05556vw 5.27778vw 13.88889vw;
	}

	&__inner {}

	&__title {
		font-size: 28px;
		line-height: 42px;
		color: $dark;
		text-align: center;
		letter-spacing: -0.03em;
		@media screen and (max-width: 749px) {
			font-size: vw(28);
			line-height: vw(42);
		}
	}

	&__description {
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 30px;
		color: $dark;
		text-align: center;
		margin-top: 17px;

		@media screen and (max-width: 749px) {
			font-size: 4.16667vw;
			line-height: 8.33333vw;
			margin-top: vw(17);
		}
	}

	.fancybox-button.fancybox-close-small {
		display: none;
	}
}