.dedication {
	margin-top: 66px;
	padding-bottom: 21px;

	@media screen and (max-width: 1150px) {
		margin-top: 79px;
		padding-bottom: 27px;
	}

	@media screen and (max-width: 749px) {
		margin-top: vw(78);
		padding-bottom: vw(27);
	}

}

.dedication-h2 {
}

.dedication-flex {
	margin-top: 11px;
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 1150px) {
		margin-top: 22px;
	}

	@media screen and (max-width: 749px) {
		flex-direction: column-reverse;
		justify-content: flex-start;
		align-items: center;
		margin-top: vw(28);
	}

	&__text {
		display: block;
		width: calc(100% - 432px);
		font-size: 17px;
		line-height: 30px;

		@media screen and (max-width: 1150px) {
			font-size: 15px;
			line-height: 24px;
			width: calc(100% - 363px);
		}

		@media screen and (max-width: 749px) {
			width: 100%;
			margin-top: vw(50);
			font-size: vw(15);
			line-height: vw(24);
		}

		b {
			font-weight: 600;
		}

		p+p {
			margin-top: 30px;

			@media screen and (max-width: 1150px) {
				margin-top: 24px;
			}

			@media screen and (max-width: 749px) {
				margin-top: vw(24);
			}
		}


	}

	&__pic {
		display: block;
		min-width: 314px+42px;
		max-width: 9999px;
		padding-right: 42px;
		padding-top: 8px;

		@media screen and (max-width: 1150px) {
			min-width: 236px;
			width: 293px;
			padding-right: 35px;
			padding-top: 5px;
		}

		@media screen and (max-width: 749px) {
			padding-top: 0;
			padding-right: 0;
			min-width: auto;
			width: vw(261);
		}

		img {
			width: 100%;
			height: auto;
		}
	}

}

.dedication__more {
	margin-top: 15px;

	@media screen and (max-width: 1150px) {
		margin-top: 22px;
	}

	@media screen and (max-width: 749px) {
		margin-top: vw(23);
	}
}