.books
	.container.container--ks
		h2.books-title.kspc-h2-style Рекомендованные книги для изучения:

	.container.container--ks.container--ks--tab-no-r.container--ks--mob-no-r
		.books-slider.js-books-slider
			each val in [1, 2, 3, 4, 5, 6 ,7 ,  8]
				.books-slide
					a.books-slide__pic(href="")
						img(src="img/0000FF.png", alt="")
					a.books-slide__title(href="") Автобиография йога
					.books-slide__author Парамаханса Йогананда
				.books-slide
					a.books-slide__pic(href="")
						img(src="img/0000FF.png", alt="")
					a.books-slide__title(href="") Бхагавадгита: Беседы с Арджуной. Царственная Наука
					.books-slide__author Парамаханса Йогананда