section.ks-post-constructor
	.kspc-h1-block
		.container.container--ks
			h1.kspc-h1 Книги


	.kspc-media-wrap
		.container.container--ks
			a.kspc-media(href="img/0000FF.png" data-fancybox)
				img.kspc-media-preview(src="img/0000FF.png", alt="")


	.kspc-simple-text.kspc-simple-text--has-title
		.container.container--ks
			.kspc-simple-text__h2 Книги реализованных Мастеров
			.kspc-simple-text__p
				p Читайте книги реализованных Мастеров, общайтесь с людьми, которые идут по пути и обладают личным опытом, общайтесь с Мастерами, не тратьте время на пустое общение с теми, кто ничего не знают об этом.
				p Я советую начать с книги Парамаханса Йогананды «Автобиографии йога» или с прочтения книги Юктешвара Гири «Святая наука» или просто скажем с книг, где написано что-то о Крийя йоге.
				p Очень многие люди были вдохновлены хорошей работой – «Йога Сиддха Боганатара» или «Бабаджи и традиция Крийя йоги 18 Сиддхов» Маршала Говиндана, книгами Святослава Дубянского, который старается Со-хранить точность передачи информации.




	.kspc-simple-text.kspc-simple-text--has-title
		.container.container--ks
			.kspc-simple-text__h2 Вдохновение
			.kspc-simple-text__p
				p Книги Йогананды, Сатья Саи Бабы обладают определенными вибрациями, энергией и информацией. И, человек, который читает эти книги получает вдохновение.
				p Безусловно, книга не может передать те духовные силы, которые человек получает во время практики Крийя и при общении с Мастером.







	.kspc-text-with-pic-and-hide
		.container.container--ks
			.kspc-twpah.kspc-twpah--pic-right.kspc-twpah--non-hide
				.kspc-twpah__pic
					img(src="img/DEE6E9.png", alt="")
				//.kspc-twpah__delimiter
				.kspc-twpah__text
					p Поэтому очень ценна индивидуальная садхана и групповая работа, поскольку там, где пятеро практикуют Крийя, Бабаджи являет Свое святое Присутствие…
					p Рекомендуем все книги реализованного Мастера Парамаханса Йогананды, если мы говорим о Крийя йоге.
					p Есть еще несколько духовных лидеров в жизни, в современном мире, вы их тоже можете для себя выбрать, книги Шри Ауробиндо, все книги и лекции Сатья Саи Бабы. Поскольку Саи Баба является воплощенным Пурна-Аватаром, фактически, Он дал знания так, чтобы людям было все предельно ясно, понятно.
				.clearfix



	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__p
				p Существует очень много йога-сутр, начиная с Крийя-Сиддха Патанджали и заканчивая всеми остальными.





	.kspc-simple-text.kspc-simple-text--has-title
		.container.container--ks
			.kspc-simple-text__h2 Критерий Истины
			.kspc-simple-text__p
				p Эти книги я не читал, но имею сопричастие с этим. Я не читал, не сидел, не тратил время, но занимался внутренней работой.
				p Когда я говорю о Крийя, пусть не возникает у людей ощущения, что я пытаюсь все системы и направления вместить в это маленькое слово - Крийя, как систему какого-то йогического индийского принципа.



	.kspc-quote-right
		.container.container--ks
			.kspc-quote-right__text Критерий Истины - Практика! Практика! Практика!



	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__p
				p Крийя — это не индийское направление или конфессия. Метод Крийя Бабаджи дан всему миру, как Единый универсальный метод, нерелигиозный путь к Космическому сознанию! Это Космический закон в действии…. Когда возникла Крийя – Индуизма еще не было.
				p Книги — это помощники, но, если вы знаете, не спрашивайте, Действуйте! Достигайте!




	.kspc-quote-right
		.container.container--ks
			.kspc-quote-right__text Ваше намерение само приведет вас…


	.kspc-media-wrap
		.container.kspc-h2-style.container--ks
			a.kspc-media(href="img/0000FF.png" data-fancybox)
				img.kspc-media-preview(src="img/0000FF.png", alt="")



	include  ../books/books

	include ../books/ks-post-tags-and-share
