section.ksquote.ksquote--first-books
	.container.container--ks
		.ksquote-content
			h2.ksquote-content__title Книги – это второй учитель,<br class="dt"> если нет Мастера
			.ksquote-content-description
				.ksquote-content-description__desk Книга как учитель в виде знания создаст элемент энергии, вдохновит<br class="dt"> и даст понимание, которое выведет человека на встречу с Мастером...<br class="dt"> Это случается…
				.ksquote-content-description__mob Книга как учитель в виде знания создаст элемент энергии, вдохновит и даст понимание, которое выведет человека на встречу с Мастером... Это случается…