.big-top-pic {
	&__container {}

	&__relative {
		display: block;
		position: relative;
		z-index: 1;
		overflow: hidden;
		&::before{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			padding-top: 46.146%;
		}
	}

	&__img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}