//начало планшета
@media screen and (max-width:1150px) {
	.big-top-pic {
		&__container {}

		&__relative {
			&::before {
				padding-top: 61.85%;
			}
		}

		&__img {}
	}
}


//начало мобилки 767 было
@media screen and (max-width: 749px) {
	.big-top-pic {
		&__container {}

		&__relative {
			&::before {
				padding-top: 0;
				height: calc(100vh - 53px);
				height: calc(var(--vh,1vh) * 100 - 53px);
			}
		}

		&__img {}
	}
}