//начало планшета
@media screen and (max-width:1150px) {
	.big-top-pic {
		&__container {}

		&__relative {
			&::before {
				padding-top: 61.85%;
			}
		}

		&__img {}
	}

	.big-top-pic--type-comments .big-top-pic__relative::before {
		padding-top: 43.1%;
	}
}


//начало мобилки 767 было
@media screen and (max-width: 749px) {
	.big-top-pic {
		&__container {}

		&__relative {
			&::before {
				padding-top: 0;
				height: calc(100vh - 53px);
				height: calc(var(--vh, 1vh) * 100 - 53px);
			}
		}
		&--type-comments .big-top-pic__relative::before {
			padding-top: 100%;
			height: auto;
		}
		&--full-height-mob {
			.big-top-pic__relative {
				&::before {
					padding-top: 0;
					height: calc(100vh - 53px);
					height: calc(var(--vh, 1vh) * 100 - 53px);
				}
			}
		}
		&--square-prop-mob{
			.big-top-pic__relative {
				&::before {
					padding-top: 100%;
					height: auto;
					height: unset;
				}
			}

		}
		&--gold-prop-mob{
			.big-top-pic__relative {
				&::before {
					padding-top: 61.804697157%;
					height: auto;
					height: unset;
				}
			}
		}
		&--gold-vert-prop-mob{
			.big-top-pic__relative {
				&::before {
					padding-top: 161.803398%;
					height: auto;
					height: unset;
				}
			}
		}
		&__img {}
	}
}