.kriya-science-main{
    padding-bottom: 143px;
}


//десктоп
@media screen and (min-width:1151px) {
	.container--ks{
		width: 842px;
	}
}

//начало планшета
@media screen and (max-width:1150px) {
}


//начало мобилки 767 было
@media screen and (max-width: 749px) {
}