.kspc-tags-and-share {}

.kspc-tas-flex {
	display: flex;
}

.kspc-tas-tags {
	display: flex;
	flex-wrap: wrap;
	margin-left: -14px;
	margin-bottom: -13px;

	&__item {
		margin-left: 14px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 10px 21px 10px 22px;
		color: #53565A;
		border-radius: 6px; -webkit-mask-image: -webkit-radial-gradient(white, black);
		background: #F0F5F9;
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		line-height: 16px;
		margin-bottom: 13px;

		&:hover {}

		&:active {}

		&:focus {}
	}
}

.kspc-tas-share {
	padding-left: 27px;
	.share-tip__links {
		.share-tip__link {
			&--fb {}

			&:hover {}

			&:active {}

			&:focus {}
		}
	}
}