.ks-post-constructor {
	padding: 45px 0 58px;

	b {
		font-weight: 600;
	}
}

.kspc-h1-block {}

.kspc-h1 {
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	line-height: 1.31;

	letter-spacing: -0.03em;

	color: $dark;
	margin-left: -3px;

	&--small {

		font-size: 35px;
		line-height: 1.46;
	}
}



.kspc-slider-block {
	margin-top: 21px;
	position: relative;

	&:hover {
		.kspc-slider-arrow {
			opacity: 1;
		}
	}

	&+.kspc-simple-text--with-hide {
		margin-top: 47px;

	}

	&+.kspc-simple-text--has-title {
		margin-top: 76px;
	}
}

.kspc-slider {
	width: 100%;
	position: relative;
	z-index: 1;

	.slick-list {
		margin: 0 -7px;
		z-index: 1;

		&::before,
		&::after {
			content: '';
			display: block;
			background: #fff;
			position: absolute;
			height: 100%;
			width: 7px;
			z-index: 2;
			top: 0;
		}

		&::before {
			left: -1px;
		}

		&::after {
			right: -1px;
		}
	}

	.slick-track {
		z-index: 1;
	}
}

.kspc-slider-arrow {
	z-index: 3;
	top: 50%;
	margin-top: -11px;
}

.kspc-slider-item {
	margin: 0 7px;
	position: relative;
	-webkit-mask-image: -webkit-radial-gradient(white, #000);
	border-radius: 6px;

	overflow: hidden;

	&__img {
		@include relative_img();
	}

	&::before {
		content: '';
		display: block;
		padding-top: 61.758%;
	}

	@include scalepic();
}




.kspc-simple-text {
	margin-top: 50px;

	&__h2 {
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		line-height: 1.69;
		letter-spacing: -.034em;
		color: $dark;
		//margin-left: -3px;
	}

	&__p {
		&:not(:first-child) {
			margin-top: 9px;
		}

		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 30px;
		color: $dark;
		//letter-spacing: -.05px;

		p {
			&+p {
				margin-top: 30px;
			}
		}

		b {
			letter-spacing: -.13px;
		}
		ul{
			&:first-child{
				margin-top: 30px;
			}
		}

	}

	&+.kspc-simple-text {
		margin-top: 67px;
	}

	&+.kspc-slider-block {
		margin-top: 27px;
	}

	&--with-hide {
		.kspc-simple-text__p {
			max-height: 150px;
			height: auto;
			overflow: hidden;
			transition: max-height 13s linear, height 13s linear;
			position: relative;

		}

		.kspc-twpah-unwrap {
			top: 120px;
			right: 0;
			padding-right: 43px;
		}

		&+.kspc-simple-text {
			margin-top: 61px !important;
		}

		&--show-9 {
			.kspc-simple-text__p {
				max-height: 30*9px;
			}

			.kspc-twpah-unwrap {
				top: 30*8px;
				right: 0;
				width: calc(100% - 83px);
			}
		}
	}

	&.kspc-simple-text--open {

		.kspc-simple-text__p {
			max-height: 10000px;
		}
	}
}

.custom-ul {

	list-style: none;

	li {
		list-style: none;
		padding-left: 40px;
		display: block;
		position: relative;

		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 20px;
			top: 11px;

			width: 6px;
			height: 6px;

			background: #6974A9;
			border-radius: 50%;

		}

		&+li {
			margin-top: 18px;
		}
	}
}

.kspc-text-with-pic-and-hide {
	margin-top: 41px;

	&+.kspc-simple-text {
		margin-top: 54px;
	}

	&+.kspc-simple-text--has-title {
		margin-top: 18px;
	}

	&--has-title-top {
		margin-top: 48px;
	}

	&--master {
		&+.kspc-qa {
			margin-top: 21px;
		}
	}
}

.kspc-twpah-title-top {
	&+.kspc-twpah {
		margin-top: 20px;
	}
}

.kspc-twpah {
	max-height: 420px; //(14 строк по 30px)
	height: auto;
	overflow: hidden;
	transition: max-height 13s linear, height 13s linear;
	position: relative;


	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 30px;
	color: $dark;

	&.kspc-twpah--open {
		max-height: 10000px;
	}

	&--non-hide {
		max-height: unset;
		overflow: visible;

		.kspc-twpah-unwrap {
			display: none;
		}
	}

	&--master {

		padding-top: 25px;

		.kspc-twpah__pic {
			margin-top: 16px;
		}

		.kspc-twpah__text {
			h2+* {
				margin-top: 9px;
			}

			ul+* {
				margin-top: 38px;
			}
		}

		&.kspc-twpah--pic-right .kspc-twpah__pic {
			margin-left: 37px;
		}
	}

	&__text {

		p {
			&:first-child {
				margin-top: 0;
			}

			&+p {
				margin-top: 30px;
			}
		}
	}

	&__pic {
		display: block;
		position: relative;
		width: calc(50% - 20px);
		-webkit-mask-image: -webkit-radial-gradient(white, #000);
		border-radius: 6px;
		overflow: hidden;

		margin-top: 0;
		margin-bottom: 58px;

		img {
			@include relative_img();
		}

		&::before {
			content: '';
			display: block;
			padding-top: 100%;
		}

		@include scalepic();
	}

	&--pic-left {
		.kspc-twpah__pic {
			float: left;
			margin-right: 38px;
		}

		.kspc-twpah-unwrap {
			right: 0;
			padding-right: 22px;
		}
	}

	&--pic-right {
		.kspc-twpah__pic {
			float: right;
			margin-left: 60px;
		}
	}

	/*&__delimiter {
		width: 100%;
		float: right;
		height: 45px;
		background: red;
	}
*/


}

.kspc-twpah-unwrap {
	cursor: pointer;
	display: inline-block;
	position: absolute;
	right: calc(50% + 20px);
	top: 390px; //420-30
	background: #ffffff;
	padding-right: 39px;
	transition: all .4s ease;
	opacity: 1;

	&__dots {}

	&__text {
		color: #AFB4BF;
	}

	&--hide {
		opacity: 0;
		cursor: unset;
		pointer-events: none;
	}
}



.quote-with-parallax {
	margin-top: 83px;

	&+.kspc-simple-text {
		margin-top: 76px;
	}
}

.quote-with-parallax-quote {
	padding: 111px 0 112px;
	font-family: 'Savoye LET';
	font-size: 45px;
	line-height: 59px;
	text-align: center;
	color: $dark;
	margin-left: -24px;
}


.kspc-quote-right {
	margin-top: 74px;
}

.kspc-quote-right {

	&__text {
		width: 100%;
		box-sizing: border-box;
		padding-left: 58px;
		font-style: italic;
		font-weight: normal;
		font-size: 22px;
		line-height: 36px;

		letter-spacing: -0.06px;

		color: $dark;
	}

	&+* {
		margin-top: 69px;
	}

	&+.kspc-simple-text {
		margin-top: 73px;
	}
}

//////////////Новое со страницы СЕМИНАР  START
.kspc-h2-style,
.kspc-h2-style-in-this h2 {
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 59px;
	letter-spacing: -0.03em;
	color: $dark;

}

.kspc-3-in-row {
	margin-top: 65px;
}

.kspc-3-in-row__title {}

.kspc-3-in-row__flex {
	display: flex;
	flex-wrap: wrap;
	margin-left: -36px;
	margin-top: 12px;
	margin-bottom: -48px;

}

.kspc-3ir-item {
	width: calc(33.33% - 36px);
	margin-left: 36px;
	margin-bottom: 48px;

	&__pic {
		display: block;
		width: 100%;
		border-radius: 5px;
		-webkit-mask-image: -webkit-radial-gradient(white, #000);
		position: relative;
		overflow: hidden;

		img {
			@include relative_img();
		}

		&::before {
			content: '';
			display: block;
			padding-top: 100%;
		}
	}

	&__desc {
		text-align: center;
	}

	&__title {
		font-style: normal;
		font-weight: 600;
		font-size: 17px;
		line-height: 30px;
		color: $dark;
		margin-top: 14px;
	}

	&__name {
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 30px;
		color: $dark;
		margin-top: 4px;
		letter-spacing: -.2px;
	}
}




.kspc-event {
	margin-top: 83px;

	&+* {
		margin-top: 50px;
	}
}

.kspc-event__container-hr-1 {}

.kspc-event__container-main {
	margin-top: 42px;

}

.kspc-event__container-hr-2 {
	margin-top: 92px;
}

.kspc-event-title {
	text-align: center;
}

.kspc-event-row {
	display: flex;
	align-items: flex-start;
	margin-top: 38px;
}

.kspc-event-map {
	display: block;
	width: 100%;
	border-radius: 5px;
	-webkit-mask-image: -webkit-radial-gradient(white, #000);
	position: relative;
	overflow: hidden;
    width: calc(50% - 20px);

	&__img {
		@include relative_img();
	}

	&::before {
		content: '';
		display: block;
		padding-top: 100%;
	}
}

.kspc-event-info-wrap {
	box-sizing: border-box;
    width: calc(50% + 20px);
	padding-left: 37px;
	padding-top: 16px;
}

.kspc-event-calendar {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-left: -22px;
	margin-top: 44px;

	&__item {
		margin-left: 22px;
		display: flex;
		align-items: center;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 21px;
		/* identical to box height */

		text-align: center;

		/* Main_blue */

		color: #25378D;

		&:hover {}

		&:active {}

		&:focus {}
	}

	&__item-pic {
		display: block;
		margin-bottom: 1px;
		margin-right: 6px;
		height: auto;

		rect {}
	}

	&__item-name {}
}

.kspc-event-info {
	&__name {
		font-style: normal;
		font-weight: 500;
		font-size: 22px;
		line-height: 22px;
		letter-spacing: -0.03em;
		color: $dark;
	}

	&__val {
		margin-top: 8px;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 30px;
		color: $dark;
	}

	&__date {
		display: inline-block;
		color: #25378D;

	}

	&__time {
		display: inline-block;
		color: #AFB4BF;
		margin-left: 13px;


	}

	&+.kspc-event-info {
		margin-top: 24px;
	}
}

.kspc-event-btn {
	margin-top: 31px;

	&:hover {}

	&:active {}

	&:focus {}
}





.kspc-qa {
	margin-top: 50px;//скорректировать при встрече
}

.kspc-qa-title {}

.kspc-qa-main {
	border-top: 1px solid #DEE6E9;
	margin-top: 39px;
}

.kspc-qa-item {
	border-bottom: 1px solid #DEE6E9;


	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 12px 11px 13px 0;
		cursor: pointer;
	}

	&__title {
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 58px;
		color: $dark;

	}

	&__plus {
		padding: 5px 15px;
		margin: -5px 0;
		min-width: 39px;
		width: 39px;
		transition-duration: .3s;
		//background: red;

		&::before {
			content: '';
			background: url(../img/qa-plus.svg) no-repeat center center;
			background-size: contain;
			display: block;
			width: 14px;
			height: 14px;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			transition: all .3s ease .2s;


			@supports (-webkit-touch-callout: none) {
				will-change: transform;
			}

			content: '';
			background: url(../img/qa-plus.svg);
		}



	}

	&__content {
		display: none;
		margin: 0 0 15px;
		line-height: 32px;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 30px;
		color: $dark;

		p {
			&+p {
				margin-top: 30px;
			}
		}

	}

	&--open {

		.kspc-qa-item__plus {
			&::before {
				transform: rotate(45deg);
			}
		}
	}
}

.kspc-media-wrap {
	//когда встречу такую ситуацию - прописать margin-top для !has-title
	&--has-title{
		margin-top: 66px;
	}

	&+* {
		margin-top: 76px;
	}

    &--has-label + *{
        margin-top: 73px;
    }
}

.kspc-media-title {
}

.kspc-media {
	display: block;
	position: relative;
	overflow: hidden;
	-webkit-mask-image: -webkit-radial-gradient(white, #000);
	border-radius: 6px;
	z-index: 1;
	margin-top: 17px;




	&--video {

		&::before {
			z-index: 2;
			content: '';
			display: block;
			padding-top: 50%;
			padding-top: 61.9%;
			position: relative;
			opacity: 0;
			transition: all .4s ease;
			background: rgba(255, 255, 255, .1);
			backdrop-filter: blur(5px);
		}

		&::after {
			position: absolute;
			z-index: 3;
			top: 50%;
			left: 50%;
			display: block;
			width: 93px;
			height: 93px;
			content: '';
			transform: translate(-50%, -50%);
			background: url(../img/play-vid.svg) no-repeat center center;
			background-size: contain;
		}

		&:hover {

			&::before {
				opacity: 1;
			}
		}
	}
}

.kspc-media-preview {

	z-index: 1;
	@include relative_img();
}

.kspc-media-text{
  margin-top: 19px;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: -0.024em;
  color: #53565A;
}


.hm-quote-practice--ks-constuctor {
	padding-top: 84px;

}
.hm-quote-practice--wrap-ks-constuctor+.kspc-simple-text--has-title {
	margin-top: 76px;
}