@media screen and (min-width:1151px) {
	.container--qwp {
		width: 900px;

	}
}

//начало планшета
@media screen and (max-width:1150px) {}


//начало мобилки 767 было
@media screen and (max-width: 749px) {}