@media screen and (min-width:1151px) {
	.container--qwp {
		width: 900px;

	}
}

//начало планшета
@media screen and (max-width:1150px) {
	.ks-post-constructor {
		padding: 48px 0 58px;

		b {}
	}

	.kspc-h1-block {}

	.kspc-h1 {
		margin-left: 0;
		font-style: normal;
		font-weight: normal;
		font-size: 39px;
		line-height: 49px;
		letter-spacing: -0.03em;
		color: #3E434D;

	}

	.kspc-slider-block {
		margin-top: 23px;

		&:hover {
			.kspc-slider-arrow {}
		}

		&+.kspc-simple-text--with-hide {
			margin-top: 51px;
		}
	}

	.kspc-slider {
		.slick-list {}

		.slick-dots {
			z-index: 4;
			width: 100%;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			margin-top: 22px;
		}
	}

	.kspc-slider-arrow {}

	.kspc-slider-item {
		&__img {}

		&::before {}
	}

	.kspc-simple-text {
		margin-top: 50px;

		&__h2 {
			font-style: normal;
			font-weight: normal;
			font-size: 32px;
			line-height: 39px;
			/* identical to box height, or 122% */

			letter-spacing: -0.03em;

			/* Font_Title_dark */

			color: #3E434D;
		}

		&__p {
			letter-spacing: -.03px;

			&:not(:first-child) {
				margin-top: 18px;
			}

			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 24px;
			/* or 160% */


			color: #5A5E64;

			p {
				&+p {
					margin-top: 24px;
				}
			}

			b {}
		}

		&+.kspc-simple-text {}

		&+.kspc-slider-block {}

		&--with-hide {
			.kspc-simple-text__p {
				max-height: 24*6px;
			}

			.kspc-twpah-unwrap {
				right: auto;
				left: 172px;
				padding-right: 0;
				width: calc(100% - 172px);
				top: 24*5px;
			}

			&+.kspc-simple-text {
				margin-top: 79px !important;
			}
		}

		&--open {
			.kspc-simple-text__p {}
		}
	}

	.kspc-text-with-pic-and-hide {
		margin-top: 32px;

		&+.kspc-simple-text {
			margin-top: 80px;
		}
	}

	.kspc-twpah {
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 24px;
		color: #5A5E64;
		max-height: 24*14px;

		&--open {}

		&--non-hide {
			.kspc-twpah-unwrap {}
		}

		&__text {
			p {
				&:first-child {}

				&+p {
					margin-top: 24px;
				}
			}
		}

		&__pic {
			width: calc(50% - 18px);

			img {}

			&::before {}
		}

		&--pic-left {
			.kspc-twpah__pic {}

			.kspc-twpah-unwrap {}
		}

		&--pic-right {
			.kspc-twpah__pic {
				margin-left: 36px;
			}
		}

		/*&__delimiter
{
	}
*/
	}

	.kspc-twpah-unwrap {

		top: 24*13px;

		right: calc(50% + 13px);
		padding-right: 16px;

		//420-30
		&__dots {}

		&__text {}

		&--hide {}
	}

	.quote-with-parallax {
		&+.kspc-simple-text {
			margin-top: 85px;
		}
	}

	.container--qwp {}

	.quote-with-parallax-quote {
		font-size: 32px;
		line-height: 32px;
		text-align: center;
		color: #3E434D;
		margin-left: 0;
		padding: 117px 20px;
	}

	.kspc-quote-right {}

	.kspc-quote-right {
		&__text {
			padding-left: 60px;
			font-size: 19px;
			line-height: 36px;
			color: #5A5E64;
		}

		&+* {
			margin-top: 70px;}
	}
}


//начало мобилки 767 было
@media screen and (max-width: 749px) {
	.ks-post-constructor {
		b {}

		padding: vw(48) 0 vw(58);
	}

	.kspc-h1-block {}

	.kspc-h1 {
		font-size: vw(39);
		line-height: vw(49);
		letter-spacing: -0.03em;
		color: #3E434D;
		padding-left: vw(9);
	}

	.kspc-slider-block {
		margin-top: vw(23);
		&:hover {
			.kspc-slider-arrow {}
		}

		&+.kspc-simple-text--with-hide {}
	}

	.kspc-slider {
		.slick-list {}

		.slick-dots {

			margin-top: vw(22);
		}
	}

	.kspc-slider-arrow {}

	.kspc-slider-item {
		&__img {}

		&::before {}
	}

	.kspc-simple-text {
		margin-top: vw(50);

		&__h2 {
			font-size: vw(32);
			line-height: vw(39);
			letter-spacing: -0.03em;
			color: #3E434D;
		}

		&__p {
			font-style: normal;
			font-weight: normal;
			font-size: vw(15);
			line-height: vw(24);
			color: #53565A;

			&:not(:first-child) {
				margin-top: vw(20);
			}

			p {
				&+p {
					margin-top: vw(24);
				}
			}

			b {}
		}

		&+.kspc-simple-text {
			margin-top: vw(78);}

		&+.kspc-slider-block {

			margin-top: vw(29);
		}

		&--with-hide {
			.kspc-simple-text__p {
				max-height: vw(24*6);
			}

			.kspc-twpah-unwrap {
				top: vw(24*5);

				left: vw(188);
				width: calc(100% - #{vw(188)});
			}

			&+.kspc-simple-text {}
		}

		&--open {
			.kspc-simple-text__p {}
		}
	}

	.kspc-text-with-pic-and-hide {
		margin-top: vw(29);

		&+.kspc-simple-text {
			margin-top: vw(78);
		}
	}

	.kspc-twpah {
		font-size: vw(15);
		line-height: vw(24);
		color: #53565A;
		max-height: unset;

		&--open {
			.kspc-twpah__text {
				max-height: vw(10000);
			}

		}

		&--non-hide {
			.kspc-twpah-unwrap {}
		}

		&__text {
			position: relative;
			margin-top: vw(29);
			overflow: hidden;

			transition: max-height 20s linear, height 20s linear;
			max-height: vw(14*24);

			p {
				&:first-child {}

				&+p {
					margin-top: vw(24);
				}
			}
		}

		&__pic {
			float: none !important;
			width: 100%;
			margin: 0 !important;

			img {}

			&::before {}
		}

		&--pic-left {
			.kspc-twpah__pic {}

			.kspc-twpah-unwrap {}
		}

		&--pic-right {
			.kspc-twpah__pic {}
		}

		/*&__delimiter
{
	}
*/
	}

	.kspc-twpah-unwrap {
		top: vw(13*24);
		right: 0;
		padding-right: vw(13);

		//420-30
		&__dots {}

		&__text {}

		&--hide {}
	}

	.quote-with-parallax {
		margin-top: vw(50);
		font-weight: 300;
		font-size: vw(32);
		line-height: vw(32);
		text-align: center;
		color: #3E434D;

		&+.kspc-simple-text {
			margin-top: vw(50);
		}
	}

	.quote-with-parallax-quote {
		font-size: vw(32);
		line-height: vw(32);
		text-align: center;
		color: #3e434d;
		margin-left: 0;
		padding: vw(88) vw(10) vw(86);
	}

	.kspc-quote-right {}

	.kspc-quote-right {
		margin-top: vw(71);

		&__text {
			padding-left: vw(13);
			font-size: vw(19);
			line-height: vw(36);
			color: #5A5E64;
		}

		&+* {
			margin-top: vw(71);
		}
	}
}