//начало планшета
@media screen and (max-width:1150px) {
	.ks-videos {
		margin-top: 50px;
	}

	.ks-videos-title {

		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		line-height: 39px;
		/* identical to box height, or 122% */

		letter-spacing: -0.03em;

		/* Font_Title_dark */

		color: $dark;
	}

	.ks-videos-row {
		margin-top: 26px;
	}

	.ks-videos-item {

		&__video {

			&::before {}

			&::after {}
		}

		&__name {
			font-style: normal;
			font-weight: normal;
			font-size: 19px;
			line-height: 26px;
			/* identical to box height, or 137% */


			color: $dark;
		}

		&__preview {}

	}

	.ks-videos--type-comments {
		.ks-videos-title {
			text-align: center;
			font-size: 39px;
			line-height: 49px;
			text-align: center;
			letter-spacing: -0.03em;

		}

		&:first-child {
			margin-top: 0px;
		}

		.ks-videos-row {
			margin-top: 24px;
		}

		.ks-videos-item__name {
			text-align: center;
			margin-top: 16px;
		}
	}
}


//начало мобилки 767 было
@media screen and (max-width: 749px) {
	.ks-videos {
		margin-top: vw(50);
	}

	.ks-videos-title {
		font-size: vw(32);
		line-height: vw(39);
		/* or 122% */

		letter-spacing: -0.03em;

		/* Font_text_dark */

		color: $dark;
	}

	.ks-videos-row {
		margin-top: vw(26);
	}

	.ks-videos-item {
		width: vw(266);
		margin-left: 0;
		margin-right: vw(22);

		&__video {

			&::before {}

			&::after {
				width: vw(59);
				height: vw(59);
				content: '';
				background-size: vw(59) auto;

			}
		}

		&__name {
			font-style: normal;
			font-size: vw(15);
			line-height: vw(24);
			font-weight: 500;
			margin-top: vw(7);

			color: $dark;
		}

		&__preview {}

		&+.ks-videos-item {
			margin-top: vw(10);
			margin-top: vw(50);
		}

	}

	.ks-videos--type-comments {
		.ks-videos-title {
			font-size: vw(32);
			line-height: vw(39);

		}

		&:first-child {
			margin-top: vw(3);
		}

		.ks-videos-row {
			margin-top: vw(26);
		}

		.ks-videos-item__name {
			text-align: center;
			margin-top: vw(17);
		}
	}
}