//начало планшета
@media screen and (max-width:1150px) {
	.ksquote {
		padding: 82px 0 110px;

	}

	.container--ksquote-wide {
		width: 100%;
	}

	.ksquote-content__author {
		margin-top: 26px;
		padding-bottom: 0;
		margin-bottom: -21px;
	}

	.ksquote-content {
		&__title {

			&--small-on-tablet {
				font-size: 39px;
				line-height: 39px;
				text-align: center;
				letter-spacing: -0.03em;
				color: #3E434D;
				&+.ksquote-content-description{
					margin-top: 21px;
				}
			}
		}

		&-description {
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 24px;
			text-align: center;
			color: #53565A;
			margin: 36px auto 0;
			width: 575px;
			max-width: 100%;
		}

		&__author {
			font-size: 15px;
			line-height: 18px;
		}
	}

}


//начало мобилки 767 было
@media screen and (max-width: 749px) {
	.ksquote {
		padding: vw(86) 0 vw(86);
	}

	.ksquote-content__title--small-on-tablet+.ksquote-content-description{
		margin-top: vw(21);
	}

	.container--ksquote-wide {
		width: 100%;
		.ksquote-content__title {
			width: 100%;
		}
	}
	.ksquote-content {
		&__title {
			margin: 0 auto;
			width: vw(295);
			max-width: 100%;
			font-weight: 300;
			font-size: vw(39);
			line-height: 10.9vw;
			/* or 100% */

			text-align: center;
			letter-spacing: -0.03em;

			/* Font_Title_dark */

			color: #3E434D;

			br {
				display: none;
			}
		}

		&-description {
			font-style: normal;
			font-weight: normal;
			font-size: vw(15);
			line-height: vw(24);
			/* or 160% */

			margin: vw(19) auto 0;
			width: vw(323);
			text-align: center;

			/* Font_text_dark */

			color: #53565A;

			&__desk {
				display: none;
			}

			&__mob {
				display: block;
			}
		}

		&__author {
			font-size: vw(15);
			line-height: vw(18);
			margin-top: vw(26);
			padding-bottom: 0;
			margin-bottom: vw(3);
		}
	}

}