.ksquote {
	//padding: 82px 0 110px;
	padding: 85px 0 83px;

	&--small-on-tablet {

		.ksquote-content {
			&__title {
				font-size: 39px;
				line-height: 39px;
			}
		}
	}
	&--after-tabs{
		padding-top: 58px;
	}
	&--after-tabs--hl{
		padding-top: 21px;
	}
	&--first-books{
		padding-top: 140px;
	}
}

.ksquote-content {
	&__title {
		font-family: 'Savoye LET';
		font-size: 58px;
		line-height: 59px;
		text-align: center;
		letter-spacing: -0.03em;


		color: $dark;
	}

	&-description {
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 30px;
		/* or 176% */

		text-align: center;

		color: $dark;

		margin: 37px auto 0;

		&__mob {
			display: none;
		}

		&__desk {
			display: block;
		}
	}

	&__author {
		margin-top: 20px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 21px;
		text-align: center;

		color: #AFB4BF;
		margin-top: 44px;
		padding-bottom: 5px;
	}
}