section.section-home-slider
	.home-slider.home-slider--no-slider
		.home-slider-slide.slick-active
			picture
				source(srcset="img/front-slider-mob.jpg", media="(max-width: 749px)")
				img.hms-pic(src="img/home-slider-pic.jpg", alt="")
			.hms-info.hms-info--no-btn
				.hms-info__top
					.hms-info__title Ретрит
				.hms-info__bottom
					.hms-info__area Москва
					.hms-info__date 20 февраля 2021
