section.ksquote.ksquote--retreat
	//маленький шрифт на планшете
	.container.container--ksquote-wide
		//широкий контейнер
		.ksquote-content
			h2.ksquote-content__title.ksquote-content__title--small-on-tablet Наука Крийя – сокращает дистанцию между ограниченным <br class="dd dt"> человеческим сознанием и безконечным Космическим сознанием.
			.ksquote-content-description
				.ksquote-content-description__desk Гималаи это не просто горы, это символ внутренней высоты сознания и вершина Кайлас находится внутри нас, <br class="dd"> где мы поднимаемся над всем и достигаем этой высоты, встречаясь лицом к лицу с Высшим Я.
				.ksquote-content-description__mob Гималаи это не просто горы, это символ внутренней высоты сознания и вершина Кайлас находится внутри нас, где мы поднимаемся над всем и достигаем этой высоты, встречаясь лицом к лицу с <br class="dm">  Высшим Я.
			.ksquote-content__author Мастер Имрам