mixin weekly-event(video = false, likedClass="")
  .weekly-event
    a(href="#").weekly-event__heading
      img(src="img/weekly/event-logo.svg", alt="").weekly-event__heading-logo

      span.weekly-event__heading-author
        | Имрам Крийя
      
      span.weekly-event__heading-date
        span.weekly-event__heading-date-counter
          | 2 дня 
        | назад

    .kspc-simple-text__p.weekly-event__info.js-text-wrapped
      p 
        | 🕉 31 июля - 1 августа пройдет Мини-Ретрит с Мастером Имрамом в Подмосковье - 
        a(href="https://imram-kriya.com/retrit_new " target="_blank").weekly-event__info-link
          | https://imram-kriya.com/retrit_new

      p
        | "Этот мини-Ретрит по концентрации энергии будет таким же как и большой Ретрит, но по времени займет всего два дня. За эти два дня вы сможете, не выходя из пра"Этот мини-Ретрит по концентрации энергии будет таким же как и большой Ретрит, но по времени займет всего два дня. За эти два дня вы сможете, не выходя из пра"Этот мини-Ретрит по концентрации энергии будет таким же как и большой Ретрит, но по времени займет всего два дня. За эти два дня вы сможете, не выходя из пра"Этот мини-Ретрит по концентрации энергии будет таким же как и большой Ретрит, но по времени займет всего два дня. За эти два дня вы сможете, не выходя из пра 

      .kspc-twpah-unwrap.weekly-event__unwrap.js-text-unwrapper
        span.kspc-twpah-unwrap__dots 
          | ...
        span.kspc-twpah-unwrap__text  
          | Развернуть

    //- .weekly-event__info
    //-   p.weekly-event__info-title
    //-     img(src="img/weekly/symbol.png", alt="").weekly-event__info-symbol
    //-     | 31 июля - 1 августа пройдет Мини-Ретрит с Мастером Имрамом в Подмосковье
    //-     span.weekly-event__info-dash 
    //-       | -  
    //-     a(href="https://imram-kriya.com/retrit_new " target="_blank").weekly-event__info-link
    //-       | https://imram-kriya.com/retrit_new 

    //-   p.weekly-event__info-description
    //-     | "Этот мини-Ретрит по концентрации энергии будет таким же как и большой Ретрит, но по времени займет всего два дня. За эти два дня вы сможете, не выходя из пра"Этот мини-Ретрит по концентрации энергии будет таким же как и большой Ретрит, но по времени займет всего два дня. За эти два дня вы сможете, не выходя из пра"Этот мини-Ретрит по концентрации энергии будет таким же как и большой Ретрит, но по времени займет всего два дня. За эти два дня вы сможете, не выходя из пра"Этот мини-Ретрит по концентрации энергии будет таким же как и большой Ретрит, но по времени займет всего два дня. За эти два дня вы сможете, не выходя из пра 
      
    //-   .weekly-event__unwrapper.js-text-unwrapper
    //-     span.weekly-event__unwrapper-dots
    //-       | ... 
    //-     span.weekly-event__unwrapper-text
    //-       | Развернуть

    .weekly-event__media
      if(video)
        a(href="https://youtu.be/0nTor2By_vg").weekly-event__video
          img(src="img/weekly/image-placeholder.jpg", alt="").weekly-event__video-preview
          img(src="img/icons/play-video.svg", alt="").weekly-event__video-icon
          .weekly-event__video-duration
            span.weekly-event__video-duration-text
              | 15:23
      else
        .weekly-event__image
          img(src="img/weekly/image-placeholder.jpg", alt="").weekly-event__image-item
    
    .weekly-event__social
      .weekly-event__social-main
        div(class=`weekly-event__social-item weekly-event__likes ${likedClass}`)
          svg.weekly-event__social-icon.weekly-event__likes-icon
            use(xlink:href="img/weekly/sprite.svg#like")

          span.weekly-event__likes-counter
            | 257

        a(href="#").weekly-event__social-item.weekly-event__comments
          svg.weekly-event__social-icon.weekly-event__comments-icon   
            use(xlink:href="img/weekly/sprite.svg#comment")    

          span.weekly-event__comments-text
            | 9 комментариев
        
        a(href="#").weekly-event__social-item.weekly-event__share
          svg.weekly-event__share-icon
            use(xlink:href="img/weekly/sprite.svg#share")
      
      if(video)
        span.weekly-event__social-video
          | 1,4 тыс просмотров


