.get-materials
	.container.container--ks
		h2.get-materials-title Получить материалы
		.get-materials-row
			.get-materials-row__left
				input.music-form-input.music-form-input--email.js-need-validate(type="text" maxlength="60" placeholder="Введите ваш Email" name="formParams[email]" value="" data-validate-type="email")
			.get-materials-row__right
				button.btn.btn--music-form.btn--get-materials(type="submit") Отправить




