section.ks-post-constructor

	.kspc-simple-text.kspc-simple-text--has-title.kspc-simple-text--no-mt
		.container.container--ks
			.kspc-simple-text__h2 Крийя-Нидра
			.kspc-simple-text__p
				p Крийя-нидра – это осознанное погружение внутрь себя, в глубочайшее состояние. Это не сон. Может быть для ума и тела это сон, но сознание должно бодрствовать. Эта практика хороша тем, что позволяет человеку выйти за пределы обычного привычного мышления.



	.kspc-text-with-pic-and-hide
		.container.container--ks
			.kspc-twpah.kspc-twpah--pic-right.kspc-twpah--non-hide
				.kspc-twpah__pic
					img(src="img/DEE6E9.png", alt="")
				//.kspc-twpah__delimiter
				.kspc-twpah__text
					p В обычной жизни человек все время находится в активной фазе, его ум “скачет” из стороны в сторону. Он постоянно что-то пытается понять, все время создает волны, которые тратят энергию, жизненную силу.
					p Йога-нидра – это общее понятие. В Крийя-Нидре, Крийя – это действие. И то действие, которое вы создаете в момент погружения внутрь себя, намного важнее, эффективнее, чем простое расслабление тела, как это делается в шавасане или в йога-нидре."

				.clearfix



	include ../kriya-nidra/twoinrow



	.kspc-event.kspc-event--no-border-top
		.container.container--ks.kspc-event__container-main
			h2.kspc-h2-style.kspc-event-title Формат и стоимость
			.kspc-event-row
				.kspc-event-map
					img.kspc-event-map__img(src="img/0000FF.png", alt="")
				.kspc-event-info-wrap
					.kspc-event-info
						.kspc-event-info__name Формат
						.kspc-event-info__val Курс доступен в формате видео записи <br> Курс провел Мастер Имрам
					.kspc-event-info
						.kspc-event-info__name Требования к участникам
						.kspc-event-info__val Курс подходит как для начинающих, так и для опытных практиков. Можно совмещать со всеми системами и направлениями.
					.kspc-event-info
						.kspc-event-info__name Стоимость участия
						.kspc-event-info__val 6 800 рублей

					a.btn.kspc-event-btn(href="")  Принять участие

		.container.container--ks.kspc-event__container-hr-2.kspc-event__container-hr-2--non-hide-on-mobile
			.hr




	.kspc-simple-text.kspc-simple-text--has-title
		.container.container--ks
			h2.kspc-simple-text__h2 Метод Крийя Мастера Имрама
			.kspc-simple-text__p.custom-ul.custom-ul--grey-dots
				ul
					li Базовая система погружения и расслабления;
					li Техники магнетизации тела и глубокого погружения;
					li Продвинутая работа с энергоцентрами и каналом Сушумна, техника пробуждения Всевидящего Ока;
					li Система самоисцеления и оздоровления собственными гормонами и транквилизаторами.



	.kspc-media-wrap
		.container.kspc-h2-style.container--ks
			a.kspc-media.kspc-media--video(href="https://www.youtube.com/embed/tf3wfU6QeG8" data-fancybox)
				img.kspc-media-preview(src="img/0000FF.png", alt="")


	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__p
				p Крийя-Нидра выполняется в любом удобном положении: лежа, сидя в асане или в кресле. Вы также можете практиковать Крийя-Нидру во время сна. Через 2-3 недели регулярной практики вы почувствуете значительные изменения.
				p Уроки записаны в видео формате. Мастер Имрам дает подробные разъяснения и пошаговые инструкции, которые позволят освоить Вам данный метод легко и быстро.
				p Эта техника позволяет выйти на уровень глубокого Духовного состояния, где человек способен переписать негативные программы, привнести еще больше Света, Света Разума, чистого Сознания в сознание клеток.


	.hr-kspc-twpah-master-before.container.container--ks
		.hr

	.kspc-text-with-pic-and-hide.kspc-text-with-pic-and-hide--master
		.container.container--ks
			.kspc-twpah.kspc-twpah--pic-right.kspc-twpah--non-hide.kspc-twpah--master
				.kspc-twpah__pic
					img(src="img/DEE6E9.png", alt="")
				//.kspc-twpah__delimiter
				.kspc-twpah__text.custom-ul.kspc-h2-style-in-this
					h2 Мастер Имрам
					ul
						li Мастер Крийя, достигший Единства
						li Инициирует трансцендентность Крийя
						li Будучи в миру - Он не от мира сего...
						li Композитор, меняющий пространство Звуком
					p Благодаря многолетней практике-садхане, Имрам достиг Реализации, т.е. Единства с Высшим Я, что в йоге рассматривается как Нирвикальпа Самадхи.


				.clearfix

	.hr-kspc-twpah-master-after.container.container--ks
		.hr




	include ../kriya-nidra/medet-with-us
	include ../kriya-nidra/get-materials
	include ../kriya-nidra/participate-ocourse




	include ../kriya-science/ks-post-tags-and-share
	include ../seminar/reviews

