section.ksquote
	//маленький шрифт на планшете
	.container.container--ksquote-wide
		//широкий контейнер
		.ksquote-content
			h2.ksquote-content__title.ksquote-content__title--small-on-tablet Крийя-Нидра - техника глубокого расслабления и  <br class="dd">  погружения внутрь себя