section.ksquote
	//маленький шрифт на планшете
	.container.container--ks-only-tab
		//широкий контейнер
		.ksquote-content
			h2.ksquote-content__title Крийя-Нидра - техника глубокого расслабления и  <br class="dd">  погружения внутрь себя