.medet-with-us
	.container.container--ks
		h2.kspc-h2-style.mwus-title Медитируйте с нами
		.mwus-sub-title Получите две медитации Крийя бесплатно
		.mwus-row
			.mwus-item
				.mwus-item__pic
					img(src="img/DEE6E9.png", alt="")
				.mwus-item__title Медитация Крийя
				.mwus-item__desc Техника энергизации и магнетизации позвоночника, дающая высокую степень концентрации, глубокое сосредоточение, улучшение психического и физического <br class="dd"> состояния

			.mwus-item
				.mwus-item__pic
					img(src="img/DEE6E9.png", alt="")
				.mwus-item__title Онлайн-медитация
				.mwus-item__desc Совместная медитация Высшего Присутствия для пробуждения Космического Сознания. Обновление сознания и трансформация на клеточном уровне