
.participate-ocourse-hr-wrap.participate-ocourse-hr-wrap--before.container.container--ks
	.hr


.participate-ocourse
	.container.container--ks
		h2.kspc-h2-style.participate-ocourse__title Принять участие в онлайн-курсе
		h2.participate-ocourse__description Заполните форму ниже и нажмите кнопку, затем следуйте инструкции на следующей странице. <br class="dd dt"> После оплаты Вам придет письмо подтверждения со всеми необходимыми инструкциями.

		form#ltForm7676420.music-form.music-form--participate-ocourse(action='https://imram-kriya.com/pl/lite/block-public/process-html?id=1057050566' method='post' data-open-new-window='0')
			.music-form-row
				.music-form-item
					input.music-form-input.js-need-validate(type='text' maxlength='60' placeholder='Ваше имя' name='formParams[full_name]' value='' data-validate-type='non-empty')
			.music-form-row
				.music-form-item.music-form-item--2
					input.music-form-input.music-form-input--email.js-need-validate(type='text' maxlength='60' placeholder='Ваш Email' name='formParams[email]' value='' data-validate-type='email')
				.music-form-item.music-form-item--2
					input.music-form-input.js-need-validate(type='text' maxlength='60' placeholder='Ваш номер телефона' name='formParams[full_name]' value='' data-validate-type='non-empty')

			.participate-ocourse__bottom-form
				.participate-ocourse__course-name-in-form Курс Крийя-Нидра - 6 800 руб.
				button.btn.btn--participate-ocourse(type='submit') Принять участие


.participate-ocourse-hr-wrap.participate-ocourse-hr-wrap--after.container.container--ks
	.hr