section.quote-true
	.container.quote-true__container
		.quote-true__title Крийя-Йога – это высший метод постижения Закона Вселенной, где истинный ответ приходит из глубин Высшего  Я

		.quote-true__desc 10 минут практики Крийя эквивалентно 20-ти годам естественной эволюции человека. 50 минут практики научной Крийя эквивалентно 100 годам духовной эволюции……