
.twoinrow-hr-wrap.twoinrow-hr-wrap--before.container.container--ks
	.hr

.twoinrow-section
	.container.container--ks
		h2.kspc-h2-style.twoinrow-title Что будет на курсе
		.twoinrow
			.twoinrow-item
				.twoinrow-item__pic
					img(src="img/DEE6E9.png", alt="")
				.twoinrow-item__text Базовая система погружения и расслабления;
			.twoinrow-item
				.twoinrow-item__pic
					img(src="img/DEE6E9.png", alt="")
				.twoinrow-item__text Техники магнетизации тела и глубокого погружения;
			.twoinrow-item
				.twoinrow-item__pic
					img(src="img/DEE6E9.png", alt="")
				.twoinrow-item__text Продвинутая работа с энергоцентрами и каналом Сушумна, техника пробуждения Всевидящего Ока
			.twoinrow-item
				.twoinrow-item__pic
					img(src="img/DEE6E9.png", alt="")
				.twoinrow-item__text Система самоисцеления и оздоровления собственными гормонами и транквилизаторами.

.twoinrow-hr-wrap.twoinrow-hr-wrap--after.container.container--ks
	.hr