.container.container--ks.course-cards-hr-before
	.hr

section.course-cards-section
	.container.container--ks.container--ks--mob-no-r
		h2.kspc-h2-style.course-cards-title Онлайн-курсы
		.course-cards.js-doubleVideo-slider
			a.course-cards-item(href="")
				.course-cards-item__pic
					img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=2", alt="")
				.course-cards-item__name Базовый курс медитации Крийя

			a.course-cards-item(href="")
				.course-cards-item__pic
					img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=2", alt="")
				.course-cards-item__name Крийя-Нидра курс