section.ks-videos.ks-videos--type-comments
	.container.container--ks
		h2.ks-videos-title Отзывы о мероприятиях
		.ks-videos-row
			.ks-videos-item
				a.ks-videos-item__video(href="img/DEE6E9.png" data-fancybox="videos")
					img.ks-videos-item__preview(src="img/DEE6E9.png", alt="")
				.ks-videos-item__name Мини-фильм о Ретрите
			.ks-videos-item
				a.ks-videos-item__video(href="img/DEE6E9.png" data-fancybox="videos")
					img.ks-videos-item__preview(src="img/DEE6E9.png", alt="")
				.ks-videos-item__name Отзывы о Семинаре Крийя
