.container.container--ks.hr-before-reviews-slider
	.hr


section.reviews-slider-section
	.container.container--ks
		.reviews-slider-title Ваши теплые слова
		.reviews-slider.js-reviews-slider.custom-dots

			.reviews-slider-slide
				.reviews-slider-slide__author Марина Подорожная
				.reviews-slider-slide__content
					p Всем всем искренняя благодарность! Мастер Играл, огромная признательность и благодарность. Если в паре предложений- состояние омовения в волнах света, ощущение присутствия всех 5 энергий- омовение, свет, на несколько секунд ощущение монументальной неподвижности, как будто то на секунды превращаешься в камень, жар, омовение. Разные ощущения чакр. При наклоне вниз - в Аджне калейдоскоп из фотонов световых, красиво, очень. Много разных нюансов, но в целом потоки и волны света, умиротворение и покой. Несколько раз состояние на грани сна, в один из таких моментов появление руки, держащий подобие плоского колокольчика, как будто им звонят.
				.reviews-slider-slide__date 27 Марта 11:43

			.reviews-slider-slide
				.reviews-slider-slide__author 1Марина Подорожная
				.reviews-slider-slide__content
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi porro obcaecati debitis nobis a officia provident quas voluptatum! Commodi, error?
				.reviews-slider-slide__date 27 Марта 11:43

			each val in [1, 2, 3, 4, 5, 6, 7, 8]
				.reviews-slider-slide
					.reviews-slider-slide__author Марина Подорожная
					.reviews-slider-slide__content
						p Всем всем искренняя благодарность! Мастер Играл, огромная признательность и благодарность. Если в паре предложений- состояние омовения в волнах света, ощущение присутствия всех 5 энергий- омовение, свет, на несколько секунд ощущение монументальной неподвижности, как будто то на секунды превращаешься в камень, жар, омовение. Разные ощущения чакр. При наклоне вниз - в Аджне калейдоскоп из фотонов световых, красиво, очень. Много разных нюансов, но в целом потоки и волны света, умиротворение и покой. Несколько раз состояние на грани сна, в один из таких моментов появление руки, держащий подобие плоского колокольчика, как будто им звонят.
					.reviews-slider-slide__date 27 Марта 11:43

.container.container--ks.hr-after-reviews-slider
	.hr
