.body-open-album-modal {
	.music-modal-bg {
		opacity: 1;
		pointer-events: all;
		transition: opacity .5s linear;
		z-index: 1000;
	}
}

.music-modal-bg {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: auto 100%;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
	pointer-events: none;
	opacity: 0;
	transition: all .5s linear;
	z-index: 0;

	&::before {
		content: '';
	}
}

.music-modal-close{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1005;
	cursor: pointer;
	top: 35px;
	right: 35px;
	&:hover{
		opacity: .7;
	}
	svg{
		width: 27px;
		height: auto;

	}
}

.music-modal-bg-2 {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(55px);
	overflow: auto;
	overflow-x: hidden;
	//-webkit-overflow-scrolling: touch;

}

.container--music-modal {
	width: 393px;
}

.music-modal {
	position: relative;
	z-index: 1002;
	display: flex;
	flex-direction: column;
	//justify-content: center;
	height: 100%;

	&__inner {
		flex-grow: 1;
		background: #FFFFFF;
	}
}


.music-modal__pic {
	width: 100%;
	position: relative;

	&::before {
		content: '';
		display: block;
		padding-top: 100%;
		width: 100%;
	}

	img {
		@include relative_img();
	}
}

.music-modal__text {
	p {

		letter-spacing: -0.4px;
	}
}


.music-modal__text-top {
	padding: 28px 22px 26px;
}

.music-modal__title {
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;
	letter-spacing: -0.03em;
	color: $dark;
}

.music-modal__description {
	margin-top: 3px;
}


.music-modal-services {}

.music-modal-service {
	padding: 22px 22px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #DEE6E9;

	&:first-child {
		padding-top: 20px;
	}

	&__logo {
		max-height: 38px;
		max-width: calc(100% - 150px);

		img {
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
			object-position: center left;
		}
	}

	&__btn.btn {
		min-width: 101px;
		min-height: 27px;
		width: auto;
		width: unset;
		height: auto;
		height: unset;

		padding: 5px 15px;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 21px;
		padding: 2px 15px;
		text-transform: none;
		text-transform: unset;

		&:hover {}

		&:active {}

		&:focus {}
	}

}