@media screen and (max-width: 1150px) {
	.albums-section {

		&:hover {
			.albums-section-arrow {}
		}
	}

	.albums-hr {
		margin-bottom: 85px;
	}

	.albums-title {}

	.albums-section-arrow {
		display: none !important;
	}

	.albums-slider {

		&:not(:first-child) {
			margin-top: 26px;
		}

		.slick-list {



			&::before {}

			&::before {}

		}

		.slick-track {}

		.slick-dots {
			margin-top: 32px;
		}
	}

	.albums-slide {
		margin-right: 22px;
		&__pic {

			&::before {}

			img {}
		}

		&__label {
			font-style: normal;
			font-weight: normal;
			font-size: 19px;
			line-height: 26px;
			letter-spacing: 0;
			margin-top: 17px;
		}

		&__listen {
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 18px;
			margin-top: 10px;
			letter-spacing: normal;
		}

		&:hover {}

		&:active {}

		&:focus {}

	}
}

@media screen and (max-width: 749px) {
	.albums-section {

		margin-top: vw(58);

		&:hover {
			.albums-section-arrow {}
		}
	}
	.albums-hr {
		margin-bottom: vw(85);
	}
	.albums-title {}

	.albums-section-arrow {
		display: block !important;
		top: vw(126);

		&.customized-arrow--prev {
			left: 0;
		}

		&.customized-arrow--next {
			right: 0;
		}
	}

	.albums-slider {
		&:not(:first-child) {
			margin-top: vw(26);
		}

		.slick-list {



			&::before {}

			&::before {}

		}

		.slick-track {}

		.slick-dots {
			margin-top: vw(32);
		}
	}

	.albums-slide {
		width: vw(268);
		margin-right: vw(22);

		&__pic {
			width: vw(268);
			margin: 0 auto;

			&::before {}

			img {}
		}

		&__label {
			font-size: vw(19);
			line-height: 1.2;
			letter-spacing: 0;
			margin-top: vw(19);
		}

		&__listen {
			font-size: vw(15);
			line-height: vw(18);
			margin-top: vw(12);
		}

		&:hover {}

		&:active {}

		&:focus {}

	}
}