@media screen and (max-width: 1150px) {
	.music-modal-bg {}

	.music-modal {
		&--music-modal {}

		&__inner {}
	}


	.music-modal__pic {
		img {}
	}

	.music-modal__text {}


	.music-modal__text-top {}

	.music-modal__title {}

	.music-modal__description {}


	.music-modal-services {}

	.music-modal-service {
		&__logo {
			img {}
		}

		&__btn {
			&:hover {}

			&:active {}

			&:focus {}
		}

	}
}

@media screen and (max-width: 749px) {

	.music-modal-bg {}

	.music-modal {
		margin: vw(14) auto;
		width: calc(100% - #{vw(14)});
		height: auto;

		&__inner {
			border-radius: vw(6);
			overflow: hidden;
			-webkit-mask-image: -webkit-radial-gradient(white, #000);
		}

		&-close {
			top: vw(28);
			right: vw(28);

			svg {
				width: vw(27);
			}

			svg path,
			svg rect {
				stroke: #6974A9;
			}
		}
	}


	.music-modal__pic {
		width: calc(100% - #{vw(115)});
		margin: vw(44) auto 0;
		border-radius: vw(6);
		overflow: hidden;
		-webkit-mask-image: -webkit-radial-gradient(white, #000);

		img {}
	}

	.music-modal__text {}


	.music-modal__text-top {
		padding: vw(23) vw(34) 0;
	}

	.music-modal__title {
		font-weight: 600;
		font-size: vw(19);
		line-height: vw(33);
	}

	.music-modal__description {
		display: none;
	}

	.music-modal-services {
		width: calc(100% - #{vw(76)});
		margin: 0 auto 0;
		padding-bottom: vw(19);
	}

	.music-modal-service {
		padding: vw(14) 0 vw(14);

		&:first-child {
			border-top: 0;
			border-top: none;
			padding-top: vw(11);
			padding-bottom: vw(14);
		}

		&__logo {
			max-height: vw(27);
			max-width: calc(100% - #{vw(50)});

			img {
				max-height: vw(27);
			}
		}

		&__btn.btn {
			min-width: vw(101);
			min-height: vw(27);

			padding: vw(5) vw(15);

			font-size: vw(13);
			line-height: vw(21);
			padding: vw(2) vw(15);


		}

	}


}