@media screen and (max-width: 1150px) {
	.insta-slider-section {
		margin-top: 50px;

		.insta-slider-arrow {}

		&+.reviews {
			margin-top: 86px;
		}
	}

	.insta-slider-title {}

	.insta-slider-arrow {
		top: 83px;

		&.customized-arrow--prev {
			left: -49px;
		}

		&.customized-arrow--next {
			right: -49px;
		}
	}


	.insta-slider {
		width: 582px;
		max-width: 100%;
		margin: 0 auto;

		&:not(:first-child) {
			margin-top: 27px;
		}

		.slick-list {
			&::before {}

			&::before {}
		}

		.slick-track {}
	}

	.insta-slide {
		&::before {}

		img {}

		&:hover {}

		&:active {}

		&:focus {}
	}
}

@media screen and (max-width: 749px) {
	.insta-slider-section {
		margin-top: vw(51);

		.insta-slider-arrow {}

		&+.reviews {
			margin-top: vw(86);
		}
		.container.container--ks{

			max-width: calc(100% - 3.88889vw);
			margin-right: 0;
		}
	}

	.insta-slider-title {}

	.insta-slider-arrow {
		top: vw(56);
		display: none !important;

		&.customized-arrow--prev {
			left: vw(-32);
		}

		&.customized-arrow--next {
			right: vw(-32);
		}
	}

	.insta-slider {
		margin-top: vw(27);
		//width: vw(266);
		width: 100%;
		&:not(:first-child) {
			margin-top: vw(27);
		}

		.slick-list {
			margin: 0;
			&::before {
				display: none;
			}

			&::before {
				display: none;
			}
		}

		.slick-track {
			margin: 0;}
	}

	.insta-slide {
		width: vw(130);
		margin: 0;
		margin-right: vw(6);
		&::before {}

		img {}

		&:hover {}

		&:active {}

		&:focus {}
	}
}