.insta-slider-section {
	margin-top: 69px;

	.insta-slider-arrow {
		opacity: 1;
	}

	&+.reviews {
		margin-top: 77px;
	}

	&--hr{
		margin-top: 41px;
	}
}

.hr-before-insta{
	margin-top: 53px;
}


.insta-slider-title {
	text-align: left;
}

.insta-slider-arrow {
	top: 91px;
}

.insta-slider {
	&:not(:first-child) {
		margin-top: 13px;
	}

	.slick-list {
		margin-left: -6px;
		z-index: 1;

		&::before {
			content: '';
			display: block;
			background: #fff;
			position: absolute;
			height: 100%;
			width: 4px;
			z-index: 2;
			top: 0;
			left: -1px;
		}


	}

	.slick-track {
		z-index: 1;
	}
}

.insta-slide {
	position: relative;
	margin-left: 3px;
	margin-right: 3px;
	overflow: hidden;
	border-radius: 6px;
	-webkit-mask-image: -webkit-radial-gradient(white, #000);

	&::before {
		content: '';
		display: block;
		padding-top: 100%;
	}

	@include scalepic();

	img {
		@include relative_img();
	}

	&:hover {}

	&:active {}

	&:focus {}
}