@media screen and (max-width: 1150px) {
	.listen-us-section {
		margin-top: 94px;

		&__container-1 {}

		&__container-2 {
			margin-top: 50px;
		}

		&__container-3 {    margin-top: 58px;}
	}

	.listen-us-title {}

	.listen-us {
		margin-top: 26px;
	}

	.listen-us-item {
		margin: 0 11px;
		width: 107px;
		&__pic {
			&::before {}

			img {}
		}

		&__name {
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 15px;
			margin-top: 12px;
		}

		&:hover {}

		&:active {}

		&:focus {}
	}
}

@media screen and (max-width: 749px) {
	.listen-us-section {
		&__container-1 {}

		&__container-2 {}

		&__container-3 {}
	}

	.listen-us-title {}

	.listen-us {}

	.listen-us-item {
		&__pic {
			&::before {}

			img {}
		}

		&__name {}

		&:hover {}

		&:active {}

		&:focus {}
	}
}