@media screen and (max-width: 1150px) {
	.music-form-wrap {
		margin-top: 1px;
	}

	.music-form-title {
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		line-height: 45px;
		letter-spacing: 0;
	}

	.music-form-description {
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 24px;
		margin-top: 17px;
	}

	.music-form {
		margin-top: 30px;
	}

	.music-form-row {



		&+.music-form-row {}
	}

	.music-form-item {


		&--2 {}

		&--btn {
			width: 206px;
		}

		&--submit-text {
			font-style: normal;
			font-weight: normal;
			font-size: 13px;
			line-height: 21px;
			width: calc(100% - 206px - 36px);
		}
	}

	.music-form-input {
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 21px;

		&::placeholder {}

		&--textarea {}

		&--email {


			&:focus {}
		}
	}

	.btn--music-form {
		min-width: unset;
		min-width: auto;
		width: 100%;
	}

	.hr--after-music-form {
		margin-top: 83px;
	}


	.music-form-contacts {
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 24px;
		margin-top: 29px;


		&__item {}

		&__item-text {
			font-size: 15px;
			line-height: 24px;
		}

		&__item-link {
			margin-top: 6px;
			font-size: 15px;
			line-height: 24px;
			margin-top: 9px;
		}
	}
}

@media screen and (max-width: 749px) {
	.music-form-wrap {
		margin-top: vw(22);
	}

	.music-form-title {
		font-size: vw(32);
		line-height: vw(45);
	}

	.music-form-description {
		font-size: vw(15);
		line-height: vw(24);
		margin-top: vw(17);
	}

	.music-form {
		margin-top: vw(30);
	}

	.music-form-row {

		flex-wrap: wrap;

		&+.music-form-row {
			margin-top: vw(22);
		}
	}

	.music-form-item {
		&+.music-form-item {
			margin-top: vw(22);

			&.music-form-item--submit-text {
				margin-top: vw(18);
			}
		}

		&--2 {
			width: 100%;
		}

		&--btn {
			width: 100%;
		}

		&--submit-text {
			width: 100%;
			margin-top: vw(15);
			font-size: vw(13);
			line-height: vw(21);
		}
	}

	.music-form-input {
		padding: vw(11) vw(13) vw(9);
		font-size: vw(13);
		line-height: vw(21);


		&::placeholder {}

		&--textarea {
			min-height: vw(128);
		}

		&--email {
			background-position: vw(13) center;
			padding-left: vw(41);
			background-size: vw(21);


			&:focus {

				padding-left: vw(13);
			}
		}
	}

	.btn--music-form {
		font-weight: 600;
		font-size: vw(13);
		line-height: vw(21);
	}

	.hr--after-music-form {
		margin-top: vw(85);
	}


	.music-form-contacts {

		flex-wrap: wrap;
		text-align: center;
		margin-top: vw(51);

		&__item {
			width: 100%;

			&+.music-form-contacts__item {
				margin-top: vw(43);
			}
		}

		&__item-text {
			font-size: vw(15);
			line-height: vw(24);
		}

		&__item-link {
			font-size: vw(15);
			line-height: vw(24);
			margin-top: vw(9);
		}
	}
}