.kspc-photogallery{}
.kspc-phg{
	&__title{}
	&__list{
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-column-gap: 6px;
		grid-row-gap: 6px;
		grid-auto-rows: 195px;
	}
	&__item{
		cursor: pointer;
		display: block;
		overflow: hidden;
		background: #92ABB5;
		border-radius: 5px;
		grid-column-end: span 1;
		grid-row-end: span 1;
		&:nth-child(18n + 4),
		&:nth-child(18n + 5),
		&:nth-child(18n + 6),
		&:nth-child(18n + 10),
		&:nth-child(18n + 14),
		&:nth-child(18n + 15){
			grid-column-end: span 3;
			grid-row-end: span 3;
		}
		&:nth-child(18n + 8),
		&:nth-child(18n + 16){
			grid-column-end: span 2;
			grid-row-end: span 2;
		}


		img{
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			transition: transform .4s ease-in-out;
		}

		&:hover{
			img{
				transform: scale(1.07);
			}
		}
	}
}