.kspc-photogallery{}
.kspc-phg{
	&__title{
		margin-bottom: 17px;
		@media screen and (max-width: 1150px){
			margin-bottom: 23px;
		}
		@media screen and (max-width: 749px){
			margin-bottom: vw(23);
		}
	}
	&__list{
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-column-gap: 6px;
		grid-row-gap: 6px;
		grid-auto-rows: 195px;
		@media screen and (min-width:750px) and (max-width: 1150px){
			grid-template-columns: repeat(4, 1fr);
			grid-auto-rows: 170px;
		}
		@media screen and (max-width: 749px) {
			grid-template-columns: repeat(3, 1fr);
			grid-auto-rows: vw(108);
		}
	}
	&__item{
		cursor: pointer;
		display: block;
		overflow: hidden;
		background: #92ABB5;
		border-radius: 5px;
		grid-column-end: span 1;
		grid-row-end: span 1;

		@media screen and (min-width:1151px) {
			&:nth-child(18n + 4),
			&:nth-child(18n + 5),
			&:nth-child(18n + 6),
			&:nth-child(18n + 10),
			&:nth-child(18n + 14),
			&:nth-child(18n + 15){
				grid-column-end: span 3;
				grid-row-end: span 3;
			}
			&:nth-child(18n + 8),
			&:nth-child(18n + 16){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}


			//17
			&:nth-child(18n + 16):nth-last-child(2),
			&:nth-child(18n + 15):nth-last-child(3){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//16
			&:nth-child(18n + 14):nth-last-child(3){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}
			&:nth-child(18n + 16):nth-last-child(1),
			&:nth-child(18n + 15):nth-last-child(2){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//15
			&:nth-child(18n + 10):nth-last-child(6),
			&:nth-child(18n + 14):nth-last-child(2),
			&:nth-child(18n + 15):nth-last-child(1){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//14
			&:nth-child(18n + 6):nth-last-child(9){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}
			&:nth-child(18n + 14):nth-last-child(1),
			&:nth-child(18n + 10):nth-last-child(5){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//13
			&:nth-child(18n + 7):nth-last-child(7){
				grid-column-end: span 3;
				grid-row-end: span 3;
			}
			&:nth-child(18n + 10):nth-last-child(4){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//12
			&:nth-child(18n + 8):nth-last-child(5),
			&:nth-child(18n + 10):nth-last-child(3){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//11
			&:nth-child(18n + 6):nth-last-child(6),
			&:nth-child(18n + 8):nth-last-child(4){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}
			&:nth-child(18n + 9):nth-last-child(3),
			&:nth-child(18n + 10):nth-last-child(2),
			&:nth-child(18n + 11):nth-last-child(1){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}

			//10
			&:nth-child(18n + 6):nth-last-child(5),
			&:nth-child(18n + 8):nth-last-child(3){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}
			&:nth-child(18n + 9):nth-last-child(2),
			&:nth-child(18n + 10):nth-last-child(1){
				grid-column-end: span 3;
				grid-row-end: span 3;
			}

			//9

			//8
			&:nth-child(18n + 6):nth-last-child(3),
			&:nth-child(18n + 8):nth-last-child(1){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//7
			&:nth-child(18n + 5):nth-last-child(3){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}
			&:nth-child(18n + 6):nth-last-child(2){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//6
			&:nth-child(18n + 4):nth-last-child(3),
			&:nth-child(18n + 5):nth-last-child(2),
			&:nth-child(18n + 6):nth-last-child(1){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//5
			&:nth-child(18n + 3):nth-last-child(3),
			&:nth-child(18n + 4):nth-last-child(2),{
				grid-column-end: span 2;
				grid-row-end: span 2;
			}
			&:nth-child(18n + 5):nth-last-child(1){
				grid-column-end: span 2;
				grid-row-end: span 1;
			}

			//4
			&:nth-child(18n + 1):nth-last-child(4),
			&:nth-child(18n + 3):nth-last-child(2),{
				grid-column-end: span 2;
				grid-row-end: span 2;
			}
			&:nth-child(18n + 2):nth-last-child(3),
			&:nth-child(18n + 4):nth-last-child(1),{
				grid-column-end: span 2;
				grid-row-end: span 1;
			}

			//3
			&:nth-child(18n + 1):nth-last-child(3),
			&:nth-child(18n + 2):nth-last-child(2),
			&:nth-child(18n + 3):nth-last-child(1),{
				grid-column-end: span 2;
				grid-row-end: span 2;
			}

			//2
			&:nth-child(18n + 1):nth-last-child(2),
			&:nth-child(18n + 2):nth-last-child(1){
				grid-column-end: span 3;
				grid-row-end: span 3;
			}

			//1
			&:nth-child(18n + 1):nth-last-child(1){
				grid-column-end: span 6;
				grid-row-end: span 3;
			}
		}

		@media screen and (min-width:750px) and (max-width: 1150px){
			&:nth-child(36n + 5),
			&:nth-child(36n + 17),
			&:nth-child(36n + 27){
				grid-column-end: span 3;
				grid-row-end: span 3;
			}

			&:nth-child(36n + 11),
			&:nth-child(36n + 12),
			&:nth-child(36n + 13),
			&:nth-child(36n + 20),
			&:nth-child(36n + 23),
			&:nth-child(36n + 24),
			&:nth-child(36n + 33),
			&:nth-child(36n + 34){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}

			//35
			&:nth-child(36n + 34):nth-last-child(2){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//34
			&:nth-child(36n + 33):nth-last-child(2),
			&:nth-child(36n + 34):nth-last-child(1){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//33
			&:nth-child(36n + 27):nth-last-child(7),
			&:nth-child(36n + 33):nth-last-child(1){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}
			&:nth-child(36n + 29):nth-last-child(5),
			&:nth-child(36n + 30):nth-last-child(4),
			&:nth-child(36n + 31):nth-last-child(3){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}

			//32
			&:nth-child(36n + 31):nth-last-child(2),
			&:nth-child(36n + 32):nth-last-child(1){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}

			//31
			&:nth-child(36n + 27):nth-last-child(5){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}
			&:nth-child(36n + 29):nth-last-child(3){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}

			//30

			//29
			&:nth-child(36n + 29):nth-last-child(1),
			&:nth-child(36n + 28):nth-last-child(2),
			&:nth-child(36n + 25):nth-last-child(5){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}
			&:nth-child(36n + 27):nth-last-child(3){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//28
			&:nth-child(36n + 27):nth-last-child(2),
			&:nth-child(36n + 28):nth-last-child(1){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}

			//27
			&:nth-child(36n + 25):nth-last-child(3){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}
			&:nth-child(36n + 27):nth-last-child(1){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//26

			//25
			&:nth-child(36n + 24):nth-last-child(2){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//24
			&:nth-child(36n + 23):nth-last-child(2),
			&:nth-child(36n + 24):nth-last-child(1){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//23
			&:nth-child(36n + 20):nth-last-child(4),
			&:nth-child(36n + 23):nth-last-child(1){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//22
			&:nth-child(36n + 16):nth-last-child(7),
			&:nth-child(36n + 19):nth-last-child(4){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}
			&:nth-child(36n + 17):nth-last-child(6){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//21
			&:nth-child(36n + 21):nth-last-child(1){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}

			//20
			&:nth-child(36n + 16):nth-last-child(5){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}
			&:nth-child(36n + 20):nth-last-child(1),
			&:nth-child(36n + 17):nth-last-child(4){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//19

			//18
			&:nth-child(36n + 13):nth-last-child(6),
			&:nth-child(36n + 17):nth-last-child(2){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//17
			&:nth-child(36n + 16):nth-last-child(2),
			&:nth-child(36n + 17):nth-last-child(1){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}

			//16
			&:nth-child(36n + 14):nth-last-child(3){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}

			//15

			//14
			&:nth-child(36n + 13):nth-last-child(2){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//13
			&:nth-child(36n + 12):nth-last-child(2),
			&:nth-child(36n + 13):nth-last-child(1){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//12
			&:nth-child(36n + 10):nth-last-child(3){
				grid-column-end: span 3;
				grid-row-end: span 3;
			}
			&:nth-child(36n + 11):nth-last-child(2),
			&:nth-child(36n + 12):nth-last-child(1){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//11
			&:nth-child(36n + 8):nth-last-child(4),
			&:nth-child(36n + 9):nth-last-child(3),
			&:nth-child(36n + 5):nth-last-child(7){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}
			&:nth-child(36n + 11):nth-last-child(1){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//10
			&:nth-child(36n + 9):nth-last-child(2),
			&:nth-child(36n + 10):nth-last-child(1){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}

			//9
			&:nth-child(36n + 5):nth-last-child(5){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}

			//8

			//7
			&:nth-child(36n + 5):nth-last-child(3),
			&:nth-child(36n + 4):nth-last-child(4),
			&:nth-child(36n + 3):nth-last-child(5){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}

			//6
			&:nth-child(36n + 6):nth-last-child(1),
			&:nth-child(36n + 5):nth-last-child(2){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}

			//5
			&:nth-child(36n + 3):nth-last-child(3){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}
			&:nth-child(36n + 5):nth-last-child(1){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}

			//4

			//3
			&:nth-child(36n + 1):nth-last-child(3){
				grid-column-end: span 4;
				grid-row-end: span 4;
			}
			&:nth-child(36n + 2):nth-last-child(2),
			&:nth-child(36n + 3):nth-last-child(1){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}

			//2
			&:nth-child(36n + 1):nth-last-child(2),
			&:nth-child(36n + 2):nth-last-child(1){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}

			//1
			&:nth-child(36n + 1):nth-last-child(1){
				grid-column-end: span 4;
				grid-row-end: span 4;
			}
		}

		@media screen and (max-width: 749px) {
			&:nth-child(16n + 1){
				grid-column-end: span 3;
				grid-row-end: span 3;
			}

			&:nth-child(16n + 5),
			&:nth-child(16n + 12){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}

			//15
			&:nth-child(16n + 12):nth-last-child(4){
				grid-column-end: span 1;
				grid-row-end: span 1;
			}
			&:nth-child(16n + 15):nth-last-child(1),
			&:nth-child(16n + 11):nth-last-child(5){
				grid-column-end: span 3;
				grid-row-end: span 3;
			}

			//14
			&:nth-child(16n + 14):nth-last-child(1){
				grid-column-end: span 3;
				grid-row-end: span 3;
			}

			//13

			//12
			&:nth-child(16n + 12):nth-last-child(1),
			&:nth-child(16n + 8):nth-last-child(5){
				grid-column-end: span 3;
				grid-row-end: span 3;
			}

			//11
			&:nth-child(16n + 11):nth-last-child(1){
				grid-column-end: span 3;
				grid-row-end: span 3;
			}

			//10

			//9
			&:nth-child(16n + 9):nth-last-child(1),
			&:nth-child(16n + 5):nth-last-child(5){
				grid-column-end: span 3;
				grid-row-end: span 3;
			}

			//8
			&:nth-child(16n + 8):nth-last-child(1){
				grid-column-end: span 3;
				grid-row-end: span 3;
			}

			//7

			//6
			&:nth-child(16n + 1):nth-last-child(6){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}

			//5
			&:nth-child(16n + 5):nth-last-child(1){
				grid-column-end: span 3;
				grid-row-end: span 3;
			}

			//4

			//3
			&:nth-child(16n + 1):nth-last-child(3){
				grid-column-end: span 2;
				grid-row-end: span 2;
			}

			//2
			&:nth-child(16n + 2):nth-last-child(1){
				grid-column-end: span 3;
				grid-row-end: span 3;
			}
		}


		img{
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			transition: transform .4s ease-in-out;
		}

		&:hover{
			img{
				transform: scale(1.07);
			}
		}
	}
}