.kspc-photogallery{}
.kspc-phg{
	&__title{
		margin-bottom: 17px;
	}
	&__list{
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-column-gap: 6px;
		grid-row-gap: 6px;
	}
	&__item{
		cursor: pointer;
		display: block;
		overflow: hidden;
		background: #92ABB5;
		border-radius: 5px;
		grid-column-end: span 1;
		grid-row-end: span 1;
		&:nth-child(18n + 4),
		&:nth-child(18n + 5),
		&:nth-child(18n + 6),
		&:nth-child(18n + 10),
		&:nth-child(18n + 14),
		&:nth-child(18n + 15){
			grid-column-end: span 3;
			grid-row-end: span 3;
		}
		&:nth-child(18n + 8),
		&:nth-child(18n + 16){
			grid-column-end: span 2;
			grid-row-end: span 2;
		}


		//17
		&:nth-child(18n + 16):nth-last-child(2),
		&:nth-child(18n + 15):nth-last-child(3){
			grid-column-end: span 1;
			grid-row-end: span 1;
		}

		//16
		&:nth-child(18n + 14):nth-last-child(3){
			grid-column-end: span 2;
			grid-row-end: span 2;
		}
		&:nth-child(18n + 16):nth-last-child(1),
		&:nth-child(18n + 15):nth-last-child(2){
			grid-column-end: span 1;
			grid-row-end: span 1;
		}

		//15
		&:nth-child(18n + 10):nth-last-child(6),
		&:nth-child(18n + 14):nth-last-child(2),
		&:nth-child(18n + 15):nth-last-child(1){
			grid-column-end: span 1;
			grid-row-end: span 1;
		}

		//14
		&:nth-child(18n + 6):nth-last-child(9){
			grid-column-end: span 2;
			grid-row-end: span 2;
		}
		&:nth-child(18n + 14):nth-last-child(1),
		&:nth-child(18n + 10):nth-last-child(5){
			grid-column-end: span 1;
			grid-row-end: span 1;
		}

		//13
		&:nth-child(18n + 7):nth-last-child(7){
			grid-column-end: span 3;
			grid-row-end: span 3;
		}
		&:nth-child(18n + 10):nth-last-child(4){
			grid-column-end: span 1;
			grid-row-end: span 1;
		}

		//12
		&:nth-child(18n + 8):nth-last-child(5),
		&:nth-child(18n + 10):nth-last-child(3){
			grid-column-end: span 1;
			grid-row-end: span 1;
		}

		//11
		&:nth-child(18n + 6):nth-last-child(6),
		&:nth-child(18n + 8):nth-last-child(4){
			grid-column-end: span 1;
			grid-row-end: span 1;
		}
		&:nth-child(18n + 9):nth-last-child(3),
		&:nth-child(18n + 10):nth-last-child(2),
		&:nth-child(18n + 11):nth-last-child(1){
			grid-column-end: span 2;
			grid-row-end: span 2;
		}

		//10
		&:nth-child(18n + 6):nth-last-child(5),
		&:nth-child(18n + 8):nth-last-child(3){
			grid-column-end: span 1;
			grid-row-end: span 1;
		}
		&:nth-child(18n + 9):nth-last-child(2),
		&:nth-child(18n + 10):nth-last-child(1){
			grid-column-end: span 3;
			grid-row-end: span 3;
		}

		//9

		//8
		&:nth-child(18n + 6):nth-last-child(3),
		&:nth-child(18n + 8):nth-last-child(1){
			grid-column-end: span 1;
			grid-row-end: span 1;
		}

		//7
		&:nth-child(18n + 5):nth-last-child(3){
			grid-column-end: span 2;
			grid-row-end: span 2;
		}
		&:nth-child(18n + 6):nth-last-child(2){
			grid-column-end: span 1;
			grid-row-end: span 1;
		}

		//6
		&:nth-child(18n + 4):nth-last-child(3),
		&:nth-child(18n + 5):nth-last-child(2),
		&:nth-child(18n + 6):nth-last-child(1){
			grid-column-end: span 1;
			grid-row-end: span 1;
		}

		//5
		&:nth-child(18n + 3):nth-last-child(3),
		&:nth-child(18n + 4):nth-last-child(2),{
			grid-column-end: span 2;
			grid-row-end: span 2;
		}
		&:nth-child(18n + 5):nth-last-child(1){
			grid-column-end: span 2;
			grid-row-end: span 1;
		}

		//4
		&:nth-child(18n + 1):nth-last-child(4),
		&:nth-child(18n + 3):nth-last-child(2),{
			grid-column-end: span 2;
			grid-row-end: span 2;
		}
		&:nth-child(18n + 2):nth-last-child(3),
		&:nth-child(18n + 4):nth-last-child(1),{
			grid-column-end: span 2;
			grid-row-end: span 1;
		}

		//3
		&:nth-child(18n + 1):nth-last-child(3),
		&:nth-child(18n + 2):nth-last-child(2),
		&:nth-child(18n + 3):nth-last-child(1),{
			grid-column-end: span 2;
			grid-row-end: span 2;
		}

		//2
		&:nth-child(18n + 1):nth-last-child(2),
		&:nth-child(18n + 2):nth-last-child(1){
			grid-column-end: span 3;
			grid-row-end: span 3;
		}

		//1
		&:nth-child(18n + 1):nth-last-child(1){
			grid-column-end: span 6;
			grid-row-end: span 3;
		}


		img{
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			transition: transform .4s ease-in-out;
		}

		&:hover{
			img{
				transform: scale(1.07);
			}
		}
	}
}