.kspc-preloader{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 36px 0;

	span{
		width: 14px;
		height: 14px;
		background: #EEEEEE;
		border-radius: 50%;
		display: block;
		margin: 0 11px;
		animation: preloaderDots 0.6s linear infinite;
		animation-direction: alternate;
		&:nth-child(1){
			animation-delay: -0.4s
		}
		&:nth-child(2){
			animation-delay: -0.2s
		}
	}
}

@keyframes preloaderDots {
	0% { background: #EEEEEE; }
	50% { background: #D8D8D8; }
	100% { background: #BBBBBB; }
}