.kspc-preloader {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 58px 0 0;

	@media screen and (max-width: 749px) {
		padding-top: vw(58);
	}

	span {
		width: 9px;
		height: 9px;
		background: #EEEEEE;
		border-radius: 50%;
		display: block;
		margin: 0 11px;
		animation: preloaderDots 0.6s linear infinite;
		animation-direction: alternate;

		&:nth-child(1) {
			animation-delay: -0.4s
		}

		&:nth-child(2) {
			animation-delay: -0.2s
		}
	}

	&--videos {
		padding-top: 51px;

		@media screen and (max-width: 749px) {
			padding-top: vw(51);
		}
	}
}

@keyframes preloaderDots {
	0% {
		background: #EEEEEE;
	}

	50% {
		background: #D8D8D8;
	}

	100% {
		background: #BBBBBB;
	}
}