@media screen and (max-width: 1150px) {
	.hr-wrap-before-subsmusic {}

	.subsmusic-section {
		margin-top: 56px;
	}

	.subsmusic-title {
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 22px;
	}

	.subsmusic-flex {
		margin-top: 18px;
	}

	.subsmusic-item {
		margin: 0 4.5px;

		&__pic {}

		&:hover {}

		&:active {}

		&:focus {}
	}
}

@media screen and (max-width: 749px) {
	.hr-wrap-before-subsmusic {
		margin-top: vw(83);
	}

	.subsmusic-section {
		margin-top: vw(47);
	}

	.subsmusic-title {
		font-weight: normal;
		font-size: vw(24);
		line-height: vw(39);
		text-align: center;
		letter-spacing: -0.03em;
	}

	.subsmusic-flex {
		margin-top: vw(24);
	}

	.subsmusic-item {
		margin: 0 vw(4.5);
		width: vw(36);
		height: vw(36);

		&__pic {}

		&:hover {}

		&:active {}

		&:focus {}
	}

}