.weekly-event {
  width: 100%;
  padding: 56px 58px 46px;
  border-radius: 5px;
  border: 1px solid #dee6e9;
  background-color: #fff;

  @include media(1150) {
    padding: 33px 37px 24px;
  }

  @include media(749) {
    padding: vw(20) vw(14) vw(27);
    padding: 0;
    border: unset;
  }

  &__heading {
    margin-bottom: 17px;
    display: flex;
    align-items: center;

    @include media(1150) {
      margin-bottom: 9px;
    }

    @include media(749) {
      margin-bottom: vw(9);
    }

    &-logo {
      margin-right: 8.64px;
      width: 20.72px;
      height: 20.72px;
      object-fit: contain;

      @include media(1150) {
        margin-right: 8px;
        width: 22px;
        height: 22px;
      }

      @include media(749) {
        margin-right: vw(8);
        width: vw(22);
        height: vw(22);
      }
    }

    &-author {
      margin-right: 12px;
      font-weight: 600;
      font-size: 17px;
      line-height: 30px;
      color: #5a5e64;

      @include media(1150) {
        font-size: 15px;
      }

      @include media(749) {
        margin-right: vw(12);
        font-size: vw(15);
        line-height: vw(30);
        flex-grow: 1;
      }
    }

    &-date {
      font-weight: 500;
      font-size: 13px;
      line-height: 30px;
      color: #afb4bf;

      @include media(749) {
        font-size: vw(13);
        line-height: vw(30);
      }
    }
  }

  &__info {
    position: relative;
    margin-bottom: 19px;
    max-height: 149px;
    color: #5a5e64;
    overflow: hidden;
    transition: max-height 13s linear, height 13s linear;

    @media (min-width: 1151px) {
      font-size: 17px;
      line-height: 30px;
    }

    @include media(1150) {
      max-height: 124px;

      &.kspc-simple-text__p:not(:first-child) {
        margin-top: 6px;
        margin-bottom: 15px;
      }
    }

    @include media(749) {
      margin-top: vw(4) !important;
      margin-bottom: vw(2) !important;
      max-height: vw(124);
    }

    &.opened {
      max-height: 10000px;
      transition: max-height 13s linear, height 13s linear;
    }

    &-title {
      margin-bottom: 29px;

      @include media(1150) {
        margin-bottom: 20px;
      }

      @include media(749) {
        margin-bottom: 17px;
      }
    }

    &-symbol {
      margin-right: 2px;
      display: inline;
      width: 17px;
      height: 17px;
      object-fit: contain;
    }

    &-link {
      @include hov();

      @include media(749) {
        display: none;
      }
    }

    &-dash {
      @include media(749) {
        display: none;
      }
    }
  }

  &__unwrap {
    top: 120px;
    right: 0;
    padding-right: 19px;
    opacity: 1;
    transition: 0.4s linear;
    cursor: pointer;

    @include media(1150) {
      top: 96px;
    }

    @media screen and (max-width: 1150px) and (min-width: 750px) {
      padding-right: 80px;
    }

    @include media(749) {
      top: vw(96);
      padding-right: vw(19);
    }

    &.hidden {
      opacity: 0;
      pointer-events: none;
      transition: 0.4s linear;
    }
  }

  &__unwrapper {
    position: absolute;
    top: 119px;
    right: 0;
    display: inline-block;
    padding-left: 1px;
    padding-right: 19px;
    background: #ffffff;
    opacity: 1;
    transition: 0.4s linear;
    cursor: pointer;

    @include media(1150) {
      top: 124px;
      padding-right: 30px;
    }

    @include media(749) {
      top: 95px;
      padding-right: 17px;
    }

    &-text {
      color: #afb4bf;
    }

    &.hidden {
      opacity: 0;
      pointer-events: none;
      transition: 0.4s linear;
    }
  }

  &__media {
    position: relative;
    margin-bottom: 16px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      padding-top: 61.7469879518%;
    }

    @include media(1150) {
      margin-bottom: 10px;
    }

    @include media(749) {
      margin-bottom: vw(8);
      border-radius: vw(5);
      height: auto;

      &::before {
        content: '';
        display: block;
        padding-top: 100%;
      }

      &--video {

        &::before {
          padding-top: 61.7469879518%;
        }
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;


    &-item {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include scalepic();
    }
  }

  &__video {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    @media screen and (min-width: 993px) {
      &:hover {
        &::after {
          opacity: 1;
          transition-duration: 0.4s;
        }
      }
    }

    @include media(749) {
      position: absolute;
      left: 0;
      top: 0;
    }

    &::after {
      position: absolute;
      z-index: 9;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      opacity: 0;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(5px);
      transition-duration: 0.4s;

      @include media(749) {
        border-radius: vw(5);
      }
    }

    &-preview {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-icon {
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 72px;
      height: 72px;

      @include media(749) {
        width: vw(72);
        height: vw(72);
      }
    }

    &-duration {
      position: absolute;
      bottom: 14px;
      right: 15px;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 22px;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.5);

      &-text {
        font-size: 13px;
        // line-height: 17px;
      }

      @include media(749) {
        display: none;
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    line-height: 30px;
    color: #afb4bf;
    user-select: none;

    @include media(1150) {
      font-size: 15px;
    }

    @include media(749) {
      font-size: vw(13);
      line-height: vw(30);
    }

    &-main {
      display: flex;
      align-items: center;
    }

    &-item {
      display: flex;
      align-items: center;

      @include hov();

      &:not(:last-child) {
        margin-right: 22px;

        @include media(749) {
          margin-right: vw(23);
        }
      }
    }

    &-icon {

      &:not(:last-child),
      &.weekly-event__likes-icon {
        margin-right: 8px;

        @include media(749) {
          margin-right: vw(8);
        }
      }
    }

    &-video {
      @include media(749) {
        display: none;
      }
    }
  }

  &__likes {
    &-icon {
      width: 20px;
      height: 18px;
      stroke: #afb4bf;
      fill: #ffffff;

      @include media(749) {
        width: vw(16);
        height: vw(15);
      }
    }

    &.liked {
      .weekly-event__likes-icon {
        fill: #afb4bf;
      }
    }
  }

  &__comments {
    &-icon {
      width: 20px;
      height: 20px;

      @include media(749) {
        width: vw(16);
        height: vw(16);
      }
    }
  }

  &__share {
    &-icon {
      width: 20px;
      height: 19px;
      object-fit: contain;
      display: block;

      @include media(749) {
        width: vw(16);
        height: vw(15);
      }
    }
  }

  &__view-comments-wrap {

    @include media(1150) {}

    @include media(749) {}
  }

  &__view-comments {
    font-size: 17px;
    line-height: 30px;
    color: #AFB4BF;

    @include media(1150) {

      font-size: 15px;
    }

    @include media(749) {
      font-size: vw(15);
      line-height: vw(30);

    }
  }
}




.weekly-event__unwrap-tablet {
  content: '';
  display: block;
  margin-top: -19px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 24px;
  color: #AFB4BF;
  cursor: pointer;
  transition-duration: .3s;

  &--hidden {
    opacity: 0;
    pointer-events: none;
  }
}




@media screen and (min-width: 1151px) {
  .weekly-event__unwrap {
    padding-right: 75px;
  }

  .component-hide-block .kspc-twpah-unwrap,
  .weekly-event__unwrap {
    &--more {
      &-x {
        &-desktop {
          &-lefttotal {
            padding-right: 0;
            width: 100%;
          }

          &-left {
            padding-right: calc(100% - 150px);
          }

          &-center {
            padding-right: calc(50% - 60px);
          }

          &-right {
            padding-right: 0;
          }
        }
      }
    }
  }

  .weekly-event__info {
    &.kspc-simple-text__p {
      margin-top: 12px;

      @include media(749) {
        margin-top: vw(12);
      }
    }

    &--more {
      &-y {
        &-desktop {
          max-height: 119px;

          .weekly-event__unwrap {
            top: 90px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) and (min-width: 750px) {

  .component-hide-block .kspc-twpah-unwrap,
  .weekly-event__unwrap {
    &--more {
      &-x {
        &-tablet {
          &-lefttotal {
            padding-right: 0;
            width: 100%;
          }

          &-left {
            padding-right: calc(100% - 150px);
          }

          &-center {
            padding-right: calc(50% - 60px);
          }

          &-right {
            padding-right: 0;
          }
        }
      }
    }
  }

  .weekly-event__info {
    &--more {
      &-y {
        &-tablet {
          max-height: 99px;

          .weekly-event__unwrap {
            top: 71px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 749px) {

  .component-hide-block .kspc-twpah-unwrap,
  .weekly-event__unwrap {
    &--more {
      &-x {
        &-mobile {
          &-lefttotal {
            padding-right: 0;
            width: 100%;
          }

          &-left {
            padding-right: calc(50% - 7vw);
          }

          &-center {
            padding-right: calc(50% - 14vw);
          }

          &-right {
            padding-right: calc(100% - 34vw);
          }
        }
      }
    }
  }

  .weekly-event__info {
    &--more {
      &-y {
        &-mobile {
          max-height: vw(99);

          .weekly-event__unwrap {
            top: vw(71);
          }
        }
      }
    }
  }
}


.weekly .part-wsidebar__main.part-wsidebar__main--weekly-single {

  @media screen and (min-width: 1151px) {}

  @media screen and (max-width: 1150px) {
    padding-top: 23px;

  }

  @media screen and (max-width: 749px) {
    padding-top: vw(24);
  }
}

.weekly-event--single+.weekly-event--single {
  padding-top: 0;
  margin-top: 58px;

  @media screen and (max-width: 1150px) {
    margin-top: 58px;
  }

  @media screen and (max-width: 749px) {
    margin-top: vw(58);
  }
}

.weekly-event--single {
  padding: 10px 0 0;
  border: 0;

  @media screen and (max-width: 749px) {
    padding: vw(10) 0 0;
  }

  .weekly-event__info.kspc-simple-text__p {
    max-height: 100% !important;

    @media screen and (min-width: 1151px) {
      margin-top: 32px;
    }

    @media screen and (max-width: 1150px) {
      margin-top: 32px;
      margin-bottom: 23px;
    }

    @media screen and (max-width: 749px) {

      margin-top: vw(33) !important;
      margin-bottom: vw(21) !important;
    }
  }

  .weekly-event__heading-author {
    flex-grow: 0;
  }

  .weekly-event__unwrap {
    display: none;

    @media screen and (max-width: 1150px) {}

    @media screen and (max-width: 749px) {}
  }

  .reviews:last-child {
    margin-bottom: 0;

    @media screen and (max-width: 1150px) {}

    @media screen and (max-width: 749px) {}
  }

  .reviews {

    @media screen and (min-width: 1151px) {
      margin-top: 0;
    }

    @media screen and (max-width: 1150px) {}

    @media screen and (max-width: 749px) {}

    .container {
      width: 100%;
      max-width: 100%;

      @media screen and (max-width: 1150px) {}

      @media screen and (max-width: 749px) {}
    }
  }
}