.weekly {
  &-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    padding: 87px 0 93px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.4s linear;

    @include media(1150) {
      padding-top: 60px;
			padding-bottom: 58px;
    }

    @include media(749) {
      padding-top: vw(52);
			padding-bottom: vw(58);
    }

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transition: 0.4s linear;
    }

    &__close {
      position: fixed;
      top: 15px;
      right: 40px;
      z-index: 102;
      width: 25px;
      height: 25px;
      background: url("../img/weekly/close.svg") no-repeat;
      cursor: pointer;
      opacity: 1;

      @include hov();

			@include media(1150) {
				position: absolute;
			}

      @include media(749) {
        // top: vw(15);
        // right: vw(40);
        width: vw(25);
        height: vw(25);
        background-size: cover;
      }
    }

    &__content {
      position: relative;
      z-index: 101;
      margin: 0 auto;
      width: 100%;
      max-width: 842px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
      overflow: hidden;

      @include media(1150) {
        width: calc(100% - 70px);
      }

      @include media(749) {
        width: calc(100% - #{vw(28)});
      }

      &-hr {
        margin: 35px 0 15px;
        width: 100%;
        height: 1px;
        background-color: #dee6e9;

        @include media(749) {
          margin: vw(35) 0 vw(15);
        }
      }
    }

    &__comment {
      &-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 59px;
        letter-spacing: -0.03em;

        @include media(1150) {
          font-size: 19px;
          line-height: 45px;
        }

        @include media(749) {
          font-size: vw(19);
          line-height: vw(39);
        }
      }

      &-more {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 28px auto 0;
        font-size: 17px;
        line-height: 30px;
        color: #25378d;
        @include hov();

        @include media(1150) {
          font-size: 15px;
        }

        @include media(749) {
          margin-top: vw(28);
          font-size: vw(15);
          line-height: vw(30);
        }

        &-text {
          display: inline-block;
          margin-right: 10px;

          @include media(749) {
            margin-right: vw(10);
          }
        }

        &-arrow {
          display: inline-block;
          width: 11px;
          height: 6px;
          background: url("../img/weekly/arrow-down.svg") no-repeat center center;

          @include media(749) {
            width: vw(11);
            height: vw(6);
            background-size: cover;
          }
        }
      }
    }

    &__form {
      margin-bottom: 53px;
      width: 100%;

      @include media(749) {
        margin-bottom: vw(53);
      }

      &-input {
        width: 100%;
        height: 44px;
        padding: 0 22px;
        border-radius: 5px;
        border: 1px solid #d9dbde;
        background-color: #ffffff;

        @include media(749) {
          height: vw(44);
          padding: 0 vw(22);
          border-radius: vw(5);
        }

        &::placeholder {
          font-size: 13px;
          line-height: 21px;
          color: #afb4bf;

          @include media(749) {
            font-size: vw(13);
            line-height: vw(21);
          }
        }
      }

      &-group {
        margin-bottom: 13px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include media(749) {
          margin-bottom: vw(13);
        }

        &-input {
          width: calc(50% - 6px);

          @include media(749) {
            width: calc(50% - #{vw(6)});
          }
        }
      }

      &-button {
        // max-width: 206px;
        width: 206px;

        @include media(749) {
          // max-width: vw(206);
          width: vw(206);
        }
      }
    }
  }
}

.weekly-modal {
  .reviews {
    &-item__text--with-hide {
      max-height: 150px;

      @include media(1150) {
        max-height: 96px;
      }

      &.opened {
        max-height: 10000px;
        transition: max-height 13s linear, height 13s linear;
      }
    }

    &-unwrap {
      top: 120px;
      padding-right: 385px;

      @include media(1150) {
        top: 72px;
        padding-right: 10px;
      }

      @include media(749) {
        top: vw(72);
        padding-right: vw(22);
      }

      &.hidden {
        display: none;
      }
    }
  }
}
