.weekly {
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    padding: 87px 0 362px;
    background-color: #fff;

    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    &__close {
      position: fixed;
      top: 15px;
      right: 40px;
      width: 25px;
      height: 25px;
      background: url("../img/weekly/close.svg");
      cursor: pointer;
      opacity: 1;

      @include hov();
    }

    &__content {
      position: relative;
      z-index: 101;
      margin: 0 auto;
      width: 100%;
      max-width: 842px;
    }
  }
}
