.weekly {
  /*
    Основные стили только для этой страницы
  */
  &-heading {
    &__title {
      margin-bottom: 12px;
      font-size: 45px;
      line-height: 59px;
      letter-spacing: -0.03em;

      @include media(1150) {
        margin-bottom: 19px;
        font-size: 32px;
        line-height: 39px;
      }
    }

    &__description {
      font-size: 17px;
      line-height: 30px;

      @include media(1150) {
        max-width: 695px;
        font-size: 15px;
        line-height: 24px;
      }

      &-highlighted {
        display: block;
        font-weight: 600;

        @include media(1150) {
          display: inline;
          font-weight: 400;
        }
      }
    }
  }

  &-posts {
    &__item {
      margin-bottom: 36px;
    }

    &__more {
      margin-top: 58px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      @include media(1150) {
        margin: 0;
      }

      @media screen and (min-width: 993px) {
        &:hover {
          .weekly-posts__more-item {
            transition-duration: 0.4s;

            &--1 {
              background-color: #bbbbbb;
            }
            &--2 {
              background-color: #eeeeee;
            }
            &--3 {
              background-color: #d8d8d8;
            }
          }
        }
      }

      &-item {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        transition-duration: 0.4s;

        @include media(1150) {
          width: 9px;
          height: 9px;
        }

        &:not(:last-child) {
          margin-right: 22px;
        }

        &--1 {
          background-color: #eeeeee;
        }
        &--2 {
          background-color: #d8d8d8;
        }
        &--3 {
          background-color: #bbbbbb;
        }
      }
    }
  }

  // Элементы
  &__banner {
    @include media(450) {
      height: vw360(365);
    }
  }

  &__heading {
    margin-bottom: 61px;

    @include media(1150) {
      margin-bottom: 51px;
    }

    @include media(620) {
      margin-bottom: 14px;
    }
  }

  /*
    Стили для общих элементов на этой странице
    ||  ||  ||  ||  ||  ||  ||  ||  ||  ||  ||
    \/  \/  \/  \/  \/  \/  \/  \/  \/  \/  \/
  */

  // Главная секция (основной контент + сайдбар)
  &-container {
    @include media(1150) {
      max-width: none;
      width: 100%;
      padding: 0 36px 0 35px;
    }

    @include media(767) {
      max-width: none;
      padding: 0 vw360(14);
    }
  }

  .part-wsidebar {
    padding-bottom: 150px;

    &__main {
      padding-top: 45px;

      @include media(1150) {
        padding-top: 51px;
      }
    }

    &__sidebar {
      position: relative;

      @include media(1150) {
        margin-top: 94px;
      }

      @include media(620) {
        margin-top: 88px;
      }

      &--weekly {
        @include media(1150) {
          border-top: 1px solid #dee6e9;
        }
      }
    }
  }

  // Секции сайдбара
  .master {
    padding-top: 58px;

    @include media(1150) {
      padding-top: 50px;
    }

    &__title {
      @include media(1150) {
        font-size: 13px;
      }
    }
  }

  .wnevents-widget__title {
    min-width: 164px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-family: $mainFont;
    font-size: 13px;
  }

  .insta-widget {
    @include media(1150) {
      padding-bottom: 62px;
    }
  }

  .csubscr-widget {
    &__logo {
      @include media(1150) {
        margin-bottom: 13px;
      }
    }

    &__title {
      @include media(1150) {
        font-size: 15px;
        line-height: 30px;
      }
    }

    &__description {
      @include media(1150) {
        margin-top: 8px;
      }
    }
  }

  .slnewsw-slider-item__name {
    @include media(1150) {
      margin-top: 10px;
      font-size: 15px;
      line-height: 29px;
    }
  }

  // Прилипающий сайдбар
  .sticky-up {
    position: sticky;
    top: 0;
  }
}
