.weekly-event {
  width: 100%;
  padding: 59px 58px 49px;
  border-radius: 5px;
  border: 1px solid #dee6e9;
  background-color: #fff;

  @include media(1150) {
    padding: 33px 37px 31px;
  }

  @include media(749) {
    padding: vw(20) vw(14) vw(27);
  }

  &__heading {
    margin-bottom: 28px;
    display: flex;
    align-items: center;

    @include media(1150) {
      margin-bottom: 27px;
    }

    @include media(749) {
      margin-bottom: vw(14);
    }

    &-logo {
      margin-right: 8.64px;
      width: 20.72px;
      height: 20.72px;
      object-fit: contain;

      @include media(1150) {
        margin-right: 8px;
        width: 22px;
        height: 22px;
      }

      @include media(749) {
        margin-right: vw(8);
        width: vw(22);
        height: vw(22);
      }
    }

    &-author {
      margin-right: 12px;
      font-weight: 600;
      font-size: 17px;
      line-height: 30px;
      color: #5a5e64;

      @include media(1150) {
        font-size: 15px;
      }

      @include media(749) {
        margin-right: vw(12);
        font-size: vw(15);
        line-height: vw(30);
      }
    }

    &-date {
      font-weight: 500;
      font-size: 13px;
      line-height: 30px;
      color: #afb4bf;

      @include media(749) {
        font-size: vw(13);
        line-height: vw(30);
      }
    }
  }

  &__info {
    position: relative;
    margin-bottom: 26px;
    max-height: 149px;
    color: #5a5e64;
    overflow: hidden;
    transition: max-height 13s linear, height 13s linear;

    @media (min-width: 1151px) {
      font-size: 17px;
      line-height: 30px;
    }

    @include media(1150) {
      max-height: 124px;
    }

    @include media(749) {
      margin-top: vw(14) !important;
      margin-bottom: vw(26);
      max-height: vw(124);
    }

    &.opened {
      max-height: 10000px;
      transition: max-height 13s linear, height 13s linear;
    }

    &-title {
      margin-bottom: 29px;

      @include media(1150) {
        margin-bottom: 20px;
      }

      @include media(749) {
        margin-bottom: 17px;
      }
    }

    &-symbol {
      margin-right: 2px;
      display: inline;
      width: 17px;
      height: 17px;
      object-fit: contain;
    }

    &-link {
      @include hov();

      @include media(749) {
        display: none;
      }
    }

    &-dash {
      @include media(749) {
        display: none;
      }
    }
  }

  &__unwrap {
    top: 120px;
    right: 0;
    padding-right: 19px;
    opacity: 1;
    transition: 0.4s linear;
    cursor: pointer;

    @include media(1150) {
      top: 96px;
    }

    @include media(749) {
      top: vw(96);
      padding-right: vw(19);
    }

    &.hidden {
      opacity: 0;
      pointer-events: none;
      transition: 0.4s linear;
    }
  }

  &__unwrapper {
    position: absolute;
    top: 119px;
    right: 0;
    display: inline-block;
    padding-left: 1px;
    padding-right: 19px;
    background: #ffffff;
    opacity: 1;
    transition: 0.4s linear;
    cursor: pointer;

    @include media(1150) {
      top: 124px;
      padding-right: 30px;
    }

    @include media(749) {
      top: 95px;
      padding-right: 17px;
    }

    &-text {
      color: #afb4bf;
    }

    &.hidden {
      opacity: 0;
      pointer-events: none;
      transition: 0.4s linear;
    }
  }

  &__media {
    margin-bottom: 16px;
    width: 100%;
    height: 448px;
    border-radius: 5px;
    overflow: hidden;

    @include media(1150) {
      height: 385px;
    }

    @include media(749) {
      margin-bottom: vw(12);
      height: vw360(187.37);
      border-radius: vw(5);
    }
  }

  &__image {
    width: 100%;
    height: 100%;

    &-item {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include scalepic();
    }
  }

  &__video {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;

    @media screen and (min-width: 993px) {
      &:hover {
        &::after {
          opacity: 1;
          transition-duration: 0.4s;
        }
      }
    }

    &::after {
      position: absolute;
      z-index: 9;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      opacity: 0;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(5px);
      transition-duration: 0.4s;

      @include media(749) {
        border-radius: vw(5);
      }
    }

    &-preview {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-icon {
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 72px;
      height: 72px;

      @include media(749) {
        width: vw(72);
        height: vw(72);
      }
    }

    &-duration {
      position: absolute;
      bottom: 14px;
      right: 15px;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 22px;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.5);

      &-text {
        font-size: 13px;
        // line-height: 17px;
      }

      @include media(749) {
        display: none;
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    line-height: 30px;
    color: #afb4bf;
    user-select: none;

    @include media(1150) {
      font-size: 15px;
    }

    @include media(749) {
      font-size: vw(13);
      line-height: vw(30);
    }

    &-main {
      display: flex;
      align-items: center;
    }

    &-item {
      display: flex;
      align-items: center;

      @include hov();

      &:not(:last-child) {
        margin-right: 23px;

        @include media(749) {
          margin-right: vw(23);
        }
      }
    }

    &-icon {
      margin-right: 8px;

      @include media(749) {
        margin-right: vw(8);
      }
    }

    &-video {
      @include media(749) {
        display: none;
      }
    }
  }

  &__likes {
    &-icon {
      width: 20px;
      height: 18px;
      stroke: #afb4bf;
      fill: #ffffff;

      @include media(749) {
        width: vw(16);
        height: vw(15);
      }
    }

    &.liked {
      .weekly-event__likes-icon {
        fill: #afb4bf;
      }
    }
  }

  &__comments {
    &-icon {
      width: 20px;
      height: 20px;

      @include media(749) {
        width: vw(16);
        height: vw(16);
      }
    }
  }

  &__share {
    &-icon {
      width: 19.5px;
      height: 19px;

      @include media(749) {
        width: vw(15.5);
        height: vw(15);
      }
    }
  }
}









@media screen and (min-width: 1151px){
	.weekly-event__unwrap {
		&--more{
			&-x{
				&-desktop{
					&-left{
						padding-right: calc(100% - 150px);
					}
					&-center{
						padding-right: calc(50% - 60px);
					}
					&-right{
						padding-right: 0;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1150px) and (min-width: 750px) {
	.weekly-event__unwrap {
		&--more{
			&-x{
				&-tablet{
					&-left{
						padding-right: calc(100% - 150px);
					}
					&-center{
						padding-right: calc(50% - 60px);
					}
					&-right{
						padding-right: 0;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 749px) {
	.weekly-event__unwrap {
		&--more{
			&-x{
				&-mobile{
					&-left{
						padding-right: 0;
					}
					&-center{
						padding-right: calc(50% - 14vw);
					}
					&-right{
						padding-right: calc(100% - 34vw);
					}
				}
			}
		}
	}
}
