.weekly {

	/*
		Основные стили только для этой страницы
	*/
	&-heading {
		margin-top: 0;

		&__title {
			margin-bottom: 19px;


			@media (min-width: 1151px) {
				margin-bottom: 12px;
				font-size: 45px;
				line-height: 59px;
				letter-spacing: -0.03em;
			}

			@include media(749) {
				margin-bottom: vw(19);
				font-size: vw(32);
				line-height: vw(39);
			}

			&:last-child {
				margin-bottom: -23px;

				@include media(1150) {
					margin-bottom: -3px;
				}

				@include media(749) {
					margin-bottom: 3.5vw;
				}
			}
		}

		&__description {
			br {
				@include media(1150) {
					display: none;
				}
			}

			@include media(749) {
				margin-bottom: vw(67);
				max-height: vw(101);
				overflow: hidden;
			}
		}

		// &__description {
		//   font-size: 17px;
		//   line-height: 30px;

		//   @include media(1150) {
		//     max-width: 695px;
		//     font-size: 15px;
		//     line-height: 24px;
		//   }

		//   &-highlighted {
		//     display: block;
		//     font-weight: 600;

		//     @include media(1150) {
		//       display: inline;
		//       font-weight: 400;
		//     }
		//   }
		// }
	}

	&-posts {
		&__item {
			margin-bottom: 36px;

			@include media(749) {
				margin-bottom: vw(36);
			}
		}

		&__more {
			padding-top: 27px;
			cursor: pointer;

			@include media(1150) {
				padding-top: 0;
			}

			span {
				width: 14px;
				height: 14px;

				@include media(1150) {
					width: 9px;
					height: 9px;
				}

				@include media(749) {
					width: vw(9);
					height: vw(9);
				}

				&:not(:last-child) {
					margin-right: 10px;

					@include media(749) {
						margin-right: vw(10);
					}
				}
			}
		}
	}

	// Элементы
	&__banner {
		@include media(749) {
			height: vw(365);
		}
	}

	&__heading {
		margin-bottom: 65px;

		@include media(1150) {
			margin-bottom: 51px;
		}

		@include media(749) {
			margin-bottom: vw(14);
		}
	}

	/*
		Стили для общих элементов на этой странице
		||  ||  ||  ||  ||  ||  ||  ||  ||  ||  ||
		\/  \/  \/  \/  \/  \/  \/  \/  \/  \/  \/
	*/

	// Главная секция (основной контент + сайдбар)
	&-container {
		@include media(1150) {
			max-width: none;
			width: 100%;
			padding: 0 36px 0 35px;
		}

		@include media(749) {
			max-width: none;
			padding: 0 vw(14);
		}
	}

	.part-wsidebar {
		padding-bottom: 150px;

		@include media(1150) {
			padding-bottom: 35px;
		}

		@include media(749) {
			padding-bottom: vw(35);
		}

		&__main {
			padding-top: 45px;

			@include media(1150) {
				padding-top: 51px;
			}

			@include media(749) {
				padding-top: vw(51);
			}
		}

		&__sidebar {
			position: relative;

			@include media(1150) {
				margin-top: 94px;
			}

			@include media(749) {
				margin-top: vw(91);
			}

			&--weekly {
				// position: sticky;
				// top: 0;
				// height: 100vh;
				// overflow-y: auto;
				// overflow-x: hidden;

				@include media(1150) {
					border-top: 1px solid #dee6e9;
				}

				&::-webkit-scrollbar {
					display: none;
				}
			}
		}
	}

	// Секции сайдбара
	.weekly-two-widgets {
		margin-bottom: 47px;

		@include media(1150) {
			margin-bottom: 80px;

			&__container {
				display: flex;
				justify-content: space-between;

				@include media(749) {
					flex-direction: column-reverse;
					align-items: center;
				}
			}
		}

		@include media(749) {
			margin-bottom: vw(80);
		}
	}

	.wnevents {
		&-card {
			margin-bottom: 0;

			@include media(1150) {
				.wnevents-widget__pic {
					padding-top: 59%;
				}
			}

			@include media(749) {
				width: calc(100% - #{vw(34)});

				.wnevents-widget__pic {
					padding-top: 23%;
				}
			}
		}

		&-list {
			width: calc(50% - 18px);

			@include media(749) {
				margin-bottom: vw(89);
				width: calc(100% - #{vw(34)});
			}

			&__title {
				padding-bottom: 25px;

				@include media(749) {
					padding-bottom: vw(25);
				}
			}

			&__ul {
				list-style-type: none;
				font-size: 15px;

				@include media(749) {
					font-size: vw(15);
				}
			}

			&__item {
				&:not(:last-child) {
					margin-bottom: 19px;

					@include media(749) {
						margin-bottom: vw(19);
					}
				}
			}

			&__heading {
				display: block;
				margin-bottom: 1px;
				font-weight: 500;
				line-height: 29px;

				@include media(749) {
					line-height: vw(29);
				}
			}

			&__date {
				line-height: 21px;
				color: #afb4bf;

				@include media(749) {
					line-height: vw(21);
				}
			}
		}
	}

	.master {
		padding-top: 58px;

		@include media(1150) {
			padding-top: 50px;
		}

		@include media(749) {
			padding-top: vw(50);
		}

		&__title--weekly {
			@include media(1150) {
				font-size: 13px;
			}

			@include media(749) {
				font-size: vw(13);
			}
		}
	}

	.wnevents-widget__title {
		min-width: 164px;
		padding-top: 9px;
		padding-bottom: 9px;
		font-family: $mainFont;
		font-size: 13px;

		@include media(749) {
			min-width: vw(164);
			padding: vw(9) 0;
			font-size: vw(13);
		}
	}

	.insta-widget {
		@include media(1150) {
			padding-bottom: 64px;
		}

		@include media(749) {
			padding-bottom: vw(91);
		}
	}

	.custom-widget-title--weekly {
		font-size: 13px;

		@include media(749) {
			font-size: vw(13);
		}
	}

	.csubscr-widget {
		@include media(749) {
			padding: vw360(29) vw360(30) vw360(35);
		}

		&__logo {
			@include media(1150) {
				margin-bottom: 13px;
			}

			@include media(749) {
				margin-bottom: vw(13);
			}
		}

		&__title {
			@include media(1150) {
				font-size: 15px;
				line-height: 30px;
			}

			@include media(749) {
				font-size: vw360(17);
			}
		}

		&__description {
			@include media(1150) {
				margin-top: 8px;
			}

			@include media(749) {
				margin-top: vw(8);
			}
		}
	}

	.slnewsw-slider-item__name {
		@include media(1150) {
			margin-top: 10px;
			font-size: 15px;
			line-height: 29px;
		}

		@include media(749) {
			margin-top: vw(10);
			font-size: vw(15);
			line-height: vw(29);
		}
	}

	.slider-news-widget {
		/*margin-bottom: 95px;

		@include media(749) {
			margin-bottom: vw360(4);
		}
*/
		&-wrap {
			@include media(749) {
				padding-top: vw360(80);
			}
		}
	}

	.container__weekly-music {
		@include media(749) {
			width: 100%;
			max-width: 100%;
		}

		.music-player {
			margin-bottom: 80px;
		}
	}

	// Прилипающий сайдбар
	.sticky-up {
		position: sticky;
		top: 0;
	}

}

.big-top-pic__container--weekly {
	@include media(749) {
		height: 100%;

		.big-top-pic__relative {
			height: 100%;
		}
	}
}



