.weekly {
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    padding: 87px 0 362px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.4s linear;

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transition: 0.4s linear;
    }

    &__close {
      position: fixed;
      top: 15px;
      right: 40px;
      z-index: 102;
      width: 25px;
      height: 25px;
      background: url("../img/weekly/close.svg");
      cursor: pointer;
      opacity: 1;

      @include hov();
    }

    &__content {
      position: relative;
      z-index: 101;
      margin: 0 auto;
      width: 100%;
      max-width: 842px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
      overflow: hidden;

      @include media(1150) {
        width: calc(100% - 70px);
      }

      @include media(620) {
        width: calc(100% - 28px);
      }

      &-hr {
        margin: 35px 0 15px;
        width: 100%;
        height: 1px;
        background-color: #dee6e9;
      }
    }

    &__comment {
      &-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 59px;
        letter-spacing: -0.03em;

        @include media(1150) {
          font-size: 19px;
          line-height: 45px;
        }

        @include media(620) {
          line-height: 39px;
        }
      }

      &-item {
        @include media(1150) {
          font-size: 15px;
          line-height: 24px;
        }

        &:not(:last-of-type) {
          margin-bottom: 73px;

          @include media(1150) {
            margin-bottom: 45px;
          }
        }

        &:last-of-type {
          margin-bottom: 28px;
        }
      }

      &-heading {
        margin-bottom: 17px;
      }

      &-more {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        font-size: 17px;
        line-height: 30px;
        color: #25378d;
        @include hov();

        &-text {
          display: inline-block;
          margin-right: 10px;
        }

        &-arrow {
          display: inline-block;
          width: 11px;
          height: 6px;
          background: url("../img/weekly/arrow-down.svg") no-repeat center center;
        }
      }
    }

    &__form {
      margin-bottom: 53px;
      width: 100%;

      &-input {
        width: 100%;
        height: 44px;
        padding: 0 22px;
        border-radius: 5px;
        border: 1px solid #d9dbde;
        background-color: #ffffff;

        &::placeholder {
          font-size: 13px;
          line-height: 21px;
          color: #afb4bf;
        }
      }

      &-group {
        margin-bottom: 13px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        &-input {
          width: calc(50% - 6px);
        }
      }

      &-button {
        max-width: 206px;
      }
    }
  }
}
