.kspc-photogallery
	.container.container--ks-only-tab
		.kspc-phg
			h2.kspc-phg__title.kspc-h2-style Фотогалерея
			.kspc-phg__block
				.kspc-phg__date
					span 2021
				.kspc-phg__list
					- for (var x = 0; x < 36/4; x++)
						a.kspc-phg__item(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
							img(src="../img/gallery/photo1.jpg" alt="")
						a.kspc-phg__item(href="../img/gallery/photo2.jpg" data-fancybox-with-slideshow="gallery-1")
							img(src="../img/gallery/photo2.jpg" alt="")
						a.kspc-phg__item(href="../img/gallery/photo3.jpg" data-fancybox-with-slideshow="gallery-1")
							img(src="../img/gallery/photo3.jpg" alt="")
						a.kspc-phg__item(href="../img/gallery/photo4.jpg" data-fancybox-with-slideshow="gallery-1")
							img(src="../img/gallery/photo4.jpg" alt="")


			.kspc-preloader
				span
				span
				span