.kspc-photogallery
	.container.container--ks
		.kspc-phg
			h2.kspc-phg__title.kspc-h2-style Фотогалерея



			.kspc-phg__block.kspc-phg__block--archive
				.kspc-phg__date
					span 2021
				.kspc-phg-archive
					a.kspc-phg__item-archive.kspc-phg__item-archive--1(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--2(href="../img/home-slider-pic.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--3(href="../img/hmlearn2.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--4(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--5(href="../img/home-slider-pic.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--6(href="../img/hmlearn2.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--7(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")


			.kspc-phg__block.kspc-phg__block--archive
				.kspc-phg__date
					span 2021
				.kspc-phg-archive.kspc-phg-archive--reverse
					a.kspc-phg__item-archive.kspc-phg__item-archive--1(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--2(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--3(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--4(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--5(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--6(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--7(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")

			.kspc-phg__block.kspc-phg__block--archive
				.kspc-phg__date
					span 2021
				.kspc-phg-archive
					a.kspc-phg__item-archive.kspc-phg__item-archive--1(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--2(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--3(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--4(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--5(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--6(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--7(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")


			.kspc-phg__block.kspc-phg__block--archive
				.kspc-phg__date
					span 2021
				.kspc-phg-archive.kspc-phg-archive--reverse
					a.kspc-phg__item-archive.kspc-phg__item-archive--1(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--2(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--3(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--4(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--5(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--6(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")
					a.kspc-phg__item-archive.kspc-phg__item-archive--7(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
						img(src="../img/gallery/photo1.jpg" alt="")


				//	.kspc-phg-arcgroup-1
						.kspc-phg-arcgroup-1__item
							a.kspc-phg__item-archive(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
								img(src="../img/gallery/photo1.jpg" alt="")
						.kspc-phg-arcgroup-1__item.kspc-phg-arcgroup-2
							.kspc-phg-arcgroup-2__item.kspc-phg-arcgroup-2__item--1.kspc-phg-arcgroup-2__item--1.kspc-phg-arcgroup-3
								.kspc-phg-arcgroup-3__item
									a.kspc-phg__item-archive(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
										img(src="../img/gallery/photo1.jpg" alt="")
								.kspc-phg-arcgroup-3__item
									a.kspc-phg__item-archive(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
										img(src="../img/gallery/photo1.jpg" alt="")
								.kspc-phg-arcgroup-3__item
									a.kspc-phg__item-archive(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
										img(src="../img/gallery/photo1.jpg" alt="")
							.kspc-phg-arcgroup-2__item.kspc-phg-arcgroup-2__item--2.kspc-phg-arcgroup-2__item--2.kspc-phg-arcgroup-4
								.kspc-phg-arcgroup-4__item.kspc-phg-arcgroup-4__item--1
									a.kspc-phg__item-archive(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
										img(src="../img/gallery/photo1.jpg" alt="")
								.kspc-phg-arcgroup-4__item.kspc-phg-arcgroup-4__item--2.kspc-phg-arcgroup-5
									.kspc-phg-arcgroup-5__item
										a.kspc-phg__item-archive(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
											img(src="../img/gallery/photo1.jpg" alt="")
									.kspc-phg-arcgroup-5__item
										a.kspc-phg__item-archive(href="../img/gallery/photo1.jpg" data-fancybox-with-slideshow="gallery-1")
											img(src="../img/gallery/photo1.jpg" alt="")






			.kspc-preloader
				span
				span
				span