@media screen and (max-width: 1150px) {
    .band {
        padding-top: 56px;
        padding-bottom: 96px;
        &_video {
            padding-top: 113px;
            padding-bottom: 56px;
        }
            &__container {
                max-width: 100%;
                width: 100%;
            }
            
            &__title {
                margin-bottom: 31px;
               
            }
            
            &__row {
                display: flex;
                flex-wrap: wrap;
                margin: -18px;
                &_video {
                    margin-bottom: 20px;
                }
            }
            
            &__card {
                width: 50%;
                padding: 18px;
            }
            &__img-wrapper {
                margin-bottom: 17px;
                max-width: 403px;
                
                &:after {
                    padding-top: 100%;
                }
            }

            &__img-wrapper_video {
                &:after {
                    padding-top: 204/330 * 100%;
                }
            }
            
            &__img {
            }
            
            &__card-title {
                margin-bottom: 12px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
            
            &__theme-wrapper {
                margin-bottom: 19px;
            }
            
            &__theme-link {
                font-size: 13px;
                margin-right: 12px;

            }
            
            &__theme-date {
                font-size: 13px;
                margin-right: 16px;
            }
            
            &__theme-icon {
            }
            
            &__theme-desc {
                max-width: 403px;
                margin-bottom: 47px;
                line-height: 30px;
            }
        
            &__pagination {
                padding-left: 0;
            }
        
            &__paginate {
        
            }
        }
}
@media screen and (max-width: 767px) {
    .band {
        padding-top: vw(24);
        padding-bottom: vw(90);
        &_video {
            padding-bottom: vw(57);
        }
            &__container {
                max-width: 100%;
                width: 100%;
            }
            
            &__title {
                margin-bottom: vw(8);
            }
            
            &__row {
                display: flex;
                flex-wrap: wrap;
                margin: vw(-18);
                margin-bottom: vw(20);
            }
            
            &__card {
                width: 100%;
                padding: 18px;
            }
            
            &__img-wrapper {
                margin-bottom: vw(17);
                max-width: vw(403);
                &:after {
                    padding-top: 100%;
                }
                &_video {
                    max-width: vw(332);
                    &:after {
                        padding-top: 205/332 * 100%;
                    }
                }
            }
            
            &__img {
            }
            
            &__card-title {
                margin-bottom: vw(12);
            }
            
            &__theme-wrapper {
                margin-bottom: vw(9);
                &_video {
                    margin-bottom: vw(17);
                }
            }
            
            &__theme-link {
                font-size: vw(13);
                margin-right: vw(12);

            }
            
            &__theme-date {
                font-size: vw(13);
                margin-right: vw(16);
            }
            
            &__theme-icon {
            }
            
            &__theme-desc {
                max-width: vw(403);
                margin-bottom: vw(16);
                line-height: vw(24);
            }
        
            &__pagination {
                padding-left: 0;
            }
        
            &__paginate {
        
            }
        }
}