.section-category-slider {
	padding-top: 42px;
	padding-bottom: 103px;

	&__container {
		max-width: 100%;
	}

	&__title {
		margin-left: -3px;

		margin-bottom: 35px;
	}
}

.category-slider {
	margin-left: -1px;

	.slick-list {
		margin: 0 -18px ;
	}

	.slick-dots {
		margin-top: 30px;
	}
}

.category-slide {
	width: 227px;
	margin: 0 18px;
	display: flex;
	justify-content: center;
	align-items: center;

	&__img-wrapper {
		max-width: 228px;
		position: relative;
		display: block;
		overflow: hidden;
		border-radius: 5px;

		&::after {
			content: '';
			display: block;
			padding-top: 57.71%;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	&__category-name {
		position: absolute;
		font-size: 22px;
		line-height: 1.2;
		text-align: center;
		letter-spacing: -0.03em;
		color: #53565A;
		z-index: 99;
		//background: #fff;
		padding: 14px 20px 10px 10px;
		max-width: 100%;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}