@media screen and (max-width: 1150px) {
	.section-category-slider {
		padding-top: 31px;
		padding-bottom: 35px;

		&__container {
			max-width: 100%;
			width: 100%;
		}

		&__title {
			margin-bottom: 16px;
			margin-left: 0;
		}

		border-top: 0;
		border-bottom: 0;

		&--comments {
			padding-top: 0;
			margin-top: 41px;

			.artimaster-section-title {
				font-size: 35px;
				line-height: 59px;
				letter-spacing: -0.03em;
			}

			.article-master-container--tab-no-r {
				width: calc(348px + 50%);
			}

			.category-slider .category-slide {
				width: 228px;
				margin-right: 35px;
			}

			.category-slider .category-slide__img-wrapper::after {
				content: '';
				padding-top: 57.5%;
			}

			.category-slider .slick-dots {
				display: flex !important;
			}

			.category-slide--video .category-slide__img-wrapper::before {
				right: 9px;
				bottom: 9px;
				top: auto;
				left: auto;
				width: 22px;
				height: 22px;
				transform: none;
			}

			&+.kspc-slider-block--has-title {
				margin-top: 42px;

				.kspc-slider-block-title {
					font-size: 35px;
					line-height: 59px;

					&+.kspc-slider {
						margin-top: 17px;
					}
				}
			}
		}
	}

	.category-slider {
		padding: 0;
		margin: 0;

		&-arrow {
			display: none;
		}

		.slick-track {
			//margin: 0 -10px;
			margin: 0;

		}

		.category-slide {
			width: 170px;
			margin: 0;
			margin-right: 22px;

			&__img-wrapper {
				max-width: 228px;

				&::after {
					content: '';
					padding-top: 105/170 * 100%;
				}
			}

			&__category-name {
				font-style: normal;
				font-weight: normal;
				font-size: 19px;
				line-height: 59px;
				text-align: center;
				letter-spacing: -0.03em;
				color: $dark;
				padding: 14px 10px 10px 10px;

			}
		}

		.slick-dots {
			display: none !important;
		}
	}
}

@media screen and (max-width: 749px) {

	//767 было
	.section-category-slider {
		padding-top: vw(20);
		padding-bottom: vw(58);

		&__container {
			max-width: 100%;
			width: 100%;
		}

		&__title {

			margin-bottom: 0;
		}

		&--comments {
			margin-top: vw(31);

			.artimaster-section-title {
				font-size: vw(32);
				line-height: vw(39);

			}

			.article-master-container--tab-no-r {
				width: calc(vw(348) + 50%);
			}


			.category-slider{
				margin-top: vw(27);
			}

			.category-slider .category-slide {
				width: vw(170);
				margin-right: vw(22);
			}

			.category-slider .category-slide__img-wrapper::after {
				padding-top: 62%;
			}

			.category-slider .slick-dots {
				display: flex !important;
				margin-top: vw(36);
			}

			.category-slide--video .category-slide__img-wrapper::before {
				right: vw(9);
				bottom: vw(9);
				top: auto;
				left: auto;
				width: vw(22);
				height: vw(22);
				transform: none;
			}

			&+.kspc-slider-block--has-title {
				margin-top: vw(29);

				.kspc-slider-block-title {
					font-size: vw(32);
					line-height: vw(39);

					&+.kspc-slider {
						margin-top: vw(25);
					}
				}
			}
		}
	}

	.category-slider {
		margin: 0;
		margin-top: vw(8);

		.category-slide {
			width: vw(170);
			padding: 0;
			margin: 0;
			margin-right: vw(22);

			&__img-wrapper {
				max-width: vw(228);

				&::after {
					content: '';
					padding-top: 105/170 * 100%;
				}
			}

			&__category-name {
				font-size: vw(19);
				line-height: vw(59);
				text-align: center;
				letter-spacing: -0.03em;
				color: $dark;
			}
		}

		.slick-dots {
			display: none !important;
		}
	}
}