.section-category-slider {
	padding-top: 42px;
    padding-bottom: 50px;
	border-bottom: 1px solid #dee6e9;
	border-top: 1px solid #dee6e9;

	&__container {
		max-width: 100%;
	}

	&__title {
		margin-left: -3px;
		margin-bottom: 17px;
	}

	&--comments {
		border-top: 0;
		border-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 41px;
	}

	&+.kspc-slider-block--has-title {
		margin-top: 42px;
	}
}

.category-slider {
	//overflow: hidden; //после залива на прод это надо убрать
	margin-left: -1px;
	padding-right: 4px;

	z-index: 1;

	&__arrows {
		position: relative;

		@media screen and (min-width: 1151px) {
			&::before {
				z-index: 1;
				content: '';
				display: block;
				z-index: 1;
				position: absolute;
				left: -40px;
				top: 0;
				height: 100%;
				width: calc(100% + 80px);
				//background: red;
			}
		}

		&:hover {

			.category-slider-arrow {
				opacity: 1;
			}
		}
	}

	&__overflow {
		overflow: hidden;

		@media screen and (min-width: 1151px) {
			margin-right: 2px;
		}
	}

	.slick-list {
		z-index: 2;
		overflow: visible;

		@media screen and (min-width: 1151px) {
			width: 788px;
		}

		//	margin: 0 -18px ;
	}

	.slick-dots {
		position: relative;
		z-index: 2;
		margin-top: 36px;
	}




}

.category-slider-arrow {
	z-index: 3;
	//opacity: 1;
	top: 54px;
	cursor: pointer;

}

.category-slide {
	width: 227px;
	/*margin: 0 18px;old*/
	margin: 0 36px 0 0;
	display: flex;
	justify-content: center;
	align-items: center;

	&__img-wrapper {
		max-width: 228px;
		position: relative;
		display: block;
		overflow: hidden;
		-webkit-mask-image: -webkit-radial-gradient(white, #000);
		border-radius: 6px;


		&::after {
			content: '';
			display: block;
			padding-top: 57.71%;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	&__category-name {
		position: absolute;
		font-size: 22px;
		line-height: 1.2;
		text-align: center;
		letter-spacing: -0.03em;
		color: $dark;
		z-index: 99;
		//background: #fff;
		padding: 14px 20px 10px 10px;
		max-width: 100%;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&--video .category-slide__img-wrapper {
		img {
			z-index: 3;
		}

		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 59px;
			height: 59px;

			background: url(../img/play-vid.svg) no-repeat center center;
			background-size: contain;
			z-index: 5;
		}

		&::after {
			width: 100%;
			z-index: 4;
			position: relative;
			opacity: 0;
			background: rgba(255, 255, 255, .1);
			backdrop-filter: blur(5px);
			transition: all .4s ease;
		}
		&:hover{
			&::after{
				opacity: 1;
			}
		}
	}
}