@media screen and (max-width: 1150px) {
    .section-category-slider {
        padding-top: 54px;
        padding-bottom: 55px;
        &__container {
            max-width: 100%;
            width: 100%;
        }
        &__title {

            margin-bottom: 17px;
        }
    }
    .category-slider {
        margin: -10px;
        .category-slide {
            width: 190px;
            padding: 10px;
            margin: 0;
            &__img-wrapper {
                max-width: 228px;
                &::after {
                    content: '';
                    padding-top: 105/170 * 100%;
                }
            }
            &__category-name {
                font-size: 19px;
                line-height: 59px;
                text-align: center;
                letter-spacing: -0.03em;
                color: #53565A;
            }
        }
        .slick-dots {
           display: none!important;
        }
    }
}
@media screen and (max-width: 749px) {//767 было
    .section-category-slider {
        padding-top: vw(18);
        padding-bottom: vw(55);
        &__container {
            max-width: 100%;
            width: 100%;
        }
        &__title {

            margin-bottom: vw(10);
        }
    }
    .category-slider {
        margin: vw(-10);
        .category-slide {
            width: vw(190);
            padding: vw(10);
            margin: 0;
            &__img-wrapper {
                max-width: vw(228);
                &::after {
                    content: '';
                    padding-top: 105/170 * 100%;
                }
            }
            &__category-name {
                font-size: vw(19);
                line-height: vw(59);
                text-align: center;
                letter-spacing: -0.03em;
                color: #53565A;
            }
        }
        .slick-dots {
           display: none!important;
        }
    }
}