@media screen and (max-width: 1150px) {
	.section-category-slider {
		padding-top: 55px;
		padding-bottom: 58px;

		&__container {
			max-width: 100%;
			width: 100%;
		}

		&__title {
			margin-bottom: 16px;
			margin-left: 0;
		}
	}

	.category-slider {
		padding: 0;
		margin: 0;

		.slick-track {
			//margin: 0 -10px;
			margin: 0;

		}

		.category-slide {
			width: 170px;
			margin: 0;
			margin-right: 22px;

			&__img-wrapper {
				max-width: 228px;

				&::after {
					content: '';
					padding-top: 105/170 * 100%;
				}
			}

			&__category-name {
				font-style: normal;
				font-weight: normal;
				font-size: 19px;
				line-height: 59px;
				text-align: center;
				letter-spacing: -0.03em;
				color: #53565A;
				padding: 14px 10px 10px 10px;

			}
		}

		.slick-dots {
			display: none !important;
		}
	}
}

@media screen and (max-width: 749px) {

	//767 было
	.section-category-slider {
		padding-top: vw(22);
		padding-bottom: vw(58);

		&__container {
			max-width: 100%;
			width: 100%;
		}

		&__title {

			margin-bottom: 0;
		}
	}

	.category-slider {
		margin: 0;
		margin-top: vw(8);

		.category-slide {
			width: vw(170);
			padding: 0;
			margin: 0;
			margin-right: vw(22);

			&__img-wrapper {
				max-width: vw(228);

				&::after {
					content: '';
					padding-top: 105/170 * 100%;
				}
			}

			&__category-name {
				font-size: vw(19);
				line-height: vw(59);
				text-align: center;
				letter-spacing: -0.03em;
				color: #53565A;
			}
		}

		.slick-dots {
			display: none !important;
		}
	}
}