@media screen and (max-width: 1150px) {
	.category {
		padding-top: 50px;
		padding-bottom: 43px;
		border-top: 1px solid #DEE6E9;

		&_video {
			padding-top: 48px;
			padding-bottom: 36px;
		}

		&__title {
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 30px;
			text-align: center;
			text-transform: uppercase;
			color: #3E434D;

			padding-bottom: 9px;
			margin-bottom: 13px;

			&::after {
				bottom: 5px;
			}
		}

		&__list {
			font-weight: 400;
			font-size: 15px;
			line-height: 17px;
			text-align: center;
			color: #53565A;
			list-style: none;
		}

		&__list-item {
			margin-bottom: 15px;

			&:hover {
				text-decoration: underline;
			}
		}

		&__link {}
	}
}

@media screen and (max-width: 749px) {

	//767 было
	.category_video {
		order: 0;
	}

	.category {
		padding-top: vw(50);
		padding-bottom: vw(43);
		border-top: 1px solid #DEE6E9;

		&__title {
			font-size: vw(15);
			line-height: vw(30);
			text-align: center;
			text-transform: uppercase;
			color: #3E434D;
			padding-bottom: vw(10);
			margin-bottom: vw(13);

			&::after {
				bottom: vw(5);
			}
		}

		&__list {
			font-weight: 400;
			font-size: vw(15);
			line-height: vw(17);
			text-align: center;
			color: #53565A;
			list-style: none;
		}

		&__list-item {
			margin-bottom: vw(16);

			&:hover {
				text-decoration: underline;
			}
		}

		&__link {}
	}

}