.quote-true {
	padding-top: 88px;
	padding-bottom: 83px;

	&__container {}

	&__title {
		margin-bottom: 35px;
		font-family: "Savoye LET";
		font-style: normal;
		font-weight: normal;
		font-size: 58px;
		line-height: 1.02;
		text-align: center;
		letter-spacing: -0.03em;
		color: $dark;
	}

	&__desc {
		max-width: 1014px;
		margin: 0 auto;
		font-size: 17px;
		line-height: 1.94;
		text-align: center;
		color: $dark;
	}
}