.subscribe {
    border: 1px solid #DEE6E9;
    border-left-width: 0;
    border-right-width: 0;
    padding: 15px 0;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__name {
        font-size: 28px;
        line-height: 2.11;
        letter-spacing: -0.03em;
        color: #53565A;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__icon {
        margin-right: 20px;
    }
    &__link {
        font-weight: 500;
        font-size: 13px;
        text-transform: uppercase;
        color: #25378D;
        border: 1px solid #25378D;
        box-sizing: border-box;
        border-radius: 200px;
        min-width: 220px;
        min-height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        &:hover {
            opacity: 0.7;
            color: #25378D;
        }
    }
}

.js-share{
	cursor: pointer;
}

.tippy-box[data-theme="custom-share"] {

	/* PopUp_shadow */

	box-shadow: 0px 2px 6px rgba(43, 47, 78, 0.25);
	border-radius: 5px;
	.tippy-content {
		background: #FFFFFF;;
		border-radius: 5px;
		padding: 0;
	}

	.tippy-arrow {}
	&>.tippy-arrow:before {
		margin-top: 4px;

		border-width: 0 8px 8px;
		border-bottom-color: initial;
		transform-origin: center;
		border: none;
		//position: absolute;
		left: 50%;
		top: 0;
		width: 18px;
		height: 18px;

		background: #FFFFFF;
		/* PopUp_shadow */	transform: translate(-50%, -50%) rotate(45deg);

		box-shadow: 0px 2px 6px rgba(43, 47, 78, 0.25);
	}
}

.share-tip__inner {    padding: 15px 21px 22px;}

.share-tip__title {
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 26px;
	/* identical to box height, or 153% */

	text-align: center;

	color: #3E434D;}

.share-tip__links {
	margin-top: 1px;
	display: flex;
	justify-content: center;
	margin-left: -9px;
}

.share-tip__link {
	width: 36px;
	height: 36px;
	background: #6974A9;
	border-radius: 500px;
	margin-left: 9px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: .2s;
	&--fb {}

	&:hover {
		background: #25378D;}

	&:active {
		background: #29356E;
	}

	&:focus {}

	svg {
		path {}
	}
}

.share-tip__link {
	&--vk {}

	&:hover {}

	&:active {}

	&:focus {}

	svg {
		path {}
	}
}
