.subscribe {
	position: sticky;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100%;
	padding: 12px 0 16px;
	border: 1px solid #DEE6E9;
	border-right-width: 0;
	border-left-width: 0;
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__name {
		margin-left: -3px;
		letter-spacing: -0.03em;
		color: #53565A;
		font-size: 22px;
		line-height: 1;
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__icon {
		margin-right: 22px;
		width: 21px;
		height: auto;
		display: block;
		margin-top: -1px;
	}

	&__link {
		margin-top: -2px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		min-width: 131px;
		min-height: 27px;
		padding: 2px 20px;
		transition: all .4s ease;
		color: #25378D;
		border: 1px solid #25378D;
		border-radius: 200px;
		font-family: 'Montserrat';
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		line-height: 1;

		&:hover {
			color: #AFB4BF;
			border-color: #AFB4BF;
		}
	}
}

.js-share {
	cursor: pointer;
}

.tippy-box[data-theme="custom-share"] {
	border-radius: 5px;
	/* PopUp_shadow */
	box-shadow: 0px 2px 6px rgba(43, 47, 78, 0.25);

	.tippy-content {
		padding: 0;
		border-radius: 5px;
		background: #FFFFFF;
		;
	}

	.tippy-arrow {}

	&>.tippy-arrow:before {
		top: 0;
		//position: absolute;
		left: 50%;
		width: 18px;
		height: 18px;
		margin-top: 4px;
		/* PopUp_shadow */
		transform: translate(-50%, -50%) rotate(45deg);
		transform-origin: center;
		border: none;
		border-width: 0 8px 8px;
		border-bottom-color: initial;
		background: #FFFFFF;
		box-shadow: 0px 2px 6px rgba(43, 47, 78, 0.25);
	}
}

.share-tip__inner {
	padding: 15px 21px 22px;
}

.share-tip__title {
	/* identical to box height, or 153% */
	text-align: center;
	color: #3E434D;
	font-size: 17px;
	font-weight: normal;
	font-style: normal;
	line-height: 26px;
}

.share-tip__links {
	display: flex;
	justify-content: center;
	margin-top: 1px;
	margin-left: -9px;
}

.share-tip__link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	margin-left: 9px;
	cursor: pointer;
	transition-duration: .2s;
	border: 1px solid #6974A9;
	border-radius: 500px;

	&--fb {}

	&--vk {}

	&--tg {
		svg {
			margin-left: -1px;
		}
	}

	&--wp {
		svg {
			margin-top: -2px;
		}
	}

	&:hover {}

	&:active {}

	&:focus {}

	svg {
		path {}
	}
}

.share-tip__link {
	&--vk {}

	&:hover {}

	&:active {}

	&:focus {}

	svg {
		path {}
	}
}