
@media screen and (max-width: 1150px) {
	.subscribe {
		padding: 0;

		&__container {
			width: 100%;
		}

		&__name {
			font-size: 24px;
			line-height: 2.46;
		}

		&__icon {
			display: none;
		}

		&__link {
			font-weight: 400;
			font-size: 15px;
			text-transform: none;
			color: #25378D;
			border: none;
			box-sizing: border-box;
			min-width: auto;
			min-height: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 20px 0;
		}
	}
}

@media screen and (max-width: 749px) {//767 было
    .subscribe {
        padding: 0;
        &__container {
            width: 100%;
        }
        &__name {
            font-size: vw(19);
            line-height: 2.46;
        }
        &__icon {
            display: none;
        }
        &__link {
            font-weight: 400;
            font-size: vw(14);
            text-transform: none;
            color: #25378D;
            border: none;
            box-sizing: border-box;
            min-width: auto;
            min-height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: vw(18) 0;
        }
    }
}