.subscribe {
    border: 1px solid #DEE6E9;
    border-left-width: 0;
    border-right-width: 0;
    padding: 15px 0;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__name {
        font-size: 28px;
        line-height: 2.11;
        letter-spacing: -0.03em;
        color: #53565A;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__icon {
        margin-right: 20px;
    }
    &__link {
        font-weight: 500;
        font-size: 13px;
        text-transform: uppercase;
        color: #25378D;
        border: 1px solid #25378D;
        box-sizing: border-box;
        border-radius: 200px;
        min-width: 220px;
        min-height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        &:hover {
            opacity: 0.7;
            color: #25378D;
        }
    }
}

