section.ks-videos.ks-videos--has-not-title
	.container.container--ks
		.ks-videos-row
			.ks-videos-item
				a.ks-videos-item__video(href="img/DEE6E9.png" data-fancybox="videos")
					img.ks-videos-item__preview(src="img/DEE6E9.png", alt="")
				.ks-videos-item__name Мастер Имрам в жизни, духовной практике и музыке
			.ks-videos-item
				a.ks-videos-item__video(href="img/DEE6E9.png" data-fancybox="videos")
					img.ks-videos-item__preview(src="img/DEE6E9.png", alt="")
				.ks-videos-item__name Самадхи – Абсолютное Самоосознание
