section.ksquote.ksquote--first-books
	//маленький шрифт на планшете
	.container.container--ksquote-wide
		//широкий контейнер
		.ksquote-content
			h2.ksquote-content__title По истине Крийя есть величайший способ<br class="dd dt"> приближения к Бесконечному...
			.ksquote-content-description
				.ksquote-content-description__desk Имрам - Мастер Крийя, передает знания Крийя йоги, даруя личный <br class="dt"> Опыт «прозрения», йог-сиддх (санскр. सिद्धिः, <br class="dd"> siddhi: «полностью <br class="dt">  завершенные, освобожденные при жизни»), Мистик, <br class="dt">  меняющий реальность, а также<br class="dd">  композитор,  <br class="dt"> музыкант, мультиинструменталист.
				.ksquote-content-description__mob Имрам - Мастер Крийя, передает знания Крийя йоги, даруя личный Опыт «прозрения», йог-сиддх (санскр. सिद्धिः, siddhi: «полностью завершенные, освобожденные при жизни»), Мистик, меняющий реальность, а также  композитор, музыкант, мультиинструменталист.