.container.container--ks.get-materials-hr-before
	.hr

.get-materials.get-materials--has-title-big
	.container.container--ks
		h2.get-materials-title-big Еженедельная <span>онлайн-медитация</span>
		h2.get-materials-subtitle Каждую субботу в 10:00 МСК
		.get-materials-calnedar.kspc-event-calendar
			a.kspc-event-calendar__item(href="" target="_blank")
				|  <svg class="kspc-event-calendar__item-pic" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5.33331" width="1.33333" height="12" rx="0.666667" fill="#25378D"/><rect y="6.6665" width="1.33333" height="12" rx="0.666666" transform="rotate(-90 0 6.6665)" fill="#25378D"/></svg>
				span.kspc-event-calendar__item-name Google Календарь

			a.kspc-event-calendar__item(href="" target="_blank")
				|  <svg class="kspc-event-calendar__item-pic" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5.33331" width="1.33333" height="12" rx="0.666667" fill="#25378D"/><rect y="6.6665" width="1.33333" height="12" rx="0.666666" transform="rotate(-90 0 6.6665)" fill="#25378D"/></svg>
				span.kspc-event-calendar__item-name Apple Календарь

		.get-materials-row
			.get-materials-row__left
				input.music-form-input.music-form-input--email.js-need-validate(type="text" maxlength="60" placeholder="Введите ваш Email" name="formParams[email]" value="" data-validate-type="email")
			.get-materials-row__right
				button.btn.btn--music-form.btn--get-materials(type="submit") Отправить

.container.container--ks.get-materials-hr-after
	.hr

