.container.container--ks.get-materials-hr-before
	.hr

.get-materials.get-materials--has-title-small
	.container.container--ks
		h2.get-materials-title-small Получите доступ к 4 медитациям Крийя с Мастером Имрамом
		.get-materials-row
			.get-materials-row__left
				input.music-form-input.music-form-input--email.js-need-validate(type="text" maxlength="60" placeholder="Введите ваш Email" name="formParams[email]" value="" data-validate-type="email")
			.get-materials-row__right
				button.btn.btn--music-form.btn--get-materials(type="submit") Отправить

.container.container--ks.get-materials-hr-after
	.hr

