section.ksquote.ksquote--after-tabs--hl
	.container.container--ksquote-wide
		.ksquote-content
			h2.ksquote-content__title Медитация для всех
			.ksquote-content-description
				.ksquote-content-description__desk Ваша подготовка - не важна. Методика Крийя доступна с первых дней практикования как для начинающих,<br class="dd"> не имеющих опыта, так и достаточно продвинутых практиков.