#tabTop
section.slicky-top.page-tabs-section#js-header-2
	.page-tabs-section__container
		.page-tabs
			.page-tabs__inner
				.page-tabs__item.page-tabs__item--active.active Уроки для дома
				.page-tabs__item Крийя-Нидра курс
				.page-tabs__item Базовый курс медитации
				.page-tabs__item Семинар Крийя

				.page-tabs__line


.page--tabs-blocks
	.page--tabs-blocks__tab.page--tabs-blocks__tab--active

		include ../../components/home-lessons/ksquote
		.container.container--ks-only-tab
			.hr

		.kspc-numbered-list.kspc-numbered-list--type-home-lessons
			.container.container--ks
				.kspc-nl
					h2.kspc-nl__title.kspc-h2-style Правильное положение тела

					ol.kspc-nl__list
						li.kspc-nl__item Перед началом медитации рекомендуется одеть свободную одежду светлых тонов. Ваша одежда должна была комфортной, свободной и не отвлекать во время практики.
						li.kspc-nl__item.component-hide-block-wrap
							.component-hide-block.component-hide-block--show-6-mob.component-hide-block--type-kspc-nl
								p Сядьте в любое удобное положение со скрещенными ногам. Это может быть поза по-турецки, полу-лотос, лотос и т.д. Если вам трудно сидеть со скрещенными ногами, вы можете сесть на стул, пуфик или мягкую подушку Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quis voluptate accusantium, vel, quasi provident nobis itaque ducimus quam perspiciatis ratione sequi sint corporis repellendus quas, beatae accusamus doloribus sit laudantium. Distinctio tempore animi reiciendis!
								p Сядьте в любое удобное положение со скрещенными ногам. Это может быть поза по-турецки, полу-лотос, лотос и т.д. Если вам трудно сидеть со скрещенными ногами, вы можете сесть на стул, пуфик или мягкую подушку Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quis voluptate accusantium, vel, quasi provident nobis itaque ducimus quam perspiciatis ratione sequi sint corporis repellendus quas, beatae accusamus doloribus sit laudantium. Distinctio tempore animi reiciendis!
								div.kspc-twpah-unwrap.js-component-hide-unwrap
									span.kspc-twpah-unwrap__dots ...
									span.kspc-twpah-unwrap__text  Развернуть



		.kspc-simple-text.kspc-simple-text--has-title.kspc-simple-text--has-small-title
			.container.container--ks
				.kspc-simple-text__small-title Первая неделя
				.kspc-simple-text__h2 Медитация для начинающих
				.kspc-simple-text__p
					p Рекомендуем практиковать 15 минутную медитацию Крийя два раза в день, утром и вечером в течении 7 дней. Если вы устаете, откройте глаза, отдохните и продолжайте практику.


		.kspc-media-wrap.kspc-media-wrap--has-label
			.container.container--ks
				a.kspc-media.kspc-media--video(href="https://www.youtube.com/embed/tf3wfU6QeG8" data-fancybox)
					img.kspc-media-preview(src="img/0000FF.png", alt="")
				.kspc-media-text Медитация для начинающих – 15 минут



		.kspc-simple-text
			.container.container--ks
				.kspc-simple-text__p.custom-ul.custom-ul--grey-dots.custom-ul--no-p-l
					ul
						li После окончания медитации, примите горизонтальное положение (поза шавасана), закройте глаза, полностью расслабьтесь и продолжайте наблюдать за ощущениями в теле.  В течение этого времени, постарайтесь максимально расслабить все части тела, не двигайтесь.
						li Через 5-10 минут откройте глаза, не совершайте резких движений, медленно вставайте.
						li Поздравляем, ваша первая медитация Крийя завершена!


		.kspc-simple-text.kspc-simple-text--has-title.kspc-simple-text--has-small-title
			.container.container--ks
				.kspc-simple-text__small-title Вторая неделя
				.kspc-simple-text__h2 Медитация Крийя
				.kspc-simple-text__p.custom-ul.custom-ul--grey-dots.custom-ul--no-p-l
					p После того, как вы освоите 15 минутную медитацию, переходите к более длительной 40 минутной медитации Крийя с Мастером Имрамом. Практикуйте 2 раза в день в любое удобное время.
					ul
						li Утро – 40 минутная медитация Крийя
						li Вечер – 15 минутная медитация

		.kspc-media-wrap.kspc-media-wrap--has-label
			.container.container--ks
				a.kspc-media.kspc-media--video(href="https://www.youtube.com/embed/tf3wfU6QeG8" data-fancybox)
					img.kspc-media-preview(src="img/0000FF.png", alt="")
				.kspc-media-text Медитация Крийя – 40 минут



		.kspc-simple-text
			.container.container--ks
				.kspc-simple-text__p.custom-ul.custom-ul--grey-dots.custom-ul--no-p-l
					ul
						li После окончания медитации, примите горизонтальное положение (поза шавасана), закройте глаза, полностью расслабьтесь и продолжайте наблюдать за ощущениями в теле.  Сохраняйте полное расслабление, не двигайтесь.
						li Через 5-10 минут откройте глаза, не совершайте резких движений, медленно вставайте.
						li Ваша медитация окончена!



		.kspc-simple-text.kspc-simple-text--has-title.kspc-simple-text--has-small-title
			.container.container--ks
				.kspc-simple-text__small-title ТРЕТЯЯ неделя
				.kspc-simple-text__h2 Углубленная медитация Крийя
				.kspc-simple-text__p.custom-ul.custom-ul--grey-dots.custom-ul--no-p-l
					p Если вы чувствуете, что способны практиковать более 40 минут, при этом, не испытываете утомления, вы можете сразу переходить к углубленной медитации Крийя. Практикуйте углубленную медитацию Крийя 1-2 раза в день в любое удобное время.

					ul
						li Утро – 80 минутная углубленная медитация Крийя
						li Вечер – 40 минутная медитация



		.kspc-media-wrap.kspc-media-wrap--has-label
			.container.container--ks
				a.kspc-media.kspc-media--video(href="https://www.youtube.com/embed/tf3wfU6QeG8" data-fancybox)
					img.kspc-media-preview(src="img/0000FF.png", alt="")
				.kspc-media-text Углубленная медитация Крийя – 80 минут


		.kspc-simple-text
			.container.container--ks
				.kspc-simple-text__p.custom-ul.custom-ul--grey-dots.custom-ul--no-p-l

					ul
						li После окончания медитации, не выходите из состояния, примите горизонтальное положение (поза шавасана), закройте глаза, полностью расслабьтесь и
							i  продолжайте наблюдать за ощущениями в теле, отслеживайте все изменения, наблюдайте, при этом, не анализируйте, полное отсутствие мыслей.
							|  Максимальное расслабление всего тела, не двигайтесь.
						li Через 5-10 минут откройте глаза, не совершайте резких движений, медленно вставайте.
						li Ваша практика завершена!

					p Все последующие недели вы можете комбинировать представленные выше медитации Крийя, и очень важно сохранять регулярность практики в течении 21 дня.


		include ../../components/home-lessons/get-materials.pug


		.kspc-simple-text.kspc-simple-text--has-title
			.container.container--ks
				.kspc-simple-text__h2 Как приучить себя медитировать регулярно?
				.kspc-simple-text__p.custom-ul.custom-ul--grey-dots.custom-ul--no-p-l
					p Вы должны выразить намерение и сказать себе: «в течении 21 дня я буду утром и вечером практиковать…».  Требуется 21 день, чтобы человек вошел в ритм практики, с этого момента ваша воля станет более проявленной, и вы спокойно сможете двигаться дальше.

		.kspc-simple-text.kspc-simple-text--has-title
			.container.container--ks
				.kspc-simple-text__h2 Намерение по достижению цели

				.kspc-simple-text__p.custom-ul.custom-ul--grey-dots.custom-ul--no-p-l
					p Если у вас есть сложности с внешним миром, социальной жизнью, вы хотите практиковать, но у вас не получается. Это говорит о том, что внутри вы не приняли решение, вы по-настоящему не выразили намерение.




		.kspc-text-with-pic-and-hide
			.container.container--ks
				.kspc-twpah.kspc-twpah--pic-right.kspc-twpah--non-hide
					.kspc-twpah__pic
						img(src="img/DEE6E9.png", alt="")
					//.kspc-twpah__delimiter
					.kspc-twpah__text
						p Наша задача решительно заявить в пространство, внутри себя, что с этого момента вы встали на путь духовной трансформации и ваша цель, высочайшая цель – самореализация, познание Себя… и вся ваша жизнь будет подстраиваться под достижение этой цели.

						p Все что вам необходимо для реализации этой цели будет дано самой вселенной, можете не сомневаться, необходимое количество знаний, возможностей, средств, только ваша устремленность, больше ничего не нужно.
					.clearfix


		.kspc-media-wrap.kspc-media-wrap--has-title
			.container.container--ks
				h2.kspc-media-title.kspc-h2-style Что происходит через 21 практики Крийя
				a.kspc-media.kspc-media--video(href="https://www.youtube.com/embed/tf3wfU6QeG8" data-fancybox)
					img.kspc-media-preview(src="img/0000FF.png", alt="")



		.kspc-simple-text.kspc-simple-text--has-title
			.container.container--ks
				.kspc-simple-text__h2 Семинар Крийя – почему это важно
				.kspc-simple-text__p
					p Семинар – это достаточно социальное название. В реальности, Семинар Крийя – это посвящение в Науку Крийя йоги.
					p Когда вы посещаете 2-дневный Семинар Крийя, вы получаете знания и пищу для ума. Но самым главным является то, что человек получает <b>истинные знания от сердца к сердцу, от Мастера к ученику.</b>


		.kspc-quote-right
			.container.container--ks
				.kspc-quote-right__text Метод прямой передачи знаний…


		.kspc-simple-text
			.container.container--ks
				.kspc-simple-text__p
					p Мастер, обладающий истинным знанием, личным опытом Единства, способен передать знание на прямую. И эти знания потом распаковываются. Независимо от того, на каком уровне сознания находится человек, если он пришел на Семинар, Мастер способен вдохновить его, пробудить в нем качества и зажечь
					p Зажечь в направлении духовного развития, творчества, «Всегда новой радости» … В какой-то степени, это воскрешение Души или пробуждения ее ото сна. От сна невежества или от того, что называется человек забылся. Все это происходит на Семинаре. См. Семинар Крийя


		.simple-hr.simple-hr--only-desktop.container.container--ks
			.hr

		.kspc-simple-text.kspc-simple-text--has-title
			.container.container--ks
				.kspc-simple-text__h2 Онлайн-обучение
				.kspc-simple-text__p
					p Если вы еще не посещали Семинар Крийя, проживаете в другой стране и не можете приехать, для начала рекомендуем пройти онлайн-обучение на нашей образовательной платформе Имрам Крийя.


		.kspc-media-wrap
			.container.container--ks
				a.kspc-media(href="https://www.youtube.com/embed/tf3wfU6QeG8" data-fancybox)
					img.kspc-media-preview(src="img/0000FF.png", alt="")


		.kspc-simple-text
			.container.container--ks
				.kspc-simple-text__p
					p В настоящее время для вас доступны два онлайн-курса, которые позволят вам глубже понять, как устроена наука Крийя, вы освоите техники глубокой релаксации, научитесь энергизировать и магнетизировать ваше тело, сможете погрузиться в более глубокое медитативное состояние, в итоге, у вас появится стройная система для практикования в домашних условиях.
					p И это очень хорошая возможность подготовиться к Семинару Крийя.

		.kspc-simple-text.kspc-simple-text--has-title
			.container.container--ks
				.kspc-simple-text__h2 Базовый Курс медитации Крийя
				.kspc-simple-text__p
					p
						b Базовый курс медитации состоит из 3 занятий по 2 часа + вебинар с ответами на вопросы


		.kspc-text-with-pic-and-hide
			.container.container--ks
				.kspc-twpah.kspc-twpah--pic-left.kspc-twpah--non-hide
					.kspc-twpah__pic
						img(src="img/DEE6E9.png", alt="")
					//.kspc-twpah__delimiter
					.kspc-twpah__text
						p НДанный курс является самостоятельной системой практик, построен таким образом, чтобы вы смогли практиковать в домашних условиях в течении многих месяцев, лет или до посвящения в 6 ступеней Крийя на Семинаре Мастера Имрама.

						p После прохождения курса у вас появится система практик и рекомендаций Мастера для ускоренной эволюции и дальнейшего самостоятельного продвижения в течение многих лет.
					.clearfix


		.kspc-simple-text.kspc-simple-text--has-title
			.container.container--ks
				.kspc-simple-text__h2 Крийя-нидра Курс
				.kspc-simple-text__p
					p
						b Крийя-Нидра - техника глубокого расслабления и погружения внутрь себя


		.kspc-text-with-pic-and-hide
			.container.container--ks
				.kspc-twpah.kspc-twpah--pic-right.kspc-twpah--non-hide.kspc-twpah--small-dist
					.kspc-twpah__pic
						img(src="img/DEE6E9.png", alt="")
					//.kspc-twpah__delimiter
					.kspc-twpah__text.custom-ul.custom-ul--grey-dots.custom-ul--no-p-l
						p "Крийя-нидра – это осознанное погружение внутрь себя, в глубочайшее состояние.

						ul
							li Базовая система погружения и расслабления;
							li Техники магнетизации тела и глубокого погружения;
							li Продвинутая работа с энергоцентрами и каналом Сушумна, техника пробуждения Всевидящего Ока
							li Система самоисцеления и оздоровления собственными гормонами и транквилизаторами.
					.clearfix



		include ../../components/home-lessons/get-materials-2.pug

		include ../../components/music/ks-post-tags-and-share



	.page--tabs-blocks__tab
		.kspc-simple-text
			.container.container--ks
				.kspc-simple-text__h2 Что такое медитация? 4
				.kspc-simple-text__p
					p Медитация – это состояние за пределами ума, личности, эго. Это состояние, которое позволяет нам на первых порах познакомиться с самим собой, подружиться и выйти в более высокие сферы себя, самоосознания.
					p Медитация – это состояние, когда вы находитесь очень близко ко Творцу, к Высшему. Но между вами и тем Высшим Я, к которому вы стремитесь существует дистанция.
					p В качестве примера можно привести аналогию с костром. Медитация – это когда вы сидите у костра, но близко к нему подойти не можете, потому что еще не готовы. Вы наслаждаетесь теплом и любовью этого божественного излучения, вам тепло, хорошо и комфортно, вы близко к этому, и имеете возможность наслаждения.


		.kspc-simple-text
			.container.container--ks
				.kspc-simple-text__h2 Что такое медитация? 4
				.kspc-simple-text__p
					p Медитация – это состояние за пределами ума, личности, эго. Это состояние, которое позволяет нам на первых порах познакомиться с самим собой, подружиться и выйти в более высокие сферы себя, самоосознания.
					p Медитация – это состояние, когда вы находитесь очень близко ко Творцу, к Высшему. Но между вами и тем Высшим Я, к которому вы стремитесь существует дистанция.
					p В качестве примера можно привести аналогию с костром. Медитация – это когда вы сидите у костра, но близко к нему подойти не можете, потому что еще не готовы. Вы наслаждаетесь теплом и любовью этого божественного излучения, вам тепло, хорошо и комфортно, вы близко к этому, и имеете возможность наслаждения.


		.kspc-simple-text
			.container.container--ks
				.kspc-simple-text__h2 Что такое медитация? 4
				.kspc-simple-text__p
					p Медитация – это состояние за пределами ума, личности, эго. Это состояние, которое позволяет нам на первых порах познакомиться с самим собой, подружиться и выйти в более высокие сферы себя, самоосознания.
					p Медитация – это состояние, когда вы находитесь очень близко ко Творцу, к Высшему. Но между вами и тем Высшим Я, к которому вы стремитесь существует дистанция.
					p В качестве примера можно привести аналогию с костром. Медитация – это когда вы сидите у костра, но близко к нему подойти не можете, потому что еще не готовы. Вы наслаждаетесь теплом и любовью этого божественного излучения, вам тепло, хорошо и комфортно, вы близко к этому, и имеете возможность наслаждения.



	.page--tabs-blocks__tab
		.kspc-simple-text
			.container.container--ks
				.kspc-simple-text__h2 Что такое медитация? 4
				.kspc-simple-text__p
					p Медитация – это состояние за пределами ума, личности, эго. Это состояние, которое позволяет нам на первых порах познакомиться с самим собой, подружиться и выйти в более высокие сферы себя, самоосознания.
					p Медитация – это состояние, когда вы находитесь очень близко ко Творцу, к Высшему. Но между вами и тем Высшим Я, к которому вы стремитесь существует дистанция.
					p В качестве примера можно привести аналогию с костром. Медитация – это когда вы сидите у костра, но близко к нему подойти не можете, потому что еще не готовы. Вы наслаждаетесь теплом и любовью этого божественного излучения, вам тепло, хорошо и комфортно, вы близко к этому, и имеете возможность наслаждения.


		.kspc-simple-text
			.container.container--ks
				.kspc-simple-text__h2 Что такое медитация? 4
				.kspc-simple-text__p
					p Медитация – это состояние за пределами ума, личности, эго. Это состояние, которое позволяет нам на первых порах познакомиться с самим собой, подружиться и выйти в более высокие сферы себя, самоосознания.
					p Медитация – это состояние, когда вы находитесь очень близко ко Творцу, к Высшему. Но между вами и тем Высшим Я, к которому вы стремитесь существует дистанция.
					p В качестве примера можно привести аналогию с костром. Медитация – это когда вы сидите у костра, но близко к нему подойти не можете, потому что еще не готовы. Вы наслаждаетесь теплом и любовью этого божественного излучения, вам тепло, хорошо и комфортно, вы близко к этому, и имеете возможность наслаждения.


		.kspc-simple-text
			.container.container--ks
				.kspc-simple-text__h2 Что такое медитация? 4
				.kspc-simple-text__p
					p Медитация – это состояние за пределами ума, личности, эго. Это состояние, которое позволяет нам на первых порах познакомиться с самим собой, подружиться и выйти в более высокие сферы себя, самоосознания.
					p Медитация – это состояние, когда вы находитесь очень близко ко Творцу, к Высшему. Но между вами и тем Высшим Я, к которому вы стремитесь существует дистанция.
					p В качестве примера можно привести аналогию с костром. Медитация – это когда вы сидите у костра, но близко к нему подойти не можете, потому что еще не готовы. Вы наслаждаетесь теплом и любовью этого божественного излучения, вам тепло, хорошо и комфортно, вы близко к этому, и имеете возможность наслаждения.


	.page--tabs-blocks__tab
		.kspc-simple-text
			.container.container--ks
				.kspc-simple-text__h2 Что такое медитация? 4
				.kspc-simple-text__p
					p Медитация – это состояние за пределами ума, личности, эго. Это состояние, которое позволяет нам на первых порах познакомиться с самим собой, подружиться и выйти в более высокие сферы себя, самоосознания.
					p Медитация – это состояние, когда вы находитесь очень близко ко Творцу, к Высшему. Но между вами и тем Высшим Я, к которому вы стремитесь существует дистанция.
					p В качестве примера можно привести аналогию с костром. Медитация – это когда вы сидите у костра, но близко к нему подойти не можете, потому что еще не готовы. Вы наслаждаетесь теплом и любовью этого божественного излучения, вам тепло, хорошо и комфортно, вы близко к этому, и имеете возможность наслаждения.


		.kspc-simple-text
			.container.container--ks
				.kspc-simple-text__h2 Что такое медитация? 4
				.kspc-simple-text__p
					p Медитация – это состояние за пределами ума, личности, эго. Это состояние, которое позволяет нам на первых порах познакомиться с самим собой, подружиться и выйти в более высокие сферы себя, самоосознания.
					p Медитация – это состояние, когда вы находитесь очень близко ко Творцу, к Высшему. Но между вами и тем Высшим Я, к которому вы стремитесь существует дистанция.
					p В качестве примера можно привести аналогию с костром. Медитация – это когда вы сидите у костра, но близко к нему подойти не можете, потому что еще не готовы. Вы наслаждаетесь теплом и любовью этого божественного излучения, вам тепло, хорошо и комфортно, вы близко к этому, и имеете возможность наслаждения.


		.kspc-simple-text
			.container.container--ks
				.kspc-simple-text__h2 Что такое медитация? 4
				.kspc-simple-text__p
					p Медитация – это состояние за пределами ума, личности, эго. Это состояние, которое позволяет нам на первых порах познакомиться с самим собой, подружиться и выйти в более высокие сферы себя, самоосознания.
					p Медитация – это состояние, когда вы находитесь очень близко ко Творцу, к Высшему. Но между вами и тем Высшим Я, к которому вы стремитесь существует дистанция.
					p В качестве примера можно привести аналогию с костром. Медитация – это когда вы сидите у костра, но близко к нему подойти не можете, потому что еще не готовы. Вы наслаждаетесь теплом и любовью этого божественного излучения, вам тепло, хорошо и комфортно, вы близко к этому, и имеете возможность наслаждения.






