.kspc-numbered-list{
  margin-top: 67px;

  @media screen and (max-width: 1150px){
    margin-top: 79px;
  }

  @media screen and (max-width: 749px){
    padding-top: vw(79);
  }
}
.kspc-nl{
  &__list{
    list-style: none;
    padding: 0;
    counter-reset: list-counter;
    &:not(:first-child) {
      margin-top: 31px;
      @media screen and (max-width: 1150px){
        margin-top: 41px;
      }
      @media screen and (max-width: 749px){
        margin-top: vw(42);
      }
    }
  }
  &__item{
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    color: #5A5E64;
    counter-increment: list-counter;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1150px) {
      font-size: 15px;
      line-height: 24px;
    }
    @media screen and (max-width: 749px){
      font-size: vw(15);
      line-height: vw(24);
      align-items: flex-start;
      >div{
        align-self: center;
      }
    }
    & + .kspc-nl__item{
      margin-top: 18px;
      @media screen and (max-width: 1150px) {
        margin-top: 44px;
      }
      @media screen and (max-width: 749px){
        margin-top: vw(40);
      }
    }

    &::before {
      content: counter(list-counter);
      font-size: 17px;
      line-height: 1;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      color: #AFB4BF;
      width: 36px;
      height: 36px;
      box-sizing: border-box;
      border: 1px solid #AFB4BF;
      border-radius: 50px;
      flex-shrink: 0;
      margin-right: 20px;
      @media screen and (max-width: 749px){
        width: vw(22);
        height: vw(22);
        margin-right: vw(14);
        font-size: vw(15);
        line-height: 30px;
        margin-top: vw(6);
        margin-bottom: vw(6);
      }
    }
  }
}

.kspc-slider-block + .kspc-numbered-list{
  margin-top: 77px;
  .kspc-nl__item{
    min-height: 55px;
    @media screen and (max-width: 749px){
      min-height: vw(34);
    }
  }
}

.kspc-numbered-list + .kspc-simple-text {
  margin-top: 41px;
}