.page-tabs{
  overflow: auto;
  width: 100%;
  margin-top: 33px;
  &__inner{
    display: flex;
    justify-content: center;
  }
  &__item{
    white-space: nowrap;
    padding: 16px 36px;
    font-size: 17px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #53565A;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: color 0.4s;

    &::after{
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: #6974A9;
      border-radius: 5px;
      transition: opacity 0.4s;
      opacity: 0;
      position: absolute;
      left: 0;
      bottom: 0;
    }
    &:hover{
      &::after{
        opacity: 0.5;
      }
    }
    &--active{
      color: #25378D;
      &::after{
        opacity: 1 !important;
      }
    }
  }
}

.page--tabs-blocks{
  &__tab{
    display: none;
    &--active{
      display: block;
    }
  }
}