.article-template {
	/*
		Элементы article-template
	*/

	// Основной контейнер
	&__main {
		padding-bottom: 93px;

		@include media(1150) {
			padding-bottom: 36px;
		}

		@include media(749) {
			padding-bottom: 0;
		}
	}

	// Контейнер
	&__container {
		@include media(1150) {
			/*	width: 100%;
			max-width: calc(100% - 34px * 2);*/
		}

		@include media(749) {
			max-width: calc(100% - #{vw(14)} * 2);
		}
	}

	// Текстовые блоки




	// Блок tags-and-share
	&__tags-and-share {
		padding-top: 49px;
		padding-bottom: 58px;
		border-bottom: 1px solid #dee6e9;
		margin-top: 0;
	}

	// Хлебные крошки
	.crumbs {
		display: flex;
		align-items: center;
		list-style-type: none;
		padding: 16px 0 41px;
		font-size: 13px;
		line-height: 17px;
		letter-spacing: -0.03em;

		@include media(1150) {
			padding: 20px 0 42px;
		}

		@include media(749) {
			padding: vw(17) 0 vw(22);
			font-size: vw(13);
			line-height: vw(17);
		}

		&-item {
			&:not(:last-child) {
				&::after {
					content: ">";
					color: #afb4bf;
					margin: 0 8px;

					@include media(749) {
						margin: 0 vw(9);
					}
				}
			}

			&__link {
				text-decoration: none;
				color: #afb4bf;
				opacity: 1;
				transition: opacity linear 0.4s;

				@media screen and (min-width: 993px) {
					&:hover {
						opacity: 0.6;
						transition: opacity linear 0.4s;
					}
				}
			}
		}
	}

	// Основной контент
	.article {

		// Заголовчная секция
		&-heading {
			&__title {
				font-size: 45px;
				line-height: 56px;
				letter-spacing: -0.03em;

				@include media(1150) {
					margin-bottom: 7px;
					font-size: 39px;
					line-height: 49px;
				}

				@include media(749) {
					margin-bottom: vw(9);
					font-size: vw(39);
					line-height: vw(49);
				}
			}

			&__info {
				display: flex;
				align-items: center;
				font-size: 13px;
				line-height: 26px;

				@include media(1150) {
					line-height: 16px;
				}

				@include media(749) {
					font-size: vw(13);
					line-height: vw(16);
				}

				&-category {
					margin-right: 20px;
					color: #25378d;
					transition: color linear 0.3s;

					@include hov();

					@include media(749) {
						margin-right: vw(23);
					}
				}

				&-date {
					color: #afb4bf;
				}
			}
		}

		// Изображение на весь контейнер
		&-picture {
			position: relative;
			width: 100%;
			border-radius: 5px;

			&::before{
				content: "";
				display: block;
				width: 100%;
				padding-bottom: 61.758%;
				@include media(1150) {
				}
				@include media(749) {
				}
			}

			@include scalepic();

			&__item {
				@include relative_img();
			}
			&--mobile{
				&::before{
					@include media(749) {
						padding-bottom: 100%;
					}
				}
			}
		}

		// Фотография в середине статьи
		&-photo {
			&__text {
				margin-top: 12px;
				font-size: 13px;
				line-height: 13px;
				letter-spacing: -0.03em;
				color: #afb4bf;

				@include media(749) {
					margin-top: vw(13);
					font-size: vw(13);
					line-height: vw(13);
				}
			}

			&--has-label {
				&+.kspc-simple-text {
					margin-top: 72px;
					padding-right: 0;

					@include media(1150) {
						margin-top: 88px;
					}

					@include media(749) {
						margin-top: vw(84);
					}

				}
			}

			&+.kspc-simple-text {

				@include media(1150) {
				}

				@include media(749) {

				}
			}
			&+.kspc-simple-text--has-title {
				margin-top: 77px;

				@include media(1150) {
					margin-top: 86px;

				}

				@include media(749) {
					margin-top: vw(86);

				}
			}
		}

		// Обтекаемая фотграфия
		&-float {
			position: relative;
			float: right;
			margin-top: 9px;
			margin-left: 36px;
			margin-bottom: 41px;
			height: 429px;

			@include media(1150) {
				margin-top: 0;
				margin-left: 44px;
				height: 355px;
			}

			@include media(749) {
				margin-bottom: vw(48);
				height: vw(355);
			}

			&__image {
				float: none;
				margin: 0;
				width: 404px;
				height: 404px;

				@include media(1150) {
					width: 329px;
					height: 329px;
				}

				@include media(749) {
					width: vw(331);
					height: vw(331);
				}
			}

			&__text {
				position: absolute;
				bottom: 0;
				right: 0;
				font-size: 13px;
				line-height: 13px;
				text-align: right;
				letter-spacing: -0.03em;
				color: #afb4bf;

				@include media(749) {
					font-size: vw(13);
					line-height: vw(13);
					left: 0;
					right: auto;
				}
			}
		}

		.kspc-twpah__text {
			@include media(749) {
				//margin-top: vw(8);
				margin-top: 8.22222vw;
			}
		}

		// Элементы
		&__heading {
			margin-bottom: 27px;

			@include media(1150) {
				margin-bottom: 54px;
			}
		}

		&__picture {
			margin-bottom: 76.6px;

			@include media(1150) {
				margin-bottom: 82.6px;
			}

			@include media(749) {
				margin-bottom: vw(34.6);
			}
		}

		&__photo {
			margin-top: 24px;

			@include media(1150) {
				margin-top: 30px;
			}
		}
	}

	/*
		Стили для общих элементов на этой странице
		||  ||  ||  ||  ||  ||  ||  ||  ||  ||  ||
		\/  \/  \/  \/  \/  \/  \/  \/  \/  \/  \/
	*/

	// Плашка "подписаться"
	/*.subscribe {
		&__content {
			@include media(749) {
				padding: vw(17) 0;
			}
		}

		&__name {
			font-size: 28px;
			line-height: 59px;

			@include media(1150) {
				font-size: 24px;
				line-height: 59px;
			}

			@include media(749) {
				font-size: vw(19);
				line-height: vw(19);
			}
		}

		&__link {
			min-width: 220px;
			min-height: 44px;
			text-transform: uppercase;

			@include media(1150) {
				min-width: auto;
				min-height: auto;
				text-transform: none;
			}
		}
	}
*/
	// Блок с обтекаемой картиной внутри статьи

	.kspc-text-with-pic-and-hide--type-article {
		margin-top: 19px;

		@include media(1150) {
			margin-top: 23px;
		}
	}

	// Блок tags-and-share
	.kspc-tas-flex {
		justify-content: space-between;
	}

	.kspc-tas-share {
		@include media(749) {
			margin-top: vw(38);
		}
	}

	.kspc-tas-tags {
		@include media(1150) {
			justify-content: center;
		}

		@include media(749) {
			justify-content: flex-start;
		}
	}

	// Слайдер новых статей
	.new-article {
		padding-top: 44px;
		padding-bottom: 57px;
		border-bottom: 1px solid #dee6e9;

		@media screen and (min-width: 750px) and (max-width: 1150px) {
			margin: 0 -34px;
		}

		@include media(1150) {
			padding-top: 47px;
		}

		@include media(749) {
			padding-bottom: vw(51);
		}

		&--single{
			padding-top: 45px;
			padding-bottom: 58px;
			border-bottom: 1px solid #dee6e9;
			border-top: 1px solid #dee6e9;
			margin-top: 0px;
			@include media(1150) {
				padding-top: 45px;
				padding-bottom: 58px;
				margin-top: 35px;
			}

			@include media(749) {
				padding-top: vw(48);
				padding-bottom: vw(51);
				margin-top: vw(3);
			}
		}

		&__title {
			font-size: 35px;
			line-height: 59px;
			letter-spacing: -0.03em;

			@include media(1150) {
				font-size: 32px;
				line-height: 45px;
				letter-spacing: normal;
			}

			@include media(749) {
				font-size: vw(32);
				line-height: vw(45);
			}
		}

		&__theme-link,
		&__theme-date {
			@include media(1225) {
				font-size: 15px;
			}

			@include media(1150) {
				font-size: 15px;
			}

			@include media(749) {
				font-size: vw(15);
			}
		}

		&__card {
			&-img-wrapper {
				@include media(1150) {
					margin-bottom: 5px;
				}
			}

			&-title {
				@include media(1150) {
					margin-bottom: 2px;
					font-size: 15px;
				}

				@include media(749) {
					margin-bottom: vw(4);
					font-size: vw(15);
				}
			}
		}

		&__theme-wrapper {
			@include media(749) {
				margin-bottom: vw(11);
			}
		}

		&__slider {
			@include media(749) {
				margin-right: vw(-14);
			}
		}

		&__slider-card {
			@include media(1150) {
				width: 266px;
				margin-right: 23px;
			}

			@include media(749) {
				width: vw(266);
				margin-right: vw(23);
			}
		}

		.container {
			@include media(749) {
				margin: 0;
				max-width: none;
			}
		}

		.read-more {
			@include media(1150) {
				font-size: 13px;
				line-height: 16px;
			}

			@include media(749) {
				font-size: vw(13);
				line-height: vw(16);
			}
		}

		.article-master-container--tab-no-r {
			@include media(1150) {
				margin-top: -21px;
			}

			@include media(749) {
				margin-top: 0;
			}
		}

		.slick-track {
			@include media(1150) {
				transform: translate3d(-867px, 0px, 0px);
			}
		}

		.slick-dots {
			margin-top: 30px;
		}
	}

	// Слайдер категорий
	.section-category-slider {
		padding-top: 21px;

		@include media(1150) {
			padding-top: 17px;
		}

		@media screen and (min-width: 750px) and (max-width: 1150px) {
			margin: 0 -34px;
		}

		.category-slide {
			@include media(1150) {
				width: 154.51px;
				margin-right: 13.62px;
			}

			@include media(749) {
				width: vw(152.42);
			}
		}

		.category-slider__overflow {
			@include media(749) {
				margin-right: vw(-14);
			}
		}

		.slick-track {
			@include media(1150) {
				transform: translate3d(-168px, 0px, 0px);
			}
		}

		.slick-dots {
			display: none !important;
		}

		.container {
			@include media(749) {
				margin: 0;
				max-width: none;
			}
		}
	}

	.kspc-preloader {
		@media (min-width: 1151px) {
			padding-top: 66px;
		}
	}

	.kspc-preloader span {
		@include media(749) {
			margin: 0 vw(11);
			width: vw(9);
			height: vw(9);
		}
	}

	/*
		Сайдбар
	*/

	.part-wsidebar__sidebar {
		@include media(1150) {
			padding-top: 98px;
		}

		@include media(749) {
			padding-top: vw(94);
		}
	}

	// Блок "мастер"
	.custom-widget-title {
		font-size: 15px;
		padding-bottom: 18px;

		@include media(749) {
			font-size: vw(15);
		}
	}

	.wnevents-widget__item+.wnevents-widget__item {
		margin-top: 49px;

		@include media(1150) {
			margin-top: 54px;
		}

		@include media(749) {
			margin-top: vw(23);
		}
	}

	.master {
		padding-top: 0;

		&__title {
			font-weight: 500;
			font-size: 15px;
			line-height: 30px;

			@include media(749) {
				font-size: vw(15);
				line-height: vw(30);
			}
		}
	}

	.category {
		padding-top: 11px;
	}

	.insta-widget {
		@include media(1150) {
			padding-bottom: 95px;
		}

		@include media(749) {
			padding-bottom: vw(92);
		}
	}

	.csubscr-widget {
		&__title {
			@include media(1150) {
				margin-bottom: 17px;
				font-size: 15px;
			}

			@include media(749) {
				font-size: vw(17);
				margin-bottom: vw(15);
			}
		}
	}

	.wnevents-widget {
		@include media(1150) {
			justify-content: flex-end;
		}

		@include media(749) {
			margin: 0 auto;
			width: calc(100% - #{vw(16)} * 2);
		}

		&__title {
			@include media(749) {
				padding: vw(6) vw(20);
				font-size: vw(15);
			}
		}

		&__item {
			@include media(749) {
				margin-top: vw(52);
			}
		}
	}

	.slnewsw-slider {
		@include media(749) {
			margin-bottom: 0;
		}
	}

	.slnewsw-slider-item__name {
		@include media(1150) {
			font-size: 15px;
		}

		@include media(749) {
			font-size: vw(15);
		}
	}

	.slider-news-widget-wrap .slnewsw-slider .slick-dots {
		@include media(1150) {
			bottom: 9px;
		}

		@include media(749) {
			bottom: vw(3);
		}
	}

	.slider-news-widget-wrap .slider-news-widget {
		@include media(1150) {
			margin-bottom: 39px;
		}
	}

	.slider-news-widget-wrap {
		@include media(749) {
			padding-top: vw(80);
		}
	}

	.events-widget-wrap {
		@include media(1150) {
			margin-bottom: 7px;
			width: calc(50% - 18px);

			.newposts-widget {
				width: 100%;
				padding-top: 51px;

				@include media(749) {
					padding-top: vw(44);
				}
			}
		}

		@include media(749) {
			width: 100%;
			padding-bottom: 0;
		}
	}

	&__two-widgets {
		@include media(1150) {
			display: flex;
			justify-content: space-between;
		}

		@include media(749) {
			flex-direction: column-reverse;
			margin-bottom: vw(84);
		}
	}

	.article-master-container {
		@include media(749) {
			width: 100%;
		}
	}

	// Список новых статей в сайдбаре
	&__events-list {
		display: none;

		@include media(1150) {
			display: block;
		}
	}

	&__category-list {
		@include media(1150) {
			display: none;
		}
	}

	.container__article-template-music {
		max-width: none;
	}
}