.article-template {
  /*
    Элементы article-template
  */

  // Основной контейнер
  &__main {
    padding-bottom: 93px;
  }

  // Контейнер
  &__container {
    @include media(1150) {
      width: 100%;
      max-width: calc(100% - 34px * 2);
    }
    @include media(749) {
      max-width: calc(100% - #{vw(12)} * 2);
    }
  }

  // Текстовые блоки
  &__text {
    padding-right: 8px;

    &--p2 {
      margin-top: 72px;
      padding-right: 0;
    }
  }

  // Блок tags-and-share
  &__tags-and-share {
    padding-top: 49px;
    padding-bottom: 58px;
    border-bottom: 1px solid #dee6e9;
  }

  // Хлебные крошки
  .crumbs {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 16px 0 41px;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: -0.03em;

    @include media(620) {
      padding-bottom: 22px;
    }

    &-item {
      &:not(:last-child) {
        &::after {
          content: ">";
          color: #afb4bf;
          margin: 0 8px;
        }
      }

      &__link {
        text-decoration: none;
        color: #afb4bf;
        opacity: 1;
        transition: opacity linear 0.4s;

        @media screen and (min-width: 993px) {
          &:hover {
            opacity: 0.6;
            transition: opacity linear 0.4s;
          }
        }
      }
    }
  }

  // Основной контент
  .article {
    // Заголовчная секция
    &-heading {
      &__title {
        font-size: 45px;
        line-height: 56px;
        letter-spacing: -0.03em;

        @include media(1150) {
          font-size: 39px;
          line-height: 49px;
        }
      }

      &__info {
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 26px;

        @include media(1150) {
          line-height: 16px;
        }

        &-category {
          margin-right: 20px;
          color: #25378d;
          transition: color linear 0.3s;

          @include hov();
        }

        &-date {
          color: #afb4bf;
        }
      }
    }

    // Изображение на весь контейнер
    &-picture {
      position: relative;
      width: 100%;
      height: 520px;
      border-radius: 5px;

      @include scalepic();

      &__item {
        @include relative_img();
      }
    }

    // Фотография в середине статьи
    &-photo {
      &__text {
        margin-top: 12px;
        font-size: 13px;
        line-height: 13px;
        letter-spacing: -0.03em;
        color: #afb4bf;
      }
    }

    // Обтекаемая фотграфия
    &-float {
      position: relative;
      float: right;
      margin-top: 9px;
      margin-left: 37px;
      margin-bottom: 41px;
      height: 429px;

      &__image {
        float: none;
        margin: 0;
        width: 404px;
        height: 404px;
      }

      &__text {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 13px;
        line-height: 13px;
        text-align: right;
        letter-spacing: -0.03em;
        color: #afb4bf;
      }
    }

    // Элементы
    &__heading {
      margin-bottom: 27px;
    }

    &__picture {
      margin-bottom: 76.6px;
    }

    &__photo {
      margin-top: 24px;
    }
  }

  /*
    Стили для общих элементов на этой странице
    ||  ||  ||  ||  ||  ||  ||  ||  ||  ||  ||
    \/  \/  \/  \/  \/  \/  \/  \/  \/  \/  \/
  */

  // Плашка "подписаться"
  .subscribe {
    &__name {
      font-size: 28px;
      line-height: 59px;

      @include media(1150) {
        font-size: 24px;
        line-height: 59px;
      }

      @include media(620) {
        font-size: vw(19);
      }
    }

    &__link {
      min-width: 220px;
      min-height: 44px;
      text-transform: uppercase;

      @include media(1150) {
        min-width: auto;
        min-height: auto;
        text-transform: none;
      }
    }
  }

  // Блок с обтекаемой картиной внутри статьи

  .kspc-text-with-pic-and-hide {
    margin-top: 19px;
  }

  // Блок tags-and-share
  .kspc-tas-flex {
    justify-content: space-between;
  }

  // Слайдер новых статей
  .new-article {
    padding-top: 45px;
    padding-bottom: 55px;
    border-bottom: 1px solid #dee6e9;

    &__title {
      font-size: 45px;
      line-height: 59px;
      letter-spacing: -0.03em;
    }

    .slick-dots {
      margin-top: 30px;
    }
  }

  // Слайдер категорий
  .section-category-slider {
    padding-top: 19px;

    .slick-dots {
      display: none !important;
    }
  }

  /*
    Сайдбар
  */

  // Блок "мастер"
  .custom-widget-title {
    font-size: 15px;
    padding-bottom: 18px;
  }

  .wnevents-widget__item + .wnevents-widget__item {
    margin-top: 49px;
  }

  .master {
    padding-top: 0;

    &__title {
      font-weight: 500;
      font-size: 15px;
      line-height: 30px;
    }
  }

  .category {
    padding-top: 11px;
  }
}
