.article-template {
  /*
    Элементы article-template
  */

  // Основной контейнер
  &__main {
    padding-bottom: 93px;

    @include media(1150) {
      padding-bottom: 36px;
    }
  }

  // Контейнер
  &__container {
    @include media(1150) {
      width: 100%;
      max-width: calc(100% - 34px * 2);
    }
    @include media(749) {
      max-width: calc(100% - #{vw(12)} * 2);
    }
  }

  // Текстовые блоки
  &__text {
    padding-right: 8px;

    &--p2 {
      margin-top: 72px;
      padding-right: 0;

      @include media(1150) {
        margin-top: 88px;
      }
    }
  }

  // Блок tags-and-share
  &__tags-and-share {
    padding-top: 49px;
    padding-bottom: 58px;
    border-bottom: 1px solid #dee6e9;
  }

  // Хлебные крошки
  .crumbs {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 16px 0 41px;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: -0.03em;

    @include media(1150) {
      padding: 20px 0 42px;
    }

    @include media(749) {
      padding-bottom: 22px;
    }

    &-item {
      &:not(:last-child) {
        &::after {
          content: ">";
          color: #afb4bf;
          margin: 0 8px;
        }
      }

      &__link {
        text-decoration: none;
        color: #afb4bf;
        opacity: 1;
        transition: opacity linear 0.4s;

        @media screen and (min-width: 993px) {
          &:hover {
            opacity: 0.6;
            transition: opacity linear 0.4s;
          }
        }
      }
    }
  }

  // Основной контент
  .article {
    // Заголовчная секция
    &-heading {
      &__title {
        font-size: 45px;
        line-height: 56px;
        letter-spacing: -0.03em;

        @include media(1150) {
          margin-bottom: 7px;
          font-size: 39px;
          line-height: 49px;
        }
      }

      &__info {
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 26px;

        @include media(1150) {
          line-height: 16px;
        }

        &-category {
          margin-right: 20px;
          color: #25378d;
          transition: color linear 0.3s;

          @include hov();
        }

        &-date {
          color: #afb4bf;
        }
      }
    }

    // Изображение на весь контейнер
    &-picture {
      position: relative;
      width: 100%;
      height: 520px;
      border-radius: 5px;

      @include scalepic();

      @include media(1150) {
        height: 430px;
      }

      &__item {
        @include relative_img();
      }
    }

    // Фотография в середине статьи
    &-photo {
      &__text {
        margin-top: 12px;
        font-size: 13px;
        line-height: 13px;
        letter-spacing: -0.03em;
        color: #afb4bf;
      }
    }

    // Обтекаемая фотграфия
    &-float {
      position: relative;
      float: right;
      margin-top: 9px;
      margin-left: 37px;
      margin-bottom: 41px;
      height: 429px;

      @include media(1150) {
        margin-top: 0;
        margin-left: 44px;
        height: 355px;
      }

      &__image {
        float: none;
        margin: 0;
        width: 404px;
        height: 404px;

        @include media(1150) {
          width: 329px;
          height: 329px;
        }
      }

      &__text {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 13px;
        line-height: 13px;
        text-align: right;
        letter-spacing: -0.03em;
        color: #afb4bf;
      }
    }

    // Элементы
    &__heading {
      margin-bottom: 27px;

      @include media(1150) {
        margin-bottom: 54px;
      }
    }

    &__picture {
      margin-bottom: 76.6px;

      @include media(1150) {
        margin-bottom: 82.6px;
      }
    }

    &__photo {
      margin-top: 24px;

      @include media(1150) {
        margin-top: 30px;
      }
    }
  }

  /*
    Стили для общих элементов на этой странице
    ||  ||  ||  ||  ||  ||  ||  ||  ||  ||  ||
    \/  \/  \/  \/  \/  \/  \/  \/  \/  \/  \/
  */

  // Плашка "подписаться"
  .subscribe {
    &__name {
      font-size: 28px;
      line-height: 59px;

      @include media(1150) {
        font-size: 24px;
        line-height: 59px;
      }

      @include media(749) {
        font-size: vw(19);
      }
    }

    &__link {
      min-width: 220px;
      min-height: 44px;
      text-transform: uppercase;

      @include media(1150) {
        min-width: auto;
        min-height: auto;
        text-transform: none;
      }
    }
  }

  // Блок с обтекаемой картиной внутри статьи

  .kspc-text-with-pic-and-hide {
    margin-top: 19px;

    @include media(1150) {
      margin-top: 23px;
    }
  }

  // Блок tags-and-share
  .kspc-tas-flex {
    justify-content: space-between;
  }

  .kspc-tas-tags {
    @include media(1150) {
      justify-content: center;
    }
  }

  // Слайдер новых статей
  .new-article {
    padding-top: 45px;
    padding-bottom: 55px;
    border-bottom: 1px solid #dee6e9;

    @include media(1150) {
      padding-top: 47px;
      margin: 0 -34px;
    }

    &__title {
      font-size: 45px;
      line-height: 59px;
      letter-spacing: -0.03em;

      @include media(1150) {
        font-size: 32px;
        line-height: 45px;
        letter-spacing: normal;
      }
    }

    &__theme-link,
    &__theme-date {
      @include media(1150) {
        font-size: 15px;
      }
    }

    &__card {
      &-img-wrapper {
        @include media(1150) {
          margin-bottom: 5px;
        }
      }

      &-title {
        @include media(1150) {
          margin-bottom: 2px;
          font-size: 15px;
        }
      }
    }

    &__slider-card {
      @include media(1150) {
        width: 266px;
        margin-right: 23px;
      }
    }

    .read-more {
      @include media(1150) {
        font-size: 13px;
        line-height: 16px;
      }
    }

    .article-master-container--tab-no-r {
      @include media(1150) {
        margin-top: -21px;
      }
    }

    .slick-track {
      @include media(1150) {
        transform: translate3d(-867px, 0px, 0px);
      }
    }

    .slick-dots {
      margin-top: 30px;
    }
  }

  // Слайдер категорий
  .section-category-slider {
    padding-top: 19px;

    @include media(1150) {
      margin: 0 -34px;
      padding-top: 17px;
    }

    .category-slide {
      @include media(1150) {
        width: 154.51px;
        margin-right: 13.62px;
      }
    }

    .slick-track {
      @include media(1150) {
        transform: translate3d(-168px, 0px, 0px);
      }
    }

    .slick-dots {
      display: none !important;
    }
  }

  /*
    Сайдбар
  */

  .part-wsidebar__sidebar {
    @include media(1150) {
      padding-top: 98px;
    }
  }

  // Блок "мастер"
  .custom-widget-title {
    font-size: 15px;
    padding-bottom: 18px;
  }

  .wnevents-widget__item + .wnevents-widget__item {
    margin-top: 49px;

    @include media(1150) {
      margin-top: 54px;
    }
  }

  .master {
    padding-top: 0;

    &__title {
      font-weight: 500;
      font-size: 15px;
      line-height: 30px;
    }
  }

  .category {
    padding-top: 11px;
  }

  .insta-widget {
    @include media(1150) {
      padding-bottom: 95px;
    }
  }

  .csubscr-widget__title {
    @include media(1150) {
      margin-bottom: 17px;
      font-size: 15px;
    }
  }

  .wnevents-widget {
    @include media(1150) {
      justify-content: flex-end;
    }
  }

  .slnewsw-slider-item__name {
    @include media(1150) {
      font-size: 15px;
    }
  }

  .slider-news-widget-wrap .slnewsw-slider .slick-dots {
    @include media(1150) {
      bottom: 9px;
    }
  }

  .slider-news-widget-wrap .slider-news-widget {
    @include media(1150) {
      margin-bottom: 39px;
    }
  }

  .events-widget-wrap {
    @include media(1150) {
      margin-bottom: 7px;
      width: calc(50% - 18px);

      .newposts-widget {
        width: 100%;
        padding-top: 51px;
      }
    }
  }

  &__two-widgets {
    @include media(1150) {
      display: flex;
      justify-content: space-between;
    }
  }

  // Список новых статей в сайдбаре
  &__events-list {
    display: none;

    @include media(1150) {
      display: block;
    }
  }

  &__category-list {
    @include media(1150) {
      display: none;
    }
  }
}
