.article-template {
  .comments {
    margin-top: 41px;
    padding-bottom: 28px;
    border-bottom: 1px solid #dee6e9;

    &--after-tabs-and-socials {
      margin-top: 26px;
    }

    @include media(1150) {
      margin-top: 55px;
      padding-bottom: 48px;
    }

    @include media(749) {
      margin-top: vw(41);
      padding-bottom: vw(48);
    }
  }

  .comments-title {
    font-size: 28px;
    line-height: 45px;
    letter-spacing: -0.03em;
    color: #3e434d;

    @include media(1150) {
      font-size: 24px;
    }

    @include media(749) {
      font-size: vw(24);
    }
  }

  .comments-top {
    margin-left: -14px;

    .comments-title {
      display: inline-block;
      margin-left: 14px;
    }
  }

  .comments-top__count {
    display: inline-block;
    font-weight: normal;
    font-size: 17px;
    line-height: 59px;
    letter-spacing: -0.03em;
    color: #afb4bf;
    margin-left: 14px;

    @include media(749) {
      font-size: vw(15);
      line-height: vw(59);
    }
  }

  .comments-form__top {
    display: flex;
    flex-wrap: wrap;
    margin-left: -14px;

    @include media(749) {
      margin-left: vw(-14);
    }
  }

  .comments-form__top-inp-wrap {
    width: calc(50% - 14px);
    display: block;
    padding-bottom: 14px;
    margin-left: 14px;

    @include media(749) {
      width: calc(50% - #{vw(14)});
      padding-bottom: vw(14);
      margin-left: 0;
      margin-left: vw(14);
    }
  }

  .comments__info-after-title {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    color: $dark;
    margin-top: -4px;

    + .comments-form {
      margin-top: 48px;
    }
  }

  .comments-form {
    margin-top: 13px;

    @include media(749) {
      margin-top: vw(11) !important;
    }
  }

  .comments-textarea {
    /* or 162% */
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 22px;
    resize: none;
    /* FieldHint */
    color: $dark;
    /* FieldBorder */
    border: 1px solid #d9dbde;
    border-radius: 5px;
    background: #ffffff;
    font-size: 13px;
    line-height: 21px;

    &::placeholder {
      color: #afb4bf;
      font-size: inherit;
      line-height: inherit;
    }

    @include media(749) {
      padding: vw(10) vw(22);
      font-size: vw(13);
      line-height: vw(21);
      min-height: vw(43);
    }
  }

  .comments-send-btn {
    width: 206px;
    height: 43px;
    margin-top: 14px;
    border-radius: 5px;

    @include media(749) {
      width: vw(158);
      min-width: auto;
      margin-top: vw(14);
      height: vw(43);
    }

    &:hover {
    }

    &:active {
    }

    &:focus {
    }
  }

  .comments-container {
    margin-top: 52px;

    @include media(749) {
      margin-top: vw(55);
    }
  }

  .comments-item {
    &__top {
      display: flex;
      align-items: flex-end;
    }

    &__name {
      letter-spacing: -0.03em;
      color: $dark;
      font-size: 17px;
      line-height: 22px;
      font-weight: 500;

      @include media(1150) {
        font-size: 15px;
      }

      @include media(749) {
        font-size: vw(15);
        line-height: vw(22);
      }
    }

    &__days {
      margin-bottom: 3px;
      margin-left: 22px;
      letter-spacing: -0.03em;
      color: #afb4bf;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      line-height: 13px;

      @include media(749) {
        margin-bottom: vw(3);
        margin-left: vw(22);
        font-size: vw(13);
        line-height: vw(13);
      }
    }

    &__text {
      position: relative;
      margin-top: 8px;
      letter-spacing: -0.55px;
      color: $dark;
      font-size: 17px;
      line-height: 30px;
      height: auto;
      transition: max-height 13s linear, height 13s linear;

      @include media(1150) {
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.45px;
      }

      @include media(749) {
        font-size: vw(15);
        line-height: vw(24);
        margin-top: vw(10);
      }

      &--with-hide {
        overflow: hidden;
        max-height: 30 * 4px;

        @include media(1150) {
          padding-left: 3px;
          max-height: 24 * 2px;
        }

        @include media(749) {
          max-height: vw(96);
          margin-top: vw(9);
        }
      }

      &--open {
        max-height: 10000px;
      }

      p {
      }
    }

    & + .comments-item {
      margin-top: 46px;

      @include media(1150) {
        margin-top: 45px;
      }

      @include media(749) {
        margin-top: vw(46);
      }
    }
  }

  .comments-unwrap {
    top: 30 * 3px;
    right: 0;
    padding-right: 115px;

    @include media(1150) {
      top: 24 * 1px;
      padding-right: 134px;
    }

    @include media(749) {
      top: vw(72);
      padding-right: vw(22);
    }
  }

  .comments-more-options {
    margin-top: 6px;
    padding-bottom: 2px;

    &__item {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 22px;
      letter-spacing: -0.3px;

      color: #afb4bf;
    }
  }

  .comments-loadmore-wrap {
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }

  .comments-loadmore {
    display: none;
    justify-content: center;
    cursor: pointer;
    position: relative;

    @include media(1150) {
      display: flex;
    }

    &-wrap {
      margin-top: 21px;
      padding-right: 20px;

      @include media(749) {
        margin-top: vw(20);
        padding-right: vw(20);
      }
    }

    &__text {
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 30px;
      text-align: center;
      color: #25378d;

      @include media(1150) {
        font-size: 15px;
      }

      @include media(749) {
        font-size: vw(15);
        line-height: vw(30);
      }
    }

    &__icon {
      position: absolute;
      right: -16px;
      top: 0;
      width: 11px;
      height: auto;
      display: block;
      top: 50%;
      transform: translate(0, -50);
      right: -19px;
      margin-top: -2px;

      @include media(749) {
        width: vw(11);
      }
    }
  }

  .comments-item__controls {
    margin-top: 6px;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #afb4bf;

    @include media(1150) {
      padding-left: 3px;
      margin-top: 9px;
    }

    @include media(749) {
      padding-left: vw(3);
      margin-top: vw(9);
      font-size: vw(13);
      line-height: vw(22);
    }

    &-item {
      &--edit {
        margin-left: 18px;
      }

      &--hidden {
        display: none;
      }
    }
  }

  .comments-item__has-replies {
    margin-top: -2px;
    margin-left: 21px;
    display: flex;
    align-items: center;
    cursor: pointer;

    @include media(1150) {
      margin-top: -1px;
      margin-left: 14px;
    }

    @include media(749) {
      margin-top: vw(-1);
      margin-left: vw(14);
    }

    &--no-replies {
      display: none;
    }

    &--opened {
      display: none;
    }

    &-text {
      margin-left: 14px;
      font-size: 17px;
      line-height: 30px;
      letter-spacing: -0.03em;
      color: #53565a;

      @include media(1150) {
        font-size: 15px;
      }

      @include media(749) {
        font-size: vw(15);
        line-height: vw(30);
        margin-left: vw(14);
      }
    }

    &-icon {
      @include media(749) {
        width: vw(16);
        height: vw(17);
      }
    }
  }

  .comments-item__name {
    display: flex;
    align-items: center;

    &-symbol {
      display: inline;
      margin-right: 8px;
      width: 20.72px;
      height: 20.72px;
      object-fit: contain;

      @include media(1150) {
        margin-top: -3px;
        margin-left: 4px;
        width: 18px;
        height: 18px;
      }

      @include media(749) {
        margin-top: vw(-3);
        margin-left: vw(4);
        width: vw(18);
        height: vw(18);
      }
    }
  }

  .comments-item__reply {
    position: relative;
    margin-top: 23px !important;
    margin-left: 55px !important;

    @include media(1150) {
      margin-left: 33px !important;
    }

    @include media(749) {
      margin-top: vw(28) !important;
      margin-left: vw(33) !important;
    }

    &-line {
      position: absolute;
      top: -9px;
      left: -35px;
      width: 21.5px;
      height: 21.5px;
      background: url("../img/article-template/reply-line.svg") no-repeat center center;

      @include media(749) {
        top: vw(-9);
        left: vw(-35);
        width: vw(21.5);
        height: vw(21.5);
        background-size: cover;
      }
    }

    &--inner {
      @include media(1150) {
        margin-bottom: 42px;
      }

      @include media(749) {
        margin-bottom: vw(37);
      }
    }
  }
}
