extends layouts/default

block vars
	-
		const page = {
			title: 'article-master'
		};

	-
		var header_class_name="site-header--partial-static";


block main
	.kriya-science-main
		include components/basic-medet-course/home-slider-version-no-slider
