extends layouts/default

block vars
	-
		const page = {
			title: 'catalog-events'
		};


block main
	section.big-top-pic.big-top-pic--type-comments
		.big-top-pic__container
			.big-top-pic__relative
				picture
					source(srcset="img/catalog/big-bg.jpg" media="(max-width: 1150px)")
					source(srcset="img/catalog/big-bg.jpg" media="(max-width: 749px)")
					img.big-top-pic__img(src="img/catalog/big-bg.jpg")

	section.subscribe#js-header-2
		.container.subscribe__container
			.subscribe__content
				.subscribe__name Обучение
				.subscribe__inner
					img.subscribe__icon.js-share(src="img/icons/subscribe.svg" data-title="Имрам Видео" data-url="http://imram.q7.by/videos" data-picture="http://htmlbook.ru/files/images/samcss/fig15-3.png" data-description="В этом разделе мы представляем уникальные материалы. Каждая статья несет в себе личный Опыт Мастера Имрама. Здесь вы найдете множество ключей, подсказок и ответов на самые животрепещущие вопросы.")
					a.subscribe__link(href="#") Подписаться


	section.catalog-events
		.container.container--ks-only-tab.catalog-events__container
			.catalog-events__content
				.catalog-events__item.ce-i.ce-i--big
					.ce-i__left
						.ce-i__title
							a(href="") Лекция-практика «Пробуждение Кундалини»
						.ce-i__info
							span Запись
							span 8 ноября 2020
						.ce-i__text
							p На лекции Мастер Имрам рассказывает о научном методе концентрации в Крийя йоге. Вы узнаете о мистическом канале Сушумна и о том, как направить энергию Ида и Пингала в этот трансцендентальный канал. А также о том, как закрепить своё сознание на уровне Аджна-чакры.
							p Мы поговорим о науке Крийя и космическом Сознании. Вы узнаете, почему требуется именно научный подход для пробуждения Кундалини. Помимо этого, лекция включает в себя групповую медитацию с Мастером.
						.ce-i__bottom
							.ce-i__price Стоимость 1 000 рублей
							.ce-i__link
								a(href="") Смотреть
					.ce-i__right
						a.ce-i__img(href="")
							img(src="img/catalog/e-item-1.jpg" alt="")

				.catalog-events__item.ce-i.ce-i--big
					.ce-i__left
						.ce-i__title
							a(href="") Вебинар «Важность духовной практики в эту эпоху»
						.ce-i__info
							span Запись
							span 21 апреля 2020
						.ce-i__text
							p Наука Крийя помогает человеку пробудить в себе сверх качества. На вебинаре Мастера Имрама вы узнаете, как пробудить в себе особые силы и обрести устойчивость в нашей жизни.
							p Вы сможете принять участие в групповой медитации с элементами энергизации тела. Вас ожидает множество ответов на самые сложные вопросы.
						.ce-i__bottom
							.ce-i__price Стоимость 1 000 рублей
							.ce-i__link
								a(href="") Смотреть
					.ce-i__right
						a.ce-i__img(href="")
							img(src="img/catalog/e-item-1.jpg" alt="")

				.catalog-events__item.ce-i.ce-i--big
					.ce-i__left
						.ce-i__title
							a(href="") Лекция-практика «Медитация — это просто…»
						.ce-i__info
							span Запись
							span 11 апреля 2020
						.ce-i__text
							p На лекции Мастер Имрам рассказывает о том, что такое на самом деле – медитация. В чем состоит особенность медитации Крийя. Как погрузиться в глубокую медитацию и почему в современном мире большинству людей это даётся так сложно.
							p Вы услышите ответы на следующие вопросы:
							ul
								li Что такое научная концентрация
								li Особенности медитации Крийя
								li Как правильно медитировать
							p Также вы сможете принять участие в групповой медитации Крийя, которую Мастер провел во время лекции.
						.ce-i__bottom
							.ce-i__price Стоимость 1 000 рублей
							.ce-i__link
								a(href="") Смотреть
					.ce-i__right
						a.ce-i__img(href="")
							img(src="img/catalog/e-item-1.jpg" alt="")

				.catalog-events__item.ce-i.ce-i--big
					.ce-i__left
						.ce-i__title
							a(href="") Вебинар «Медитация, как она есть»
						.ce-i__info
							span Запись
							span 22 февраля 2020
						.ce-i__text
							p Мастер Имрам объясняет, как с помощью медитации привнести в нашу жизнь гармонию, радость, творчество и любовь.
							p На вебинаре раскрываются вопросы:
							ul
								li Что такое настоящая медитация
								li Как медитировать в домашних условиях
								li Почему Крийя является настоящей наукой
						.ce-i__bottom
							.ce-i__price Стоимость 1 000 рублей
							.ce-i__link
								a(href="") Смотреть
					.ce-i__right
						a.ce-i__img(href="")
							img(src="img/catalog/e-item-1.jpg" alt="")

				.catalog-events__item.ce-i.ce-i--big
					.ce-i__left
						.ce-i__title
							a(href="") Вебинар «Как найти свой духовный путь и обрести спокойствие ума?»
						.ce-i__info
							span Запись
							span 29 января 2020
						.ce-i__text
							p На Вебинаре Мастер подробно останавливается на основных аспектах Духовного развития и Духовной трансформации человека.
							p Вы узнаете о том, как встать на путь Духовного развития. Узнаете, как устроено наше эго и поймете, как отличать игры разума от истинного просветления.
							p На вебинаре Мастер передает сакральные знания, которые помогут вам встать на путь Духовного саморазвития и укрепиться на этом пути.
						.ce-i__bottom
							.ce-i__price Стоимость 1 000 рублей
							.ce-i__link
								a(href="") Смотреть
					.ce-i__right
						a.ce-i__img(href="")
							img(src="img/catalog/e-item-1.jpg" alt="")

				.catalog-events__item.ce-i.ce-i--big
					.ce-i__left
						.ce-i__title
							a(href="") Лекция «Сила мысли и намерения»
						.ce-i__info
							span Запись
							span 1 декября 2018
						.ce-i__text
							p На лекции Мастер Имрам рассказывает о методах трансформации тела.  Вы узнаете, как можно выйти на новый уровень осознанности. Как научиться радоваться жизни, сохраняя высокую осознанность.
							p Подробно и в деталях на лекции разбирается один из самых частых вопросов – можно ли, и как быть абсолютно здоровым?
							p Мастер затрагивает ряд важнейших тем, связанных с питанием, энергетикой человека, очищением организма, дыханием, сном и мышлением.
						.ce-i__bottom
							.ce-i__price Стоимость 1 000 рублей
							.ce-i__link
								a(href="") Смотреть
					.ce-i__right
						a.ce-i__img(href="")
							img(src="img/catalog/e-item-1.jpg" alt="")

				.catalog-events__item.ce-i.ce-i--big
					.ce-i__left
						.ce-i__title
							a(href="") Лекция «Крийя - совершенный метод, ключи к самореализации»
						.ce-i__info
							span Запись
							span 20 апреля 2019
						.ce-i__text
							p На лекции Мастер Имрам рассказывает о научном методе Крийя. Как устроен этот метод и, в чем его уникальность.
							p Затрагиваются и разбираются следующие вопросы:
							ul
								li Почему одно дыхание в Крийя йоге эквивалентно одному году вашей эволюции.
								li Как работают техники энергизации и магнетизации тела
								li Как пробудить в себе высокие качества, заложенные Свыше.
								li Как пробудить свой мозг, нейроны и выстроить межполушарные связи.
							p В процессе просмотра лекции вам будут переданы ключи к самореализации. В процессе просмотра лекции вам будут переданы ключи к самореализации.В процессе просмотра лекции вам будут переданы ключи к самореализации.
							p В процессе просмотра лекции вам будут переданы ключи к самореализации.
							p В процессе просмотра лекции вам будут переданы ключи к самореализации.
							p В процессе просмотра лекции вам будут переданы ключи к самореализации.
							p В процессе просмотра лекции вам будут переданы ключи к самореализации.
							p В процессе просмотра лекции вам будут переданы ключи к самореализации.
						.ce-i__bottom
							.ce-i__price Стоимость 1 000 рублей
							.ce-i__link
								a(href="") Смотреть
					.ce-i__right
						a.ce-i__img(href="")
							img(src="img/catalog/e-item-1.jpg" alt="")

				.catalog-events__item.ce-i.ce-i--big
					.ce-i__left
						.ce-i__title
							a(href="") Встреча с Мастером «Ответы на вопросы»
						.ce-i__info
							span Запись
							span 14 сентября 2019
						.ce-i__text
							p На встрече Мастер Имрам затрагивает очень важную тему осознанности человека. Вы узнаете о секретах правильного дыхания, о методах управления жизненной силой (праной), также будут затронуты вопросы, связанные с нашим сном.
							p Каждая лекция Мастера – это тонкий процесс передачи личного опыта, силы, мудрости и покоя.
						.ce-i__bottom
							.ce-i__price Стоимость 1 000 рублей
							.ce-i__link
								a(href="") Смотреть
					.ce-i__right
						a.ce-i__img(href="")
							img(src="img/catalog/e-item-1.jpg" alt="")


			.pagination.catalog-events__pagination
				a.pagination__paginate.pagination__arrow.pagination__arrow--prev(style="display:none;") <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.07793 6.99116L1.73582 12.7933C1.63128 12.9075 1.49361 12.9788 1.34616 12.9953C1.1987 13.0118 1.05054 12.9724 0.926774 12.8838L0.831592 12.7933L0.748308 12.69C0.678741 12.5772 0.6416 12.4445 0.6416 12.3088C0.6416 12.173 0.678741 12.0403 0.748308 11.9275L0.831592 11.8242C0.857487 11.7875 0.889841 11.7567 0.926774 11.7337L5.28137 6.99116C5.40052 6.86049 5.46737 6.68402 5.46737 6.50011C5.46737 6.3162 5.40052 6.13972 5.28137 6.00905L0.926776 1.24066L0.831594 1.15021C0.747647 1.03411 0.702018 0.890766 0.702018 0.743148C0.702018 0.59553 0.747648 0.452186 0.831594 0.336091L0.914878 0.232711L1.01006 0.142253C1.11571 0.0655811 1.23993 0.0246583 1.367 0.0246583C1.49406 0.0246584 1.61827 0.0655812 1.72393 0.142254L1.81911 0.232712L6.721 5.54384L7.16122 6.0349C7.26272 6.17556 7.31066 6.35315 7.29517 6.53107C7.27967 6.70899 7.20192 6.87367 7.07793 6.99116V6.99116Z" fill="#AFB4BF"/></svg>
				a.pagination__paginate.pagination__paginate-active 1
				a.pagination__paginate 2
				a.pagination__paginate.pagination__arrow.pagination__arrow--next <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.07793 6.99116L1.73582 12.7933C1.63128 12.9075 1.49361 12.9788 1.34616 12.9953C1.1987 13.0118 1.05054 12.9724 0.926774 12.8838L0.831592 12.7933L0.748308 12.69C0.678741 12.5772 0.6416 12.4445 0.6416 12.3088C0.6416 12.173 0.678741 12.0403 0.748308 11.9275L0.831592 11.8242C0.857487 11.7875 0.889841 11.7567 0.926774 11.7337L5.28137 6.99116C5.40052 6.86049 5.46737 6.68402 5.46737 6.50011C5.46737 6.3162 5.40052 6.13972 5.28137 6.00905L0.926776 1.24066L0.831594 1.15021C0.747647 1.03411 0.702018 0.890766 0.702018 0.743148C0.702018 0.59553 0.747648 0.452186 0.831594 0.336091L0.914878 0.232711L1.01006 0.142253C1.11571 0.0655811 1.23993 0.0246583 1.367 0.0246583C1.49406 0.0246584 1.61827 0.0655812 1.72393 0.142254L1.81911 0.232712L6.721 5.54384L7.16122 6.0349C7.26272 6.17556 7.31066 6.35315 7.29517 6.53107C7.27967 6.70899 7.20192 6.87367 7.07793 6.99116V6.99116Z" fill="#AFB4BF"/></svg>


	section.hm-galery
		.container.container--extra-long
			.hm-galery__row
				.hm-galery__img-wrapper
					img.hm-galery__img(src="img/gallery/photo1.jpg")
				.hm-galery__img-wrapper
					img.hm-galery__img(src="img/gallery/photo2.jpg")
				.hm-galery__img-wrapper
					img.hm-galery__img(src="img/gallery/photo3.jpg")
				.hm-galery__img-wrapper
					img.hm-galery__img(src="img/gallery/photo4.jpg")
				a.hm-galery__white-box(href="#")
					p Все<br/>фотографии