extends layouts/default

block vars
	-
		const page = {
				title: 'article-master'
		};


block main
	.hr
	.kriya-science-main
		include components/contacts/constructor



	section.hm-galery
		.container.container--extra-long
			.hm-galery__row
				.hm-galery__img-wrapper
					img.hm-galery__img(src="img/gallery/photo1.jpg")
				.hm-galery__img-wrapper
					img.hm-galery__img(src="img/gallery/photo2.jpg")
				.hm-galery__img-wrapper
					img.hm-galery__img(src="img/gallery/photo3.jpg")
				.hm-galery__img-wrapper
					img.hm-galery__img(src="img/gallery/photo4.jpg")
				a.hm-galery__white-box(href="#")
					p Все<br/>фотографии

	#thanks-modal.thanks-modal(style="display:none;")
		.thanks-modal__inner
			.thanks-modal__title Благодарим
			.thanks-modal__description Мы рассмотрим Ваш вопрос и постараемся ответить в ближайшее время