extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	section.section-home-slider
		.home-slider.js-home-slider
			.home-slider-slide
				picture
					source(srcset="img/front-slider-mob.jpg", media="(max-width: 749px)")
					img.hms-pic(src="img/home-slider-pic.jpg", alt="")
				.hms-info
					a.hms-info-btn.hms-info-btn--open-vid(href="")
						span.hms-info-btn__desk Посмотреть фильм
						span.hms-info-btn__mob Посмотреть фильм
						.hms-info-btn__icon
							img(src="img/icon-vid-in-home-slider-button.svg", alt="")
			.home-slider-slide
				picture
					source(srcset="img/front-slider-mob.jpg", media="(max-width: 749px)")
					img.hms-pic(src="img/home-slider-pic.jpg", alt="")
				.hms-info
					.hms-info__top
						.hms-info__title Семинар Крийя
					.hms-info__bottom
						.hms-info__area Москва
						.hms-info__date 20 февраля 2021
					a.hms-info-btn(href="")
						span.hms-info-btn__desk Зарегистрироваться
						span.hms-info-btn__mob Регистрация
			.home-slider-slide
				picture
					source(srcset="img/hmlearn2.jpg", media="(max-width: 749px)")
					img.hms-pic(src="img/hmlearn2.jpg", alt="")
				.hms-info
					.hms-info__top
						.hms-info__title Семинар Крийя 2
					.hms-info__bottom
						.hms-info__area Ростов-на-Дону
						.hms-info__date 35 марта 2022
					a.hms-info-btn(href="")
						span.hms-info-btn__desk Зарегистрироваться
						span.hms-info-btn__mob Регистрация
			//.home-slider-slide
				picture
					source(srcset="img/front-slider-mob.jpg", media="(max-width: 749px)")
					img.hms-pic(src="img/home-slider-pic.jpg", alt="")
				.hms-info
					.hms-info__top
						.hms-info__title Семинар Крийя 3
					.hms-info__bottom
						.hms-info__area Новосибирск
						.hms-info__date 40 апреля 2023
					a.hms-info-btn(href="")
						span.hms-info-btn__desk Зарегистрироваться
						span.hms-info-btn__mob Регистрация

	section.section-home-quote
		.container
			.hm-quote
				.hm-quote__main  Практикуя Крийя йогу мы&nbsp;создаём свою жизнь <br> и&nbsp;освобождаемся от влияний
				.hm-quote__info  Наука Крийя — это высший метод постижения<span class="hm-quote__info__razdel2"></span> Закона Вселенной, где истинный ответ приходит из глубин внутреннего Я. <span class="hm-quote__info__razdel"></span> 10 минут практики Крийя эквивалентно 20-ти годам<span class="hm-quote__info__razdel2"></span> естественной эволюции человека.
				.hm-quote__name  Мастер Имрам
	.container.container--long.hidemob
		.hr
	section.section-home-events
		.hm-events-slider-cont-wrap
			.container.container--ks--mob-no-r
				.hm-events-slider.js-hm-events-slider.hm-events-slider--left
					each val in [1, 2,/* 3, 4, 5*/]
						.hm-events-slide__wrap
							a.hm-events-slide(href="")
								.hm-events-slide__pic
									img(src="img/events/1.jpg", alt="")
								.hm-events-slide__text
									.hm-events-slide__name Мини-Ретрит
									.hm-events-slide__meta
										.hm-events-slide__area Москва
										.hm-events-slide__date 20 февраля 2021
									.hm-events-slide__info  Интенсивная групповая практика Крийя с Мастером. Сатсанги и ответы на вопросы.
						.hm-events-slide__wrap
							a.hm-events-slide(href="")
								.hm-events-slide__pic
									img(src="img/events/3.jpg", alt="")
								.hm-events-slide__text
									.hm-events-slide__name Всемирная медитация
									.hm-events-slide__meta
										.hm-events-slide__area Москва
										.hm-events-slide__date 20 февраля 2021
									.hm-events-slide__info Интенсивный 2-дневный курс обучения Крийя, на котором даются  6 из 7 ступеней Крийя.
						.hm-events-slide__wrap
							a.hm-events-slide(href="")
								.hm-events-slide__pic
									img(src="img/events/1.jpg", alt="")
								.hm-events-slide__text
									.hm-events-slide__name Мини-Ретрит
									.hm-events-slide__meta
										.hm-events-slide__area Москва
										.hm-events-slide__date 20 февраля 2021
									.hm-events-slide__info Интенсивная групповая практика Крийя с Мастером. Сатсанги и ответы на вопросы.

		.container
			.hm-events-btn-wrap
				a.btn(href="") Все мероприятия

	.container.container--long.hidemob
		.hr

	section.section-cria-medet
		.container
			.cria-medet
				a.video-preview-wrapper(href="https://youtu.be/0nTor2By_vg", data-fancybox)
					img.video-preview(src="img/scicria/medet.jpg")
					img.video-play(src="img/icons/play-video.svg")
				.cria-medet__text
					h2.cria-medet__title  Медитация Крийя
					.cria-medet__out  Медитация – это выход за пределы ума
					.cria-medet__main  Это способность сохранить концентрацию на&nbsp;высокой Идее вплоть до ее полного проявления в вашем сознании, за&nbsp;пределами обычного ума.
					a.cria-medet__read-more.read-more(href="") Подробнее
	.container.container--long.hidemob
		.hr

	section.section-part-wsidebar
		.container.container--extra-long.container--disable-on-tablet.container--disable-on-mob
			.part-wsidebar
				.part-wsidebar__main
					.container.container--extra-long.container--disable-on-desktop.mob-order--1
						section.master-links
							a.master-link(href="")
								.master-link__pic
									img(src="img/mlinks/1.jpg", alt="")
								.master-link__text
									.master-link__title События недели
									.master-link__more.read-more Подробнее
							a.master-link(href="")
								.master-link__pic
									img(src="img/mlinks/2.jpg", alt="")
								.master-link__text
									.master-link__title Статьи Мастера
									.master-link__more.read-more Подробнее

						.hr.hidemob

						section.section-science-kria
							.scikria-item
								a.scikria-item-pic(href="/")
									img(src="img/scicria/1.jpg", alt="")
								.scikria-item-text
									h2.scikria-item-text__title Наука Крийя
									.scikria-item-text__title2  Метод быстрой трансформации
									.scikria-item-text__main Крийя является физическим, духовным и научным методом, посредством которого ускоряется развитие и достигается самореализация.
									.scikria-item-text__more.read-more Подробнее
							.scikria-item
								a.scikria-item-pic(href="/")
									img(src="img/scicria/2.jpg", alt="")
								.scikria-item-text
									h2.scikria-item-text__title О Мастере
									.scikria-item-text__title2 Инициирует трансцендентность Крийя
									.scikria-item-text__main Благодаря многолетней практике - садхане, Имрам достиг Реализации, т.е. Единства с Высшим Я, что в йоге рассматривается как Нирвикальпа Самадхи.
									.scikria-item-text__more.read-more Подробнее

						section.banner.section-hmlearn
							picture.banner__picture
								source.banner__source(srcset="img/hmlearn.jpg" media="(max-width: 749px)")
								img(src="img/hmlearn.jpg")
							.banner__content
								.banner__title Обучение
								.banner__title2 Курсы. Медитация. Практика
								.banner__more.read-more Подробнее

					.container.container--extra-long.container--disable-on-desktop.mob-order--3
						section.section-science-kria.section-science-kria--2
							.scikria-item
								a.scikria-item-pic(href="/")
									img(src="img/scicria/3.jpg", alt="")
								.scikria-item-text
									h2.scikria-item-text__title Медитируйте с нами
									.scikria-item-text__title2  Для любого уровня подготовки
									.scikria-item-text__main Методика Крийя доступна с первых дней практикования как для начинающих, так и продвинутых практиков.
									.scikria-item-text__more.read-more Подробнее
							.scikria-item
								a.scikria-item-pic(href="/")
									img(src="img/scicria/4.jpg", alt="")
								.scikria-item-text
									h2.scikria-item-text__title Imram Music
									.scikria-item-text__title2 Музыка, меняющая пространство
									.scikria-item-text__main
										span Imram - композитор, певец мультиинструменталист.
										span Его музыка рождается из тонкого мира идей,
										span несущих дух высокого творчества.
									.scikria-item-text__more.read-more Подробнее

						section.banner.section-hmlearn2
							picture.banner__picture
								source.banner__source(srcset="img/hmlearn2-mob.jpg" media="(max-width: 749px)")
								img(src="img/hmlearn2.jpg")
							.banner__content
								.banner__title Записи мероприятий
								.banner__title2 Вебинары. Лекции. Сатсанги.
								.banner__more.read-more Подробнее
					.oh-wrap.mob-order--2
						.container.container--extra-long.container--disable-on-desktop
							section.hm-quote-practice.hm-quote-practice-desc.no-desc.hm-quote-practice-mob
								.quote-bg(style="background-image:url(img/quote-bg.jpg);")
									img.hm-quote-practice__img(src="img/icons/quotes.svg")
									.container.container--extra-long
										.hm-quote-practice__content.quotes-slide
											.quote-slide
												.hm-quote-practice__main Счастливый человек - тот, кто находится в состоянии "Здесь и Сейчас"<br/>и имеет прямую связь со своим Высшим Я
												.hm-quote-practice__name Мастер Имрам
											.quote-slide
												.hm-quote-practice__main Счастливый человек - тот, кто находится в состоянии "Здесь и Сейчас"<br/>и имеет прямую связь со своим Высшим Я
												.hm-quote-practice__name Мастер Имрам
											.quote-slide
												.hm-quote-practice__main Счастливый человек - тот, кто находится в состоянии "Здесь и Сейчас"<br/>и имеет прямую связь со своим Высшим Я
												.hm-quote-practice__name Мастер Имрам

					.container.container--ks--mob-no-r.container--extra-long.container--disable-on-desktop.mob-order--4
						section.hm-feedback.no-desc
							.container.container--ks--mob-no-r
								.hm-feedback-slide.hm-feedback-slide--left
									.hm-feedback__content
										a.hm-feedback__img-wrapper(href="https://youtu.be/0nTor2By_vg", data-fancybox)
											img.hm-feedback__img(src="img/retrit-reviews.jpg")
											img.hm-feedback__img-play(src="img/icons/play-video.svg")
										.hm-feedback__text
											.hm-feedback__text-title Фильм о Ретрите
											.hm-feedback__text-out Интервью с участниками
											.hm-feedback__text-info
												span Мини-фильм о Ретрите в Сочи, личный опыт практикующих,
												span удивительная атмосфера и незабываемые воспоминания.
											.hm-feedback__more.read-more Подробнее
									.hm-feedback__content
										a.hm-feedback__img-wrapper(href="https://youtu.be/0nTor2By_vg", data-fancybox)
											img.hm-feedback__img(src="img/retrit-reviews.jpg")
											img.hm-feedback__img-play(src="img/icons/play-video.svg")
										.hm-feedback__text
											.hm-feedback__text-title Отзывы о Ретрите
											.hm-feedback__text-out Интервью с участниками
											.hm-feedback__text-info
												span Мини-фильм о Ретрите в Сочи, личный опыт практикующих,
												span удивительная атмосфера и незабываемые воспоминания.
											.hm-feedback__more.read-more Подробнее
									.hm-feedback__content
										a.hm-feedback__img-wrapper(href="https://youtu.be/0nTor2By_vg", data-fancybox)
											img.hm-feedback__img(src="img/retrit-reviews.jpg")
											img.hm-feedback__img-play(src="img/icons/play-video.svg")
										.hm-feedback__text
											.hm-feedback__text-title Отзывы о Ретрите
											.hm-feedback__text-out Интервью с участниками
											.hm-feedback__text-info
												span Мини-фильм о Ретрите в Сочи, личный опыт практикующих,
												span удивительная атмосфера и незабываемые воспоминания.
											.hm-feedback__more.read-more Подробнее
								.hm-feedback__btn-wrap
									a.btn(href="") Страница отзывов



						.hr.no-desc


				.part-wsidebar__sidebar
					.container.container--extra-long.container--disable-on-desktop
						.master
							.master__content
								.master__title О мастере
								.master__img-wrapper
									img.master__img(src="img/master.jpg")
								.master__info
									span Сознание Мастера вездесуще
									span и этот Мастер – Высшее Я
								.social.master__social
									a.social__link.master__social-link(href="#")
										include ../img/icons/social-insta.svg
									a.social__link.master__social-link(href="#")
										include ../img/icons/social-yt.svg
									a.social__link.master__social-link(href="#")
										include ../img/icons/social-fb.svg
									a.social__link.master__social-link(href="#")
										include ../img/icons/social-vk.svg

					.container.container--extra-long.container--disable-on-desktop
						.insta-widget
							.insta-widget__title.custom-widget-title INSTAGRAM
							.insta-widget__content
								a.insta-widget__item(href="")
									img(src="img/insta-widget/insta-1.jpg", alt="")
								a.insta-widget__item(href="")
									img(src="img/insta-widget/insta-2.jpg", alt="")
								a.insta-widget__item(href="")
									img(src="img/insta-widget/insta-3.jpg", alt="")
								a.insta-widget__item(href="")
									img(src="img/insta-widget/insta-4.jpg", alt="")



					.container.container--extra-long.container--disable-on-desktop
						.csubscr-widget
							.csubscr-widget__inner
								.csubscr-widget__logo
									img(src="img/subscr_logo.svg", alt="icon")
								.csubscr-widget__title  Присоединяйтесь
								.csubscr-widget__description Получите доступ к платформе Имрам Крийя
								.csubscr-widget__inp-wrap
									input.email-cinp(type="text", name="" placeholder="Введите ваш Email")
								.btn.btn--square.csubscr-widget__btn отправить
					.oh-wrap--on-mob
						.container.container--extra-long.container--disable-on-desktop
							.slider-news-widget-wrap
								.slider-news-widget
									.slider-news-widget__title.custom-widget-title Онлайн курсы
									.slnewsw-slider.js-slnewsw-slider
										a.slnewsw-slider-item(href="")
											.slnewsw-slider-item__pic
												img(src="img/online-courses.jpg", alt="")
											.slnewsw-slider-item__name Базовый курс медитации
										a.slnewsw-slider-item(href="")
											.slnewsw-slider-item__pic
												img(src="img/online-courses.jpg", alt="")
											.slnewsw-slider-item__name Базовый курс медитации2
										a.slnewsw-slider-item(href="")
											.slnewsw-slider-item__pic
												img(src="img/online-courses.jpg", alt="")
											.slnewsw-slider-item__name Базовый курс медитации3

								.slider-news-widget
									.slider-news-widget__title.custom-widget-title Видео недели
									.slnewsw-slider.slnewsw-slider--video.js-slnewsw-slider
										a.slnewsw-slider-item(href="")
											.slnewsw-slider-item__pic
												img(src="img/online-courses.jpg", alt="")
											.slnewsw-slider-item__name Базовый курс медитации
										a.slnewsw-slider-item(href="")
											.slnewsw-slider-item__pic
												img(src="img/online-courses.jpg", alt="")
											.slnewsw-slider-item__name Базовый курс медитации2
										a.slnewsw-slider-item(href="")
											.slnewsw-slider-item__pic
												img(src="img/online-courses.jpg", alt="")
											.slnewsw-slider-item__name Базовый курс медитации3
					.container.container--extra-long.container--disable-on-desktop
						.events-widget-wrap
							.newposts-widget
								.newposts-widget__title.custom-widget-title Новые статьи
								.newposts-widget__items
									a.newposts-widget-item(href="")
										.newposts-widget-item__title Что такое осознанность
										.newposts-widget-item__date 28 Января 2021
									a.newposts-widget-item(href="")
										.newposts-widget-item__title Глубина общения
										.newposts-widget-item__date 28 Января 2021
									a.newposts-widget-item(href="")
										.newposts-widget-item__title Как стать счастливым
										.newposts-widget-item__date 28 Января 2021

							.wnevents-widget
								a.wnevents-widget__item(href="")
									.wnevents-widget__pic
										img(src="img/wnevents-1.jpg", alt="")
									.wnevents-widget__title События недели
								a.wnevents-widget__item(href="")
									.wnevents-widget__pic
										img(src="img/wnevents-2.jpg", alt="")
									.wnevents-widget__title Статьи мастера
					.container.container--extra-long.container--disable-on-desktop
						.music-player-wrap
							#music-player.music-player
								.music-player-top
									.amplitude-next.music-player-top__arrow.music-player-top__arrow--next <svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.24336 18C0.999021 18.0007 0.759956 17.929 0.55634 17.7939L0.384583 17.6393L0.230003 17.4676C0.0804629 17.26 0 17.0106 0 16.7548C0 16.4989 0.0804629 16.2496 0.230003 16.042L0.350235 15.8359C0.408482 15.7559 0.48505 15.6912 0.573516 15.6469L6.77389 9.39504C6.83003 9.34206 6.87476 9.27817 6.90533 9.20728C6.9359 9.1364 6.95167 9.06002 6.95167 8.98283C6.95167 8.90563 6.9359 8.82925 6.90533 8.75837C6.87476 8.68749 6.83003 8.6236 6.77389 8.57061L0.504815 2.26718L0.367407 2.09543C0.1918 1.8761 0.0961205 1.6035 0.0961205 1.32253C0.0961205 1.04156 0.1918 0.768962 0.367407 0.549629L0.487639 0.395048L0.659392 0.240468C0.880267 0.0838807 1.14437 -0.000151287 1.41512 1.06603e-05C1.66487 -0.00100519 1.90953 0.0706024 2.11932 0.206117L2.29107 0.360697L9.38458 7.43703L10.0201 8.0897C10.2133 8.34242 10.3062 8.65771 10.2808 8.97483C10.2554 9.29195 10.1136 9.58846 9.88267 9.80725L2.15367 17.5534C2.04003 17.6856 1.90077 17.7933 1.7443 17.87C1.58783 17.9468 1.41741 17.991 1.24336 18Z" fill="#25378D"/><path d="M9.62513 9.66986L1.91331 17.3817C1.76238 17.5334 1.56365 17.6282 1.35078 17.6501C1.13792 17.672 0.924034 17.6197 0.74537 17.5019L0.607966 17.3817L0.487737 17.2443C0.387311 17.0944 0.333694 16.918 0.333694 16.7376C0.333694 16.5572 0.387311 16.3808 0.487737 16.2309L0.607966 16.0935C0.645347 16.0447 0.692054 16.0039 0.74537 15.9733L7.03162 9.66986C7.19579 9.49215 7.28696 9.25911 7.28696 9.01719C7.28696 8.77526 7.19579 8.54222 7.03162 8.36452L0.74537 2.09544L0.607966 1.90651C0.483849 1.75351 0.416111 1.56249 0.416111 1.36548C0.416111 1.16846 0.483849 0.977443 0.607966 0.824445L0.728194 0.687041L0.865598 0.566812C1.01812 0.464905 1.19743 0.410512 1.38086 0.410512C1.5643 0.410512 1.74361 0.464905 1.89613 0.566812L2.03354 0.687041L9.10987 7.74619L9.74536 8.39887C9.88795 8.58736 9.95471 8.82245 9.93245 9.05775C9.91019 9.29304 9.80054 9.51145 9.62513 9.66986Z" fill="#25378D"/></svg>



									.amplitude-prev.music-player-top__arrow.music-player-top__arrow--prev
										<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.0418 3.706e-06C9.28614 -0.000675281 9.5252 0.0710438 9.72882 0.20611L9.90057 0.360691L10.0552 0.532448C10.2047 0.740033 10.2852 0.989394 10.2852 1.24523C10.2852 1.50107 10.2047 1.75043 10.0552 1.95802L9.93492 2.16412C9.87668 2.24405 9.80011 2.30884 9.71164 2.35305L3.51126 8.60496C3.45512 8.65794 3.4104 8.72183 3.37983 8.79272C3.34926 8.8636 3.33349 8.93998 3.33349 9.01717C3.33349 9.09437 3.34926 9.17075 3.37983 9.24163C3.4104 9.31251 3.45512 9.3764 3.51126 9.42939L9.78034 15.7328L9.91775 15.9046C10.0934 16.1239 10.189 16.3965 10.189 16.6775C10.189 16.9584 10.0934 17.231 9.91775 17.4504L9.79752 17.605L9.62576 17.7595C9.40489 17.9161 9.14079 18.0002 8.87004 18C8.62029 18.001 8.37563 17.9294 8.16584 17.7939L7.99408 17.6393L0.900581 10.563L0.265084 9.9103C0.0718577 9.65757 -0.021017 9.34228 0.0043524 9.02517C0.0297218 8.70805 0.171541 8.41154 0.402489 8.19275L8.13149 0.446569C8.24512 0.314426 8.38439 0.206713 8.54086 0.129955C8.69733 0.0531968 8.86775 0.00898778 9.0418 3.706e-06Z" fill="#25378D"/><path d="M0.660024 8.33014L8.37185 0.618316C8.52277 0.46662 8.72151 0.371777 8.93437 0.349865C9.14724 0.327953 9.36112 0.380319 9.53979 0.498087L9.67719 0.618317L9.79742 0.755722C9.89785 0.905617 9.95146 1.08197 9.95146 1.2624C9.95146 1.44283 9.89785 1.61919 9.79742 1.76908L9.67719 1.90648C9.63981 1.95527 9.5931 1.99614 9.53979 2.02671L3.25353 8.33014C3.08937 8.50785 2.9982 8.74089 2.9982 8.98281C2.9982 9.22474 3.08937 9.45778 3.25353 9.63548L9.53979 15.9046L9.67719 16.0935C9.80131 16.2465 9.86905 16.4375 9.86905 16.6345C9.86905 16.8315 9.80131 17.0226 9.67719 17.1756L9.55696 17.313L9.41956 17.4332C9.26704 17.5351 9.08773 17.5895 8.90429 17.5895C8.72086 17.5895 8.54154 17.5351 8.38902 17.4332L8.25162 17.313L1.17529 10.2538L0.539795 9.60113C0.397205 9.41264 0.330452 9.17755 0.35271 8.94225C0.374967 8.70696 0.484619 8.48855 0.660024 8.33014Z" fill="#25378D"/></svg>



								#music-player__swipe-area.music-player__swipe-area
								.music-player-center

									.music-player__album-art
										#mpl-icon-slider.mpl-icon-slider
										//img(data-amplitude-song-info='cover_art_url')
									.song-meta-data
									span.music-player__song-name(data-amplitude-song-info='name')
									span.music-player__song-artist(data-amplitude-song-info='artist')
									.music-player__time-progress
										.soundRS__progress-container
											input.amplitude-song-slider.js-song-progress-slider(type='range' min="0" max="100" value='0')
											progress#song-played-progress.amplitude-song-played-progress
											//progress#song-buffered-progress.amplitude-buffered-progress(value='0')
										.music-player__time-container
											span.music-player__current-time
												span.amplitude-custom-current-minutes#amplitude-custom-current-minutes
												| :
												span.amplitude-current-seconds
											span.music-player__duration
												span.amplitude-custom-duration-minutes#amplitude-custom-duration-minutes
												| :
												span.amplitude-custom-duration-seconds#amplitude-custom-duration-seconds


									.music-player__controls
										.amplitude-prev.music-player__prev
											img(src="img/player-controls/prev.svg", alt="")
										.amplitude-play-pause.music-player-mainctrl
											.music-player-mainctrl__pause
												img(src="img/player-controls/pause.svg", alt="")
											.music-player-mainctrl__play
												img(src="img/player-controls/play.svg", alt="")

										.amplitude-next.music-player__next
											img(src="img/player-controls/next.svg", alt="")

									.musicpl-bottom-controls
										.musicpl-bottom-controls__playlist
											img(src="img/player-controls/playlist.svg", alt="")
										a#song-orig-link.musicpl-bottom-controls__orig.musicpl-bottom-controls__orig_link(href="#")
											img(src="img/player-controls/star.svg", alt="")
										.musicpl-bottom-controls__volume
											.volumeRS-wrap
												input.amplitude-volume-slide.js-volume-slider(type='range' min="0" max="100" value='100')
											img(src="img/player-controls/volume.svg", alt="")
							#music-player__playlist-container.music-player__playlist-container
								#music-player__playlist-container-2.music-player__playlist-container-2(style="display:none;")
									#music-player__playlist.music-player__playlist
										#music-player__playlist-inner.music-player__playlist-inner

	.no-tablet
		section.hm-quote-practice.hm-quote-practice-desc
			.quote-bg.js-jarallax-1(style="background-image:url(img/quotes-bg-new.jpg);")
				.container.container--extra-long
					.hm-quote-practice__content.quotes-slide
						.quote-slide
							.hm-quote-practice__main Счастливый человек - тот, кто находится в состоянии "Здесь и Сейчас"<br/>и имеет прямую связь со своим Высшим Я
							.hm-quote-practice__name Мастер Имрам
						.quote-slide
							.hm-quote-practice__main Счастливый человек - тот, кто находится в состоянии "Здесь и Сейчас"<br/>и имеет прямую связь со своим Высшим Я
							.hm-quote-practice__name Мастер Имрам
						.quote-slide
							.hm-quote-practice__main Счастливый человек - тот, кто находится в состоянии "Здесь и Сейчас"<br/>и имеет прямую связь со своим Высшим Я
							.hm-quote-practice__name Мастер Имрам

		section.hm-feedback
			.hm-feedback-slider-cont-wrap
				.container
					.hm-feedback-slide
						.hm-feedback__content
							a.hm-feedback__img-wrapper(href="https://youtu.be/0nTor2By_vg", data-fancybox)
								img.hm-feedback__img(src="img/retrit-reviews.jpg")
								img.hm-feedback__img-play(src="img/icons/play-video.svg")
							.hm-feedback__text
								.hm-feedback__text-title Отзывы о Ретрите
								.hm-feedback__text-out Интервью с участниками
								.hm-feedback__text-info
									span Мини-фильм о Ретрите в Сочи, личный опыт практикующих,
									span удивительная атмосфера и незабываемые воспоминания.
								.hm-feedback__more.read-more Подробнее
						.hm-feedback__content
							a.hm-feedback__img-wrapper(href="https://youtu.be/0nTor2By_vg", data-fancybox)
								img.hm-feedback__img(src="img/retrit-reviews.jpg")
								img.hm-feedback__img-play(src="img/icons/play-video.svg")
							.hm-feedback__text
								.hm-feedback__text-title Отзывы о Ретрите
								.hm-feedback__text-out Интервью с участниками
								.hm-feedback__text-info
									span Мини-фильм о Ретрите в Сочи, личный опыт практикующих,
									span удивительная атмосфера и незабываемые воспоминания.
								.hm-feedback__more.read-more Подробнее
						.hm-feedback__content
							a.hm-feedback__img-wrapper(href="https://youtu.be/0nTor2By_vg", data-fancybox)
								img.hm-feedback__img(src="img/retrit-reviews.jpg")
								img.hm-feedback__img-play(src="img/icons/play-video.svg")
							.hm-feedback__text
								.hm-feedback__text-title Отзывы о Ретрите
								.hm-feedback__text-out Интервью с участниками
								.hm-feedback__text-info
									span Мини-фильм о Ретрите в Сочи, личный опыт практикующих,
									span удивительная атмосфера и незабываемые воспоминания.
								.hm-feedback__more.read-more Подробнее

			.container
				.hm-feedback__btn-wrap
					a.btn(href="") Страница отзывов
	//- section.tablet-content
	//- 	.container
	//- 		.master
	//- 			.master__content
	//- 				.master__title О мастере
	//- 				.master__img-wrapper
	//- 					img.master__img(src="img/master.jpg")
	//- 				.master__info
	//- 					span Сознание Мастера вездесуще
	//- 					span и этот Мастер – Высшее Я
	//- 				.social.master__social
	//- 					a.social__link.master__social-link(href="#")
	//- 						include ../img/icons/social-insta.svg
	//- 					a.social__link.master__social-link(href="#")
	//- 						include ../img/icons/social-yt.svg
	//- 					a.social__link.master__social-link(href="#")
	//- 						include ../img/icons/social-fb.svg
	//- 					a.social__link.master__social-link(href="#")
	//- 						include ../img/icons/social-vk.svg

	//- 		.insta-widget
	//- 			.insta-widget__title.custom-widget-title INSTAGRAM
	//- 			.insta-widget__content
	//- 				a.insta-widget__item(href="")
	//- 					img(src="img/insta-widget/insta-1.jpg", alt="")
	//- 				a.insta-widget__item(href="")
	//- 					img(src="img/insta-widget/insta-2.jpg", alt="")
	//- 				a.insta-widget__item(href="")
	//- 					img(src="img/insta-widget/insta-3.jpg", alt="")
	//- 				a.insta-widget__item(href="")
	//- 					img(src="img/insta-widget/insta-4.jpg", alt="")

	//- 		//.y-restyle
	//- 			#instagram-new-1.widget.widget_instagram-new
	//- 				h3.widget-title.separator
	//- 					span Instagram
	//- 				.instagram-items
	//- 					.span6.instagram-item
	//- 						a(href='https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/46286716_2240882876183628_811125799577976832_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=8ae9d6&_nc_ohc=1tQXOHpRkvUAX8vzGp0&_nc_ht=scontent-waw1-1.cdninstagram.com&oh=79565dd17c1ad727c22a2fc4f92fed2d&oe=6077229B' data-lightbox='lightbox-insta')
	//- 							img(src='https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/46286716_2240882876183628_811125799577976832_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=8ae9d6&_nc_ohc=1tQXOHpRkvUAX8vzGp0&_nc_ht=scontent-waw1-1.cdninstagram.com&oh=79565dd17c1ad727c22a2fc4f92fed2d&oe=6077229B' onerror="this.onerror=null; this.src='https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/46286716_2240882876183628_811125799577976832_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=8ae9d6&_nc_ohc=1tQXOHpRkvUAX8vzGp0&_nc_ht=scontent-waw1-1.cdninstagram.com&oh=79565dd17c1ad727c22a2fc4f92fed2d&oe=6077229B'" alt='')
	//- 					.span6.instagram-item
	//- 						a(href='https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/46084817_964613667068924_492474393406996480_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=8ae9d6&_nc_ohc=CFSpY1NxW00AX9BTaTd&_nc_ht=scontent-waw1-1.cdninstagram.com&oh=fa6098f6f806007540262b7909453413&oe=6075549A' data-lightbox='lightbox-insta')
	//- 							img(src='https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/46084817_964613667068924_492474393406996480_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=8ae9d6&_nc_ohc=CFSpY1NxW00AX9BTaTd&_nc_ht=scontent-waw1-1.cdninstagram.com&oh=fa6098f6f806007540262b7909453413&oe=6075549A' onerror="this.onerror=null; this.src='https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/46084817_964613667068924_492474393406996480_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=8ae9d6&_nc_ohc=CFSpY1NxW00AX9BTaTd&_nc_ht=scontent-waw1-1.cdninstagram.com&oh=fa6098f6f806007540262b7909453413&oe=6075549A'" alt='')
	//- 					.span6.instagram-item
	//- 						a(href='https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/46841425_1173865639444812_814733365948186624_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=8ae9d6&_nc_ohc=zYChSdyJj-MAX_iLSu2&_nc_ht=scontent-waw1-1.cdninstagram.com&oh=070ac81b8dfeab4a7f45d539b63748ad&oe=6075D81F' data-lightbox='lightbox-insta')
	//- 							img(src='https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/46841425_1173865639444812_814733365948186624_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=8ae9d6&_nc_ohc=zYChSdyJj-MAX_iLSu2&_nc_ht=scontent-waw1-1.cdninstagram.com&oh=070ac81b8dfeab4a7f45d539b63748ad&oe=6075D81F' onerror="this.onerror=null; this.src='https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/46841425_1173865639444812_814733365948186624_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=8ae9d6&_nc_ohc=zYChSdyJj-MAX_iLSu2&_nc_ht=scontent-waw1-1.cdninstagram.com&oh=070ac81b8dfeab4a7f45d539b63748ad&oe=6075D81F'" alt='')
	//- 					.span6.instagram-item
	//- 						a(href='https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/46305322_360307218053951_1077792454901497856_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=8ae9d6&_nc_ohc=qKLDRJ3u4w8AX_LXxjy&_nc_ht=scontent-waw1-1.cdninstagram.com&oh=35f5d1960d80a93af7a6bc76509b0a0f&oe=6078BEB0' data-lightbox='lightbox-insta')
	//- 							img(src='https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/46305322_360307218053951_1077792454901497856_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=8ae9d6&_nc_ohc=qKLDRJ3u4w8AX_LXxjy&_nc_ht=scontent-waw1-1.cdninstagram.com&oh=35f5d1960d80a93af7a6bc76509b0a0f&oe=6078BEB0' onerror="this.onerror=null; this.src='https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/46305322_360307218053951_1077792454901497856_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=8ae9d6&_nc_ohc=qKLDRJ3u4w8AX_LXxjy&_nc_ht=scontent-waw1-1.cdninstagram.com&oh=35f5d1960d80a93af7a6bc76509b0a0f&oe=6078BEB0'" alt='')
	//- 				a.insta-follow-link(href='//instagram.com/malina_person' target='_blank') @ malina_person

	//- 		.csubscr-widget
	//- 			.csubscr-widget__inner
	//- 				.csubscr-widget__logo-wrapper
	//- 					img.csubscr-widget__logo(src="img/icons/logo-single.svg")
	//- 				.csubscr-widget__title  Присоединяйтесь
	//- 				.csubscr-widget__description Получите доступ к платформе Имрам Крийя
	//- 				.csubscr-widget__inp-wrap
	//- 					input.email-cinp(type="text", name="" placeholder="Введите ваш Email")
	//- 				.btn.btn--square.csubscr-widget__btn отправить

	//- 		//.y-restyle
	//- 			.widget.widget_malinasubscribe
	//- 				h3.widget-title.separator
	//- 					span Newsletter
	//- 				p.info-text Get the latest fashion trends, the best in travel and my life.
	//- 				form#newsletter-malinasubscribe-1(method='POST')
	//- 					.newsletter-form
	//- 						.newsletter-email
	//- 							input(type='email' name='subscriber_email' placeholder='Введите ваш e-mail')
	//- 							input#website(type='text' name='website')
	//- 						.newsletter-submit
	//- 							input#message(type='text' name='message')
	//- 							input(type='hidden' name='malina_submit_subscription_malinasubscribe-1' value='Submit')
	//- 							button(type='submit' name='submit_form') &Pcy;&ocy;&dcy;&pcy;&icy;&scy;&acy;&tcy;&softcy;&scy;&yacy;
	//- 		.slider-news-widget-wrap
	//- 			.slider-news-widget
	//- 				.slider-news-widget__title.custom-widget-title Онлайн курсы
	//- 				.slnewsw-slider.js-slnewsw-slider
	//- 					a.slnewsw-slider-item(href="")
	//- 						.slnewsw-slider-item__pic
	//- 							img(src="img/online-courses.jpg", alt="")
	//- 						.slnewsw-slider-item__name Базовый курс медитации
	//- 					a.slnewsw-slider-item(href="")
	//- 						.slnewsw-slider-item__pic
	//- 							img(src="img/online-courses.jpg", alt="")
	//- 						.slnewsw-slider-item__name Базовый курс медитации2
	//- 					a.slnewsw-slider-item(href="")
	//- 						.slnewsw-slider-item__pic
	//- 							img(src="img/online-courses.jpg", alt="")
	//- 						.slnewsw-slider-item__name Базовый курс медитации3
	//- 			.slider-news-widget
	//- 				.slider-news-widget__title.custom-widget-title Видео недели
	//- 				.slnewsw-slider.slnewsw-slider--video.js-slnewsw-slider
	//- 					a.slnewsw-slider-item(href="")
	//- 						.slnewsw-slider-item__pic
	//- 							img(src="img/online-courses.jpg", alt="")
	//- 						.slnewsw-slider-item__name Как развить осознанность
	//- 					a.slnewsw-slider-item(href="")
	//- 						.slnewsw-slider-item__pic
	//- 							img(src="img/online-courses.jpg", alt="")
	//- 						.slnewsw-slider-item__name Базовый курс медитации2
	//- 					a.slnewsw-slider-item(href="")
	//- 						.slnewsw-slider-item__pic
	//- 							img(src="img/online-courses.jpg", alt="")
	//- 						.slnewsw-slider-item__name Базовый курс медитации3
	//- 		.events-widget-wrap
	//- 			.newposts-widget
	//- 				.newposts-widget__title.custom-widget-title Новые статьи
	//- 				.newposts-widget__items
	//- 					a.newposts-widget-item(href="")
	//- 						.newposts-widget-item__title Что такое осознанность
	//- 						.newposts-widget-item__date 28 Января 2021
	//- 					a.newposts-widget-item(href="")
	//- 						.newposts-widget-item__title Глубина общения
	//- 						.newposts-widget-item__date 28 Января 2021
	//- 					a.newposts-widget-item(href="")
	//- 						.newposts-widget-item__title Как стать счастливым
	//- 						.newposts-widget-item__date 28 Января 2021

	//- 			.wnevents-widget
	//- 				a.wnevents-widget__item(href="")
	//- 					.wnevents-widget__pic
	//- 						img(src="img/wnevents-1.jpg", alt="")
	//- 					.wnevents-widget__title События недели
	//- 				a.wnevents-widget__item(href="")
	//- 					.wnevents-widget__pic
	//- 						img(src="img/wnevents-2.jpg", alt="")
	//- 					.wnevents-widget__title Статьи мастера

	//- 		#music-player.music-player
	//- 			.music-player-top
	//- 				.amplitude-next.music-player-top__next <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.499998 14.001C0.499999 6.54513 6.54416 0.500978 14 0.500979C21.4558 0.50098 27.5 6.54514 27.5 14.001C27.5 21.4568 21.4558 27.501 14 27.501C6.54415 27.501 0.499996 21.4568 0.499998 14.001Z" fill="white" stroke="#AFB4BF"/><path d="M17.8016 14.9074L12.9863 19.8266C12.8921 19.9234 12.768 19.9839 12.6351 19.9979C12.5022 20.0118 12.3686 19.9784 12.2571 19.9033L12.1713 19.8266L12.0962 19.739C12.0335 19.6434 12 19.5309 12 19.4158C12 19.3007 12.0335 19.1882 12.0962 19.0926L12.1713 19.0049C12.1946 18.9738 12.2238 18.9477 12.2571 18.9282L16.1822 14.9074C16.2896 14.7966 16.3499 14.647 16.3499 14.491C16.3499 14.3351 16.2896 14.1855 16.1822 14.0747L12.2571 10.0319L12.1713 9.95525C12.0956 9.85682 12.0545 9.73529 12.0545 9.61013C12.0545 9.48498 12.0956 9.36345 12.1713 9.26502L12.2463 9.17737L12.3321 9.10068C12.4274 9.03567 12.5393 9.00098 12.6539 9.00098C12.7684 9.00098 12.8804 9.03567 12.9756 9.10068L13.0614 9.17737L17.4799 13.6803L17.8767 14.0966C17.9682 14.2159 18.0114 14.3664 17.9974 14.5173C17.9835 14.6681 17.9134 14.8078 17.8016 14.9074Z" fill="#AFB4BF"/></svg>
	//- 				.amplitude-prev.music-player-top__prev <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.5 14C27.5 21.4558 21.4558 27.5 14 27.5C6.54416 27.5 0.500001 21.4558 0.500001 14C0.500002 6.54415 6.54416 0.499998 14 0.499999C21.4558 0.499999 27.5 6.54416 27.5 14Z" fill="white" stroke="#AFB4BF"/><path d="M10.1984 13.0936L15.0137 8.17435C15.1079 8.07759 15.232 8.01709 15.3649 8.00311C15.4978 7.98913 15.6314 8.02254 15.7429 8.09766L15.8287 8.17435L15.9038 8.262C15.9665 8.35761 16 8.47011 16 8.5852C16 8.70029 15.9665 8.81279 15.9038 8.9084L15.8287 8.99605C15.8054 9.02717 15.7762 9.05324 15.7429 9.07274L11.8178 13.0936C11.7104 13.2044 11.6501 13.354 11.6501 13.5099C11.6501 13.6659 11.7104 13.8155 11.8178 13.9263L15.7429 17.969L15.8287 18.0457C15.9044 18.1442 15.9455 18.2657 15.9455 18.3908C15.9455 18.516 15.9044 18.6375 15.8287 18.736L15.7537 18.8236L15.6679 18.9003C15.5726 18.9653 15.4607 19 15.3461 19C15.2316 19 15.1196 18.9653 15.0244 18.9003L14.9386 18.8236L10.5201 14.3207L10.1233 13.9044C10.0318 13.7851 9.98861 13.6345 10.0026 13.4837C10.0165 13.3328 10.0866 13.1932 10.1984 13.0936Z" fill="#AFB4BF"/></svg>

	//- 				.music-player-center
	//- 					.music-player__album-art
	//- 						img(data-amplitude-song-info='cover_art_url')
	//- 					.song-meta-data
	//- 					span.music-player__song-name(data-amplitude-song-info='name')
	//- 					span.music-player__song-artist(data-amplitude-song-info='artist')
	//- 					.music-player__time-progress
	//- 						.soundRS__progress-container
	//- 							input.amplitude-song-slider.js-song-progress-slider(type='range' min="0" max="100" value='0')
	//- 							progress#song-played-progress.amplitude-song-played-progress
	//- 							//progress#song-buffered-progress.amplitude-buffered-progress(value='0')
	//- 						.music-player__time-container
	//- 							span.music-player__current-time
	//- 								span.amplitude-current-minutes
	//- 								| :
	//- 								span.amplitude-current-seconds
	//- 							span.music-player__duration
	//- 								span.amplitude-duration-minutes
	//- 								| :
	//- 								span.amplitude-duration-seconds


	//- 					.music-player__controls
	//- 						.amplitude-prev.music-player__prev
	//- 							img(src="img/player-controls/prev.svg", alt="")
	//- 						.amplitude-play-pause.music-player-mainctrl
	//- 							.music-player-mainctrl__pause
	//- 								img(src="img/player-controls/pause.svg", alt="")
	//- 							.music-player-mainctrl__play
	//- 								img(src="img/player-controls/play.svg", alt="")

	//- 						.amplitude-next.music-player__next
	//- 							img(src="img/player-controls/next.svg", alt="")

	//- 					.musicpl-bottom-controls
	//- 						.musicpl-bottom-controls__playlist
	//- 							img(src="img/player-controls/playlist.svg", alt="")
	//- 						a#song-orig-link.musicpl-bottom-controls__orig.musicpl-bottom-controls__orig_link(href="#")
	//- 							img(src="img/player-controls/star.svg", alt="")
	//- 						.musicpl-bottom-controls__volume
	//- 							.volumeRS-wrap
	//- 								input.amplitude-volume-slide.js-volume-slider(type='range' min="0" max="100" value='100')
	//- 							img(src="img/player-controls/volume.svg", alt="")
	//- 			.music-player__playlist-container
	//- 				.music-player__playlist
	section.hm-galery
		.container.container--extra-long
			.hm-galery__row
				.hm-galery__img-wrapper
					img.hm-galery__img(src="img/gallery/photo1.jpg")
				.hm-galery__img-wrapper
					img.hm-galery__img(src="img/gallery/photo2.jpg")
				.hm-galery__img-wrapper
					img.hm-galery__img(src="img/gallery/photo3.jpg")
				.hm-galery__img-wrapper
					img.hm-galery__img(src="img/gallery/photo4.jpg")
				a.hm-galery__white-box(href="#")
					p Все<br/>фотографии