extends layouts/default

block vars
	-
		const page = {
				title: 'article-master'
		};


block main
	.kriya-science-main
		include components/music/home-slider-version-no-slider


		section.ks-post-constructor
			include components/music/tabs

			//Доп часть которая идёт после "Окончание вкладок, и отображается в зависимости от выбранной вкладки"
			.js-common-tab.common-tab.common-tab--1.common-tab--2.common-tab--active

				include components/music/listen-us

				include components/music/insta-slider

				include components/seminar/reviews


				include components/music/subsmusic



	section.hm-galery
		.container.container--extra-long
			.hm-galery__row
				.hm-galery__img-wrapper
					img.hm-galery__img(src="img/gallery/photo1.jpg")
				.hm-galery__img-wrapper
					img.hm-galery__img(src="img/gallery/photo2.jpg")
				.hm-galery__img-wrapper
					img.hm-galery__img(src="img/gallery/photo3.jpg")
				.hm-galery__img-wrapper
					img.hm-galery__img(src="img/gallery/photo4.jpg")
				a.hm-galery__white-box(href="#")
					p Все<br/>фотографии