extends layouts/default

block vars
	-
		const page = {
			title: 'article-master'
		};

	-
		var header_class_name="site-header--partial-static";


block main
	.kriya-science-main

		.container.container--ks-only-tab
			.hr

		section.ks-post-constructor


			.kspc-text-with-pic-and-hide
				.container.container--ks
					.kspc-twpah.kspc-twpah--pic-right.kspc-twpah--mob-show-24
						.kspc-twpah__pic
							img(src="img/DEE6E9.png", alt="")
						//.kspc-twpah__delimiter
						.kspc-twpah__text
							p Йога присутствует во всех аспектах бытия. Она позволяет познать себя как микрокосмос, используя космический инструмент, которым является наше тело. Применяя научный психо&#8209;физиологический метод, мы можем пробудить внутренние резервы организма (знания, Свыше, с которыми мы рождаемся) и познать себя, как проявление Вселенной, созданной Высшим Творцом.
							p В Йоге используются три основных уровня восприятия  – это ментальный, психо&#8209;эмоциональный и физический. Все это помогает познать Духовный мир.
							p Йог – тот, кто осознает присутствие Вездесущего Творца в каждый момент своего бытия, в каждом дыхании!
							p Это тот, кто является выражением Божественной Силы, Мудрости и Покоя. Это тот, кто растворился, и  в итоге осознал Единство, полностью стерев свое эго. К этому можно прийти через Святую Науку Крийя -сосредоточение -внушение - восприятие .
							p Йога — это опыт, который помогает человеку прочувствовать это единство с Высшим Я, внутри нас и это абсолютно научный метод. Метод, который позволяет воссоединиться с тем, Кто есть Всё-во-всём…
							div.kspc-twpah-unwrap.js-kspc-twpah-unwrap
								span.kspc-twpah-unwrap__dots ...
								span.kspc-twpah-unwrap__text  Развернуть
						.clearfix


			.kspc-simple-text
				.container.container--ks
					.kspc-simple-text__h2 Метод ускоренной эволюции
					.kspc-simple-text__p
						p Для прохождения и трансформации всех уровней сознания требуется один миллион лет сознательной практики и праведной жизни.
						p Каждые 8 лет наш мозг обновляется. Например, мозг восьмилетнего ребенка не может воспринять информацию и знания 16-и летнего.  Хотя энергия идет постоянно, но усвоить её мозг не способен, не хватает понимания. Огромное количество наших нейронов спит, емкость восприятия малая.
						p Через восемь лет клетки мозга обновляются и происходит раскрытие под воздействием Солнца, химическим процессов и преобразования химических элементов внутри человека. Каждые  8 лет обновляя клетки мозга&nbsp;можно прийти к Реализации или высочайшей осознанности, но для это требуется один миллион лет эволюции.

			.quote-with-parallax.js-jarallax-1(style="background-image:url(img/quotes-bg-new.jpg);")
				.container.container--ks.container--qwp
					.quote-with-parallax-quote Крийя является физическим, научным и духовным методом, посредством которого ускоряется развитие тела, ума и души и достигается самореализация человека.



		.container.container--ks
			.hr



