.page-tabs-section--comments {
	padding-top: 36px;

	&+.reviews {
		margin-top: 45px;
	}
}

.hr-after-comments-slider {
	margin-top: 58px;
}

//начало планшета
@media screen and (max-width:1150px) {
	.page-tabs-section--comments+.reviews {
		margin-top: 55px;
	}

	.hr-after-comments-slider{
		display: none;
	}
}


//начало мобилки 767 было
@media screen and (max-width: 749px) {
	.page-tabs-section--comments {
		padding-top: vw(42);

		&+.reviews {
			margin-top: vw(48);
		}
	}
	.hr-after-comments-slider{
		display: block;
		margin-top: 0;
	}

}