//начало планшета
@media screen and (max-width:1150px) {
	.course-cards-hr-before {}

	.course-cards-section {
		margin-top: 48px;

		.container {
			&--ks {}
		}
	}

	.course-cards-title {
		font-size: 39px;
		line-height: 49px;
	}

	.course-cards {
		margin-top: 24px;
	}

	.course-cards-item {
		&__pic {
			&::before {}

			img {}
		}

		&__name {
			font-weight: 500;
			font-size: 19px;
			line-height: 26px;
			margin-top: 15px;
		}

		&:hover {}

		&:active {}

		&:focus {}
	}

}


//начало мобилки 767 было
@media screen and (max-width: 749px) {

	.course-cards-hr-before {}

	.course-cards-section {
		.container {
			&--ks {}
		}
		margin-top: vw(51);
	}

	.course-cards-title {
		font-size: vw(32);
		line-height: vw(39);
		/* identical to box height, or 122% */

		//text-align: center;
		letter-spacing: -0.03em;
	}

	.course-cards {
		margin-top: vw(26);
	margin-bottom: 0;}

	.course-cards-item {
		width: vw(266);
		margin-left: 0;
		margin-right: vw(22);
		&__pic {
			&::before {}

			img {}
		}

		&__name {
			font-style: normal;
			font-size: vw(15);
			line-height: vw(24);
			font-weight: 600;
			margin-top: vw(7);
		}

		&:hover {}

		&:active {}

		&:focus {}
	}
}