section.ks-post-constructor.ks-post-constructor--course-archive
	.course-archive
		.course-archive-item
			.kspc-text-with-pic-and-hide.kspc-text-with-pic-and-hide--has-title-top
				.container.container--ks
					h2.kspc-h2-style.kspc-twpah-title-top Крийя-Нидра курс
					.kspc-twpah.kspc-twpah--pic-right.kspc-twpah--non-hide.kspc-twpah--small-dist
						.kspc-twpah__pic
							img(src="img/DEE6E9.png", alt="")
						//.kspc-twpah__delimiter
						.kspc-twpah__text
							p Крийя-Нидра - техника глубокого расслабления и погружения внутрь себя
							p Крийя-нидра – это осознанное погружение внутрь себя, в глубочайшее состояние. Эта практика хороша тем, что позволяет человеку выйти за пределы обычного привычного мышления.
							p Крийя-Нидра это действие, которое вы создаете в момент погружения внутрь себя. Оно намного важнее и эффективнее, чем простое<br class="dd"> расслабление тела, как это делается в шавасане или в йога-нидре.


						.clearfix


			.kspc-simple-text
				.container.container--ks
					.kspc-simple-text__h2.kspc-simple-text__h2--small Курс состоит из 4 практических занятий:
					.kspc-simple-text__p.custom-ul.custom-ul--grey-dots

						ul
							li Базовая система погружения и расслабления;
							li Техники магнетизации тела и глубокого погружения;
							li Продвинутая работа с энергоцентрами и каналом Сушумна, техника пробуждения Всевидящего Ока;
							li Система самоисцеления и оздоровления собственными гормонами и транквилизаторами.
						.btn-more-about-course-wrap
							a.btn.btn--more-about-course(href="")  Подробнее о курсе




		.container.container--ks.course-archive-item-hr-before
			.hr

		.course-archive-item
			.kspc-text-with-pic-and-hide.kspc-text-with-pic-and-hide--has-title-top
				.container.container--ks
					h2.kspc-h2-style.kspc-twpah-title-top Базовый Курс медитации Крийя
					.kspc-twpah.kspc-twpah--pic-right.kspc-twpah--non-hide.kspc-twpah--small-dist
						.kspc-twpah__pic
							img(src="img/DEE6E9.png", alt="")
						//.kspc-twpah__delimiter
						.kspc-twpah__text
							p Данный курс является самостоятельной системой практик, построен таким образом, чтобы вы<br class="dd"> смогли практиковать в домашних условиях в течении многих месяцев, лет или до посвящения в 6 ступеней Крийя на Семинаре Мастера Имрама.
							p Если вы уже проходили 2-дневный Семинар, вам будут доступны дополнительные техники для еще большего погружения внутрь себя.
							p Курс предназначен как для начинающих, так и продвинутых практиков, включает различные режимы сложности и предусматривает увеличение нагрузки по мере Вашего продвижения и<br class="dd">  развития.

						.clearfix


			.kspc-simple-text
				.container.container--ks
					.kspc-simple-text__h2.kspc-simple-text__h2--small Курс включает:
					.kspc-simple-text__p.custom-ul.custom-ul--grey-dots

						ul
							li Базовые техники медитации, энергизации и магнетизции тел
							li Продвинутые и техники
							li Прогрессивная техника
							li Техники научной концентрации и расслабления
							li Теоретическое разъяснения техник
							li Практика Крийя с Мастером Имрамом
							li 18 техник Крийя

						p
							i После прохождения курса у вас появится система практик и рекомендаций Мастера для ускоренной эволюции и дальнейшего самостоятельного продвижения в течение многих лет.
						.btn-more-about-course-wrap
							a.btn.btn--more-about-course(href="")  Подробнее о курсе

	.container.container--ks.section-hmlearn2-after-course-archive
		section.banner.section-hmlearn2
			picture.banner__picture
				source.banner__source(srcset="img/hmlearn2-mob.jpg" media="(max-width: 749px)")
				img(src="img/hmlearn2.jpg")
			.banner__content
				.banner__title Записи мероприятий
				.banner__title2 Вебинары. Лекции. Сатсанги.
				.banner__more.read-more Подробнее