section.band.band_video
    .container.band__container
        .section-title.band__title Наши видео
        .band__row.band__row_video
            .card.band__card.band__card_video
                .card__img-wrapper.band__img-wrapper.band__img-wrapper_video
                    img.card__img.band__img(src="img/0000FF.png")
                .card__title.band__card-title Прана - жизненная сила
                .card__theme.band__theme-wrapper.band__theme-wrapper_video
                    a.card__theme-link.band__theme-link Саморазвитие
                    .card__theme-date.band__theme-date 20 фев 2021
                    .card__theme-icon.band__theme-icon
            .card.band__card.band__card_video
                .card__img-wrapper.band__img-wrapper.band__img-wrapper_video
                    img.card__img.band__img(src="img/0000FF.png")
                .card__title.band__card-title Как развить осознанность - личный опыт Мастера Имрама
                .card__theme.band__theme-wrapper.band__theme-wrapper_video
                    a.card__theme-link.band__theme-link Саморазвитие
                    .card__theme-date.band__theme-date 20 фев 2021
                    .card__theme-icon.band__theme-icon
            .card.band__card.band__card_video
                .card__img-wrapper.band__img-wrapper.band__img-wrapper_video
                    img.card__img.band__img(src="img/0000FF.png")
                .card__title.band__card-title Иллюзорность мира
                .card__theme.band__theme-wrapper.band__theme-wrapper_video
                    a.card__theme-link.band__theme-link Саморазвитие
                    .card__theme-date.band__theme-date 20 фев 2021
                    .card__theme-icon.band__theme-icon
            .card.band__card.band__card_video
                .card__img-wrapper.band__img-wrapper.band__img-wrapper_video
                    img.card__img.band__img(src="img/0000FF.png")
                .card__title.band__card-title Сатсанг с Мастером
                .card__theme.band__theme-wrapper.band__theme-wrapper_video
                    a.card__theme-link.band__theme-link Саморазвитие
                    .card__theme-date.band__theme-date 20 фев 2021
                    .card__theme-icon.band__theme-icon
            .card.band__card.band__card_video
                .card__img-wrapper.band__img-wrapper.band__img-wrapper_video
                    img.card__img.band__img(src="img/0000FF.png")
                .card__title.band__card-title Вебинар-практика КРИЙЯ-НИДРА
                .card__theme.band__theme-wrapper.band__theme-wrapper_video
                    a.card__theme-link.band__theme-link Саморазвитие
                    .card__theme-date.band__theme-date 20 фев 2021
                    .card__theme-icon.band__theme-icon
            .card.band__card.band__card_video
                .card__img-wrapper.band__img-wrapper.band__img-wrapper_video
                    img.card__img.band__img(src="img/0000FF.png")
                .card__title.band__card-title Что такое медитация / Научный метод выхода за пределы ума
                .card__theme.band__theme-wrapper.band__theme-wrapper_video
                    a.card__theme-link.band__theme-link Саморазвитие
                    .card__theme-date.band__theme-date 20 фев 2021
                    .card__theme-icon.band__theme-icon
            .card.band__card.band__card_video
                .card__img-wrapper.band__img-wrapper.band__img-wrapper_video
                    img.card__img.band__img(src="img/0000FF.png")
                .card__title.band__card-title Прана - жизненная сила
                .card__theme.band__theme-wrapper.band__theme-wrapper_video
                    a.card__theme-link.band__theme-link Саморазвитие
                    .card__theme-date.band__theme-date 20 фев 2021
                    .card__theme-icon.band__theme-icon
            .card.band__card.band__card_video
                .card__img-wrapper.band__img-wrapper.band__img-wrapper_video
                    img.card__img.band__img(src="img/0000FF.png")
                .card__title.band__card-title Прана - жизненная сила
                .card__theme.band__theme-wrapper.band__theme-wrapper_video
                    a.card__theme-link.band__theme-link Саморазвитие
                    .card__theme-date.band__theme-date 20 фев 2021
                    .card__theme-icon.band__theme-icon
            .card.band__card.band__card_video
                .card__img-wrapper.band__img-wrapper.band__img-wrapper_video
                    img.card__img.band__img(src="img/0000FF.png")
                .card__title.band__card-title Прана - жизненная сила
                .card__theme.band__theme-wrapper.band__theme-wrapper_video
                    a.card__theme-link.band__theme-link Саморазвитие
                    .card__theme-date.band__theme-date 20 фев 2021
                    .card__theme-icon.band__theme-icon
            .card.band__card.band__card_video
                .card__img-wrapper.band__img-wrapper.band__img-wrapper_video
                    img.card__img.band__img(src="img/0000FF.png")
                .card__title.band__card-title Прана - жизненная сила
                .card__theme.band__theme-wrapper.band__theme-wrapper_video
                    a.card__theme-link.band__theme-link Саморазвитие
                    .card__theme-date.band__theme-date 20 фев 2021
                    .card__theme-icon.band__theme-icon
        .pagination.band__pagination
            a.pagination__arrow.pagination__prev()
                include ../../../img/hm-feedback/arrow-prev.svg
            a.pagination__paginate.pagination__paginate-active 1
            a.pagination__paginate 2
            a.pagination__paginate 3
            a.pagination__paginate 4
            .pagination__paginate-more ...
            a.pagination__paginate 69
            a.pagination__arrow.pagination__next
                include ../../../img/hm-feedback/arrow-next.svg