section.new-video
    .container.new-video__container
        .new-video__header
            .section-title.new-video__title Новые видео
            .new-video__link-more.read-more См. все
        .new-video__slider.video-slider
            .card.new-video__slider-card
                .card__img-wrapper.new-video__card-img-wrapper
                    img.card__img.new-video__card-img(src="img/0000FF.png")
                    .new-video__card-time 15:23
                .card__title.new-video__card-title Как возникает эго
                .card__theme.new-video__theme-wrapper
                    a.card__theme-link.new-video__theme-link(href="#") Саморазвитие
                    .card__theme-date.new-video__theme-date 20 фев 2021
                    .card__theme-icon.new-video__theme-icon
            .card.new-video__slider-card
                .card__img-wrapper.new-video__card-img-wrapper
                    img.card__img.new-video__card-img(src="img/0000FF.png")
                    .new-video__card-time 15:23
                .card__title.new-video__card-title Как развить осознанность - личный опыт Мастера Имрама
                .card__theme.new-video__theme-wrapper
                    a.card__theme-link.new-video__theme-link(href="#") Саморазвитие
                    .card__theme-date.new-video__theme-date 20 фев 2021
                    .card__theme-icon.new-video__theme-icon
            .card.new-video__slider-card
                .card__img-wrapper.new-video__card-img-wrapper
                    img.card__img.new-video__card-img(src="img/0000FF.png")
                    .new-video__card-time 15:23
                .card__title.new-video__card-title Как возникает эго
                .card__theme.new-video__theme-wrapper
                    a.card__theme-link.new-video__theme-link(href="#") Саморазвитие
                    .card__theme-date.new-video__theme-date 20 фев 2021
                    .card__theme-icon.new-video__theme-icon
            .card.new-video__slider-card
                .card__img-wrapper.new-video__card-img-wrapper
                    img.card__img.new-video__card-img(src="img/0000FF.png")
                    .new-video__card-time 15:23
                .card__title.new-video__card-title Как возникает эго
                .card__theme.new-video__theme-wrapper
                    a.card__theme-link.new-video__theme-link(href="#") Саморазвитие
                    .card__theme-date.new-video__theme-date 20 фев 2021
                    .card__theme-icon.new-video__theme-icon
            .card.new-video__slider-card
                .card__img-wrapper.new-video__card-img-wrapper
                    img.card__img.new-video__card-img(src="img/0000FF.png")
                    .new-video__card-time 15:23
                .card__title.new-video__card-title Как возникает эго
                .card__theme.new-video__theme-wrapper
                    a.card__theme-link.new-video__theme-link(href="#") Саморазвитие
                    .card__theme-date.new-video__theme-date 20 фев 2021
                    .card__theme-icon.new-video__theme-icon