

.container.article-master-container.container--disable-on-desktop
	.hr
section.section-youtube
	.container.article-master-container.container--disable-on-desktop
		.artimaster-section-title.section-youtube__title Наши YouTube-каналы
	.container.article-master-container.container--disable-on-desktop
		.section-youtube__row.js-yt-slider
			a.section-youtube__link(href="#")
				.section-youtube__icon-wrap
					img.section-youtube__icon(src="img/icons/logo-blue.svg")
				.section-youtube__name Imram Music
			a.section-youtube__link(href="#")
				.section-youtube__icon-wrap
					img.section-youtube__icon(src="img/icons/logo-white.svg")
				.section-youtube__name Имрам Крийя - Йога
			a.section-youtube__link(href="#")
				.section-youtube__icon-wrap
					img.section-youtube__icon(src="img/icons/logo-white.svg")
				.section-youtube__name Imram Kriya - Yoga