section.section-youtube
    .container.section-youtube__container
        .section-title.section-youtube__title Наши YouTube-каналы
        .section-youtube__row
            a.section-youtube__link(href="#")
                img.section-youtube__icon(src="img/icons/logo-blue.svg")
                .section-youtube__name Imram Music
            a.section-youtube__link(href="#")
                img.section-youtube__icon(src="img/icons/logo-white.svg")
                .section-youtube__name Имрам Крийя - Йога
            a.section-youtube__link(href="#")
                img.section-youtube__icon(src="img/icons/logo-white.svg")
                .section-youtube__name Imram Kriya - Yoga