@media screen and (max-width: 1150px) {
	.get-materials-hr-before {

		margin-top: 76px;

		&+.get-materials {
			&--has-title-small {
				margin-top: 52px;
			}

			&--has-title-big {}

		}
	}

	.get-materials-hr-after {
		&+.kspc-simple-text--has-title {
			margin-top: 85px;
		}

		&+.kspc-tags-and-share--after-quote-right {}
	}

	.get-materials {}

	.get-materials-title {
		font-weight: 600;
		font-size: 19px;
		line-height: 24px;
	}

	.get-materials-title-small {

		font-weight: 600;
		font-size: 15px;
		line-height: 24px;

		&+.get-materials-row {
			margin-top: 29px;
		}
	}

	.get-materials-title-big {
		font-size: 24px;
		line-height: 39px;}

	.get-materials-subtitle {
		font-size: 15px;
		line-height: 24px;
		margin-top: 3px;
		&+.get-materials-row {
			margin-top: 30px;}
	}


	.get-materials-row {
		margin-top: 31px;

		&__left {
			width: 337px;
			max-width: calc(100% - 359px);
		}

		&__right {}

		.music-form-input.js-need-validate {
			&--email {}
		}

		.btn--get-materials {
			width: 206px;
			font-weight: 600;
			font-size: 13px;
			line-height: 21px;
		}
	}
}

@media screen and (max-width: 749px) {
	.get-materials-hr-before {
		&+.get-materials {
			&--has-title-small {}

			&--has-title-big {}

		}
	}

	.get-materials-hr-after {
		&+.kspc-simple-text--has-title {}

		&+.kspc-tags-and-share--after-quote-right {}
	}

	.get-materials {
		margin-top: vw(46);
	}

	.get-materials-title {
		font-weight: 600;
		font-size: vw(19);
		line-height: vw(24);
	}

	.get-materials-title-small {

		&+.get-materials-row {}
	}

	.get-materials-title-big {}

	.get-materials-subtitle {
		&+.get-materials-row {}
	}

	.get-materials-row {
		flex-direction: column;
		align-items: center;
		margin-top: vw(30);

		&__left {
			width: 100%;
			max-width: 100%;
			margin-right: 0;
		}

		&__right {
			margin-top: vw(23);
		}

		.music-form-input.js-need-validate {
			&--email {}
		}

		.btn--get-materials {
			width: vw(206);
			font-weight: 600;
			font-size: vw(13);
			line-height: vw(21);
		}
	}
}