@media screen and (max-width: 1150px) {
	.medet-with-us {
		margin-top: 50px;
	}

	.mwus-title {}

	.mwus-sub-title {
		font-size: 15px;
		line-height: 24px;
		margin-top: 6px;
	}

	.mwus-row {
		margin-top: 28px;
	}

	.mwus-item {
		&__pic {
			&::before {}

			img {}
		}

		&__title {
			font-weight: 600;
			font-size: 19px;
			line-height: 24px;
			margin-top: 17px;
		}

		&__desc {
			font-size: 15px;
			line-height: 24px;
			margin-top: 10px;
		}
	}
}

@media screen and (max-width: 749px) {
	.medet-with-us {
		margin-top: vw(50);
	}

	.mwus-title {}

	.mwus-sub-title {
		font-size: vw(15);
		line-height: vw(24);
		margin-top: vw(7);
		/* or 176% */
	}

	.mwus-row {
		margin-top: vw(28);
	}

	.mwus-item {
		width: 100%;

		&__pic {
			&::before {}

			img {}
		}

		&__title {
			font-weight: 600;
			font-size: vw(19);
			line-height: vw(24);
			margin-top: vw(16);
		}

		&__desc {
			font-size: vw(15);
			line-height: vw(24);
			margin-top: vw(10);
		}

		&+.mwus-item {
			margin-top: vw(51);
		}
	}
}