.breadcrumbs-wrap
    .container
        ul.breadcrumbs
            li.breadcrumbs-item
                a.breadcrumbs-item_link(href="") Обучение
                .breadcrumbs-delimiter
            li.breadcrumbs-item
                span.breadcrumbs-item_link.breadcrumbs-item_link--current(href="") Медитация для начинающих