section.section-home-slider
    .home-slider.home-slider--no-slider.home-slider--video
        .home-slider-slide.slick-active
            video.hms-pic(autoplay loop muted)
                source(src="img/edu-hero.mp4")
            .hms-info.hms-info--no-btn
                .hms-info__top
                    .hms-info__title Видео-фон (квадрокоптер черногория)
