section.section-home-slider
    .home-slider.home-slider--no-slider.home-slider--video
        .home-slider-slide.slick-active
            picture
                source(srcset="img/edu-hero.jpg", media="(max-width: 749px)")
                img.hms-pic(src="img/edu-hero.jpg", alt="")
            .hms-info.hms-info--no-btn
                .hms-info__top
                    .hms-info__title Видео-фон (квадрокоптер черногория)
