#tabTop
section.page-tabs-section#js-header-2
    .page-tabs-section__container
        .page-tabs
            .page-tabs__inner
                .page-tabs__item.page-tabs__item--active.active Учимся медитировать
                .page-tabs__item Базовые принципы
                .page-tabs__item Одежда и место для практики
                .page-tabs__item Правильное положение тела

                .page-tabs__line


.page--tabs-blocks
    .page--tabs-blocks__tab.page--tabs-blocks__tab--active
        .kspc-simple-text
            .container.container--ks
                .kspc-simple-text__h2 Что такое медитация?
                .kspc-simple-text__p
                    p Медитация – это состояние за пределами ума, личности, эго. Это состояние, которое позволяет нам на первых порах познакомиться с самим собой, подружиться и выйти в более высокие сферы себя, самоосознания.
                    p Медитация – это состояние, когда вы находитесь очень близко ко Творцу, к Высшему. Но между вами и тем Высшим Я, к которому вы стремитесь существует дистанция.
                    p В качестве примера можно привести аналогию с костром. Медитация – это когда вы сидите у костра, но близко к нему подойти не можете, потому что еще не готовы. Вы наслаждаетесь теплом и любовью этого божественного излучения, вам тепло, хорошо и комфортно, вы близко к этому, и имеете возможность наслаждения.

        .kspc-text-with-pic-and-hide
            .container.container--ks
                .kspc-twpah.kspc-twpah--pic-right
                    .kspc-twpah__pic
                        img(src="img/DEE6E9.png", alt="")
                    //.kspc-twpah__delimiter
                    .kspc-twpah__text
                        p Наслаждаться и радоваться этому – это и есть медитация. Более того, излучение Творца постоянно даёт вам то, в чем вы так сильно нуждаетесь, в случае с костром — это тепло, в случае с божественностью — это безусловная любовь, сила, мудрость, покой и всё что с этим связано. Это – совершенство, волшебство... И это вас меняет.
                        p Медитация – это состояние, когда вы начинаете обладать тем, на что направлена ваша медитация. И когда ваше обладание становится более интенсивным переживанием, и вы напитываете себя, любовь становится всё больше и больше, и вы готовы раствориться в этом, тогда возникает запредельное состояние Самадхи.
                        div.kspc-twpah-unwrap.js-kspc-twpah-unwrap
                            span.kspc-twpah-unwrap__dots ...
                            span.kspc-twpah-unwrap__text  Развернуть
                    .clearfix

        .kspc-media-wrap.kspc-media-wrap--has-title.kspc-media-wrap--has-label
            .container.container--ks
                h2.kspc-media-title.kspc-h2-style Медитация для начинающих
                a.kspc-media.kspc-media--video(href="https://www.youtube.com/embed/tf3wfU6QeG8" data-fancybox)
                    img.kspc-media-preview(src="img/0000FF.png", alt="")
                .kspc-media-text 15 минутная медитация Крийя с Мастером Имрамом

        .kspc-simple-text
            .container.container--ks
                .kspc-simple-text__h2 Медитация доступна для каждого
                .kspc-simple-text__p
                    p Ваша физическая подготовка - не важна. Методика Крийя доступна с первых дней практикования как для начинающих, не имеющих опыта, так и очень продвинутых практиков.


        .kspc-numbered-list
            .container.container--ks
                .kspc-nl
                    h2.kspc-nl__title.kspc-h2-style Как приступить к медитации Крийя

                    ol.kspc-nl__list
                        li.kspc-nl__item Перед началом медитации рекомендуется одеть свободную одежду светлых тонов. Ваша одежда должна была комфортной, свободной и не отвлекать во время практики.
                        li.kspc-nl__item Сядьте в любое удобное положение со скрещенными ногам. Это может быть поза по-турецки, полу-лотос, лотос и т.д. Если вам трудно сидеть со скрещенными ногами, вы можете сесть на стул, пуфик или мягкую подушку.
                        li.kspc-nl__item Важно, чтобы ваш позвоночник был ровным, этого достаточно для начала. Тело расслаблено, поясница расслаблена.
                        li.kspc-nl__item Закройте глаза, слегка поднимите глазные яблоки вверх, смотрите через центр лба. Глаза сильно не напрягайте, вам должно быть комфортно. Если вы устали, опустите глаза, отдохните, расслабьтесь и возвращайтесь в исходное положение (глаза всегда смотрят через центр лба во время практики).
                        li.kspc-nl__item Отведите язык назад, прижав его к верхнему нёбу. Вам должно быть комфортно, делайте это без излишних усилий. Не напрягайтесь, если язык устал, верните его в исходное положение, отдохните и продолжайте практику (язык всегда должен быть отведен назад во время практики).
                        li.kspc-nl__item Приступайте медитациии!

    .page--tabs-blocks__tab
        .kspc-simple-text
            .container.container--ks
                .kspc-simple-text__h2 Что такое медитация? 4
                .kspc-simple-text__p
                    p Медитация – это состояние за пределами ума, личности, эго. Это состояние, которое позволяет нам на первых порах познакомиться с самим собой, подружиться и выйти в более высокие сферы себя, самоосознания.
                    p Медитация – это состояние, когда вы находитесь очень близко ко Творцу, к Высшему. Но между вами и тем Высшим Я, к которому вы стремитесь существует дистанция.
                    p В качестве примера можно привести аналогию с костром. Медитация – это когда вы сидите у костра, но близко к нему подойти не можете, потому что еще не готовы. Вы наслаждаетесь теплом и любовью этого божественного излучения, вам тепло, хорошо и комфортно, вы близко к этому, и имеете возможность наслаждения.


        .kspc-simple-text
            .container.container--ks
                .kspc-simple-text__h2 Что такое медитация? 4
                .kspc-simple-text__p
                    p Медитация – это состояние за пределами ума, личности, эго. Это состояние, которое позволяет нам на первых порах познакомиться с самим собой, подружиться и выйти в более высокие сферы себя, самоосознания.
                    p Медитация – это состояние, когда вы находитесь очень близко ко Творцу, к Высшему. Но между вами и тем Высшим Я, к которому вы стремитесь существует дистанция.
                    p В качестве примера можно привести аналогию с костром. Медитация – это когда вы сидите у костра, но близко к нему подойти не можете, потому что еще не готовы. Вы наслаждаетесь теплом и любовью этого божественного излучения, вам тепло, хорошо и комфортно, вы близко к этому, и имеете возможность наслаждения.


        .kspc-simple-text
            .container.container--ks
                .kspc-simple-text__h2 Что такое медитация? 4
                .kspc-simple-text__p
                    p Медитация – это состояние за пределами ума, личности, эго. Это состояние, которое позволяет нам на первых порах познакомиться с самим собой, подружиться и выйти в более высокие сферы себя, самоосознания.
                    p Медитация – это состояние, когда вы находитесь очень близко ко Творцу, к Высшему. Но между вами и тем Высшим Я, к которому вы стремитесь существует дистанция.
                    p В качестве примера можно привести аналогию с костром. Медитация – это когда вы сидите у костра, но близко к нему подойти не можете, потому что еще не готовы. Вы наслаждаетесь теплом и любовью этого божественного излучения, вам тепло, хорошо и комфортно, вы близко к этому, и имеете возможность наслаждения.


    .page--tabs-blocks__tab
        .kspc-simple-text
            .container.container--ks
                .kspc-simple-text__h2 Что такое медитация? 4
                .kspc-simple-text__p
                    p Медитация – это состояние за пределами ума, личности, эго. Это состояние, которое позволяет нам на первых порах познакомиться с самим собой, подружиться и выйти в более высокие сферы себя, самоосознания.
                    p Медитация – это состояние, когда вы находитесь очень близко ко Творцу, к Высшему. Но между вами и тем Высшим Я, к которому вы стремитесь существует дистанция.
                    p В качестве примера можно привести аналогию с костром. Медитация – это когда вы сидите у костра, но близко к нему подойти не можете, потому что еще не готовы. Вы наслаждаетесь теплом и любовью этого божественного излучения, вам тепло, хорошо и комфортно, вы близко к этому, и имеете возможность наслаждения.


        .kspc-simple-text
            .container.container--ks
                .kspc-simple-text__h2 Что такое медитация? 4
                .kspc-simple-text__p
                    p Медитация – это состояние за пределами ума, личности, эго. Это состояние, которое позволяет нам на первых порах познакомиться с самим собой, подружиться и выйти в более высокие сферы себя, самоосознания.
                    p Медитация – это состояние, когда вы находитесь очень близко ко Творцу, к Высшему. Но между вами и тем Высшим Я, к которому вы стремитесь существует дистанция.
                    p В качестве примера можно привести аналогию с костром. Медитация – это когда вы сидите у костра, но близко к нему подойти не можете, потому что еще не готовы. Вы наслаждаетесь теплом и любовью этого божественного излучения, вам тепло, хорошо и комфортно, вы близко к этому, и имеете возможность наслаждения.


        .kspc-simple-text
            .container.container--ks
                .kspc-simple-text__h2 Что такое медитация? 4
                .kspc-simple-text__p
                    p Медитация – это состояние за пределами ума, личности, эго. Это состояние, которое позволяет нам на первых порах познакомиться с самим собой, подружиться и выйти в более высокие сферы себя, самоосознания.
                    p Медитация – это состояние, когда вы находитесь очень близко ко Творцу, к Высшему. Но между вами и тем Высшим Я, к которому вы стремитесь существует дистанция.
                    p В качестве примера можно привести аналогию с костром. Медитация – это когда вы сидите у костра, но близко к нему подойти не можете, потому что еще не готовы. Вы наслаждаетесь теплом и любовью этого божественного излучения, вам тепло, хорошо и комфортно, вы близко к этому, и имеете возможность наслаждения.


    .page--tabs-blocks__tab
        .kspc-simple-text
            .container.container--ks
                .kspc-simple-text__h2 Что такое медитация? 4
                .kspc-simple-text__p
                    p Медитация – это состояние за пределами ума, личности, эго. Это состояние, которое позволяет нам на первых порах познакомиться с самим собой, подружиться и выйти в более высокие сферы себя, самоосознания.
                    p Медитация – это состояние, когда вы находитесь очень близко ко Творцу, к Высшему. Но между вами и тем Высшим Я, к которому вы стремитесь существует дистанция.
                    p В качестве примера можно привести аналогию с костром. Медитация – это когда вы сидите у костра, но близко к нему подойти не можете, потому что еще не готовы. Вы наслаждаетесь теплом и любовью этого божественного излучения, вам тепло, хорошо и комфортно, вы близко к этому, и имеете возможность наслаждения.


        .kspc-simple-text
            .container.container--ks
                .kspc-simple-text__h2 Что такое медитация? 4
                .kspc-simple-text__p
                    p Медитация – это состояние за пределами ума, личности, эго. Это состояние, которое позволяет нам на первых порах познакомиться с самим собой, подружиться и выйти в более высокие сферы себя, самоосознания.
                    p Медитация – это состояние, когда вы находитесь очень близко ко Творцу, к Высшему. Но между вами и тем Высшим Я, к которому вы стремитесь существует дистанция.
                    p В качестве примера можно привести аналогию с костром. Медитация – это когда вы сидите у костра, но близко к нему подойти не можете, потому что еще не готовы. Вы наслаждаетесь теплом и любовью этого божественного излучения, вам тепло, хорошо и комфортно, вы близко к этому, и имеете возможность наслаждения.


        .kspc-simple-text
            .container.container--ks
                .kspc-simple-text__h2 Что такое медитация? 4
                .kspc-simple-text__p
                    p Медитация – это состояние за пределами ума, личности, эго. Это состояние, которое позволяет нам на первых порах познакомиться с самим собой, подружиться и выйти в более высокие сферы себя, самоосознания.
                    p Медитация – это состояние, когда вы находитесь очень близко ко Творцу, к Высшему. Но между вами и тем Высшим Я, к которому вы стремитесь существует дистанция.
                    p В качестве примера можно привести аналогию с костром. Медитация – это когда вы сидите у костра, но близко к нему подойти не можете, потому что еще не готовы. Вы наслаждаетесь теплом и любовью этого божественного излучения, вам тепло, хорошо и комфортно, вы близко к этому, и имеете возможность наслаждения.






