.top-btn-wrap
	.top-btn-wrap__inner.container
		#top-btn.top-btn.js-top-btn
			| <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.8867 0.462901L23.6196 11.6986C23.8307 11.9185 23.9627 12.208 23.9932 12.5182C24.0237 12.8283 23.9508 13.1399 23.7869 13.4002L23.6196 13.6004L23.4284 13.7756C23.2198 13.9219 22.9743 14 22.7232 14C22.4721 14 22.2266 13.9219 22.018 13.7756L21.8268 13.6004C21.7589 13.5459 21.702 13.4779 21.6595 13.4002L12.8867 4.2415C12.645 3.99088 12.3185 3.85029 11.9783 3.85029C11.6381 3.85029 11.3117 3.99088 11.07 4.2415L2.24937 13.4002L2.08205 13.6004C1.86729 13.777 1.60213 13.8729 1.32907 13.8729C1.056 13.8729 0.790844 13.777 0.57609 13.6004L0.384858 13.4252L0.217528 13.225C0.0756992 13.0028 -5.50073e-08 12.7416 -6.66892e-08 12.4743C-7.83711e-08 12.2071 0.0756992 11.9458 0.217528 11.7236L0.384858 11.5234L10.2094 1.21361L11.1178 0.287735C11.378 0.0742574 11.7065 -0.0265813 12.0356 0.00600953C12.3647 0.0385994 12.6693 0.202135 12.8867 0.462901Z" fill="#AFB4BF"/></svg>

footer.site-footer
	.container.container--sfoo
		.sfoo-top
			.sfoo-col
				.sfoo-col__title
					span Мероприятия
					.sfoo-col__plus <svg width="9" height="9" viewbox=" 0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" width="1" height="9" rx=".5" fill="#AFB4BF"/><rect y="5" width="1" height="9" rx=".5" transform="rotate(-90 0 5)" fill="#AFB4BF"/></svg>
				.sfoo-list
					a.sfoo-list__item(href="") Семинары
					a.sfoo-list__item(href="") Лекции
					a.sfoo-list__item(href="") Вебинары
					a.sfoo-list__item(href="") Ретриты
					a.sfoo-list__item(href="") Календарь мероприятий
				.sfoo-col__title
					span Статьи
					.sfoo-col__plus <svg width="9" height="9" viewbox=" 0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" width="1" height="9" rx=".5" fill="#AFB4BF"/><rect y="5" width="1" height="9" rx=".5" transform="rotate(-90 0 5)" fill="#AFB4BF"/></svg>
				.sfoo-list
					a.sfoo-list__item(href="") Новые статьи
					a.sfoo-list__item(href="") Наука Крийя
					a.sfoo-list__item(href="") Саморазвитие
					a.sfoo-list__item(href="") Творчество
					a.sfoo-list__item(href="") Здоровье
					a.sfoo-list__item(href="") Семейные отношения
			.sfoo-col
				.sfoo-col__title
					span О Мастере
					.sfoo-col__plus <svg width="9" height="9" viewbox=" 0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" width="1" height="9" rx=".5" fill="#AFB4BF"/><rect y="5" width="1" height="9" rx=".5" transform="rotate(-90 0 5)" fill="#AFB4BF"/></svg>
				.sfoo-list
					a.sfoo-list__item(href="") Биография
					a.sfoo-list__item(href="") Встреча с Бабаджи
					a.sfoo-list__item(href="") Философия
				.sfoo-col__title
					span Обучение
					.sfoo-col__plus <svg width="9" height="9" viewbox=" 0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" width="1" height="9" rx=".5" fill="#AFB4BF"/><rect y="5" width="1" height="9" rx=".5" transform="rotate(-90 0 5)" fill="#AFB4BF"/></svg>
				.sfoo-list
					a.sfoo-list__item(href="") Все курсы
					a.sfoo-list__item(href="") Медитация для начинающих
					a.sfoo-list__item(href="") Гид по медитации
					a.sfoo-list__item(href="") Уроки для дома
					a.sfoo-list__item(href="") Углубленная медитация Крия
					a.sfoo-list__item(href="") Расписание онлайн прктики
					a.sfoo-list__item(href="") Отзывы
			.sfoo-col
				.sfoo-col__title
					span Наука Крийя
					.sfoo-col__plus <svg width="9" height="9" viewbox=" 0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" width="1" height="9" rx=".5" fill="#AFB4BF"/><rect y="5" width="1" height="9" rx=".5" transform="rotate(-90 0 5)" fill="#AFB4BF"/></svg>
				.sfoo-list
					a.sfoo-list__item(href="") Что такое Крийя
					a.sfoo-list__item(href="") Энергизация тела
					a.sfoo-list__item(href="") 42 Крийя
					a.sfoo-list__item(href="") Прогрессивные техники
					a.sfoo-list__item(href="") Супертехника Крийя
					a.sfoo-list__item(href="") Сосуд Трансцендентной силы
					a.sfoo-list__item(href="") Учителя
					a.sfoo-list__item(href="") Книги
					a.sfoo-list__item(href="") Отзывы
				.sfoo-col__title
					span Видео
					.sfoo-col__plus <svg width="9" height="9" viewbox=" 0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" width="1" height="9" rx=".5" fill="#AFB4BF"/><rect y="5" width="1" height="9" rx=".5" transform="rotate(-90 0 5)" fill="#AFB4BF"/></svg>
				.sfoo-list
					a.sfoo-list__item(href="") Новые видео
					a.sfoo-list__item(href="") Новые видео
			.sfoo-col
				.sfoo-col__title
					span Музыка
					.sfoo-col__plus <svg width="9" height="9" viewbox=" 0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" width="1" height="9" rx=".5" fill="#AFB4BF"/><rect y="5" width="1" height="9" rx=".5" transform="rotate(-90 0 5)" fill="#AFB4BF"/></svg>
				.sfoo-list
					a.sfoo-list__item(href="") Творчество Имрама
					a.sfoo-list__item(href="") Преобразующая музыка
					a.sfoo-list__item(href="") Альбомы
					a.sfoo-list__item(href="") Отзывы
					a.sfoo-list__item(href="") Фото
					a.sfoo-list__item(href="") Расписание концертов
				.sfoo-col__title
					span О нас
					.sfoo-col__plus <svg width="9" height="9" viewbox=" 0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" width="1" height="9" rx=".5" fill="#AFB4BF"/><rect y="5" width="1" height="9" rx=".5" transform="rotate(-90 0 5)" fill="#AFB4BF"/></svg>
				.sfoo-list
					a.sfoo-list__item(href="") Контакты
					a.sfoo-list__item(href="") Сотрудничество
					a.sfoo-list__item(href="") Поддержите развитие
		.sfoo-bottom
			.sfoo-copywryting © 2021 Все права защищены.
			.sfoo-bottom-menu
				a.sfoo-bottom-menu__item(href="") Политика конфиденциальности
				a.sfoo-bottom-menu__item(href="") Договор оферты
				a.sfoo-bottom-menu__item(href="") Карта сайта
				a.sfoo-bottom-menu__item(href="") Россия
			.sfoo-bottom-right
				.ssocials.ssocials--sfoo
					a.ssocials-item(href="")
						include ../../img/icons/icon_insta.svg
					a.ssocials-item(href="")
						include ../../img/icons/icon_yt.svg
					a.ssocials-item(href="")
						include ../../img/icons/icon_fb.svg
					a.ssocials-item(href="")
						include ../../img/icons/icon_vk.svg

