footer.site-footer
	.container.container--sfoo
		.sfoo-top
			.sfoo-col
				.sfoo-col__title
					span Мероприятия
					.sfoo-col__plus <svg width="9" height="9" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" width="1" height="9" rx=".5" fill="#AFB4BF"/><rect y="5" width="1" height="9" rx=".5" transform="rotate(-90 0 5)" fill="#AFB4BF"/></svg>
				.sfoo-list
					a.sfoo-list__item(href="") Семинары
					a.sfoo-list__item(href="") Лекции
					a.sfoo-list__item(href="") Вебинары
					a.sfoo-list__item(href="") Ретриты
					a.sfoo-list__item(href="") Календарь мероприятий
				.sfoo-col__title
					span Статьи
					.sfoo-col__plus <svg width="9" height="9" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" width="1" height="9" rx=".5" fill="#AFB4BF"/><rect y="5" width="1" height="9" rx=".5" transform="rotate(-90 0 5)" fill="#AFB4BF"/></svg>
				.sfoo-list
					a.sfoo-list__item(href="") Новые статьи
					a.sfoo-list__item(href="") Наука Крийя
					a.sfoo-list__item(href="") Саморазвитие
					a.sfoo-list__item(href="") Творчество
					a.sfoo-list__item(href="") Здоровье
					a.sfoo-list__item(href="") Семейные отношения
			.sfoo-col
				.sfoo-col__title
					span О Мастере
					.sfoo-col__plus <svg width="9" height="9" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" width="1" height="9" rx=".5" fill="#AFB4BF"/><rect y="5" width="1" height="9" rx=".5" transform="rotate(-90 0 5)" fill="#AFB4BF"/></svg>
				.sfoo-list
					a.sfoo-list__item(href="") Биография
					a.sfoo-list__item(href="") Встреча с Бабаджи
					a.sfoo-list__item(href="") Философия
				.sfoo-col__title
					span Обучение
					.sfoo-col__plus <svg width="9" height="9" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" width="1" height="9" rx=".5" fill="#AFB4BF"/><rect y="5" width="1" height="9" rx=".5" transform="rotate(-90 0 5)" fill="#AFB4BF"/></svg>
				.sfoo-list
					a.sfoo-list__item(href="") Все курсы
					a.sfoo-list__item(href="") Медитация для начинающих
					a.sfoo-list__item(href="") Гид по медитации
					a.sfoo-list__item(href="") Уроки для дома
					a.sfoo-list__item(href="") Углубленная медитация Крия
					a.sfoo-list__item(href="") Расписание онлайн прктики
					a.sfoo-list__item(href="") Отзывы
			.sfoo-col
				.sfoo-col__title
					span Наука Крийя
					.sfoo-col__plus <svg width="9" height="9" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" width="1" height="9" rx=".5" fill="#AFB4BF"/><rect y="5" width="1" height="9" rx=".5" transform="rotate(-90 0 5)" fill="#AFB4BF"/></svg>
				.sfoo-list
					a.sfoo-list__item(href="") Что такое Крийя
					a.sfoo-list__item(href="") Энергизация тела
					a.sfoo-list__item(href="") 42 Крийя
					a.sfoo-list__item(href="") Прогрессивные техники
					a.sfoo-list__item(href="") Супертехника Крийя
					a.sfoo-list__item(href="") Сосуд Трансцендентной силы
					a.sfoo-list__item(href="") Учителя
					a.sfoo-list__item(href="") Книги
					a.sfoo-list__item(href="") Отзывы
				.sfoo-col__title
					span Видео
					.sfoo-col__plus <svg width="9" height="9" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" width="1" height="9" rx=".5" fill="#AFB4BF"/><rect y="5" width="1" height="9" rx=".5" transform="rotate(-90 0 5)" fill="#AFB4BF"/></svg>
				.sfoo-list
					a.sfoo-list__item(href="") Новые видео
					a.sfoo-list__item(href="") Новые видео
			.sfoo-col
				.sfoo-col__title
					span Музыка
					.sfoo-col__plus <svg width="9" height="9" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" width="1" height="9" rx=".5" fill="#AFB4BF"/><rect y="5" width="1" height="9" rx=".5" transform="rotate(-90 0 5)" fill="#AFB4BF"/></svg>
				.sfoo-list
					a.sfoo-list__item(href="") Творчество Имрама
					a.sfoo-list__item(href="") Преобразующая музыка
					a.sfoo-list__item(href="") Альбомы
					a.sfoo-list__item(href="") Отзывы
					a.sfoo-list__item(href="") Фото
					a.sfoo-list__item(href="") Расписание концертов
				.sfoo-col__title
					span О нас
					.sfoo-col__plus <svg width="9" height="9" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" width="1" height="9" rx=".5" fill="#AFB4BF"/><rect y="5" width="1" height="9" rx=".5" transform="rotate(-90 0 5)" fill="#AFB4BF"/></svg>
				.sfoo-list
					a.sfoo-list__item(href="") Контакты
					a.sfoo-list__item(href="") Сотрудничество
					a.sfoo-list__item(href="") Поддержите развитие
		.sfoo-bottom
			.sfoo-copywryting © 2021 Все права защищены.
			.sfoo-bottom-menu
				a.sfoo-bottom-menu__item(href="") Политика конфиденциальности
				a.sfoo-bottom-menu__item(href="") Договор оферты
				a.sfoo-bottom-menu__item(href="") Карта сайта
				a.sfoo-bottom-menu__item(href="") Россия
			.sfoo-bottom-right
				.ssocials.ssocials--sfoo
					a.ssocials-item(href="")
						include ../../img/icons/icon_insta.svg
					a.ssocials-item(href="")
						include ../../img/icons/icon_yt.svg
					a.ssocials-item(href="")
						include ../../img/icons/icon_fb.svg
					a.ssocials-item(href="")
						include ../../img/icons/icon_vk.svg

