header.site-header#site-header.compensate-for-scrollbar(class=header_class_name )
	.site-header__inner
		.sh-left
			.sh-burger-wrap.sh-burger-wrap--main
				.sh-burger
					span
			a.sh-logo(href="")
				img(src="img/sh-logo.svg", alt="")
		.sh-center
			ul.sh-menu
				li.sh-menu-item
					a.sh-menu-item__link(href="") Мероприятия
				li.sh-menu-item
					a.sh-menu-item__link(href="") О Мастере
				li.sh-menu-item
					a.sh-menu-item__link(href="") Наука крийя
				li.sh-menu-item
					a.sh-menu-item__link(href="") Обучение
				li.sh-menu-item
					a.sh-menu-item__link(href="") Статьи
				li.sh-menu-item
					a.sh-menu-item__link(href="") Видео
				li.sh-menu-item
					a.sh-menu-item__link(href="") Музыка
		.sh-right
			.sh-lang-switcher
				a.lang-switcher(href="") En
			.sh-socials
				.ssocials
					a.ssocials-item(href="")
						include ../../img/icons/icon_insta.svg
					a.ssocials-item(href="")
						include ../../img/icons/icon_yt.svg
					a.ssocials-item(href="")
						include ../../img/icons/icon_vk.svg
					a.ssocials-item(href="")
						include ../../img/icons/icon_tg.svg

			.sh-burger-wrap-right
				.sh-burger
					span
			.sh-authorize
				a.sh-authorize__link(href="")
					span Вход
					//|  <svg width="10" height="12" viewbox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.096 3.968A4.013 4.013 0 002.242 6.77 3.883 3.883 0 005 7.935 3.883 3.883 0 007.756 6.77a4.013 4.013 0 001.147-2.802 4.013 4.013 0 00-1.147-2.802A3.883 3.883 0 005 0a3.883 3.883 0 00-2.757 1.166 4.013 4.013 0 00-1.146 2.802zm6.888 0a3.069 3.069 0 01-.877 2.142A2.97 2.97 0 015 7.002a2.97 2.97 0 01-2.108-.892 3.069 3.069 0 01-.877-2.142 3.069 3.069 0 01.877-2.143A2.97 2.97 0 015 .934a2.97 2.97 0 012.108.891c.56.568.875 1.339.877 2.143zM.13 11.86a.456.456 0 00.63.026A6.305 6.305 0 015 10.269a6.305 6.305 0 014.233 1.617.454.454 0 00.63-.026.468.468 0 00.093-.525.467.467 0 00-.11-.152 7.28 7.28 0 00-9.694 0 .467.467 0 00-.12.52.468.468 0 00.103.157H.13z" fill="#25378D"/></svg>
					|  <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M5.49822 8.49905C6.35813 8.49905 7.19874 8.24982 7.91374 7.78288C8.62874 7.31593 9.18601 6.65225 9.51508 5.87575C9.84416 5.09925 9.93026 4.24481 9.7625 3.42049C9.59474 2.59616 9.18065 1.83897 8.57259 1.24466C7.96454 0.650352 7.18983 0.245624 6.34644 0.0816553C5.50304 -0.0823135 4.62884 0.00184123 3.83438 0.323478C3.03991 0.645114 2.36088 1.18979 1.88313 1.88862C1.40539 2.58745 1.15039 3.40905 1.15039 4.24953C1.15642 5.37516 1.61677 6.45298 2.43136 7.24871C3.24595 8.04444 4.34896 8.49378 5.50063 8.49905H5.49822ZM5.49822 7.08254C4.92494 7.08254 4.36453 6.91639 3.88787 6.60509C3.4112 6.2938 3.03969 5.85134 2.8203 5.33367C2.60092 4.81601 2.54352 4.24638 2.65536 3.69683C2.7672 3.14728 3.04326 2.64249 3.44863 2.24628C3.854 1.85008 4.37047 1.58026 4.93274 1.47095C5.495 1.36163 6.0778 1.41774 6.60744 1.63216C7.13708 1.84658 7.58978 2.2097 7.90827 2.67559C8.22677 3.14147 8.39677 3.68921 8.39677 4.24953C8.39234 4.99914 8.08586 5.71686 7.54376 6.24715C7.00165 6.77744 6.26759 7.07759 5.50063 7.08254H5.49822Z" fill="#25378D"/><path d="M10.7583 11.7594C9.30512 10.5172 7.44006 9.83263 5.50951 9.83292H5.49018C3.55848 9.83271 1.69243 10.5181 0.23897 11.7617C0.151029 11.8394 0.0839046 11.9369 0.0434778 12.0457C0.00305111 12.1546 -0.00944433 12.2715 0.00708616 12.3862C0.0618064 12.5246 0.128051 12.6585 0.205154 12.7863C0.267834 12.8597 0.347564 12.9174 0.437692 12.9546C0.527821 12.9918 0.625736 13.0073 0.72327 13C0.900757 13.0016 1.07266 12.9394 1.20636 12.8253C2.38521 11.8094 3.90289 11.2491 5.47448 11.2494H5.53245C7.10462 11.2491 8.6228 11.8099 9.80178 12.8265C9.93378 12.9385 10.1028 13.0002 10.2776 13C10.4212 13.0001 10.5617 12.9585 10.681 12.8805C10.8004 12.8024 10.8934 12.6915 10.9481 12.5617C11.0029 12.4319 11.0169 12.2892 10.9885 12.1516C10.9601 12.014 10.8905 11.8877 10.7885 11.7889L10.7583 11.7594Z" fill="#25378D"/></g><defs><clipPath id="clip0"><rect width="11" height="13" fill="white"/></clipPath></defs></svg>


