header.site-header(class=header_class_name )
	.site-header__inner
		.sh-left
			.sh-burger-wrap.sh-burger-wrap--main
				.sh-burger
					span
			a.sh-logo(href="")
				img(src="img/sh-logo.svg", alt="")
		.sh-center
			ul.sh-menu
				li.sh-menu-item
					a.sh-menu-item__link(href="") Мероприятия
				li.sh-menu-item
					a.sh-menu-item__link(href="") О Мастере
				li.sh-menu-item
					a.sh-menu-item__link(href="") Наука крийя
				li.sh-menu-item
					a.sh-menu-item__link(href="") Обучение
				li.sh-menu-item
					a.sh-menu-item__link(href="") Статьи
				li.sh-menu-item
					a.sh-menu-item__link(href="") Видео
				li.sh-menu-item
					a.sh-menu-item__link(href="") Музыка
		.sh-right
			.sh-lang-switcher
				a.lang-switcher(href="") En
			.sh-socials
				.ssocials
					a.ssocials-item(href="")
						include ../../img/icons/icon_insta.svg
					a.ssocials-item(href="")
						include ../../img/icons/icon_yt.svg
					a.ssocials-item(href="")
						include ../../img/icons/icon_fb.svg
					a.ssocials-item(href="")
						include ../../img/icons/icon_vk.svg

			.sh-burger-wrap-right
				.sh-burger
					span
			.sh-authorize
				a.sh-authorize__link(href="")
					span Вход
					|  <svg width="10" height="12" viewbox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.096 3.968A4.013 4.013 0 002.242 6.77 3.883 3.883 0 005 7.935 3.883 3.883 0 007.756 6.77a4.013 4.013 0 001.147-2.802 4.013 4.013 0 00-1.147-2.802A3.883 3.883 0 005 0a3.883 3.883 0 00-2.757 1.166 4.013 4.013 0 00-1.146 2.802zm6.888 0a3.069 3.069 0 01-.877 2.142A2.97 2.97 0 015 7.002a2.97 2.97 0 01-2.108-.892 3.069 3.069 0 01-.877-2.142 3.069 3.069 0 01.877-2.143A2.97 2.97 0 015 .934a2.97 2.97 0 012.108.891c.56.568.875 1.339.877 2.143zM.13 11.86a.456.456 0 00.63.026A6.305 6.305 0 015 10.269a6.305 6.305 0 014.233 1.617.454.454 0 00.63-.026.468.468 0 00.093-.525.467.467 0 00-.11-.152 7.28 7.28 0 00-9.694 0 .467.467 0 00-.12.52.468.468 0 00.103.157H.13z" fill="#25378D"/></svg>


