header.site-header
	.site-header__inner
		.sh-left
			.sh-burger-wrap
				.sh-burger
					span
			a.sh-logo(href="")
				img(src="img/sh-logo.svg", alt="")
		.sh-center
			ul.sh-menu
				li.sh-menu-item
					a.sh-menu-item__link(href="") Мероприятия
				li.sh-menu-item
					a.sh-menu-item__link(href="") О Мастере
				li.sh-menu-item
					a.sh-menu-item__link(href="") Наука крийя
				li.sh-menu-item
					a.sh-menu-item__link(href="") Обучение
				li.sh-menu-item
					a.sh-menu-item__link(href="") Статьи
				li.sh-menu-item
					a.sh-menu-item__link(href="") Видео
				li.sh-menu-item
					a.sh-menu-item__link(href="") Музыка
		.sh-right
			.sh-lang-switcher
				a.lang-switcher(href="") En
			.sh-socials
				.ssocials
					a.ssocials-item(href="")
						include ../../img/icons/icon_insta.svg
					a.ssocials-item(href="")
						include ../../img/icons/icon_yt.svg
					a.ssocials-item(href="")
						include ../../img/icons/icon_fb.svg
					a.ssocials-item(href="")
						include ../../img/icons/icon_vk.svg

			.sh-authorize
				a.sh-authorize__link(href="") Вход

