.albums-section
	.albums-hr.container.container--ks
		.hr
	.container.container--ks.container--ks--tab-no-r.container--ks--mob-no-r
		h2.albums-title.kspc-h2-style Альбомы
		.albums-slider.js-albums-slider.custom-dots
			a.albums-slide(href="")
				.albums-slide__pic
					img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=1", alt="")
				.albums-slide__label Themes from another world, Vol.1
				.albums-slide__listen.js-open-album-modal Слушать / Скачать
			a.albums-slide(href="")
				.albums-slide__pic
					img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=1", alt="")
				.albums-slide__label Themes from another world, Vol.1
				.albums-slide__listen.js-open-album-modal Слушать / Скачать
			a.albums-slide(href="")
				.albums-slide__pic
					img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=1", alt="")
				.albums-slide__label Themes from another world, Vol.1
				.albums-slide__listen.js-open-album-modal Слушать / Скачать
			a.albums-slide(href="")
				.albums-slide__pic
					img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=1", alt="")
				.albums-slide__label Themes from another world, Vol.1
				.albums-slide__listen.js-open-album-modal Слушать / Скачать
			a.albums-slide(href="")
				.albums-slide__pic
					img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=1", alt="")
				.albums-slide__label Themes from another world, Vol.1
				.albums-slide__listen.js-open-album-modal Слушать / Скачать
			a.albums-slide(href="")
				.albums-slide__pic
					img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=1", alt="")
				.albums-slide__label Themes from another world, Vol.1
				.albums-slide__listen.js-open-album-modal Слушать / Скачать
			a.albums-slide(href="")
				.albums-slide__pic
					img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=1", alt="")
				.albums-slide__label Themes from another world, Vol.1
				.albums-slide__listen.js-open-album-modal Слушать / Скачать
			a.albums-slide(href="")
				.albums-slide__pic
					img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=1", alt="")
				.albums-slide__label Themes from another world, Vol.1
				.albums-slide__listen.js-open-album-modal Слушать / Скачать