


<div class="music-form-wrap">
	<div class="container container--ks">
	<h2 class="music-form-title">Сотрудничество</h2>
	<h2 class="music-form-description">Мы открыты для новых идей, совместных проектов, концертов, мероприятий. Мы любим
		музыку, творчество и готовы рассмотреть ваши предложения.</h2>

	<form id="ltForm7676420" action="https://imram-kriya.com/pl/lite/block-public/process-html?id=1057050566"
		method="post" data-open-new-window="0" class="music-form"><input type="hidden"
			name="formParams[setted_offer_id]">
		<div class="music-form-row">
			<div class="music-form-item music-form-item--2">
				<input type="text" maxlength="60" placeholder="Ваше имя" name="formParams[full_name]" value=""
					class="music-form-input">
			</div>
			<div class="music-form-item music-form-item--2">
				<input type="text" maxlength="60" placeholder="Ваш Email" name="formParams[email]" value=""
					class="music-form-input music-form-input--email">
			</div>
		</div>
		<div class="music-form-row">
			<div class="music-form-item">
				<textarea  name="formParams[userCustomFields][567900]" class="music-form-input music-form-input--textarea js-textarea-autosize" placeholder="Сообщениеs"></textarea>
			</div>
		</div>


		<div class="music-form-row">
			<div class="music-form-item music-form-item--btn">
				<button type="submit" id="button627644" class="btn btn--music-form"
					onclick="if(window['btnprs60a786f6b4d96']){return false;}window['btnprs60a786f6b4d96']=true;setTimeout(function(){window['btnprs60a786f6b4d96']=false},6000);return true;">
					ОТПРАВИТЬ</button>
			</div>
			<div class="music-form-item music-form-item--submit-text">Нажимая на кнопку «Отправить», вы подтвержаете,
				что&nbsp;ознакомлены и согласны с политикой конфиденциальности сайта и условиями обработки персональных
				данных.</div>

		</div>


		<input type="hidden" id="40421260a786f6a50d0" name="__gc__internal__form__helper"
			class="__gc__internal__form__helper" value="">
		<input type="hidden" id="40421260a786f6a50d0ref" name="__gc__internal__form__helper_ref"
			class="__gc__internal__form__helper_ref" value="">
		<input type="hidden" name="requestTime" value="1621591798">
		<input type="hidden" name="requestSimpleSign" value="d5a6c412f2145252101fa9e6d901bb1a">
		<input type="hidden" name="isHtmlWidget" value="1" />
	</form>
	<span id="gccounterImgContainer"></span>
	<script>
		window.addEventListener('load', function () {
			let loc = document.getElementById("40421260a786f6a50d0");
			loc.value = window.location.href;
			let ref = document.getElementById("40421260a786f6a50d0ref");
			ref.value = document.referrer;

			let statUrl = "https://imram-kriya.com/stat/counter?ref=" + encodeURIComponent(document.referrer) +
				"&loc=" + encodeURIComponent(document.location.href);
			document.getElementById('gccounterImgContainer').innerHTML =
				"<img width=1 height=1 style='display:none' id='gccounterImg' src='" + statUrl + "'/>";
		});
	</script>
	<div class="hr hr--after-music-form"></div>

	<div class="music-form-contacts">
		<div class="music-form-contacts__item">
			<div class="music-form-contacts__item-text">По вопросам организации концертов, интервью, мероприятий звоните напрямую по&nbsp;телефону</div>
			<div class="music-form-contacts__item-link">+7 905 460-29-91</div>
		</div>
		<div class="music-form-contacts__item">
			<div class="music-form-contacts__item-text">По всем остальным вопросам, пишите на электронную почту </div>
			<div class="music-form-contacts__item-link">info@imram-kriya.com</div>
		</div>
	</div>
</div>
</div>