section.ksquote.ksquote--after-tabs
	//.ksquote--after-tabs - если после табов сразу идёт, то уменьшаем отступ сверху
	//маленький шрифт на планшете
	.container
		//широкий контейнер
		.ksquote-content
			h2.ksquote-content__title  Я пою для Творца, для Творца в каждом человеке
			.ksquote-content-description
				.ksquote-content-description__desk Каждая композиция – это радость, которой я хочу поделиться со слушателем… всегда новая радость… <br> Музыка есть выражение Высокой энергии. Музыка способна устранить все проблемы тела и ума, она пробуждает дремлющий духовный&nbsp;потенциал&nbsp;слушателя и наполняет сердце Любовью.

				.ksquote-content-description__mob Каждая композиция – это радость, которой я хочу поделиться со слушателем… всегда новая радость… <br> Музыка есть выражение Высокой энергии. Музыка способна устранить все проблемы тела и ума, она пробуждает дремлющий духовный&nbsp;потенциал&nbsp;слушателя и наполняет сердце Любовью.
			.ksquote-content__author Мастер Имрам