.listen-us-section
	.container.container--ks.listen-us-section__container-1
		.hr
	.container.container--ks.listen-us-section__container-2
		h2.listen-us-title.kspc-h2-style Слушайте на всех площадках
		.listen-us
			a.listen-us-item(href="")
				.listen-us-item__pic
					img(src="img/listen-us/lus-1.svg", alt="")

				.listen-us-item__name Yandex Music


			a.listen-us-item(href="")
				.listen-us-item__pic
					img(src="img/listen-us/lus-2.svg", alt="")

				.listen-us-item__name YouTube Music

			a.listen-us-item(href="")
				.listen-us-item__pic
					img(src="img/listen-us/lus-3.svg", alt="")

				.listen-us-item__name Spotify

			a.listen-us-item(href="")
				.listen-us-item__pic
					img(src="img/listen-us/lus-4.svg", alt="")

				.listen-us-item__name Apple music

			a.listen-us-item(href="")
				.listen-us-item__pic
					img(src="img/listen-us/lus-5.svg", alt="")

				.listen-us-item__name iTunes

	.container.container--ks.listen-us-section__container-3
		.hr
