.release-section
	.container.container--ks
		.release-slider.js-release-slider.custom-dots
			each _ in Array(5)
				.release-slide
					.release-slide__left
						.release-slide__pic
							img.release-slide__pic-img(src="img/DEE6E9.png", alt="")
					.release-slide__right
						.release-slide__type Релиз
						.release-slide__title Magnetar
						.release-slide__date 11 апреля 2021

						.component-hide-block-wrap.release-slide__info
							.component-hide-block
								p Премьера новой композиции. <br> Magnetar - нейтронная звезда, обладающая исключительно сильным магнитным притяжением ... внешнее проявление Внутреннего Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit repellat assumenda nesciunt quos omnis veritatis at excepturi placeat, dolorum fugit distinctio incidunt ea illo! Enim, doloremque molestias, eaque in sint accusamus laborum ullam, labore ea vel quaerat accusantium mollitia placeat omnis aliquid eum sed ad. Vero quia facilis at cupiditate?
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit repellat assumenda nesciunt quos omnis veritatis at excepturi placeat, dolorum fugit distinctio incidunt ea illo! Enim, doloremque molestias, eaque in sint accusamus laborum ullam, labore ea vel quaerat accusantium mollitia placeat omnis aliquid eum sed ad. Vero quia facilis at cupiditate?
								div.kspc-twpah-unwrap.js-component-hide-unwrap
									span.kspc-twpah-unwrap__dots ...
									span.kspc-twpah-unwrap__text  Развернуть
						.release-slide__link.js-open-album-modal Слушать / Скачать

	.container.container--ks.release-hr-wrap
		.hr

