
.container.container--ks.hr-wrap-before-subsmusic
	.hr

.subsmusic-section
	.container.container--ks
		h2.subsmusic-title Подписывайтесь на Imram Music
		.subsmusic-flex
			a.subsmusic-item.subsmusic-item(href="")
				img.subsmusic-item__pic(src="img/icons/subsmusic/subsmusic_yt.svg", style="width: 47%;" alt="")
			a.subsmusic-item.subsmusic-item(href="")
				img.subsmusic-item__pic(src="img/icons/subsmusic/subsmusic_inst.svg", style="width: 43%;" alt="")
			a.subsmusic-item.subsmusic-item(href="")
				img.subsmusic-item__pic(src="img/icons/subsmusic/subsmusic_vk.svg", style="width: 47%;" alt="")
			a.subsmusic-item.subsmusic-item(href="")
				img.subsmusic-item__pic(src="img/icons/subsmusic/subsmusic_fb.svg", style="width: 23%;" alt="")
			a.subsmusic-item.subsmusic-item(href="")
				img.subsmusic-item__pic(src="img/icons/subsmusic/subsmusic_tg.svg", style="width: 40%;" alt="")


