#tabTop
section.page-tabs-section.page-tabs-section--no-breadcrumbs#js-header-2
	//.page-tabs-section--no-breadcrumbs - класс который добавляем если нет хлебных крошек над табами, и соотвтественно надо уменьшить отступ между табами и блоком сверху
	.page-tabs-section__container
		.page-tabs
			.page-tabs__inner
				.page-tabs__item.page-tabs__item--active.active Imram Music
				.page-tabs__item Видео
				.page-tabs__item Фотогалерея
				.page-tabs__item Сотрудничество

				.page-tabs__line



.page--tabs-blocks
	.page--tabs-blocks__tab.page--tabs-blocks__tab--active

		include ../../components/music/ksquote
		.container.container--extra-long
			.hr


		include ../../components/music/release

		.kspc-simple-text.kspc-simple-text--has-title
			.container.container--ks
				.kspc-simple-text__h2 Творчество Имрама
				.kspc-simple-text__p
					p Imram – композитор, музыкант, певец, мультиинструменталист. Его музыка рождается из тонкого мира идей, несущих дух высокого творчества.


		.kspc-media-wrap.kspc-media-wrap--has-label
			.container.kspc-h2-style.container--ks
				a.kspc-media.kspc-media--video(href="https://www.youtube.com/embed/tf3wfU6QeG8" data-fancybox)
					img.kspc-media-preview(src="img/0000FF.png", alt="")
				.kspc-media-text Концерт-медитация  “Sound Paradox”

		.kspc-simple-text
			.container.container--ks
				.kspc-simple-text__p
					p Музыка связывает душу человека с Душой Вселенной, привнося Высшее в сознание, в нашу жизнь. И поэтому очень важно слушать духовно-преобразующую музыку. Это один из лучших путей достижения высочайших уровней самореализации.



		.kspc-text-with-pic-and-hide
			.container.container--ks
				.kspc-twpah.kspc-twpah--pic-right.kspc-twpah--non-hide
					.kspc-twpah__pic
						img(src="img/DEE6E9.png", alt="")
					//.kspc-twpah__delimiter
					.kspc-twpah__text
						p На концертах и онлайн выступлениях Имрама происходят удивительные преобразования сознания, благодаря способности трансцендентной передачи Идеи в звуке и  присутствию Высшего. Эта возможность за достаточно короткое время совершить путешествие внутрь себя, где каждый может услышать свое Истинное «Я" -звучание, и увидеть Свет Радости преобразующей.
						p На уровне квантов, атомов и клеток происходит исцеляющая алхимия Вознесения, когда божественный Звук проникает в сердце . Таким образом, присутствуя в этих вибрациях Вы духовно восходите и освобождаете себя от оков Кармы.
					.clearfix

		.kspc-quote-right
			.container.container--ks
				.kspc-quote-right__text Красивая музыка всегда пробуждает Душу и являет нам божественную природу человека!

		.kspc-simple-text
			.container.container--ks
				.kspc-simple-text__p
					p С 2004 года состоялось более 50 концертов Имрама в различных городах России и за рубежом, от Москвы и Санкт- Петербурга до Урала и Сибири, в Украине, Испании, в Индии, Латвии.


		.kspc-slider-block
			.container.container--ks
				.kspc-slider.js-kspc-slider.custom-dots
					.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=1")
						img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=1", alt="")
					.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=2")
						img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=2", alt="")
					.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=3")
						img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=3", alt="")
					.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=4")
						img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=4", alt="")
					.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=5")
						img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=5", alt="")


		.kspc-simple-text
			.container.container--ks
				.kspc-simple-text__p
					p Живые концерты и онлайн выступления Имрама — это поток мощной энергии, всенаполнящей, вдохновляющей Силы. Зрители по-разному интерпретируют это состояние, которое они получают во время концертов, называя это «потоком Любви» или «погружением в медитацию».


		.kspc-quote-right
			.container.container--ks
				.kspc-quote-right__text Каждый концерт – это Благословение Творца, Его исцеляющее душу прикосновение…


		.kspc-slider-block.kspc-slider-block--has-title
			.container.container--ks
				h2.kspc-slider-block-title.kspc-h2-style Музыка – это вибрации Высшего
				.kspc-slider.js-kspc-slider.custom-dots
					.kspc-slider-item.kspc-slider-item--video.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=1")
						img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=1", alt="")
					.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=2")
						img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=2", alt="")
					.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=3")
						img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=3", alt="")
					.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=4")
						img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=4", alt="")
					.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=5")
						img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=5", alt="")


	.page--tabs-blocks__tab 2
	.page--tabs-blocks__tab
		include ../../components/music/photogallery
	.page--tabs-blocks__tab 4





