
section.artimaster-posts-section.artimaster-posts-section--videos.artimaster-posts-section--videos-on-music-page
	.container.container--ks
		.artimaster-section-title Видео

		.artimaster-posts.artimaster-posts--videos
			a.artimaster-post.artimaster-post--videos(href="")
				.artimaster-post__img-wrapper.artimaster-post__img-wrapper--videos
					img.artimaster-post__img(src="img/DEE6E9.png")
					.videos-duration
						.videos-duration-text 15:30
				.artimaster-post__title  Imram - Strange Dream (Audio)
				.artimaster-post__meta
					.artimaster-post__meta-theme Imram music
					.artimaster-post__meta-date 20 фев 2021
					.artimaster-post__meta-share-icon.js-share(data-title="Имрам Видео" data-url="http://imram.q7.by/videos" data-picture="http://htmlbook.ru/files/images/samcss/fig15-3.png" data-description="В этом разделе мы представляем уникальные материалы. Каждая статья несет в себе личный Опыт Мастера Имрама. Здесь вы найдете множество ключей, подсказок и ответов на самые животрепещущие вопросы.")

			a.artimaster-post.artimaster-post--videos(href="")
				.artimaster-post__img-wrapper.artimaster-post__img-wrapper--videos
					img.artimaster-post__img(src="img/DEE6E9.png")
					.videos-duration
						.videos-duration-text 15:30
				.artimaster-post__title  Концерт SOUND PARADOX / Как это было
				.artimaster-post__meta
					.artimaster-post__meta-theme Imram Music
					.artimaster-post__meta-date 20 фев 2021
					.artimaster-post__meta-share-icon.js-share(data-title="Имрам Видео" data-url="http://imram.q7.by/videos" data-picture="http://htmlbook.ru/files/images/samcss/fig15-3.png" data-description="В этом разделе мы представляем уникальные материалы. Каждая статья несет в себе личный Опыт Мастера Имрама. Здесь вы найдете множество ключей, подсказок и ответов на самые животрепещущие вопросы.")

			a.artimaster-post.artimaster-post--videos(href="")
				.artimaster-post__img-wrapper.artimaster-post__img-wrapper--videos
					img.artimaster-post__img(src="img/DEE6E9.png")
					.videos-duration
						.videos-duration-text 15:30
				.artimaster-post__title  Прана - жизненная сила
				.artimaster-post__meta
					.artimaster-post__meta-theme Саморазвитие
					.artimaster-post__meta-date 20 фев 2021
					.artimaster-post__meta-share-icon.js-share(data-title="Имрам Видео" data-url="http://imram.q7.by/videos" data-picture="http://htmlbook.ru/files/images/samcss/fig15-3.png" data-description="В этом разделе мы представляем уникальные материалы. Каждая статья несет в себе личный Опыт Мастера Имрама. Здесь вы найдете множество ключей, подсказок и ответов на самые животрепещущие вопросы.")

			a.artimaster-post.artimaster-post--videos(href="")
				.artimaster-post__img-wrapper.artimaster-post__img-wrapper--videos
					img.artimaster-post__img(src="img/DEE6E9.png")
					.videos-duration
						.videos-duration-text 15:30
				.artimaster-post__title  Прана - жизненная сила
				.artimaster-post__meta
					.artimaster-post__meta-theme Саморазвитие
					.artimaster-post__meta-date 20 фев 2021
					.artimaster-post__meta-share-icon.js-share(data-title="Имрам Видео" data-url="http://imram.q7.by/videos" data-picture="http://htmlbook.ru/files/images/samcss/fig15-3.png" data-description="В этом разделе мы представляем уникальные материалы. Каждая статья несет в себе личный Опыт Мастера Имрама. Здесь вы найдете множество ключей, подсказок и ответов на самые животрепещущие вопросы.")

			a.artimaster-post.artimaster-post--videos(href="")
				.artimaster-post__img-wrapper.artimaster-post__img-wrapper--videos
					img.artimaster-post__img(src="img/DEE6E9.png")
					.videos-duration
						.videos-duration-text 15:30
				.artimaster-post__title  Прана - жизненная сила
				.artimaster-post__meta
					.artimaster-post__meta-theme Саморазвитие
					.artimaster-post__meta-date 20 фев 2021
					.artimaster-post__meta-share-icon.js-share(data-title="Имрам Видео" data-url="http://imram.q7.by/videos" data-picture="http://htmlbook.ru/files/images/samcss/fig15-3.png" data-description="В этом разделе мы представляем уникальные материалы. Каждая статья несет в себе личный Опыт Мастера Имрама. Здесь вы найдете множество ключей, подсказок и ответов на самые животрепещущие вопросы.")

			a.artimaster-post.artimaster-post--videos(href="")
				.artimaster-post__img-wrapper.artimaster-post__img-wrapper--videos
					img.artimaster-post__img(src="img/DEE6E9.png")
					.videos-duration
						.videos-duration-text 15:30
				.artimaster-post__title  Прана - жизненная сила
				.artimaster-post__meta
					.artimaster-post__meta-theme Саморазвитие
					.artimaster-post__meta-date 20 фев 2021
					.artimaster-post__meta-share-icon.js-share(data-title="Имрам Видео" data-url="http://imram.q7.by/videos" data-picture="http://htmlbook.ru/files/images/samcss/fig15-3.png" data-description="В этом разделе мы представляем уникальные материалы. Каждая статья несет в себе личный Опыт Мастера Имрама. Здесь вы найдете множество ключей, подсказок и ответов на самые животрепещущие вопросы.")

			a.artimaster-post.artimaster-post--videos(href="")
				.artimaster-post__img-wrapper.artimaster-post__img-wrapper--videos
					img.artimaster-post__img(src="img/DEE6E9.png")
					.videos-duration
						.videos-duration-text 15:30
				.artimaster-post__title  Прана - жизненная сила
				.artimaster-post__meta
					.artimaster-post__meta-theme Саморазвитие
					.artimaster-post__meta-date 20 фев 2021
					.artimaster-post__meta-share-icon.js-share(data-title="Имрам Видео" data-url="http://imram.q7.by/videos" data-picture="http://htmlbook.ru/files/images/samcss/fig15-3.png" data-description="В этом разделе мы представляем уникальные материалы. Каждая статья несет в себе личный Опыт Мастера Имрама. Здесь вы найдете множество ключей, подсказок и ответов на самые животрепещущие вопросы.")

			a.artimaster-post.artimaster-post--videos(href="")
				.artimaster-post__img-wrapper.artimaster-post__img-wrapper--videos
					img.artimaster-post__img(src="img/DEE6E9.png")
					.videos-duration
						.videos-duration-text 15:30
				.artimaster-post__title  Прана - жизненная сила
				.artimaster-post__meta
					.artimaster-post__meta-theme Саморазвитие
					.artimaster-post__meta-date 20 фев 2021
					.artimaster-post__meta-share-icon.js-share(data-title="Имрам Видео" data-url="http://imram.q7.by/videos" data-picture="http://htmlbook.ru/files/images/samcss/fig15-3.png" data-description="В этом разделе мы представляем уникальные материалы. Каждая статья несет в себе личный Опыт Мастера Имрама. Здесь вы найдете множество ключей, подсказок и ответов на самые животрепещущие вопросы.")

			a.artimaster-post.artimaster-post--videos(href="")
				.artimaster-post__img-wrapper.artimaster-post__img-wrapper--videos
					img.artimaster-post__img(src="img/DEE6E9.png")
					.videos-duration
						.videos-duration-text 15:30
				.artimaster-post__title  Прана - жизненная сила
				.artimaster-post__meta
					.artimaster-post__meta-theme Саморазвитие
					.artimaster-post__meta-date 20 фев 2021
					.artimaster-post__meta-share-icon.js-share(data-title="Имрам Видео" data-url="http://imram.q7.by/videos" data-picture="http://htmlbook.ru/files/images/samcss/fig15-3.png" data-description="В этом разделе мы представляем уникальные материалы. Каждая статья несет в себе личный Опыт Мастера Имрама. Здесь вы найдете множество ключей, подсказок и ответов на самые животрепещущие вопросы.")

			a.artimaster-post.artimaster-post--videos(href="")
				.artimaster-post__img-wrapper.artimaster-post__img-wrapper--videos
					img.artimaster-post__img(src="img/DEE6E9.png")
					.videos-duration
						.videos-duration-text 15:30
				.artimaster-post__title  Прана - жизненная сила
				.artimaster-post__meta
					.artimaster-post__meta-theme Саморазвитие
					.artimaster-post__meta-date 20 фев 2021
					.artimaster-post__meta-share-icon.js-share(data-title="Имрам Видео" data-url="http://imram.q7.by/videos" data-picture="http://htmlbook.ru/files/images/samcss/fig15-3.png" data-description="В этом разделе мы представляем уникальные материалы. Каждая статья несет в себе личный Опыт Мастера Имрама. Здесь вы найдете множество ключей, подсказок и ответов на самые животрепещущие вопросы.")


		.kspc-preloader.kspc-preloader--videos
			span
			span
			span