.section-home-events--single{
	padding-top: 45px;
	padding-bottom: 58px;
	border-bottom: 1px solid #dee6e9;
	border-top: 1px solid #dee6e9;
	margin-top: 0px;
	overflow: visible;
	@include media(1150) {
		padding-top: 45px;
		padding-bottom: 58px;
		margin-top: 35px;
	}
	@include media(749) {
		padding-top: vw(48);
		padding-bottom: vw(58);
		margin-top: vw(3);

		width: calc(100% + 3.88889vw * 2);
		margin-left: -3.88889vw;
		margin-right: -3.88889vw;
		padding-left: 3.88889vw;
	}

	.hm-events-slide__name{
		font-size: 17px;
	}
	.hm-events-slide__meta{
		text-transform: none;
	}
	.hm-events-slide__date{
		color: #AFB4BF;
	}
	.home-events-events__title{
		margin-bottom: 16px;
		@include media(749) {
			margin-bottom: vw(7);
		}
	}
	.hm-events-arrow{
		top: 115px;
	}
}

.get-materials--single,
.twoinrow-section--single,
.ks-videos--single,
.albums-section--section{
	padding-top: 45px;
	padding-bottom: 58px;
	border-bottom: 1px solid #dee6e9;
	border-top: 1px solid #dee6e9;
	margin-top: 0px;
	@include media(1150) {
		padding-top: 45px;
		padding-bottom: 58px;
		margin-top: 35px;
	}
	@include media(749) {
		padding-top: vw(48);
		padding-bottom: vw(58);
		margin-top: vw(3);

		width: calc(100% + 3.88889vw * 2);
		margin-left: -3.88889vw;
		margin-right: -3.88889vw;
		padding-left: 3.88889vw;
	}
}

.article-template .new-article--single-for-home{
	padding-bottom: 55px;
	@include media(1150) {
		padding-bottom: 55px;
	}
	@include media(749) {
		padding-bottom: vw(55);
	}
	.slick-dots{
		display: none;
	}
}