.section-home-events--single{
	padding-top: 80px;
	padding-bottom: 93px;
	border-bottom: 1px solid #dee6e9;
	border-top: 1px solid #dee6e9;
	margin-top: 35px;
	@include media(1150) {
		padding-top: 80px;
		padding-bottom: 93px;
		margin-top: 35px;
	}
	@include media(749) {
		padding-top: vw(48);
		padding-bottom: vw(58);
		margin-top: vw(3);

		width: calc(100% + 3.88889vw * 2);
		margin-left: -3.88889vw;
		margin-right: -3.88889vw;
		padding-left: 3.88889vw;
	}

	.hm-events-slide__name{
		font-size: 17px;
	}
	.hm-events-slide__meta{
		text-transform: none;
	}
	.hm-events-slide__date{
		color: #AFB4BF;
	}
}

.twoinrow-section--single,
.ks-videos--single,
.albums-section--section{
	padding-top: 80px;
	padding-bottom: 93px;
	border-bottom: 1px solid #dee6e9;
	border-top: 1px solid #dee6e9;
	margin-top: 35px;
	@include media(1150) {
		padding-top: 80px;
		padding-bottom: 93px;
		margin-top: 35px;
	}
	@include media(749) {
		padding-top: vw(48);
		padding-bottom: vw(58);
		margin-top: vw(3);

		width: calc(100% + 3.88889vw * 2);
		margin-left: -3.88889vw;
		margin-right: -3.88889vw;
		padding-left: 3.88889vw;
	}
}