@import "partials/reset.css";
@import "partials/fonts.css";
@import "partials/jquery.fancybox.min.css";
@import "partials/slick.css";
@import "partials/rangeslider.css";
@import "partials/simplebar.css";


//  @import "partials/animate.min.css";
@import "partials/aos.css";

/* my style */

@import "partials/_var";

@import "partials/mixin";
@import "partials/components.scss";
@import "partials/components/dots";
@import "partials/components/pagination";
@import "partials/components/pagination-adapt";
@import "partials/main";
@import "partials/main-adaptive";
@import "partials/header";
@import "partials/footer";
@import "partials/fancybox-customize.scss";

@import "partials/home";
@import "partials/home-adaptive";

@import "partials/music-player";
@import "partials/music-player-adaptive";


@import "partials/header-adaptive";
@import "partials/footer-adaptive";


@import "partials/sections/quote-true.scss";
@import "partials/sections/quote-true-adapt.scss";

@import "partials/sections/category.scss";
@import "partials/sections/category-adapt.scss";

@import "partials/article-master/new-article.scss";
@import "partials/article-master/new-article-adapt.scss";
@import "partials/sections/category-slider.scss";
@import "partials/sections/category-slider-adapt.scss";
@import "partials/sections/band.scss";
@import "partials/sections/band-adapt.scss";
@import "partials/article-master/article.scss";
@import "partials/article-master/article-adapt.scss";
@import "partials/video/new-video.scss";
@import "partials/video/new-video-adapt.scss";
@import "partials/video/section-youtube.scss";
@import "partials/video/section-youtube-adapt.scss";
@import "partials/video/video.scss";
@import "partials/video/new-video-adapt.scss";









@import "partials/article-master/article-master";

@import "partials/article-master/maslider";
@import "partials/article-master/maslider-adaptive";

@import "partials/article-master/artimaster-posts";
@import "partials/article-master/artimaster-posts-adapt";


@import "partials/kriya-science/subscribe.scss";
@import "partials/kriya-science/subscribe-adapt.scss";

//kriya-science
@import "partials/kriya-science/kriya-science.scss";

@import "partials/kriya-science/big-top-pic.scss";
@import "partials/kriya-science/big-top-pic-adaptive.scss";

@import "partials/kriya-science/ksquote.scss";
@import "partials/kriya-science/ksquote-adaptive.scss";

@import "partials/kriya-science/ks-post-constructor.scss";
@import "partials/kriya-science/ks-post-constructor-adaptive.scss";

@import "partials/kriya-science/ks-videos.scss";
@import "partials/kriya-science/ks-videos-adaptive.scss";

@import "partials/kriya-science/ks-post-tas.scss";
@import "partials/kriya-science/ks-post-tas-adaptive.scss";


//seminar
@import "partials/seminar/breadcrumbs.scss";
@import "partials/seminar/breadcrumbs-adapt.scss";

@import "partials/seminar/reviews.scss";
@import "partials/seminar/reviews-adapt.scss";


//edu
@import "partials/edu/tabs";
@import "partials/edu/kspc-numbered-list";


//music
@import "partials/components/component-hide.scss";
@import "partials/components/component-hide-adapt.scss";

@import "partials/music/release.scss";
@import "partials/music/release-adapt.scss";


@import "partials/music/albums.scss";
@import "partials/music/albums-adapt.scss";

@import "partials/music/album-modal.scss";
@import "partials/music/album-modal-adapt.scss";

@import "partials/music/listen-us.scss";
@import "partials/music/listen-us-adapt.scss";

@import "partials/music/insta-slider.scss";
@import "partials/music/insta-slider-adapt.scss";

@import "partials/music/subsmusic.scss";
@import "partials/music/subsmusic-adapt.scss";
@import "partials/music/music-form.scss";
@import "partials/music/music-form-adapt.scss";


@import "partials/music/preloader.scss";

@import "partials/music/photogallery.scss";
