@import "partials/reset.css";
@import "partials/fonts.css";
@import "partials/jquery.fancybox.min.css";
@import "partials/slick.css";
@import "partials/rangeslider.css";

/* my style */

@import "partials/_var";

@import "partials/mixin";
@import "partials/components";
@import "partials/main";
@import "partials/main-adaptive";
@import "partials/header";
@import "partials/footer";

@import "partials/home";
@import "partials/home-adaptive";

@import "partials/music-player";
@import "partials/music-player-adaptive";


@import "partials/header-adaptive";
@import "partials/footer-adaptive";

@import "partials/article-master/subscribe.scss";
@import "partials/article-master/quote-true.scss";
@import "partials/article-master/category.scss";
@import "partials/article-master/new-article.scss";
@import "partials/article-master/category-slider.scss";
@import "partials/article-master/band.scss";



@import "partials/article-master/maslider";
@import "partials/article-master/maslider-adaptive";




