@import "partials/reset.css";
@import "partials/fonts.css";
@import "partials/jquery.fancybox.min.css";
@import "partials/slick.css";
@import "partials/rangeslider.css";

/* my style */

@import "partials/_var";

@import "partials/mixin";
@import "partials/components";
@import "partials/main";
@import "partials/main-adaptive";
@import "partials/header";
@import "partials/footer";

@import "partials/home";
@import "partials/home-adaptive";

@import "partials/music-player";
@import "partials/music-player-adaptive";


@import "partials/header-adaptive";
@import "partials/footer-adaptive";

@import "partials/sections/subscribe.scss";
@import "partials/sections/subscribe-adapt.scss";

@import "partials/sections/quote-true.scss";
@import "partials/sections/quote-true-adapt.scss";
@import "partials/sections/category.scss";
@import "partials/sections/category-adapt.scss";
@import "partials/article-master/new-article.scss";
@import "partials/article-master/new-article-adapt.scss";
@import "partials/sections/category-slider.scss";
@import "partials/sections/category-slider-adapt.scss";
@import "partials/sections/band.scss";
@import "partials/sections/band-adapt.scss";
@import "partials/article-master/article.scss";
@import "partials/article-master/article-adapt.scss";
@import "partials/video/new-video.scss";
@import "partials/video/new-video-adapt.scss";
@import "partials/video/section-youtube.scss";
@import "partials/video/section-youtube-adapt.scss";
@import "partials/video/video.scss";
@import "partials/video/new-video-adapt.scss";










