section.ks-post-constructor
	.kspc-simple-text.kspc-simple-text--has-title.kspc-simple-text--no-mt
		.container.container--ks
			.kspc-simple-text__h2 Метод прямой передачи знаний
			.kspc-simple-text__p.custom-ul
				//.custom-ul--grey-dots.custom-ul--no-p-l
				p Когда люди приходят к Мастеру, они приходят за энергией, за духовной силой и Мастер передает эту духовную силу. Во время совместной работы на Ретрите, в прямом общении, человек обязательно получает Это - Вдохновение и Благость. И с этой силой он возвращается, практикует, дабы пробудить своё Сознание и подняться над всем.



	.kspc-slider-block
		.container.container--ks
			.kspc-slider.js-kspc-slider.custom-dots
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=1")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=1", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=2")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=2", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=3")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=3", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=4")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=4", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=5")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=5", alt="")

	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__p.custom-ul
				p Мастер, который практикует Крийя с группой передает духовную силу напрямую, свой личный Опыт.  В этом и есть главная традиция - передача этой силы, она является основополагающей. Во время Ретритов происходит очень много интересных событий.
				p Огромное количество людей могу получать эти токи, эту энергию, которая трансформирует их — это трансформирующее пламя или мощная энергизация, меняющая энерго-информационное поле студентов.
				p Во время практики на Ретрите все слушают Мастера, записывают техники, практикуют и важно понимать, что вся серьёзная работа происходит изнутри, меняя внешнее — это и есть прямая передача.

	.kspc-quote-right
		.container.container--ks
			.kspc-quote-right__text Метод прямой передачи знаний от сердца к сердцу, от Мастера к ученику…


	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__p.custom-ul
				p Ретриты нужны для того, чтобы усвоить ту энергию и принять Знание, которое человек получил при первом посвящении на Семинаре. Метод прямой передачи — это мощный способ быстрой эволюции учеников.


	.kspc-simple-text.kspc-simple-text--has-title
		.container.container--ks
			.kspc-simple-text__h2 Могу ли я, не имея опыта, приехать на Ретрит?
			.kspc-simple-text__p.custom-ul
				//.custom-ul--grey-dots.custom-ul--no-p-l
				p Любой человек, который ничего не знает о Крийя, но истинно хочет практиковать, хочет что-то сделать для своей жизни, для самого себя и других – может спокойно начать практику и приехать на Ретрит.


	.kspc-media-wrap.kspc-media-wrap--has-label
		.container.container--ks
			a.kspc-media.kspc-media--video(href="https://www.youtube.com/embed/tf3wfU6QeG8" data-fancybox)
				img.kspc-media-preview(src="img/0000FF.png", alt="")
			.kspc-media-text Мини-фильм о Ретрите


	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__p.custom-ul
				p
					b Ваша подготовка - не важна.
					|  Наука Крийя преобразует тело и делает вас более подготовленным.
					i   Если мы говорим о том, что человек должен быть подготовлен, тогда эти знания не универсальны.
					|  Подготовленным вы должны быть тогда, когда сдаете экзамены. А сейчас, мы  практикуем , пробуждаем  волю  работая  над собой.
				p
					i  Наука Крийя не является учением о теле, как хатха-йога,
					|  здесь не делается акцент, чтобы сидеть в позе лотоса, полу-лотоса или по-турецки. Здесь очень важно, чтобы ваш позвоночник был ровным, то есть, во время практики на Ретрите вы можете сидеть даже на стуле или маленьком пуфике, который позволит вам удерживать позвоночник ровно. Этого достаточно. И помните, что вся реализация происходит в позвоночнике, в головном и спинном мозге. Она не происходит в ногах или руках.





	.kspc-simple-text.kspc-simple-text--has-title
		.container.container--ks
			.kspc-simple-text__h2 Как проходит день на Ретрите
			.kspc-simple-text__p.custom-ul
				//.custom-ul--grey-dots.custom-ul--no-p-l
				p Ретриты проводятся в местах, где есть больше энергии, чтобы вы могли ее усвоить и трансформировать себя в течении недели или двух, в зависимости от циклов и поставленных задач.



	.kspc-text-with-pic-and-hide
		.container.container--ks
			.kspc-twpah.kspc-twpah--pic-right.kspc-twpah--non-hide
				.kspc-twpah__pic
					img(src="img/DEE6E9.png", alt="")
				//.kspc-twpah__delimiter
				.kspc-twpah__text
					p Каждый день на Ретрите вы практикуете с группой под руководством Мастера. Наш день начинается с большой утренней практики - 2,5 часа, после обеда второе занятие с Мастером – более 2 часов. Вечером после ужина мы собираемся вместе на Сатсанг.
					p Сатсанги — это уникальная возможность для группы встретиться с Мастером, задать волнующие вопросы, поговорить, пообщаться вместе, потому что в процессе практики возникает очень много вопросов, которые вы можете отработать здесь на Ретрите.
					p На Сатсанге практикующий получает не только пищу для ума и знания, но и соприкасается с энергиями Мастера, с его излучением… что в свою очередь ускоряет эволюцию.

				.clearfix


	.kspc-quote-right
		.container.container--ks
			.kspc-quote-right__text Если у вас возникает вопрос – вы его можете прожить… на Ретрите, получив личный опыт…




	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__p.custom-ul
				//.custom-ul--grey-dots.custom-ul--no-p-l
				p Когда вы задаете вопрос и получаете ответ Мастера, вы проживаете это, вы обретаете личный опыт под контролем и руководством. Такая возможность продвинуть себя – есть только на Ретрите.




	.quote-with-parallax.quote-with-parallax--type-music.js-jarallax-1(style="background-image:url(img/quotes-bg-new.jpg);")
		.container.container--ks.container--qwp
			.quote-with-parallax-quote.quote-with-parallax-quote--mob-wide.quote-with-parallax-quote--mob-alternate-pt-pb
				span Ретрит – это каждодневная работа с ускорением, это некое квантовое смещение.
				.quote-with-parallax__author Мастер Имрам



	.kspc-media-wrap.kspc-media-wrap--has-title
		.container.container--ks
			h2.kspc-media-title.kspc-h2-style Интервью Мастера о Ретрите
			a.kspc-media.kspc-media--video(href="https://www.youtube.com/embed/tf3wfU6QeG8" data-fancybox)
				img.kspc-media-preview(src="img/0000FF.png", alt="")




	.kspc-event

		.container.container--ks.kspc-event__container-main
			h2.kspc-h2-style.kspc-event-title Дата и формат участия
			.kspc-event-row
				.kspc-event-map
					img.kspc-event-map__img(src="img/0000FF.png", alt="")
				.kspc-event-info-wrap
					.kspc-event-info
						.kspc-event-info__name Дата
						.kspc-event-info__val
							span.kspc-event-info__date 3-4 июля, 2021
							span.kspc-event-info__time  с 13:00 до 19:00
					.kspc-event-info
						.kspc-event-info__name Место проведения
						.kspc-event-info__val Москва, ул. Никулинскя, 2К1  Метро Юго-Западная
					.kspc-event-info
						.kspc-event-info__name Стоимость участия
						.kspc-event-info__val 30 000 рублей
					.kspc-event-calendar
						a.kspc-event-calendar__item(href="" target="_blank")
							|  <svg class="kspc-event-calendar__item-pic" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5.33331" width="1.33333" height="12" rx="0.666667" fill="#25378D"/><rect y="6.6665" width="1.33333" height="12" rx="0.666666" transform="rotate(-90 0 6.6665)" fill="#25378D"/></svg>
							span.kspc-event-calendar__item-name Google Календарь

						a.kspc-event-calendar__item(href="" target="_blank")
							|  <svg class="kspc-event-calendar__item-pic" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5.33331" width="1.33333" height="12" rx="0.666667" fill="#25378D"/><rect y="6.6665" width="1.33333" height="12" rx="0.666666" transform="rotate(-90 0 6.6665)" fill="#25378D"/></svg>
							span.kspc-event-calendar__item-name Apple Календарь

					a.btn.kspc-event-btn(href="")  Принять участие

		.container.container--ks.kspc-event__container-hr-2.kspc-event__container-hr-2--non-hide-on-mobile
			.hr

	.retreat-schedule-section
		.container.container--ks
			h2.kspc-h2-style.retreat-schedule-title Расписание Ретрита
			.retreat-schedule
				.retreat-schedule-item.retreat-schedule-item--has-date
					.retreat-schedule-item__time
					.retreat-schedule-item__dot
					.retreat-schedule-item__info
						.retreat-schedule-item__date 21 мая (пятница)
				.retreat-schedule-item
					.retreat-schedule-item__time с 14:00
					.retreat-schedule-item__dot
					.retreat-schedule-item__info
						.retreat-schedule-item__title Заезд и размещение в отеле
				.retreat-schedule-item
					.retreat-schedule-item__time 19:00 -&nbsp;20:30
					.retreat-schedule-item__dot
					.retreat-schedule-item__info
						.retreat-schedule-item__title Ужин
						.retreat-schedule-item__description Шведский стол
				.retreat-schedule-item
					.retreat-schedule-item__time 21:00 -&nbsp;22:00
					.retreat-schedule-item__dot
					.retreat-schedule-item__info
						.retreat-schedule-item__title Встреча с участниками Ретрита
						.retreat-schedule-item__description Встреча в общем зале с организаторами
				.retreat-schedule-item.retreat-schedule-item--has-date
					.retreat-schedule-item__time
					.retreat-schedule-item__dot
					.retreat-schedule-item__info
						.retreat-schedule-item__date 22 мая (суббота) - 29 мая (суббота)
				.retreat-schedule-item
					.retreat-schedule-item__time до 08:00
					.retreat-schedule-item__dot
					.retreat-schedule-item__info
						.retreat-schedule-item__title Самостоятельная практика Крийя (по желанию)
						.retreat-schedule-item__description Все кто желает, практикуют Крийя самостоятельно у себя в комнате или в зале
				.retreat-schedule-item
					.retreat-schedule-item__time 08:00 -&nbsp;10:00
					.retreat-schedule-item__dot
					.retreat-schedule-item__info
						.retreat-schedule-item__title Завтрак
						.retreat-schedule-item__description Шведский стол
				.retreat-schedule-item
					.retreat-schedule-item__time 10:00 -&nbsp;12:30
					.retreat-schedule-item__dot
					.retreat-schedule-item__info
						.retreat-schedule-item__title Утренняя практика с Мастером
						.retreat-schedule-item__description Практика под руководством Мастера Имрама в зале
				.retreat-schedule-item
					.retreat-schedule-item__time 13:00 -&nbsp;15:00
					.retreat-schedule-item__dot
					.retreat-schedule-item__info
						.retreat-schedule-item__title Обед и свободное время
						.retreat-schedule-item__description Прогулка, общение, бассейн и другие мероприятия на выбор
				.retreat-schedule-item
					.retreat-schedule-item__time 16:00 -&nbsp;18:00
					.retreat-schedule-item__dot
					.retreat-schedule-item__info
						.retreat-schedule-item__title Вечерняя практика с Мастером
						.retreat-schedule-item__description Практика под руководством Мастера Имрама в зале
				.retreat-schedule-item.retreat-schedule-item--has-date
					.retreat-schedule-item__time
					.retreat-schedule-item__dot
					.retreat-schedule-item__info
						.retreat-schedule-item__date 26 мая (среда)
						.retreat-schedule-item__description Разгрузочный день, экскурсии, свободное время
				.retreat-schedule-item.retreat-schedule-item--has-date
					.retreat-schedule-item__time
					.retreat-schedule-item__dot
					.retreat-schedule-item__info
						.retreat-schedule-item__date 30 мая (воскресенье)
				.retreat-schedule-item
					.retreat-schedule-item__time 8:00 -&nbsp;10:00
					.retreat-schedule-item__dot
					.retreat-schedule-item__info
						.retreat-schedule-item__title Завтрак
						.retreat-schedule-item__description Шведский стол
				.retreat-schedule-item
					.retreat-schedule-item__time до 12:00
					.retreat-schedule-item__dot
					.retreat-schedule-item__info
						.retreat-schedule-item__title Выезд из отеля


	.hr-kspc-twpah-master-before.container.container--ks
		.hr

	.kspc-text-with-pic-and-hide.kspc-text-with-pic-and-hide--master
		.container.container--ks
			.kspc-twpah.kspc-twpah--pic-right.kspc-twpah--non-hide.kspc-twpah--master
				.kspc-twpah__pic
					img(src="img/DEE6E9.png", alt="")
				//.kspc-twpah__delimiter
				.kspc-twpah__text.custom-ul.kspc-h2-style-in-this
					h2 Мастер Имрам
					ul
						li Мастер Крийя, достигший Единства
						li Инициирует трансцендентность Крийя
						li Будучи в миру - Он не от мира сего...
						li Композитор, меняющий пространство Звуком
					p Благодаря многолетней практике-садхане, Имрам достиг Реализации, т.е. Единства с Высшим Я, что в йоге рассматривается как Нирвикальпа Самадхи.


				.clearfix

	.hr-kspc-twpah-master-after.container.container--ks
		.hr

	.zapisi-vid
		.container.container--ks
			h2.kspc-h2-style.zapisi-vid-title Записи прошедших лекций
			.zapisi-vid-slider.js-zapisi-vid-slider
				a.zapisi-vid-slide.zapisi-vid-slide--lektsii(href="")
					.zapisi-vid-slide__pic
						img(src="img/DEE6E9.png", alt="")
						.zapisi-vid-slide__play
						.new-video__card-time 15:23
					.zapisi-vid-slide__info
						.zapisi-vid-slide__info-name Лекция-практика "Пробуждение Кундалини"
						.zapisi-vid-slide__info-date 20 фев 2021
				a.zapisi-vid-slide.zapisi-vid-slide--lektsii(href="")
					.zapisi-vid-slide__pic
						img(src="img/DEE6E9.png", alt="")
						.zapisi-vid-slide__play
						.new-video__card-time 15:23
					.zapisi-vid-slide__info
						.zapisi-vid-slide__info-name Лекция-практика "Пробуждение Кундалини"
						.zapisi-vid-slide__info-date 12 июн 2021
				a.zapisi-vid-slide.zapisi-vid-slide--lektsii(href="")
					.zapisi-vid-slide__pic
						img(src="img/DEE6E9.png", alt="")
						.zapisi-vid-slide__play
						.new-video__card-time 15:23
					.zapisi-vid-slide__info
						.zapisi-vid-slide__info-name Лекция-практика "Пробуждение Кундалини"
						.zapisi-vid-slide__info-date 20 января 2021
				a.zapisi-vid-slide.zapisi-vid-slide--lektsii(href="")
					.zapisi-vid-slide__pic
						img(src="img/DEE6E9.png", alt="")
						.zapisi-vid-slide__play
						.new-video__card-time 15:23
					.zapisi-vid-slide__info
						.zapisi-vid-slide__info-name Лекция-практика "Пробуждение Кундалини"
						.zapisi-vid-slide__info-date 12 июн 2021
				a.zapisi-vid-slide.zapisi-vid-slide--lektsii(href="")
					.zapisi-vid-slide__pic
						img(src="img/DEE6E9.png", alt="")
						.zapisi-vid-slide__play
						.new-video__card-time 15:23
					.zapisi-vid-slide__info
						.zapisi-vid-slide__info-name Сатсанг с Мастером
						.zapisi-vid-slide__info-date 20 января 2021
				a.zapisi-vid-slide.zapisi-vid-slide--lektsii(href="")
					.zapisi-vid-slide__pic
						img(src="img/DEE6E9.png", alt="")
						.zapisi-vid-slide__play
						.new-video__card-time 15:23
					.zapisi-vid-slide__info
						.zapisi-vid-slide__info-name Сатсанг с Мастером
						.zapisi-vid-slide__info-date 20 января 2021