.component-hide-block-wrap {
	&--open .component-hide-block {
		max-height: 10000px !important;
	}
}

.component-hide-block {

	max-height: 30*3px;
	height: auto;
	overflow: hidden;
	transition: max-height 13s linear, height 13s linear;
	position: relative;



	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 30px;
	color: $dark;


	p {
		&+p {
			margin-top: 30px;
		}
	}

	b {
		letter-spacing: -.13px;
	}


	.kspc-twpah-unwrap {
		top: 30*2px;
		right: 0;
		padding-right: 11px;
	}

	&--unwrap-pr-music-modal {
		.kspc-twpah-unwrap {
			letter-spacing: -0.4px;
			padding-right: 31px;
		}
	}

	&--type-kspc-nl {
		.kspc-twpah-unwrap {
			right: auto;
			left: 218px;
			width: calc(100% - 218px);
		}
	}

	&--show-9 {
		max-height: 30*9px;

		.kspc-twpah-unwrap {
			top: 30*8px;
		}
	}

	&--show-2 {
		max-height: 30*2px;

		.kspc-twpah-unwrap {
			top: 30*1px;
		}
	}

}