@media screen and (max-width:1150px) {


	.component-hide-block-wrap {}

	.component-hide-block {
		max-height: 24*3px;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 24px;

		p {
			&+p {
				margin-top: 24px;
			}
		}

		b {}


		.kspc-twpah-unwrap {
			top: 24*2px;
			padding-right: 7px
		}


		&--show-2 {
			max-height: 24*2px;

			.kspc-twpah-unwrap {
				top: 24*1px
			}

			;
		}

		&--show-9 {

			.kspc-twpah-unwrap {}
		}

	}


}

@media screen and (max-width: 749px) {
	.component-hide-block-wrap {}

	.component-hide-block {

		max-height: vw(24*3);
		font-style: normal;
		font-weight: normal;
		font-size: vw(15);
		line-height: vw(24);

		p {
			&+p {
				margin-top: vw(24);
			}
		}

		b {}

		.kspc-twpah-unwrap {
			top: vw(24*2);
		}


		&--show-2 {
			max-height: vw(24*2);

			.kspc-twpah-unwrap {
				top: vw(24*1);
			}
		}

		&--show-9 {

			.kspc-twpah-unwrap {}
		}

	}

}

@media screen and (min-width: 501px) and (max-width: 749px) {
	.component-hide-block--show2-album-modal {
		font-size: 15px;
		line-height: 24px;
		max-height: 24*2px;

		.kspc-twpah-unwrap {
			top: 24px;
		}

	}
}

@media screen and (min-width: vw(319)) and (max-width: vw(321)) {
	.component-hide-block {

		.kspc-twpah-unwrap {
			top: 13.2vw;
		}

		&--show-2 {}

		&--show-9 {}
	}


}



@media screen and (min-width: 413px) and (max-width: 415px) {
	.component-hide-block {
		.kspc-twpah-unwrap {
			top: 13.1vw;
		}

		&--show-2 {}

		&--show-9 {}
	}

	/*	.kspc-twpah-unwrap {
		top: 84.9vw;
	}

	.kspc-simple-text--with-hide .kspc-twpah-unwrap {
		top: 32.7vw;
	}


	.kspc-simple-text--with-hide--show-9 .kspc-simple-text__p {
		max-height: 106.33333vw;
	}

	.kspc-simple-text--with-hide--show-9 .kspc-twpah-unwrap {
		top: 97.6vw;
	}*/

}