.custom-fancybox-close--course-modal {
	@media screen and (max-width: 1150px) {
		display: none;
	}
}

.fancybox-support-modal.fancybox-support-modal--course .fancybox-slide .fancybox-button.fancybox-close-small {
	@media screen and (max-width: 1150px) {
		display: block !important;
	}

	position: absolute;
	right: 0;
	top: 0;
	padding: 6px;

	@media screen and (max-width: 749px) {
		padding: vw(6);
	}
}

.course-modal {


	@media screen and (max-width: 1150px) {
		width: 332px;
		padding: 30px 20px;
	}

	@media screen and (max-width: 749px) {
		min-height: auto;
		width: vw(332);
		padding: vw(30) vw(20) vw(34);
	}
}

.course-modal__inner {

	@media screen and (max-width: 1150px) {}

	@media screen and (max-width: 749px) {}
}

.course-modal__title {
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 59px;
	letter-spacing: -0.03em;
	color: $dark;

	@media screen and (max-width: 1150px) {
		font-size: 32px;
		line-height: 39px;
	}

	@media screen and (max-width: 749px) {
		font-size: vw(32);
		line-height: vw(39);
	}
}

.course-modal__info {
	font-size: 17px;
	line-height: 30px;
	margin-top: 6px;

	@media screen and (max-width: 1150px) {
		font-size: 15px;
		line-height: 24px;
		margin-top: 20px;

		&.custom-ul--no-p-l li {
			padding-left: 20px;

			&::before {
				left: 1px;
				top: 11px;
			}


		}
	}

	@media screen and (max-width: 749px) {
		font-size: vw(15);
		line-height: vw(24);
		margin-top: vw(20);

		&.custom-ul--no-p-l li {
			padding-left: vw(20);

			&::before {
				left: vw(1);
				top: vw(11);
			}


		}
	}
}

.support-modal-top--course-modal {
	margin-top: 18px;

	@media screen and (max-width: 1150px) {
		font-size: 15px;
		line-height: 30px;
	}

	@media screen and (max-width: 749px) {
		font-size: vw(15);
		line-height: vw(30);
	}
}

.support-modal__form--course-modal {

	@media screen and (max-width: 1150px) {
		margin-top: 8px;

		.btn--support-modal {
			width: 100%;
		}

	}

	@media screen and (max-width: 749px) {
		margin-top: vw(8);
	}
}