.custom-dots .slick-dots {
	z-index: 4;
	width: 100%;
	justify-content: center;
	margin-top: 36px;
	display: flex;
	align-items: center;
	list-style: none;

	li {
		margin: 0 7px;
		list-style: none;
		cursor: pointer;
		width: 9px;
		height: 9px;
		border: 1px solid #AFB4BF;
		box-sizing: border-box;
		 -webkit-mask-image: -webkit-radial-gradient(white,#000); border-radius: 50%;
		transition: all .3s ease;
		position: relative;

		&.slick-active {
			border-color: #AFB4BF;
			background: #AFB4BF;

			&::before {
				opacity: 1;
			}
		}

		button {
			display: none;
		}
	}
}




//начало мобилки 767 было
@media screen and (max-width: 749px) {
	.custom-dots .slick-dots {
		li {
			margin: 0 vw(7);
			width: vw(9);
			height: vw(9);
		}
	}
}

@media screen and (max-width: 749px) and (-webkit-min-device-pixel-ratio: 3) {
	.custom-dots .slick-dots {
		li {
			width: 9px !important;
			height: 9px !important;
			margin: 0 7px !important;
		}
	}
}