@media screen and (max-width: 749px) {

	.pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-left: 0;

		&__paginate {
			width: vw(36);
			height: vw(36);
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid #AFB4BF;
			color: #AFB4BF;
			font-weight: 300;
			font-size: vw(17);
			 -webkit-mask-image: -webkit-radial-gradient(white,#000); border-radius: 50%;
			margin: 0 vw(4.5);
			transition: .3s;

			&-active {
				border: 1px solid #25378D;
				color: #25378D;
			}

			&:hover {
				border: 1px solid #25378D;
				color: #25378D;
				opacity: 0.7;
			}

			cursor: pointer;
		}

		&__paginate-more {
			font-size: vw(22);
			line-height: vw(22);
			text-align: center;
			letter-spacing: -0.03em;
			color: #AFB4BF;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 vw(9);
		}

		&__arrow {
			display: flex;
			justify-content: center;
			align-items: center;

			svg {
				width: vw(8);
				height: auto;
			}

			svg path {
				transition: .3s;
			}

			&:hover {
				svg path {
					fill: #25378D;
				}


			}

			&--next {}

			&--prev {
				svg {
					transform: rotate(180deg);
				}
			}
		}

	}
}