.comments
  .comments-top
    h2.comments-title 
      | Комментарии
    .comments-top__count 
      | 868 комментариев

  form.comments-form
    .comments-form__top
      .comments-form__top-inp-wrap
        input.comments-textarea(type="text" placeholder="Имя*")
      .comments-form__top-inp-wrap
        input.comments-textarea(type="text" placeholder="Email")

    input.hide(type="text" value="Иванов Иван")

    textarea.comments-textarea.js-textarea-autosize(name="make-review", placeholder="Новый отзыв*", rows="1")
    
    button.btn.comments-send-btn(type="submit") 
      | Отправить

  .comments-container    
    //- Первый коммент
    .comments-item
      .comments-item__top
        .comments-item__name 
          | Павел Владимиров
        .comments-item__days 
          | 3 дня назад

      .comments-item__text.comments-item__text--with-hide
        p 
          | Мастер Имрам, Благо Дарю за новую статью. Как всегда все объяснено доступным для каждого из нас языком. На несколько раз перечитала, медленно и вдумчиво. 🙏  Мастер Имрам, такой вопрос возник. В одной из медитаций, которую я пыталась применить на себе, там говорилось что-то об объединенной чакре, т.е.все чакры объединяют в одну общую, или я ошиблась и не так поняла тех людей, кто составлял Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam itaque enim sequi deserunt blanditiis, veniam reiciendis. Aut odio, labore dolor, magni quae voluptate quos omnis recusandae unde ex dolore iure minus error ab minima esse! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti molestiae possimus nam quis est distinctio, deleniti culpa tempora suscipit laudantium voluptate voluptatem aspernatur in? Delectus aliquam blanditiis optio eum eius aspernatur ea nihil praesentium. Perferendis nisi ex magni. Necessitatibus ipsa quibusdam error voluptas soluta aliquam eos alias voluptate, eius excepturi.
        
        div.kspc-twpah-unwrap.comments-unwrap.js-review-unwrap
          span.kspc-twpah-unwrap__dots 
            | ...
          span.kspc-twpah-unwrap__text  
            | Развернуть
      
      .comments-item__controls
        a(href="").comments-item__controls-item.comments-item__controls-item--reply
          | Ответить
        a(href="").comments-item__controls-item.comments-item__controls-item--edit.comments-item__controls-item--hidden
          | Редактировать 

      .comments-item__has-replies.comments-item__has-replies--no-replies
        img(src="img/article-template/reply-icon.svg", alt="").comments-item__has-replies-icon
        .comments-item__has-replies-text
          | 2 ответа                      

    //- Второй коммент
    .comments-item
      .comments-item__top
        .comments-item__name 
          | Сергей Реутов
        .comments-item__days 
          | 4 дня назад

      .comments-item__text.comments-item__text--with-hide
        p 
          | Благодарю, Мастер!
      
      .comments-item__controls
        a(href="").comments-item__controls-item.comments-item__controls-item--reply
          | Ответить  
        a(href="").comments-item__controls-item.comments-item__controls-item--edit
          | Редактировать 

      .comments-item__has-replies.comments-item__has-replies--no-replies
        img(src="img/article-template/reply-icon.svg", alt="").comments-item__has-replies-icon
        .comments-item__has-replies-text
          | 2 ответа               

    //- Третий коммент
    .comments-item
      .comments-item__top
        .comments-item__name 
          | Сергей Лятычевский
        .comments-item__days 
          | 5 дней назад

      .comments-item__text.comments-item__text--with-hide
        p 
          | Мастер Имрам, Благо Дарю за новую статью. Как всегда все объяснено доступным для каждого из нас языком. На несколько раз перечитала, медленно и вдумчиво. 🙏  Мастер Имрам, такой вопрос возник. В одной из медитаций, которую я пыталась применить на себе, там говорилось что-то об объединенной чакре, т.е.все чакры объединяют в одну общую, или я ошиблась и не так поняла тех людей, кто составлял

        div.kspc-twpah-unwrap.comments-unwrap.js-review-unwrap
          span.kspc-twpah-unwrap__dots 
            | ...
          span.kspc-twpah-unwrap__text  
            | Развернуть

      .comments-item__controls
        a(href="").comments-item__controls-item.comments-item__controls-item--reply
          | Ответить  
        a(href="").comments-item__controls-item.comments-item__controls-item--edit.comments-item__controls-item--hidden
          | Редактировать

      .comments-item__has-replies
        img(src="img/article-template/reply-icon.svg", alt="").comments-item__has-replies-icon
        .comments-item__has-replies-text
          | 2 ответа    

    //- Четвертый коммент
    .comments-item
      .comments-item__top
        .comments-item__name 
          | Сергей Лятычевский
        .comments-item__days 
          | 5 дней назад

      .comments-item__text.comments-item__text--with-hide
        p 
          | Мастер Имрам, Благо Дарю за новую статью. Как всегда все объяснено доступным для каждого из нас языком. На несколько раз перечитала, медленно и вдумчиво. 🙏  Мастер Имрам, такой вопрос возник. В одной из медитаций, которую я пыталась применить на себе, там говорилось что-то об объединенной чакре, т.е.все чакры объединяют в одну общую, или я ошиблась и не так поняла тех людей, кто составлял

        div.kspc-twpah-unwrap.comments-unwrap.js-review-unwrap
          span.kspc-twpah-unwrap__dots 
            | ...
          span.kspc-twpah-unwrap__text  
            | Развернуть

      .comments-item__controls
        a(href="").comments-item__controls-item.comments-item__controls-item--reply
          | Ответить  
        a(href="").comments-item__controls-item.comments-item__controls-item--edit.comments-item__controls-item--hidden
          | Редактировать

      .comments-item__has-replies.comments-item__has-replies--opened
        img(src="img/article-template/reply-icon.svg", alt="").comments-item__has-replies-icon
        .comments-item__has-replies-text
          | 2 ответа                   

      //- Пятый коммент
      .comments-item.comments-item__reply
        .comments-item__reply-line

        .comments-item__top
          .comments-item__name
            img(src="img/weekly/event-logo.svg", alt="").comments-item__name-symbol 
            | Имрам Крийя
          .comments-item__days 
            | 23 часа назад

        .comments-item__text.comments-item__text--with-hide
          p 
            | Светлана, добрый день! Благодарим за ваши светлые и добрые комментарии. Ваш вопрос обязательно передадим Мастеру, всех благ 🙏✨

        .comments-item__controls
          a(href="").comments-item__controls-item.comments-item__controls-item--reply
            | Ответить  
          a(href="").comments-item__controls-item.comments-item__controls-item--edit.comments-item__controls-item--hidden
            | Редактировать

        .comments-item__has-replies.comments-item__has-replies--opened
          img(src="img/article-template/reply-icon.svg", alt="").comments-item__has-replies-icon
          .comments-item__has-replies-text
            | 2 ответа

        //- шестой коммент
        .comments-item.comments-item__reply.comments-item__reply--inner
          .comments-item__reply-line

          .comments-item__top
            .comments-item__name              
              | Сергей Лятычевский
            .comments-item__days 
              | 23 часа назад

          .comments-item__text.comments-item__text--with-hide
            p 
              | Спасибо мастер! 🙏🙏🙏

          .comments-item__controls
            a(href="").comments-item__controls-item.comments-item__controls-item--reply
              | Ответить  
            a(href="").comments-item__controls-item.comments-item__controls-item--edit.comments-item__controls-item--hidden
              | Редактировать

          .comments-item__has-replies.comments-item__has-replies--opened
            img(src="img/article-template/reply-icon.svg", alt="").comments-item__has-replies-icon
            .comments-item__has-replies-text
              | 2 ответа       

      //- Седьмой коммент
      .comments-item.comments-item__reply
        .comments-item__reply-line

        .comments-item__top
          .comments-item__name
            img(src="img/weekly/event-logo.svg", alt="").comments-item__name-symbol 
            | Имрам Крийя
          .comments-item__days 
            | 23 часа назад

        .comments-item__text.comments-item__text--with-hide
          p 
            | Светлана, добрый день! Благодарим за ваши светлые и добрые комментарии. Ваш вопрос обязательно передадим Мастеру, всех благ 🙏✨

        .comments-item__controls
          a(href="").comments-item__controls-item.comments-item__controls-item--reply
            | Ответить  
          a(href="").comments-item__controls-item.comments-item__controls-item--edit.comments-item__controls-item--hidden
            | Редактировать

        .comments-item__has-replies.comments-item__has-replies--opened
          img(src="img/article-template/reply-icon.svg", alt="").comments-item__has-replies-icon
          .comments-item__has-replies-text
            | 2 ответа       

  .comments-loadmore-wrap
    .comments-loadmore
      span.comments-loadmore__text Еще 865 комментариев
        | <svg class="reviews-loadmore__icon" width="11" height="6" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.90556e-05 0.411044C3.62252e-05 0.329919 0.0241108 0.250621 0.0691976 0.183179C0.114285 0.115737 0.178359 0.0631808 0.253317 0.0321557C0.328275 0.00113055 0.410749 -0.00696922 0.490311 0.00888081C0.569873 0.0247309 0.642947 0.0638185 0.700293 0.121201L5.46604 4.88693L10.2318 0.121201C10.3091 0.0464881 10.4127 0.0051467 10.5203 0.00608121C10.6278 0.00701572 10.7307 0.0501515 10.8067 0.126198C10.8828 0.202244 10.9259 0.305116 10.9269 0.412657C10.9278 0.520199 10.8865 0.623805 10.8117 0.701161L5.75588 5.75701C5.67897 5.8339 5.57466 5.8771 5.4659 5.8771C5.35714 5.8771 5.25284 5.8339 5.17592 5.75701L0.120059 0.701161C0.0819778 0.663056 0.0517759 0.617822 0.0311794 0.568043C0.0105829 0.518264 -4.78865e-06 0.464916 1.90556e-05 0.411044Z" fill="#25378D"/></svg>
        