.card {
    &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #53565A;
    }

    &__theme {
        display: flex;
        align-items: center;
    }

    &__theme-link {
        font-weight: 300;
        font-size: 13px;
        line-height: 26px;
        text-transform: uppercase;
        color: #25378D;
		margin-right: 11px;

    }

    &__img-wrapper {
        position: relative;
        &::after {
            content: '';
            display: block;
            padding-top: 100%;
        }
        &_video {
            position: relative;
            &::after {
                content: '';
                display: block;
                padding-top: 250/403 * 100%;
            }
        }
    }

    &__img {
        position: absolute;
        object-fit: cover;
        object-position: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__theme-date {
        font-weight: 300;
        font-size: 13px;
        line-height: 26px;
        text-transform: uppercase;
        color: #AFB4BF;
        margin-right: 14px;

    }

    &__theme-icon {
        background:url('../img/icons/subscribe.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 13px;
        height: 14px;
    }

    &__desc {
        max-width: 257px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 17px;
        line-height: 30px;
        color: #53565A;
    }
}

.section-title {
    font-size: 35px;
    line-height: 59px;
    letter-spacing: -0.03em;
    color: #3E434D
}




@media screen and (max-width: 1150px) {
    .card {
        &__title {
            font-size: 24px;
            line-height: 26px;
            color: #3E434D;

        }

        &__theme-link {
            font-size: 15px;
            line-height: 18px;
        }

        &__theme-date {
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
            color: #AFB4BF;
            }

        &__desc {
            font-weight: 300;
            font-size: 15px;
            line-height: 24px;
            color: #3E434D;
        }
    }

    .section-title {
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
        color: #525865;
        letter-spacing: normal;
    }

}

@media screen and (max-width: 749px) {//767 было
    .card {
        &__title {
           font-size: 19px;
            line-height: 26px;
            color: #53565A;
            font-weight: 400;
        }
        &__theme-link {
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #25378D;
        }

        &__theme-date {
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            text-transform: uppercase;
            color: #9CA1AC;

        }

        &__theme-icon {
            background:url('../img/icons/subscribe.svg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 12px;
            height: 12px;
        }

        &__desc {
            font-weight: 300;
            font-size: 15px;
            line-height: 24px;
            color: #53565A;
        }
    }

    .section-title {
        font-weight: 300;
        font-size: 24px;
        line-height: 45px;
        color: #525865;
    }
}