.card {
    &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #53565A;
    }

    &__theme {
        display: flex;
        align-items: center;
    }

    &__theme-link {
        font-weight: 300;
        font-size: 13px;
        line-height: 26px;
        text-transform: uppercase;
        color: #25378D;
        margin-right: 15px;

    }

    &__img-wrapper {
        position: relative;
        &::after {
            content: '';
            display: block;
            padding-top: 100%;
        }
    }

    &__img {
        position: absolute;
        object-fit: cover;
        object-position: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__theme-date {
        font-weight: 300;
        font-size: 13px;
        line-height: 26px;
        text-transform: uppercase;
        color: #AFB4BF;
        margin-right: 14px;

    }

    &__theme-icon {
        background:url('../img/icons/subscribe.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
    }

    &__desc {
        max-width: 257px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        font-size: 17px;
        line-height: 30px;
        color: #53565A;
    }
}

.section-title {
    font-size: 35px;
    line-height: 59px;
    letter-spacing: -0.03em;
    color: #3E434D
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 77px;

    &__paginate {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #AFB4BF;
        color: #AFB4BF;
        font-weight: 300;
        font-size: 17px;
        border-radius: 50%;
        margin: 0 4.5px;
        transition: .3s;
        &-active {
            border: 1px solid #25378D;
            color: #25378D;
        }
        &:hover {
            border: 1px solid #25378D;
            color: #25378D;
            opacity: 0.7;
        }
    }

    &__paginate-more {
        font-size: 22px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -0.03em;
        color: #AFB4BF;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 9px;
    }

    &__arrow {
        width: 36px;
        height: 36px;
        margin: 0 4.5px;
        svg path {
            transition: .3s;
        }
        &:hover {
            svg path:first-child {
                stroke: #25378D;
            }
            svg path:last-child {
                fill: #25378D;
                stroke: transparent;
            }

            
        }
    }

    &__next {
    }

    &__prev {
        display: none;
    }
}


@media screen and (max-width: 1150px) {
    .card {
        &__title {
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            color: #53565A;
        }

        &__theme-link {
            font-size: 15px;
            line-height: 18px;
        }

        &__theme-date {
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
            color: #AFB4BF;
            }

        &__desc {
            font-weight: 300;
            font-size: 15px;
            line-height: 24px;
            color: #3E434D;
        }
    }

    .section-title {
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
        color: #525865;
    }
}

@media screen and (max-width: 767px) {
    .card {
        &__title {
           font-size: 19px;
            line-height: 26px;
            color: #53565A;
            font-weight: 400;
        }
        &__theme-link {
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #25378D;
        }

        &__theme-date {
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            text-transform: uppercase;
            color: #9CA1AC;

        }

        &__theme-icon {
            background:url('../img/icons/subscribe.svg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 12px;
            height: 12px;
        }

        &__desc {
            font-weight: 300;
            font-size: 15px;
            line-height: 24px;
            color: #53565A;
        }
    }

    .section-title {
        font-weight: 300;
        font-size: 24px;
        line-height: 45px;
        color: #525865;
    }
}