.fancybox-container,
.fancybox-bg {
	//	transition: all .5s linear;
}

.fancybox-infobar,.fancybox-progress {
	display: none !important;
}

.custom-fancybox-close,
.fancybox-custom-play-btn,
.fancybox-custom-arrow {
	transition: all .4s linear;
	opacity: 0;
}

.fancybox-is-open {
	.custom-fancybox-close,
	.fancybox-custom-play-btn,
	.fancybox-custom-arrow {
		opacity: 1;
	}
}

.fancybox-bg {
	background: #ffffff;
}

.fancybox-is-open .fancybox-bg {
	opacity: 1 !important;
}

.fancybox-stage {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fancybox-content {}

.fancybox-slide {
	padding: 93px calc((100% - 1296px) / 2);
	margin: 0 auto;
}

//перманентно проявляем тулзы
.fancybox-navigation .fancybox-button,
.fancybox-toolbar {
	opacity: 1 !important;
	visibility: visible;
}

.fancybox-caption {
	display: none !important;
}

.custom-fancybox-close {
	position: absolute;
	right: 35px;
	top: 36px;
	padding: 10px;
	margin-top: -10px;
	margin-right: -10px;
	cursor: pointer;

	svg {
		width: 27px;
		height: auto;
	}
}

.fancybox-custom-play-btn {
	position: absolute;
    right: 114px;
	top: 36px;
	margin-top: -10px;
	margin-right: -10px;
	width: 46px;
	height: 46px;
	cursor: pointer;
	cursor: pointer;

	svg {
		height: auto;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition-duration: .5s;
		display: block !important;

		&:nth-child(1) {
			width: 18px;
		}

		&:nth-child(2) {
			width: 16px;
			opacity: 0;
		}
	}

	&.fancybox-button--pause {

		svg {

			&:nth-child(1) {
				opacity: 0;
			}

			&:nth-child(2) {
				opacity: 1;
			}
		}
	}
}

.fancybox-navigation {
	top: 50%;
	width: calc(1296px + 76px*2 + 18px*2);
	max-width: calc(100% - 22px);
	margin: 0 auto;
	height: 1px;
	//background: red;
	position: relative;


}

.fancybox-custom-arrow {
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 99995;
	//transition-duration: .3s;

	svg {
		width: 20px;
		height: auto;
		display: block;
	}

	padding: 5px;

	&--prev {
		left: -15px;

		svg {
			transform: rotate(-180deg);
		}
	}

	&--next {
		right: -15px;
	}

	&[disabled] {
		opacity: 0;
		transition: all 0s linear;
	}
}


.fancybox-is-closing {

	.custom-fancybox-close,
	.fancybox-custom-play-btn,
	.fancybox-custom-arrow {
		opacity: 0 !important;
	}
}

.fancy-hide-sideshow .fancybox-custom-play-btn{
opacity: 0 !important;
display: none;
}

.fancybox-slide--video .fancybox-content{
	opacity: 0;
	transition: opacity 0.7s ease;
	&.video-init{
		opacity: 1;
	}
}

@media screen and (max-width: 1550px) {

	.fancybox-slide {
		padding: 58px 90px;
	}

	.fancybox-navigation {
		max-width: calc(100% - 36*2px);
	}
}

@media screen and (max-width: 1150px) {

	.fancybox-slide {
		padding: 53px 0;
		margin: 0 auto;
	}

	.fancybox-navigation {
		max-width: calc(100% - 22px);
		display: none;
	}

	.custom-fancybox-close {
		position: absolute;
		right: 22px;
		top: 22px;

		svg {
			width: 17px;
			height: auto;
		}
	}

	.fancybox-custom-play-btn {
		position: absolute;
		right: 61px;
		top: 24px;
		margin-top: -10px;
		margin-right: -10px;
		width: 32px;
		height: 32px;

		svg {

			&:nth-child(1) {
				width: 12px;
			}

			&:nth-child(2) {
				width: 10px;
			}
		}
	}

	.fancybox-custom-arrow {
		svg {
			width: 13px;
		}


		&--prev {}

		&--next {}
	}

}

@media screen and (max-width: 749px) {
	.fancybox-slide {
		padding: vw(53) 0;
	}

	.custom-fancybox-close {
		right: vw(14);
		top: vw(14);
		padding: vw(10);
		margin-top: vw(-10);
		margin-right: vw(-10);

		svg {
			width: vw(17);
		}
	}

	.fancybox-custom-play-btn {
		position: absolute;
		right: vw(53);
		top: vw(16);
		margin-top: vw(-10);
		margin-right: vw(-10);
		width: vw(32);
		height: vw(32);

		svg {

			&:nth-child(1) {
				width: vw(12);
			}

			&:nth-child(2) {
				width: vw(10);
			}
		}
	}


	.fancybox-navigation {
		max-width: calc(100% - #{vw(20)});
	}

	.fancybox-custom-arrow {
		svg {
			width: vw(13);
		}

		padding: vw(5);

		&--prev {
			left: vw(-5);
		}

		&--next {
			right: vw(-5);
		}
	}
}