//начало планшета
@media screen and (min-width:1151px) {
	.sfoo-col__plus {
		display: none;
	}
}


//начало планшета
@media screen and (max-width:1150px) {

	.site-footer {
		margin-top: 0;
		padding-top: 49px;
	}

	.container--sfoo {
		width: 696px;
	}

	.sfoo-top {
		display: block;
		border-bottom: 1px solid #DEE6E9;
		width: 100%;
		padding-bottom: 0;
		margin-bottom: 41px;

	}

	.sfoo-col__title:not(:first-child) {
		margin-top: 0;
	}

	.sfoo-col {
		width: 100%;
		max-width: 100%;

		&__title {
			font-family: Proxima Nova;
			padding: 13px 0 14px;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 1;
			/* identical to box height, or 387% */

			transition-duration: .3s;

			color: #3E434D;
			cursor: pointer;

			span {
				display: block;
				padding-right: 20px;
			}

			/* Font_Title_dark */
			&:not(:first-child) {}

			border-top: 1px solid #DEE6E9;

			&--open,
			&:hover {
				color: #25378d;
				//border-color: #25378d;

				.sfoo-col__plus {
					rect {
						fill: #25378d;
						//stroke: #25378d;
					}
				}
			}

			&--open {

				.sfoo-col__plus {
					svg {
						transform: rotate(45deg);
					}
				}
			}
		}

		&__plus {
			padding: 5px 15px;
			margin: -5px 0;
			min-width: 39px;
			width: 39px;
			transition-duration: .3s;

			svg {
				width: 100%;
				transition-duration: .3s;

				rect {
					transition-duration: .3s;
				}
			}
		}
	}

	.sfoo-list {
		display: none;
		margin: 0 0 15px;

		&__item {
			line-height: 32px;

			&:hover {}

			&:active {}

			&:focus {}
		}
	}

	.sfoo-bottom {
		display: flex;
		flex-direction: column;
		font-size: 13px;
		padding: 12px 0 18px;
		border: none;
	}

	.sfoo-copywryting {
		margin: 0;
		padding: 0;
		order: 2;
		margin-top: 24px;
	}

	.sfoo-bottom-menu {
		margin: 0;
		padding: 0;
		order: 4;
		margin-top: 31px;

		&__item {
			&:not(:last-child) {
				&::after {}
			}

			&:hover {}

			&:active {}

			&:focus {}
		}
	}

	.sfoo-bottom-right {
		margin: 0;
		padding: 0;
		order: 0;
	}

	.ssocials--sfoo {
		margin-right: 0;

		.ssocials-item {
			&:hover {}

			&:active {}

			&:focus {}
		}
	}

	.top-btn-wrap__inner{
		width: 100%;
		max-width: calc(100% - 70px);
	}
	.top-btn {
		margin-bottom: 36px;
	}
}

//начало мобилки


@media screen and (max-width:767px) {

	.top-btn-wrap__inner{
		width: 92.5vw;
		max-width: calc(100% - 3.88889vw * 2);
		overflow: visible;
	}

	.top-btn {

		width: vw(36);
		height: vw(36);

		border: 1px solid #DEE6E9;
		box-sizing: border-box;
		border-radius: 10px;

		svg {
			width: vw(10);
			height: auto;
		}
	}
	.site-footer {
		margin-top: 0;
		padding-top: vw(84);
	}

	.container--sfoo {
		width: vw(696);
	}

	.sfoo-top {
		margin-bottom: vw(41);

	}

	.sfoo-col {
		&__title {
			padding: vw(13) 0 vw(14);
			font-size: vw(15);

			span {
				padding-right: vw(20);
			}
		}

		&__plus {
			padding: vw(5) vw(15);
			margin: vw(-5) 0;
			min-width: vw(39);
			width: vw(39);

			svg {
				height: auto;
			}
		}
	}

	.sfoo-list {
		margin: 0 0 vw(15);

		&__item {
			line-height: vw(32);

		}
	}

	.sfoo-bottom {
		font-size: vw(13);
		padding: vw(12) 0 vw(11);
	}

	.sfoo-copywryting {
		margin-top: vw(24);
	}

	.sfoo-bottom-menu {
		width: vw(348);
		margin-left: vw(-28);
		max-width: auto;
		margin-top: vw(31);
		flex-wrap: wrap;
		justify-content: flex-start;

		&__item {
			padding: 0;
			margin-left: vw(28);
			margin-bottom: vw(13);

			//margin-left: vw(-20);
			//padding-left: vw(20);
			//margin-right: vw(20);
			&::before {
				position: absolute;
				height: vw(15);
				width: vw(1);
				top: 50%;
				-webkit-transform: translate(0, -50%);
				transform: translate(0, -50%);
				right: 0;
				content: '';
				display: block;
				background: #e1e1e1;
				left: vw(-13);
			}

			&:not(:last-child) {
				padding-right: 0;

				&::after {
					display: none;
				}
			}

			&:hover {}

			&:active {}

			&:focus {}
		}
	}


	.ssocials--sfoo {

		.ssocials-item {
			padding: vw(9) vw(10) vw(5);
			margin: 0 vw(1);

			svg {
				width: vw(17);
				height: vw(17);
				max-width: vw(17);
				max-height: vw(17);
			}
		}
	}


}