@media screen and (max-width:1620px) and (min-width:1551px) {
	.sh-center{
		padding-left: 0;
	}
}
@media screen and (max-width:1550px) and (min-width:1151px) {
	.sh-burger-wrap::after {
		margin-left: 11px;
	}

	.sh-logo {
		margin: 0px 22px;
	}

	.sh-menu-item {
		padding: 0 5px 0 5px;
	}

	.sh-right {
		margin-right: -6px;
	}

	.sh-authorize__link {

		padding: 10px 17px 10px 9px;
		font-size: 15px;
		line-height: 18px;
	}

	.sh-socials::after {
		margin-left: 10px;
	}

	.sh-socials::before {
		margin-left: 24px;
	}

	.lang-switcher {
		font-size: 15px;
		line-height: 18px;
	}

	.sh-menu-item {
		font-size: 15px;
		line-height: 18px;
		padding: 0 18px;
	}

	.sh-center {
		padding-left: 0;
		padding-right: 1.2%;
	}
}

/*@media screen and (max-width:1650px) {
	.sh-menu-item {
		padding: 0 10px 0 11px;
	}

	.sh-center {
		padding-left: 0;
	}
}

*/
@media screen and (max-width:1305px) {
	.sh-menu {
		display: none;
	}
}


//последний десктоп
@media screen and (min-width:1151px) {
	.sh-authorize__link {
		svg {
			display: none;
		}
	}

	.sh-burger-wrap-right {
		display: none;
	}

	.sh-menu-item__link {
		white-space: nowrap;
	}
}

//начало планшета
@media screen and (max-width:1150px) {
	.site-header {
		&+* {
			margin-top: 61px;
		}
	}

	.site-header__inner {
		min-height: 61px;
		width: 100%;
		padding-left: 14px;
		padding-right: 10px;
	}

	.sh-authorize__link {
		padding: 10px 14px;
		padding: 10px 12px;
		@include hov();

		span {
			display: none;
		}
	}

	.sh-burger-wrap--main {
		display: none;
	}

	.sh-socials {
		display: none;
	}

	.sh-logo {
		width: 96px;
		margin-left: 0;
	}

	.sh-lang-switcher {
		padding: 8px;
		margin-right: 2px;
	}

	.sh-burger-wrap-right {
		margin-right: 0;
	}

	.sh-burger {
		position: relative;
		//display: none;
		width: 16px;
		height: 12px;
		padding: 18px;
		cursor: pointer;
		transition-duration: .2s;
		@include hov();

		span,
		span::before,
		span::after {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 16px;
			height: 1px;
			margin-left: -8px;
			margin-top: -1px;
			background: #25378D;
			transition: 0.2s;

		}

		span::before,
		span::after {
			content: '';
		}

		span::before {
			transform: translateY(-4px);
		}

		span::after {
			transform: translateY(6px);
		}

		&--active {

			span {
				background: rgba(255, 255, 255, 0);

				&::before {
					transform: rotate(45deg);
				}

				&::after {
					transform: rotate(-45deg);
				}
			}
		}
	}



	.sfoo-list__item, .sfoo-bottom, .sfoo-bottom-menu__item {color: $darktm;}
}


@media screen and (max-width: 749px) {//767 было

	.sh-burger {
		width: 16px;
		height: 12px;
		padding: 18px;
	}


	.sh-burger span,
	.sh-burger span::after,
	.sh-burger span::before {
		position: absolute;
		width: 16px;
		height: 1px;
		margin-left: -8px;
		margin-top: -1px;
	}

	.sh-burger span::before {
		transform: translateY(-4px);
	}

	.sh-burger span::after {
		transform: translateY(6px);
	}




	.sh-lang-switcher {
		padding: 8px;
		margin-right: 2px;
	}

	.lang-switcher {
		font-size: 17px;
		line-height: 21px;
	}

	.container {
		//overflow: hidden;
	}

	.site-header {
		&+* {
			margin-top: 53px;
		}
	}

	.site-header__inner {
		min-height: 53px;
		padding-left: 14px;
		padding-right: 2px;
	}

	.sh-logo {
		width: 75px;
	}

	.sh-authorize__link {
		padding: 13px 12px 10px;

		svg {
			width: 10px;
			display: block;
		}
	}
}