@media screen and (min-width:1151px) {
	.sh-menu-item__link--temp-lock{
		pointer-events: none;
	}

	.sh-mmenu {
		position: relative;
		width: 100%;
		z-index: 80;
	}

	.sh-mmenu-item {
		position: absolute;
		top: 0;
		left: 50%;
		box-sizing: border-box;
		width: auto;
		max-width: 100%;
		max-width: 100%;
		padding: 36px 36px 28px;
		transition: opacity .2s linear;
		pointer-events: none;
		opacity: 0;
		border: 1px solid #DEE6E9;
		border-radius: 5px;
		background: #FFFFFF;
		//-webkit-mask-image: -webkit-radial-gradient(white, #000);
		z-index: 80;

		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
		/*.sh-mmenu-grid{
			pointer-events: none;
		}*/
		.sh-mmenu-tabs__tab--active{
			pointer-events: none;
		}
		&--active {
			pointer-events: all;
			opacity: 1;
			z-index: 85;

			/*.sh-mmenu-item__inner {
				pointer-events: all;
			}
			.sh-mmenu-grid{
				pointer-events: all;
			}*/
			.sh-mmenu-tabs__tab--active{
				pointer-events: all;
			}

		}

		&--hide-fast{
		transition: opacity .12s linear;
		}

		&--simple {
			margin-left: -34px;
			padding: 26px 34px;

		}

		&--tabs {
			padding: 35px 36px 26px 40px;

		}

		&--centred {
			//width: 517px;
			left: 50%;
			transform: translate(-50%, 0);
		}

		&--centred-by-link {}

		&__inner {
			/*pointer-events: none;*/
		}

	}

	.sh-mmenu-links {
				font-size: 17px;
				line-height: 30px;
		&:hover{
			.sh-mmenu-links__link{


				&--active {
					color: $dark;
					&::before,
					&::after {
						opacity: 0;
					}
					&:hover{
						&::before,
						&::after {
							opacity: 1;
						}
					}
				}
			}
		}
		&__link {
			position: relative;
			display: block;
			cursor: pointer;
			transition: all .3s linear;

			&::before,
			&::after {
				position: absolute;
				left: 0;
				display: block;
				width: 100%;
				height: 1px;
				content: '';
				transition: all .3s linear;
				opacity: 0;
				background: #DEE6E9;
			}

			&::before {
				top: -6px;
			}

			&::after {
				bottom: -3px;
			}

			&:hover,
			&--active {
			//	color: #25378D;

				&::before,
				&::after {
					opacity: 1;
				}

				svg {
					//fill: #25378D;
				}
			}

			&+.sh-mmenu-links__link {
				margin-top: 10px;
			}

			&--arrow svg {

				position: absolute;
				right: 0;
				top: 11px;
				display: inline-block;
				margin-bottom: -1px;
				margin-right: 0;

			}
			&--temp-lock{
				pointer-events: none;
			}
		}
	}

	.sh-mmenu-grid {
		display: flex;
		flex-wrap: wrap;
		//margin-left: -22px;
		width: auto;
		max-width: 100%;
		margin-bottom: -15px;

		&--w3 {
			width: 517px;

			.sh-mmenu-grid__item {
				width: calc(33.3333% - 22px * 2 / 3 - 0.5px);
			}

			.sh-mmenu-grid__item:nth-child(5n-4) {
				margin-left: 0;
			}
		}

		&--w4 {
			width: 696px;

			.sh-mmenu-grid__item {
				width: calc(25% - 22px * 3 / 4 - 0.5px);
			}

			.sh-mmenu-grid__item:nth-child(5n-4) {
				margin-left: 0;
			}
		}

		&--w5 {
			width: 874px;

			.sh-mmenu-grid__item {
				width: calc(20% - 22px * 4 / 5 - 0.1px);
			}

			.sh-mmenu-grid__item:nth-child(5n-4) {
				margin-left: 0;
			}
		}

		&__item {
			display: block;
			margin-bottom: 15px;
			margin-left: 22px;

			&:hover {}

			&:active {}

			&:focus {}

			&--events {}
		}

		&__pic {
			position: relative;
			display: block;
			width: 100%;
			border-radius: 5px;
			-webkit-mask-image: -webkit-radial-gradient(white, #000);
			@include scalepic();

			img {
				@include relative_img();
			}

			&::before {
				display: block;
				padding-top: 100%;
				content: '';
			}
		}

		&__name {
			margin-top: 15px;
			text-align: center;
			color: $dark;
			font-size: 17px;
			line-height: 21px;
			font-weight: 400;
			font-style: normal;
		}

		&__place-and-date {
			font-size: 13px;
			line-height: 23px;
			text-transform: uppercase;
			color: #AFB4BF;
			text-align: center;
			margin-top: 2px;
			margin-left: -13px;
		}

		&__place {
			display: inline-block;
			margin-left: 13px;
		}

		&__date {
			display: inline-block;
			margin-left: 13px;
		}

	}


	.sh-mmenu-item__inner--with-tabs {
		display: flex;
	}

	.sh-mmenu-links--controls {
		width: 205px;
		margin-right: 45px;
		margin-top: 5px;

		.sh-mmenu-links__link+.sh-mmenu-links__link {
			margin-top: 9px;
		}
	}

	.sh-mmenu-tabs {
		//min-height: 265px;
		max-width: calc(100% - 251px);
		position: relative;
		display: block;

		min-height: 170px;
		&--type-events {
			//min-height: 241px;
		}

		&--w3 {
			width: 517px;
		}

		&--w4 {
			width: 696px;
		}
	}

	.sh-mmenu-tabs__tab {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;

		opacity: 0;
		z-index: 5;
		transition: all .2s linear;
		pointer-events: none;

		&--active {
			opacity: 1;
			z-index: 10;
			//position: relative;
			pointer-events: all;
		}
	}


	.sh-mmenu-grid {
		&--w3 {}

		&__item {
			&--fw {
				width: 100% !important;
				display: flex;

				.sh-mmenu-grid__pic {
					width: 157px;
					align-self: flex-start;
				}
			}


			&:hover {}

			&:active {}

			&:focus {}
		}

		&__text {
			color: $dark;
			padding: 10px 23px;
			padding: 0 23px;
		}

		&__title {
			font-weight: 500;
			font-size: 17px;
			line-height: 22px;
		}

		&__subtitle {
			font-size: 17px;
			line-height: 21px;
			margin-top: 5px;
		}

		&__infos {
			margin-top: 11px;
		}

		&__info {
			&+.sh-mmenu-grid__info {
				margin-top: 12px;
			}
		}

		&__info-title {
			font-size: 13px;
			line-height: 21px;
			letter-spacing: -0.03em;
			color: #AFB4BF;
		}

		&__info-text {
			font-size: 17px;
			line-height: 21px;
			margin-top: 2px;
		}
	}
}