@media screen and (min-width:1151px) {
	.sh-mmenu-mobile {
		display: none;
	}
}

@media screen and (max-width: 1150px) {
	.sh-mmenu {
		display: none;
	}

	.sh-mmenu-mobile-wrap {
		position: relative;
	}

	.sh-mmenu-mobile {
		position: absolute;
		left: 0;
		top: 0px;
		border-top: 1px solid #DEE6E9;
		border-bottom: 1px solid #DEE6E9;
		background: #DEE6E9;
		width: 100%;
		background: #fff;
		padding: 25px 14px 31px;
		overflow: hidden;
		opacity: 0;
		pointer-events: none;
		transition-duration: .5s;

		.sh-mmenu-mobile__level--active{
			pointer-events: none;
		}
		&--open{
			opacity: 1;
			pointer-events: all;
			.sh-mmenu-mobile__level--active{
				pointer-events: all;
			}
		}

		@media screen and (max-width: 749px) {
			padding: vw(25) vw(14) vw(31);
		}
	}

	.sh-mmenu-mobile__levels {
		position: relative;
		min-height: 318px;
		display: block;
		opacity: auto;
		overflow-x: hidden;

		@media screen and (max-width: 749px) {
			min-height: vw(318);
		}
	}

	.sh-mmenu-mobile__level {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		pointer-events: none;
		max-height: 100%;
		opacity: auto;
		overflow-x: hidden;
		transition-duration: .5s;

		@media screen and (max-width: 749px) {}

		&--active {
			opacity: 1;
			pointer-events: all;

		}
	}

	.sh-mmenu-mobile__item {
		font-size: 15px;
		line-height: 30px;

		position: relative;
		display: block;
		transition-duration: .3s;
		position: relative;
		display: flex;
		align-items: center;

		@media screen and (max-width: 749px) {
			font-size: vw(15);
			line-height: vw(30);
		}

		&::after {
			position: absolute;
			left: 0;
			display: block;
			width: 100%;
			height: 1px;
			content: '';
			transition-duration: .5s;
			background: #DEE6E9;
		}

		&::after {
			bottom: -4px;

			@media screen and (max-width: 749px) {
				bottom: vw(-4);
			}
		}

		&:last-child {

			&::after {
				opacity: 0;
			}
		}

		&+.sh-mmenu-mobile__item {
			margin-top: 10px;

			@media screen and (max-width: 749px) {
				margin-top: vw(10);
			}
		}
	}

	.sh-mmenu-mobile__link {
		z-index: 1;
		cursor: pointer;
		flex-grow: 1;
	}

	.sh-mmenu-mobile__open-sub {
		cursor: pointer;
		z-index: 2;
		display: block;
		background: url('../img/menu-open-sub.svg') no-repeat center center;
		background-size: 5px auto;
		width: 33px;
		height: 19px;
		margin-top: -3px;

		@media screen and (max-width: 749px) {
			background-size: vw(5) auto;
			width: vw(33);
			height: vw(19);
			margin-top: vw(-3);
		}
	}

	.sh-mmenu-mobile__item--back {
		color: #25378D;
	}

	.sh-mmenu-mobile__open-prev-lvl {
		background: url('../img/menu-close-sub.svg') no-repeat center center;
		background-size: 5px auto;
		width: 5px;
		height: 9px;
		margin-left: -6px;
		margin-right: 0;
		width: 19px;
		height: 19px;
		margin-top: -2px;
		transform: rotate(-180deg);

		@media screen and (max-width: 749px) {
			background-size: vw(5) auto;
			width: vw(5);
			height: vw(9);
			margin-left: vw(-6);
			width: vw(19);
			height: vw(19);
			margin-top: vw(-2);
		}
	}

	.sh-mmenu-mobile__link {}

	.ssocials--mmenu-mobile {
		display: flex;
		justify-content: center;
		margin-top: 18px;

		@media screen and (max-width: 749px) {
			margin-top: vw(18);
		}

	}

	.sh-mmenu-mobile__place {
		display: inline-block;
		color: #AFB4BF;
		margin-left: 4px;

		@media screen and (max-width: 749px) {
			margin-left: vw(4);
		}
	}

}