@media screen and (max-width:1620px) and (min-width:1551px) {
	.sh-center {
		padding-left: 0;
	}
}

@media screen and (max-width:1550px) and (min-width:1151px) {
	.sh-burger-wrap::after {
		margin-left: 11px;
	}

	.sh-logo {
		margin: 0px 22px;
	}

	.sh-menu-item {
		padding: 0 5px 0 5px;
	}

	.sh-right {
		margin-right: -6px;
	}

	.sh-authorize__link {

		padding: 10px 17px 10px 9px;
		font-size: 15px;
		line-height: 18px;
	}

	.sh-socials::after {
		margin-left: 10px;
	}

	.sh-socials::before {
		margin-left: 24px;
	}

	.lang-switcher {
		font-size: 15px;
		line-height: 18px;
	}

	.sh-menu-item {
		font-size: 15px;
		line-height: 18px;
		padding: 0 18px;
	}

	.sh-center {
		padding-left: 0;
		padding-right: 1.2%;
	}
}

/*@media screen and (max-width:1650px) {
	.sh-menu-item {
		padding: 0 10px 0 11px;
	}

	.sh-center {
		padding-left: 0;
	}
}

*/
@media screen and (max-width:1305px) and (min-width:1151px) {
	.sh-right .sh-socials {
		&::before {
			display: none;
		}

		&::after {
			margin-left: 22px;
			margin-right: 11px;
		}

		.ssocials {
			display: none;

		}
	}

	.sh-right {
		margin-left: 3%;
	}

	.sh-authorize__link {
		padding-right: 13px;
	}

	.sh-logo {
		margin-right: 10px;
	}
}


//последний десктоп
@media screen and (min-width:1151px) {
	.sh-authorize__link {
		svg {
			display: none;
		}
	}

	.sh-burger-wrap-right {
		display: none;
	}

	.sh-menu-item__link {
		white-space: nowrap;
	}
}

//начало планшета
@media screen and (max-width:1150px) {

	.sh-menu {
		display: none;
	}

	.site-header {
		&+* {
			margin-top: 61px;
		}
	}

	.sh-right {
		margin-top: -2px;
	}

	.site-header__inner {
		min-height: 61px;
		width: 100%;
		padding-left: 14px;
		padding-right: 10px;
	}

	.sh-authorize__link {
		padding: 11px 12px 10px;
		cursor: pointer;
		//@include hov();

		span {
			display: none;
		}

		svg {
			width: 11px;
			height: 13px;
		}
	}

	.sh-burger-wrap--main {
		display: none;
	}

	.sh-socials {
		display: none;
	}

	.sh-logo {
		width: 96px;
		margin-left: 0;
	}

	.sh-lang-switcher {
		padding: 8px;
		margin-right: 2px;
	}

	.sh-burger-wrap-right {
		margin-right: 0;
	}

	.sh-burger {
		position: relative;
		//display: none;
		width: 16px;
		height: 12px;
		padding: 18px;
		cursor: pointer;
		transition-duration: .2s;
		@include hov();

		span,
		span::before,
		span::after {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 16px;
			height: 1px;
			margin-left: -8px;
			margin-top: -1px;
			background: #25378D;
			transition: 0.2s;

		}

		span::before,
		span::after {
			content: '';
		}

		span::before {
			transform: translateY(-4px);
		}

		span::after {
			transform: translateY(6px);
		}

		&--active {

			span {
				background: rgba(255, 255, 255, 0);

				&::before {
					transform: rotate(45deg);
				}

				&::after {
					transform: rotate(-45deg);
				}
			}
		}
	}



	.sfoo-list__item,
	.sfoo-bottom,
	.sfoo-bottom-menu__item {
		color: $dark;
	}

	.sh-burger-svg {
		width: 15px;
	}

	.sh-burger-svg--mob {
		display: none;
	}
}


@media screen and (max-width: 749px) {

	//767 было
	.sh-burger-svg {
		width: vw(15);
	}

	.sh-burger-svg--tablet {
		display: none;
	}
	.sh-burger-svg--mob {
		display: block;
	}

	.sh-burger {
		width: vw(16);
		height: vw(12);
		padding: vw(18);
	}


	.sh-burger span,
	.sh-burger span::after,
	.sh-burger span::before {
		position: absolute;
		width: vw(16);
		height: 1px;
		margin-left: vw(-8);
		margin-top: -1px;
	}

	.sh-burger span::before {
		transform: translateY(-4px);
	}

	.sh-burger span::after {
		transform: translateY(6px);
	}




	.sh-lang-switcher {
		padding: vw(8);
		margin-right: vw(2);
	}

	.lang-switcher {
		font-size: vw(17);
		line-height: vw(21);
	}

	.container {
		//overflow: hidden;
	}

	.site-header {
		&+* {
			margin-top: vw(53);
		}
	}

	.site-header__inner {
		min-height: vw(53);
		padding-left: vw(14);
		padding-right: vw(2);
	}

	.sh-logo {
		width: vw(75);
	}

	.sh-authorize__link {
		padding: vw(14) vw(12) vw(9);

		svg {
			width: vw(11);
			height: vw(13);
			display: block;
		}
	}
}