@media screen and (min-width: 1151px) and (max-width: 1400px) {
	.home-slider .slick-dots {
		left: 36px;
	}
}

@media screen and (min-width: 1151px) {
	.hms-info-btn__mob {
		display: none;
	}

	.wnevents-widget__title {
		min-width: 178px;
	}

	.csubscr-widget__logo {
		display: none;
	}

	.section-home-events {
		overflow: hidden;
	}


	.insta-widget__item {
		&:nth-child(1) {
			border-radius: 5px 0 0 0;
		}

		&:nth-child(2) {
			border-radius: 0 5px 0 0;
		}

		&:nth-child(3) {
			border-radius: 0 0 0 5px;
		}

		&:nth-child(4) {
			border-radius: 0 0 5px 0;
		}
	}

}


//десктоп держим правками до 1151px включительно

@media screen and (max-width: 1150px) {

	.no-desc {
		display: block;
	}

	//тут начинается планшетный вид
	.container {
		width: 582px;
		max-width: calc(100% - 25px * 2);
	}

	.container--long {
		//этот класс проаиши обёрткам .container дивов .hr и блоков которые этого требуют
		width: 697px;
	}

	.container--wery-long {
		width: 697px;
		max-width: calc(100%);
	}

	.no-tablet {
		display: none;
	}

	.container--extra-long {
		width: 696px;
		max-width: calc(100% - 25px * 2);
	}

	.part-wsidebar {
		flex-direction: column;

	}

	.main {
		//overflow: hidden;
	}

	.section-part-wsidebar {
		//overflow: hidden;
		max-width: 100%;
	}

	.part-wsidebar__sidebar {
		display: block;
		width: 100%;
	}

	.read-more {
		font-size: 15px;

		&::after {
			width: 5px;
			height: 9px;
		}
	}

	.quote-bg {
		margin: 0 -18.7vw;
		// width: calc(100% + 35px * 2)
	}

	.section-cria-medet {
		padding-top: 58px;
		padding-bottom: 57px;
	}

	.cria-medet {
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.video-preview-wrapper {
			position: relative;
			width: 100%;
			margin-right: 0px;
		}

		.video-play {
			transform: translate(-49%, -49%);
			width: 71px;
			height: 71px;
		}

		&__text {
			padding-top: 34px;
			max-width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&__title {
			font-size: 32px;
			line-height: 32px;
			font-weight: 300;
			letter-spacing: -0.03em;
			margin-bottom: 10px;
			color: $darktm;
		}

		&__out {
			font-weight: 300;
			font-size: 19px;
			line-height: 30px;
			margin-bottom: 7px;
			color: $darktm;

		}

		&__main {
			padding-left: 10px;
			font-weight: 300;
			font-size: 15px;
			line-height: 24px;
			margin-bottom: 14px;
			text-align: center;
			padding-left: 2px;
			color: $darktm;
		}

		&__read-more {
			&::after {
				margin-top: 4px;
			}

			&:hover {}

			&:active {}

			&:focus {}
		}
	}

	.part-wsidebar {}

	.part-wsidebar__main {
		width: 100%;
	}

	.master-links {
		display: flex;
		padding: 57px;
	}

	.master-link {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		&:not(:last-child) {
			margin-right: 37px;
		}

		&__pic {
			position: relative;
			max-width: 273px;
			width: 100%;
			margin-bottom: 23px;

			&::before {
				content: '';
				display: block;
				padding-top: 100%;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-position: center;
				object-fit: cover;
			}
		}

		&__text {
			display: flex;
			flex-direction: column;
			align-items: center;
			color: $darktm;
		}


		&__title {
			font-weight: 300;
			font-size: 24px;
			line-height: 32px;
			text-align: center;
			letter-spacing: -0.03em;
			margin-bottom: 9px;
		}

		&__more {}

		&:hover {}

		&:active {}

		&:focus {}
	}

	.section-science-kria {
		padding-top: 58px;
		padding-bottom: 93px;
		// margin: 0 -57px;

		&--2 {
			padding-bottom: 93px;
			padding-top: 93px;

			.scikria-item {
				display: flex;
				justify-content: space-between;

				&:first-child {
					margin-bottom: 93px;

					.scikria-item-text {
						padding-top: 6px;
					}
				}

				&:last-child {
					.scikria-item-text {
						padding-left: 0px;
						padding-right: 20px;

						&__main {
							margin-bottom: 12px;
						}

						span {
							display: inline;
						}
					}
				}

				.scikria-item-text__title2 {
					margin-bottom: 4px;
				}
			}

		}
	}

	.scikria-item {
		display: flex;
		justify-content: space-between;

		&:first-child {
			margin-bottom: 93px;
		}

		&:last-child {
			flex-direction: row-reverse;

			.scikria-item-pic {
				margin-left: 12px;
				margin-right: 0;
			}

			.scikria-item-text {
				padding-left: 0;
				padding-right: 16px;

				&__title2 {
					font-weight: 500;
					font-size: 15px;
					line-height: 30px;
					margin-bottom: 6px;
				}

				&__main {
					margin-bottom: 10px;
				}
			}
		}

		.scikria-item-pic {
			margin-right: 12px;
		}
	}

	.scikria-item-pic {
		max-width: 403px;
		width: 100%;
		position: relative;

		&::before {
			content: '';
			display: block;
			padding-top: 61.82682%;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.scikria-item-text {
		padding-top: 0px;
		max-width: 354px;
		font-family: "Proxima Nova";
		color: $darktm;
		padding-left: 21px;

		&__title {
			font-weight: 300;
			font-size: 32px;
			line-height: 32px;
			letter-spacing: -0.03em;
			margin-bottom: 6px;
			color: $darktm;

		}

		&__title2 {
			font-weight: 500;
			font-size: 15px;
			line-height: 30px;
			margin-bottom: 5px;
			color: $darktm;
		}

		&__main {
			font-weight: 300;
			font-size: 15px;
			line-height: 24px;
			margin-bottom: 13px;
			color: $darktm;


			& span {
				display: block;
			}
		}

		&__more {}
	}

	.banner {
		position: relative;

		&__picture {}

		&__content {
			position: absolute;
			top: 26.9%;
			left: 52.3%;
			max-width: 254px;
			font-family: "Proxima Nova";
		}

		&__title {
			margin-bottom: 10px;
			font-weight: 300;
			font-size: 32px;
			line-height: 35px;
			letter-spacing: -0.03em;
			color: $darktm;
		}

		&__title2 {
			margin-bottom: 14px;
			font-weight: 300;
			font-size: 19px;
			line-height: 26px;
			color: $darktm;
		}

		&__more {
			color: #25378D;
		}
	}

	.section-hmlearn {
		padding-top: 47.558%;
	}

	.tablet-content {
		display: block;
	}

	.section-hmlearn2 {
		padding-top: 47.558%;
		position: relative;
		color: #fff;

		.banner__content {
			left: 52.5%;
		}

		.banner__more {
			color: #fff;

			&::after {
				background: url('../img/arrow-more_white.svg') no-repeat center center;
			}
		}

		.banner__title {
			margin-bottom: 13px;
		}

		.banner__title2 {
			margin-bottom: 13px;
			margin-bottom: 9px;
		}
	}

	.hm-galery {
		&__row {
			flex-wrap: wrap;
		}

		&__img-wrapper {
			width: calc(50% - 4px);
			margin-bottom: 8px;
		}

		&__white-box {
			top: 49%;

			p {
				color: $darktm;
				font-weight: 400;
				font-size: 15px;
				line-height: 21px;
				margin-top: -15px;

			}

		}

		&::before {
			display: none;
		}
	}

	.hm-feedback {
		padding-top: 93px;
		padding-bottom: 59px;

		&__content {
			flex-direction: column;
			margin: 0;
		}

		&__text {
			text-align: center;
		}

		&__img-play {
			width: 72px;
			top: 50%;
			left: 50%;
		}

		&__text {
			padding-top: 32px;

			&-title {
				font-weight: 300;
				font-size: 32px;
				line-height: 32px;
				color: $darktm;
			}

			&-out {
				font-weight: 300;
				font-size: 19px;
				line-height: 30px;
				margin-bottom: 8px;
				color: $darktm;
			}

			&-info {
				font-weight: 300;
				font-size: 15px;
				line-height: 24px;
				max-width: 99%;
				color: $darktm;

				span {
					display: inline;
				}
			}
		}

		&__arrow {
			opacity: 1;
			margin-top: 0;
			top: 168px;

			svg {
				width: 100%;
			}

		}

		&__more {
			display: none;
		}

		&__btn-wrap {
			.btn {
				width: 204px;
			}
		}
	}

	.hm-feedback-slide {
		margin-bottom: 22px;

		.slick-dots {
			margin-top: 19px;
		}
	}

	.hm-feedback__img-wrapper {
		max-width: 582px;
		margin-right: 0;
	}

	.custom-widget-title {
		color: $darktm;
	}

	.master {
		padding-top: 48px;
		padding-bottom: 51px;

		&_video {}

		&__title {
			color: $darktm;
		}

		&__info {
			margin-bottom: 18px;
			color: $darktm;

			span {
				display: inline;
			}
		}

		&__img-wrapper {
			margin-bottom: 30px;

		}

		&_article {
			padding-top: 46px;
		}
	}

	.insta-widget {
		padding-bottom: 62px;

		&__content {
			padding: 0;
			margin-top: -1px;
			border-radius: 5px;
		}

		&__item {
			margin-bottom: 0;

			margin-right: 0;
			width: calc(33.333333% - 4px);

			img {}

			&:nth-child(4) {
				display: none;
			}

			&:nth-child(1) {
				border-radius: 5px 0 0 5px;
			}

			&:nth-child(2) {}

			&:nth-child(3) {
				border-radius: 0 5px 5px 0;
			}

			&:nth-child(4) {}
		}
	}

	.slnewsw-slider-item__name {
		width: 100%;
		color: $darktm;
	}

	.slider-news-widget-wrap {
		padding-top: 92px;
		padding-left: 0;
		padding-right: 0;
		display: flex;
		justify-content: space-between;

		.slider-news-widget {
			width: calc(50% - 18px);
			margin-bottom: 84px;
		}

		.slnewsw-slider-item__pic {
			position: relative;
			width: 100%;
		}

		.slnewsw-slider-item__pic img {
			width: auto;
		}

		.slnewsw-slider-item__name {
			width: 100%;
		}

		.slnewsw-slider-item {
			width: 100%;
		}

		.slnewsw-slider {
			.slnewsw-arrow {
				display: none !important;
			}

			.slick-dots {
				display: flex !important;
				align-items: center;
				list-style: none;
				position: absolute;

				z-index: 4;
				left: 50%;
				bottom: 4px;
				transform: translate(-50%, -50%);
				margin-top: 1px;



				li {
					margin: 0 7px;
					list-style: none;

					width: 9px;
					height: 9px;
					//border: 1px solid #25378D;
					border: 1px solid #AFB4BF;
					box-sizing: border-box;
					border-radius: 50%;
					transition: all .3s;
					position: relative;

					/*&::before {
						content: '';
						display: block;
						width: 100%;
						height: 100%;
						background: #25378D;
						border-radius: 50%;
						position: absolute;
						left: 0;
						top: 0;
						opacity: 0;
						transition: .3s;

					}*/

					&.slick-active {
						background: #25378D;
						border-color: #25378D;

						&::before {
							opacity: 1;
						}
					}

					button {
						display: none;
					}
				}
			}

			.slick-arrow {
				display: none;
			}
		}
	}

	.csubscr-widget {
		width: 100%;
		margin: 0 auto;
		padding: 36px 0 57px;

		&__logo-wrapper {
			display: block;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 20px;
		}

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 19px;

			img {
				display: block;
				width: 35px;
				height: auto;
			}
		}

		&__inp-wrap {
			margin-top: 12px;
		}

		&__inner {
			width: 206px;
			margin: 0 auto;
		}

		&__title,
		&__description {
			color: $darktm;
		}

	}

	.events-widget-wrap {
		padding-bottom: 43px;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.hm-quote-practice {
		padding-top: 93px;

		&__content {}

		.quote-slide {
			padding-top: 89px;
			padding-bottom: 98px;

		}

		&__main {
			font-size: 32px;
			line-height: 32px;
			margin-bottom: 59px;
			color: $darktm;
		}
	}

	.quotes-slide {
		.slick-dots {
			left: 50.5%;
			bottom: 17.6%;
		}
	}

	/////////////////////
	.home-slider-slide::after {
		padding-top: 61.848958%;
	}

	.home-slider-slide::before {
		width: 475px;
	}

	.home-slider .slick-dots {
		left: 36px;
		margin-top: 0;
	}

	.home-slider .slick-dots {}

	.home-slider .slick-dots li {
		margin: 7px 0;
	}

	.hms-info {
		left: 36px;
		bottom: 58px;

		&__area,
		&__date {
			font-weight: 400;
		}
	}

	.hms-info-btn {
		font-weight: 500;
		font-size: 12px;
		line-height: 21px;
		text-transform: none;
		width: unset;
		padding: 6px 34px;
		margin-top: 16px;
		display: inline-flex;
	}

	.hms-info-btn__desk {
		display: none;
	}

	.hms-info__top {}

	.hms-info__title {
		font-size: 32px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: -1px;
	}

	.hms-info__bottom {
		font-size: 15px;
		letter-spacing: -.3px;
		margin-top: 7px;
	}

	//////////////////////////

	.section-home-quote {
		padding-top: 82px;
		padding-bottom: 55px;
	}

	.hm-quote {
		margin-left: 0;

		&__main {
			color: $darktm;
		}

		&__info {
			font-size: 15px;
			line-height: 24px;
			text-align: center;
			margin: 35px auto 0;
			width: 470px;
			max-width: 100%;
			color: $darktm;
		}

		&__name {
			font-size: 15px;
			line-height: 22px;
			text-align: center;
			margin-top: 47px;
			padding-left: 0;
		}

	}

	.hm-quote__main {

		br {
			display: none;
		}
	}

	.hm-quote__info {
		font-weight: 300;
	}

	.hm-quote__main::after {
		display: none;
	}

	//////////////////////////


	.section-home-events {
		padding-top: 59px;
		padding-bottom: 59px;
	}


	.hm-events-slide {
		text-align: center;

		&__pic {
			img {}
		}

		&__text {}

		&__name {
			font-size: 31px;
			line-height: 1.2;
			margin-top: 29px;
			font-weight: 300;
			color: $darktm;
		}

		&__meta {
			font-size: 15px;
			line-height: 18px;
		}

		&__area {
			margin-right: 11px;
		}

		&__date {}

		&__info {
			font-style: normal;
			font-weight: 300;
			font-size: 15px;
			line-height: 24px;
			margin-top: 12px;
			color: $darktm;
		}

		&:hover {}

		&:active {}

		&:focus {}

	}

	.newposts-widget {
		width: calc(50% - 18px);

		.newposts-widget__items {
			padding-top: 6px;
		}

		.newposts-widget-item+.newposts-widget-item {
			margin-top: 23px;
		}

		&__title {
			font-size: 15px;
			padding-bottom: 33px;
			font-weight: 400;
		}

		.newposts-widget-item__title {
			font-size: 19px;
			line-height: 29px;
			line-height: 30px;
			//min-width: 180px;
		}

		.newposts-widget-item__date {
			font-size: 15px;
			line-height: 21px;
			margin-top: -1px;
		}
	}

	.newposts-widget-item__title {
		color: $darktm;
	}

	.wnevents-widget {
		margin-bottom: 50px;
		width: calc(50% - 18px);
		padding: 0;
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;

		.wnevents-widget__item:last-child {
			margin-top: 0;
		}

		&__title {
			color: $darktm;
		}
	}


	.hm-events-slider .slick-dots {
		margin-top: 29px;
		flex-wrap: wrap;
		margin-bottom: -10px;

		li {
			margin-bottom: 10px;
		}

	}

	.hm-events-btn-wrap {
		margin-top: 23px;
	}

	.customized-arrow {

		&--next {
			right: -36px;
		}

		&--prev {
			left: -36px;
		}
	}

	.hm-events-arrow {
		opacity: 1;
		top: 125px;

	}


	//////////////////////////////

	.btn {
		height: 43px;
		font-weight: 500;
		font-size: 12px;
		line-height: 21px;
		width: auto;
		min-width: 202px;
	}

	//////////////////////////////

}


@media screen and (max-width: 1150px) and (min-width: 750px) {
	.part-wsidebar__sidebar {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0 auto;

		.container.container--extra-long {
			width: 534px;

		}
	}
}

@media screen and (min-width: 750px) {
	.hm-quote-practice__img {
		display: none;
	}

}

//планшетный вид нам адаптировать не приходится


@media screen and (max-width: 749px) {
	//767 было

	//на 767 начинается мобилка. её делаем как на смм. Только в данном случае под 360

	.container {
		//если где-то нужен другой контейнер - там прописывай его ширну доп классом
		width: vw(333);
		max-width: calc(100% - #{vw(14)} * 2);
	}

	.container--hr {
		//этот класс проаиши обёрткам .container дивов .hr
		width: vw(333);
	}

	.no-mob {
		display: none;
	}



	/////////////////////////////////


	.read-more::after {
		width: vw(5);
		height: vw(9);
		margin-top: vw(2);
		right: vw(-3);
	}

	.read-more:hover::after {
		right: vw(-6);
	}

	/////////////////////////////////
	.home-slider {
		.slick-dots {
			left: 50%;
			margin-top: 0;
			top: auto;
			bottom: vw(37);
			display: flex;
			flex-direction: row;
			transform: translate(-50%, 0);

			li {
				width: vw(9);
				height: vw(9);
				margin: vw(0) vw(7);
			}
		}
	}

	.home-slider-slide {
		&::after {
			//padding-top: calc(100vh - 53px);
			padding-top: 0;
			height: calc(100vh - 53px);
			height: calc(var(--vh, 1vh) * 100 - 53px);
		}

		&::before {
			bottom: 0;
			top: auto;
			width: 100%;
			height: vw(289);
			background: linear-gradient(0deg, rgba(3, 17, 83, 0.84) 0%, rgba(28, 40, 94, 0) 100%);
		}
	}

	.hm-quote-practice-desc {
		display: none;
	}

	.hms-info {
		width: calc(100% - #{vw(40)});
		left: vw(20);
		bottom: vw(90);
		text-align: center;

		&__top {}

		&__title {
			font-weight: 300;
			font-size: vw(32);
			line-height: vw(59);
		}

		&__bottom {
			font-weight: 300;
			font-size: vw(15);
			line-height: vw(22);
			justify-content: center;
			letter-spacing: vw(-0.6);
			margin-top: vw(-2);
		}

		&__area {
			font-weight: 300;
			margin-right: vw(20);
		}

		&__date {
			font-weight: 300;
		}
	}

	.hms-info-btn {
		font-weight: 400;
		font-size: vw(12);
		line-height: vw(21);
		padding: vw(6) vw(35) vw(7);
		margin-top: vw(16);
	}

	/////////////////////////////////

	.hm-quote-practice-mob {
		display: block;

		.quote-bg {
			background-image: none !important;
		}
	}

	.part-wsidebar__main {
		width: 100%;
		flex-direction: column;
		display: flex;
	}

	.hm-quote-practice {
		order: 3;
		padding-top: vw(91);

		&__img {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}

		&__content {}

		.quote-slide {
			padding-top: vw(47);
			padding-bottom: vw(98);

		}

		br {
			display: none;
		}

		&__main {
			font-size: vw(32);
			line-height: vw(32);
			margin-bottom: vw(25);
			margin-right: 0;
			padding: 0 vw(5);
		}

		&__name {
			line-height: vw(21);
			font-size: vw(15);
		}

		.slick-dots {
			bottom: 11.4%;
			left: 50%;
			margin-left: 0;

			li {
				width: vw(9);
				height: vw(9);
				margin: 0 vw(7);
			}
		}
	}

	.hidemob {
		display: none !important;
	}

	.section-home-quote {
		padding: vw(85) 0 vw(55);
	}

	.hm-quote {
		padding: 0;

		&__main {
			font-size: vw(39);
			line-height: 1;
			//width: vw(258);
			margin: 0 auto;
			/* or 100% */

			text-align: center;
			letter-spacing: -0.03em;
		}

		&__info {
			font-size: vw(15);
			line-height: vw(24);
			margin: vw(21) auto 0;
			width: vw(312);
		}

		&__name {
			font-size: vw(15);
			line-height: vw(22);
			margin-top: vw(23);
		}

		br {}
	}

	.section-home-events {
		padding-top: vw(33);
		padding-bottom: vw(59);
	}

	.hm-events-slider {
		width: 100%;
		max-width: 100%;
		margin: 0 auto;

		&::before {
			display: none;
		}
	}

	.hm-events-slide__wrap {
		padding-left: 0;
	}

	.hm-events-slide {

		&__pic {
			width: vw(266);
			max-width: 100%;
			margin: 0 auto;

			img {}
		}

		&__text {}

		&__name {
			font-size: vw(32);
			line-height: 1.2;
			margin-top: vw(29);
		}

		&__meta {
			font-size: vw(15);
			line-height: vw(18);
			margin-top: vw(9);
		}

		.part-wsidebar__main {
			flex-direction: column;
		}

		&__area {
			margin-right: vw(11);
		}

		&__date {}

		&__info {
			font-style: normal;
			font-weight: 300;
			font-size: vw(15);
			line-height: vw(24);
			margin-top: vw(12);
		}

		&:hover {}

		&:active {}

		&:focus {}
	}

	.customized-arrow {
		width: vw(11);

	}

	.hm-events-arrow {
		opacity: 1;
		top: vw(123);

		&.customized-arrow--prev {
			left: 0;
		}

		&.customized-arrow--next {
			right: 0;
		}

	}

	.hm-events-slider .slick-dots {
		margin-top: vw(29);
		flex-wrap: wrap;
		margin-bottom: 0;
		margin-left: 0;

		li {
			margin-bottom: vw(10);
			width: vw(9);
			height: vw(9);
			margin: 0 vw(7);
		}

	}

	.hm-events-btn-wrap {
		margin-top: vw(23);
	}

	.hm-events-btn-wrap {
		margin-top: vw(36);
	}

	.btn {
		height: vw(43);
		font-weight: 500;
		font-size: vw(12);
		line-height: vw(21);
		width: auto;
		min-width: vw(202);
		padding: vw(14) vw(15);
	}

	.section-cria-medet {
		padding-top: vw(33);
		padding-bottom: vw(54);
	}

	.read-more {
		font-size: vw(15);
	}

	.cria-medet {
		&__out {
			text-align: center;
			max-width: vw(210);
			font-weight: 300;
			font-size: vw(19);
			line-height: vw(30);
			margin-bottom: vw(10);
		}

		.video-preview-wrapper {
			max-width: vw(580);
		}

		.video-play {
			width: vw(71);
			height: vw(71);
		}

		&__title {
			font-size: vw(32);
			margin-bottom: vw(12);
			line-height: vw(32);
		}

		&__main {
			max-width: vw(310);
			font-weight: 300;
			font-size: vw(15);
			line-height: vw(24);
			margin-bottom: vw(14);
			text-align: center;
			padding-left: vw(2);
		}

		&__text {
			padding-top: vw(32);
		}
	}

	.master-links {
		flex-direction: column;
		padding: vw(34) vw(32);
		order: 0;
	}

	.master-link {
		&:not(:last-child) {
			margin-right: 0;
			margin-bottom: vw(92);
		}

		&__title {
			font-size: vw(32);
			line-height: 1;
			margin-bottom: vw(10);
			font-weight: 300;
		}

		&__pic {
			max-width: vw(266);
			width: vw(266);
			margin-bottom: vw(32);
		}
	}

	////////////////////
	.section-science-kria {
		order: 0;
		padding-top: vw(54);
		padding-bottom: vw(87);
	}

	.scikria-item .scikria-item-text__title2 {
		font-weight: 300 !important;
		padding: 0 2px;
	}

	.section-science-kria--2 {
		order: 2;
		padding-top: vw(57);
		padding-bottom: vw(92);

		.scikria-item .scikria-item-text__title2 {
			margin-bottom: vw(4);
		}

		.scikria-item:first-child {
			margin-bottom: vw(90);
		}
	}

	.section-science-kria--2 .scikria-item:last-child {
		.scikria-item-text {
			padding-left: 10px;
			padding-right: 10px;

			&__title {
				margin-bottom: vw(7);
			}

			&__title2 {
				margin-bottom: vw(7);
			}

			&__main {
				margin-bottom: vw(10);
			}
		}
	}

	.section-science-kria--2 .scikria-item:first-child {
		.scikria-item-pic {
			margin-bottom: vw(32);
		}

		.scikria-item-text {
			padding-top: 0;
		}

		.scikria-item-text__title2 {
			margin-bottom: vw(12);
		}
	}

	.scikria-item .scikria-item-pic {
		margin-right: 0;
	}

	.scikria-item {
		flex-direction: column;

		&-pic {
			margin-right: 0;
			margin-bottom: vw(32);
			max-width: vw(403);

			&::before {
				padding-top: 61.45%;
			}
		}

		&-text {
			text-align: center;
			max-width: vw(354);
			padding-left: 0;

			&__title {
				margin-bottom: vw(10);
				font-size: vw(32);
				line-height: vw(32);
			}

			&__title2 {
				font-weight: 300;
				font-size: vw(19);
				line-height: vw(26);
				margin-bottom: vw(8);
			}

			&__main {
				font-size: vw(15);
				line-height: vw(24);
				margin-bottom: vw(13);
			}
		}

		&:first-child {
			margin-bottom: vw(92);
		}

		&:last-child {
			flex-direction: column;

			.scikria-item-pic {
				margin-left: 0;
			}

			.scikria-item-text {
				padding-right: 0;

				&__title2 {
					font-size: vw(19);
					line-height: vw(30);
					margin-bottom: vw(10);
				}

				&__main {
					margin-bottom: vw(10);
				}
			}
		}
	}

	.banner {
		padding-top: vw(532);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		&__content {
			max-width: vw(254);
		}

		&__picture {
			img {
				display: none;
			}
		}

		&__title {
			margin-bottom: vw(10);
			line-height: vw(35);
			font-size: vw(32);
		}

		&__title2 {
			font-size: vw(19);
			line-height: vw(26);
		}
	}

	.section-hmlearn {
		background-image: url('../img/hmlearn-mob.jpg');
		order: 0;

		.banner__content {
			top: vw(54);
			left: vw(43);
			text-align: center;

			.banner__title2 {
				margin-bottom: vw(10);
			}
		}
	}

	.section-hmlearn2 {
		order: 2;
		background-image: url('../img/hmlearn2-mob.jpg');
		padding-top: vw(537);

		.banner__content {
			top: vw(52);
			left: vw(38);
			text-align: center;

			.banner__title {
				line-height: vw(37);
				margin-bottom: vw(8);
			}

			.banner__title2 {
				margin-bottom: vw(11);
			}
		}
	}

	.hm-feedback-slide {
		margin-bottom: vw(37);

		.slick-dots {
			margin-top: vw(17);
		}
	}

	.hm-feedback {
		padding-bottom: vw(94);
		padding-top: vw(93);
		order: 4;

		&__img-wrapper {
			max-width: vw(588);
		}

		&__img-play {
			width: vw(72);
		}

		&__text {
			padding-top: vw(31);

			&-title {
				letter-spacing: vw(-0.2);
				font-size: vw(32);
				line-height: vw(32);
				margin-bottom: vw(10);
			}

			&-out {
				font-size: vw(19);
				line-height: vw(30);
				margin-bottom: vw(3);
			}

			&-info {
				font-size: vw(15);
				line-height: vw(24);
				margin-bottom: vw(12);
			}
		}

		.container {
			max-width: calc(100%)
		}

		&__arrow {
			display: none !important;
		}

		.slick-dots {
			li {
				width: vw(9);
				height: vw(9);
				margin: 0 vw(7);
			}
		}

	}

	.master {
		padding-top: vw(49);
		padding-bottom: vw(86);

		&_video {
			padding-top: vw(50);

			.master__content {
				margin-left: -5px;
			}
		}

		&__title {
			font-size: vw(15);
			font-weight: 400;
			line-height: vw(30);
			padding-bottom: vw(13);
			margin-bottom: vw(22);
		}

		&__img-wrapper {
			max-width: vw(135);
			margin-bottom: vw(31);
		}

		&__img {}

		&__info {
			font-size: vw(15);
			text-align: center;
			max-width: vw(240);
			line-height: vw(24);
			margin-bottom: vw(29);

			span {
				display: block;
			}
		}

		&__social-link {

			&:not(:last-child) {
				margin-right: vw(9);
			}

			svg {
				width: vw(36);
				height: vw(36);
			}
		}
	}

	.hm-quote-practice {
		order: 1;
	}

	.insta-widget {
		padding-bottom: vw(89);

		&__title {
			font-size: vw(15);
			padding-bottom: vw(34);

			&::after {
				width: vw(16);
				height: vw(1);
				bottom: vw(22);
			}
		}

		&__content {
			margin: 0 auto;
			width: vw(266);
			border-radius: 5px;
		}

		&__item {
			width: calc(50% - 2px);
			margin-bottom: 4px;

			img {
				//height: vw(131);
			}

			&:nth-child(4) {
				display: block;
			}

			&:nth-child(1) {
				border-radius: 5px 0 0 0;
			}

			&:nth-child(2) {
				border-radius: 0 5px 0 0;
			}

			&:nth-child(3) {
				border-radius: 0 0 0 5px;
			}

			&:nth-child(4) {
				border-radius: 0 0 5px 0;
			}
		}

	}

	.csubscr-widget {
		width: vw(266);
		margin: 0 auto;
		padding: vw(34) 0 vw(34);

		&__logo-wrapper {
			margin-bottom: vw(20);
		}

		&__description {
			font-size: vw(13);
			line-height: vw(21);
			margin-top: vw(15);
			margin-bottom: vw(29);
		}

		&__inp-wrap {
			margin-top: vw(14);
		}

		&__btn {
			margin-top: vw(9);
		}

		.email-cinp {
			font-size: vw(13);
			padding: vw(13) vw(13) vw(13) vw(50);
			height: vw(43);
			background-image: url(../img/mail.svg);
			background-size: vw(21) auto;
			background-position: vw(20) center;

			&:focus {
				padding-left: vw(20);
				background-position: vw(-25) center;
			}
		}

		&__title {
			font-size: vw(17);
			font-weight: 400;
		}

		&__logo {
			display: none;
		}

		&__inner {
			width: vw(206);
		}

	}

	.custom-widget-title {
		font-weight: 400;
	}

	.slider-news-widget-wrap {
		padding-top: vw(91);
		padding-left: 0;
		padding-right: 0;
		flex-direction: column;
		//overflow: hidden;

		.slider-news-widget {
			width: 100%;
			position: relative;
			z-index: 1;
			padding-bottom: 0;
			margin-bottom: 0;

			&:last-child {
				.slnewsw-slider {
					//margin: 0 vw(-34);
					width: 100%;
					margin: 0 auto vw(85);
				}

				.slnewsw-slider-item__pic {
					padding-top: 0%;
				}
			}
		}

		.slnewsw-slider {
			padding-bottom: vw(33);
			width: vw(266);
			margin: 0 auto vw(84);

			.slick-dots {
				li {
					width: vw(9);
					height: vw(9);
					margin: 0 vw(7);
				}
			}
		}

		.custom-widget-title {
			font-size: vw(15);
			padding-bottom: vw(34);

			&:after {
				width: vw(16);
				height: vw(1);
				bottom: vw(22);
				left: calc(50% - #{vw(8)});
			}
		}

		.slnewsw-slider-item__pic {
			padding-top: 38%;
		}

		.slnewsw-slider-item__name {
			font-size: vw(19);
			line-height: vw(29);
			margin-top: vw(15);
		}
	}

	.slider-news-widget:first-child .slnewsw-slider .slnewsw-arrow-mob {
		display: block !important;
		position: absolute;
		top: vw(124);

		&.customized-arrow--prev {
			margin: 0;
			left: vw(-34);
		}

		&.customized-arrow--next {
			margin: 0;
			right: vw(-34);

		}
	}

	.events-widget-wrap {
		flex-direction: column;

		padding-bottom: vw(35);

		.newposts-widget {
			width: 100%;
			margin-bottom: vw(93);

			&__title {
				font-size: vw(15);
				padding-bottom: vw(33);

				&::after {
					width: vw(16);
					height: vw(1);
					bottom: vw(22);
				}
			}

			.newposts-widget-item__title {
				font-size: vw(19);
				line-height: vw(30);
			}

			.newposts-widget-item__date {
				font-size: vw(15);
				line-height: vw(21);
			}

			.newposts-widget-item+.newposts-widget-item {
				margin-top: vw(26);
			}
		}

		.wnevents-widget {
			margin-top: vw(-5);
			width: 100%;
			padding: 0 vw(32) 0 vw(32);
			margin-bottom: vw(10);
			flex-direction: column;

			&__item {
				margin-bottom: vw(50);
			}

			&__title {
				font-size: vw(15);
				padding: vw(6) vw(10) vw(7);
				width: vw(182);
			}

			&__pic {
				margin-bottom: vw(-15);
			}
		}
	}

	.wnevents-widget__pic {
		width: 100%;
		padding-bottom: 37.1%;
	}


	////////////////////

	.hm-galery {
		&__row {
			flex-wrap: wrap;
		}

		&__img-wrapper {
			width: calc(50% - 4px);
			margin-bottom: 8px;
		}

		&__white-box {
			top: 49%;
		}


		&__white-box {
			width: vw(113);
			height: vw(113);


			p {
				font-weight: 400;
				font-size: vw(15);
				line-height: vw(21);
				margin-top: vw(-15);

			}

		}
	}
}