//десктоп держим правками до 1151px включительно

@media screen and (max-width: 1150px){//тут начинается планшетный вид
	.container{
		width: 582px;
		max-width: calc(100% - 36px * 2);
	}
	.container--long{//этот класс проаиши обёрткам .container дивов .hr и блоков которые этого требуют
		width: 697px;
	}
	.read-more {
		font-size: 15px;
		&::after {
			width: 5px;
			height: 9px;
			margin-top: 4px;
		}
	}
	.section-cria-medet {
		padding-top: 58px;
		padding-bottom: 57px;
	}

	.cria-medet {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.video-preview-wrapper {
			position: relative;
			width: 100%;
			margin-right: 0px;
		}

		.video-play {
			transform: translate(-49%,-49%);
			width: 71px;
			height: 71px;
		}

		&__text {
			padding-top: 34px;
			max-width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&__title {
			font-size: 32px;
			line-height: 32px;
			font-weight: 300;
			letter-spacing: -0.03em;
			margin-bottom: 10px;
		}

		&__out {
			font-weight: 300;
			font-size: 19px;
			line-height: 30px;
			margin-bottom: 7px;
		}

		&__main {
			padding-left: 10px;
			font-weight: 300;
			font-size: 15px;
			line-height: 24px;
			margin-bottom: 14px;
			text-align: center;
			padding-left: 2px;
		}

		&__read-more {
			&:hover {}

			&:active {}

			&:focus {}
		}
	}
	.part-wsidebar {
		flex-direction: column;
	}

	.part-wsidebar__main {
		width: 100%;
	}
	.master-links {
		display: flex;
		padding-top: 57px;
		padding-bottom: 93px;
	}

	.master-link {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		&:not(:last-child) {
			margin-right: 37px;
		}

		&__pic {
			position: relative;
			max-width: 273px;
			width: 100%;
			margin-bottom: 9px;

			&::before {
				content: '';
				display: block;
				padding-top: 100%;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-position: center;
				object-fit: cover;
			}
		}

		&__text {
			display: flex;
			flex-direction: column;
			align-items: center;
			color: #3E434D;
		}


		&__title {
			font-size: 28px;
			line-height: 45px;
			text-align: center;
			letter-spacing: -0.03em;
			margin-bottom: 5px;
		}

		&__more {}

		&:hover {}

		&:active {}

		&:focus {}
	}



	/////////////////////
	.home-slider-slide::after{
	padding-top: 61.848958%;
	}

}

//планшетный вид нам адаптировать не приходится


@media screen and (max-width: 767px ){//на 767 начинается мобилка. её делаем как на смм. Только в данном случае под 360
	.container{//если где-то нужен другой контейнер - там прописывай его ширну доп классом
		width: vw(333);
		max-width: calc(100% - #{vw(14)} * 2);
	}
	.container--hr{//этот класс проаиши обёрткам .container дивов .hr
		width: vw(333);
	}
}

