//десктоп держим правками до 1151px включительно

@media screen and (max-width: 1150px){//тут начинается планшетный вид
    .container{
        width: 582px;
        max-width: calc(100% - 36px * 2);
    }
    .container--long{//этот класс проаиши обёрткам .container дивов .hr и блоков которые этого требуют
        width: 697px;
    }
}

//планшетный вид нам адаптировать не приходится


@media screen and (max-width: 767px ){//на 767 начинается мобилка. её делаем как на смм. Только в данном случае под 360
    .container{//если где-то нужен другой контейнер - там прописывай его ширну доп классом
        width: vw(333);
        max-width: calc(100% - #{vw(14)} * 2);
    }
    .container--hr{//этот класс проаиши обёрткам .container дивов .hr
        width: vw(333);
    }
}