.btn {
	display: inline-flex;
	align-items: center;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	//min-height: 43px;
	//width: 256px;
	max-width: 100%;
	padding: 14px 58px;
	cursor: pointer;
	transition-duration: .2s;
	text-align: center;
	text-align: center;
	text-transform: uppercase;
	color: #25378d;
	border: 1px solid #25378d;
	-webkit-mask-image: -webkit-radial-gradient(white, #000);
	border-radius: 200px;
	font-family: 'Montserrat';
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.2;

	@media screen and (min-width:$minDesktop) {
		&:hover {
			color: #AFB4BF;
			border-color: #AFB4BF;
		}
	}

	&:active {
		color: #DEE6E9;
		border-color: #DEE6E9;
	}

	&--square {
		-webkit-mask-image: -webkit-radial-gradient(white, #000);
		border-radius: 6px;

	}
}

.no-desc {
	display: none;
}

.hm-quote-practice-mob {
	display: none;
}

.section-home-slider {
	overflow: hidden;
}

.home-slider {
	position: relative;
	z-index: 1;
	max-width: 100%;
	margin: 0 auto;

	&>.home-slider-slide:not(:first-child) {
		max-height: 0;
	}

	.slick-dots {
		position: absolute;
		z-index: 4;
		top: 50%;
		left: 94px;
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-top: 1px;
		list-style: none;
		transform: translate(0, -50%);

		li {
			position: relative;
			box-sizing: border-box;
			width: 9px;
			height: 9px;
			margin: 11px 0;
			list-style: none;
			transition: .3s;
			border: 1px solid #FFFFFF;
			-webkit-mask-image: -webkit-radial-gradient(white, #000);
			border-radius: 50%;

			/*&::before {
				content: '';
				display: block;
				width: 9px;
				height: 9px;
				background: #ffffff;
				 -webkit-mask-image: -webkit-radial-gradient(white,#000); border-radius: 50%;
				position: absolute;
				left: -1px;
				top: -1px;
				opacity: 0;
				transition: .3s;
			}*/
			&.slick-active {
				background: #ffffff;

				&::before {
					opacity: 1;
				}
			}

			button {
				display: none;
			}
		}
	}


	&--video {
		.home-slider-slide {
			&::before {
				display: none;
			}
		}
	}
}

.home-slider-slide {
	position: relative;
	overflow: hidden;
	//max-height: calc(100vh - 90px);
	height: auto !important;

	&::before {
		position: absolute;
		z-index: 3;
		top: 0;
		left: 0;
		display: block;
		width: 533px;
		height: 100%;
		content: '';
		background: linear-gradient(90deg, rgba(3, 17, 83, 0.67) 0%, rgba(28, 40, 94, 0) 100%);
	}

	&::after {
		position: relative;
		display: block;
		width: 100%;
		padding-top: 46.1458%;
		content: '';
	}
}

.hms-pic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}

.home-slider-slide.slick-active {
	.hms-info {
		opacity: 1;
		//transform: translate(0, 0);
	}
}

.hms-info {
	position: absolute;
	z-index: 4;
	//bottom: 81px;
	bottom: 93px;
	left: 103px;
	transition: opacity 0.8s ease-out 0.6s, transform 1s ease-out 0.6s;
	opacity: 0;

	//transform: translate(50%, 0);
	&__top {}

	&__title {
		letter-spacing: -1.2px;
		color: #FFFFFF;
		font-size: 45px;
		font-weight: normal;
		font-style: normal;
		line-height: 59px;

		&--smallest-lh {
			line-height: 49px;
			padding-bottom: 7px;
		}

		&--small-d {
			font-size: 35px;
			line-height: 39px;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		margin-top: 19px;
		letter-spacing: -0.7px;
		text-transform: uppercase;
		color: #FFFFFF;
		font-size: 22px;
		font-weight: normal;
		font-style: normal;
		line-height: 22px;
	}

	&__area {
		margin-right: 23px;
	}

	&__date {
		font-weight: 300;
	}

	&--no-btn {
		bottom: 88px;
	}

	&--has-course-title {
		height: calc(100% - 176px);
		display: flex;
		flex-direction: column;
	}

	&__course-top {
		display: block;
		flex-grow: 1;
	}

	&__course-title {
		font-weight: 600;
		font-size: 73px;
		line-height: 79px;
		/* or 109% */

		letter-spacing: -0.03em;
		text-transform: uppercase;

		color: #FFFFFF;

		&--small-d {
			font-size: 58px;
			line-height: 70px;
		}
	}
}

.hms-info-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	//width: 282px;
	max-width: 100%;
	margin-top: 31px;
	padding: 15px 58px;
	transition: all .4s ease;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	-webkit-mask-image: -webkit-radial-gradient(white, #000);
	border-radius: 200px;
	font-family: 'Montserrat';
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	line-height: 1;

	&:hover {
		color: #FFFFFF;

		@media screen and (min-width:$minDesktop) {
			opacity: .7;
		}
	}

	&--type-nidra-course {
		display: inline-flex;
		width: auto;
		align-self: flex-start;
		padding: 15px 58px;
	}

	&__icon {
		display: inline-block;
		width: 22px;

		img {
			height: auto;
			width: 100%;

		}
	}

	&--open-vid {
		text-transform: none;
		font-size: 17px;
		line-height: 21px;
		font-weight: 400;
		width: auto;
		max-width: 100%;
		padding: 10px 58px 11px;

		.hms-info-btn__icon {
			margin-left: 8px;
			img {
				box-shadow: 0px 0px 11px rgba(46, 54, 81, 0.1);
				border-radius: 50%;
			}
		}
	}
}

.section-home-quote {
	padding-top: 84px;
	padding-bottom: 88px;
}

body {
	//width: calc(100% + 17px);
}

.hm-quote {
	margin-left: -28px;

	&__main {
		text-align: center;
		letter-spacing: -1.73px;
		color: $dark;
		font-family: 'Savoye LET';
		font-size: 58px;
		font-weight: normal;
		font-style: normal;
		line-height: 59px;

		&::after {
			display: inline-block;
			margin-right: -27px;
			content: '';
		}
	}

	&__info {
		margin-top: 35px;
		margin-left: 30px;
		text-align: center;
		letter-spacing: -0.04px;
		color: $dark;
		font-size: 17px;
		font-weight: normal;
		font-style: normal;
		line-height: 33px;

		&__razdel {
			display: block;
		}
	}

	&__name {
		margin-top: 43px;
		padding-left: 28px;
		text-align: center;
		color: #AFB4BF;
		font-family: 'Montserrat';
		font-size: 17px;
		line-height: 21px;
	}

	br {}
}

.hr {}

.section-home-events {
	padding-top: 93px;
	padding-bottom: 93px;
}

.hm-events-slider-cont-wrap {
	@media screen and (min-width:$minDesktop) {
		&:hover {
			.hm-events-arrow {
				opacity: 1;
			}
		}
	}
}

.hm-events-slider {
	position: relative;
	z-index: 1;
	width: 100%;

	.slick-list {
		margin-left: -19px;
		margin-right: -19px;
		z-index: 1;

		&::before,
		&::after {
			content: '';
			display: block;
			background: #fff;
			position: absolute;
			height: 100%;
			width: 20px;
			z-index: 2;
			top: 0;
		}

		&::before {
			left: -1px;
		}

		&::after {
			right: -1px;
		}
	}

	.slick-track {
		z-index: 1;
	}

	&::after {}

	/*&::before {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		display: block;
		width: 45px;
		height: 100%;
		margin-left: -7px;
		content: '';
		//background: red;
		pointer-events: none;
		background: #ffffff;
	}*/

	.slick-dots {
		position: relative;
		z-index: 4;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 100%;
		margin-top: 31px;
		list-style: none;

		li {
			position: relative;
			box-sizing: border-box;
			width: 9px;
			height: 9px;
			margin: 0 7px;
			list-style: none;
			transition: .3s;
			border: 1px solid #AFB4BF;
			-webkit-mask-image: -webkit-radial-gradient(white, #000);
			border-radius: 50%;

			/*&::before {
				content: '';
				display: block;
				width: 9px;
				height: 9px;
				background: #25378D;
				 -webkit-mask-image: -webkit-radial-gradient(white,#000); border-radius: 50%;
				position: absolute;
				left: -1px;
				top: -1px;
				opacity: 0;
				transition: .3s;
			}*/
			&.slick-active {
				border-color: #AFB4BF;
				background: #AFB4BF;

				&::before {
					opacity: 1;
				}
			}

			button {
				display: none;
			}
		}
	}

	.slick-arrow {

		z-index: 3;
	}
}

.hm-events-slide__wrap {
	margin-left: 19px;
	margin-right: 19px;
}

.hm-events-slide {

	//background: red;
	&__pic {
		position: relative;
		z-index: 1;
		display: block;
		overflow: hidden;
		width: 100%;
		-webkit-mask-image: -webkit-radial-gradient(white, #000);
		border-radius: 6px;

		@include scalepic();

		img {
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}

		&::before {
			z-index: 1;
			display: block;
			width: 100%;
			padding-top: 100%;
			content: '';
		}
	}

	&__text {}

	&__name {
		margin-top: 15px;
		color: $dark;
		font-size: 28px;
		font-weight: normal;
		font-style: normal;
		line-height: 1.25;
	}

	&__meta {
		margin-top: 9px;
		transition: all .2s;
		text-transform: uppercase;
		color: #25378D;
		font-size: 17px;
		font-weight: 300;
		font-style: normal;
		line-height: 21px;

		@media screen and (min-width:$minDesktop) {
			&:hover {
				color: #AFB4BF;
			}
		}
	}

	&__area {
		display: inline-block;
		margin-right: 28px;
	}

	&__date {
		display: inline-block;
	}

	&__info {
		margin-top: 8px;
		color: $dark;
		font-size: 17px;
		font-weight: normal;
		font-style: normal;
		line-height: 29px;
	}
}

.customized-arrow {
	position: absolute;
	z-index: 5;
	display: block;
	width: 13px;
	height: auto;
	transition-duration: .4s;

	svg {
		display: block;
		width: 100%;
		height: auto;
	}

	svg path {
		transition: .3s;
	}

	@media screen and (min-width:$minDesktop) {
		opacity: 0;

		&:hover {
			svg path {
				fill: #6974A9;
			}
		}
	}


	&::before {
		position: absolute;
		top: -5px;
		left: -5px;
		display: block;
		width: calc(100% + 10px);
		height: calc(100% + 10px);
		content: '';
	}

	&--prev {
		left: -48px;

		svg {
			transform: rotate(-180deg);
			transform-origin: center center;

		}
	}

	&--next {
		right: -48px;
	}
}

.hm-events-arrow {
	top: 180px;
}

.hm-events-btn-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 36px;
	//margin-left: -4px;
}

.read-more {
	position: relative;
	display: inline-flex;
	padding-right: 10px;
	cursor: pointer;
	transition-duration: .2s;
	color: #25378D;
	font-family: 'Montserrat';
	font-size: 17px;
	font-weight: normal;
	font-style: normal;

	&::after {
		position: absolute;
		top: 50%;
		right: 0;
		display: block;
		width: 6px;
		height: 12px;
		margin-top: 2px;
		content: '';
		transition-duration: .2s;
		transform: translate(0, -50%);
		background: url(../img/arrow-more.svg) no-repeat center center;
		background-size: contain;
	}

	@media screen and (min-width:$minDesktop) {
		&:hover {
			text-decoration: underline;

			&::after {
				right: -5px;
			}
		}
	}
}

////////////////////////////

.section-cria-medet {
	padding-top: 93px;
	padding-bottom: 93px;
}

.cria-medet {
	display: flex;

	.video-preview-wrapper {
		position: relative;
		z-index: 1;
		overflow: hidden;
		width: 100%;
		max-width: 580px;
		margin-right: 36px;
		transition: opacity .3s ease;
		-webkit-mask-image: -webkit-radial-gradient(white, #000);
		border-radius: 6px;


		&::before {
			z-index: 1;
			display: block;
			padding-top: 358/580 * 100%;
			content: '';
		}

		&::after {
			position: absolute;
			z-index: 3;
			z-index: 3;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			content: '';
			transition-duration: .4s;
			opacity: 0;
			background: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(5px);
		}

		@media screen and (min-width:$minDesktop) {
			&:hover {
				&::after {
					opacity: 1;
				}
			}
		}

		&:active {}

		&:focus {}
	}

	.video-preview {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.video-play {
		position: absolute;
		z-index: 4;
		top: 50%;
		left: 50%;
		width: 116px;
		height: 116px;
		transform: translate(-49%, -50%);
	}

	&__text {
		max-width: 470px;
		padding-top: 20px;
		color: $dark;
		font-family: proxima-nova;
	}

	&__title {
		margin-bottom: 12px;
		letter-spacing: -0.03em;
		color: $dark;
		font-size: 35px;
		line-height: 59px;
	}

	&__out {
		margin-bottom: 3px;
		color: $dark;
		font-size: 22px;
		line-height: 30px;
	}

	&__main {
		margin-bottom: 13px;
		color: $dark;
		font-size: 17px;
		line-height: 30px;
	}

	&__read-more {
		&:hover {}

		&:active {}

		&:focus {}
	}
}

////////////////////////////

.part-wsidebar {
	display: flex;
	justify-content: space-between;

	&__main {
		width: calc(100% - 358px);
	}

	&__sidebar {
		width: 266px;
		//background: red;
		//color: #ffffff;
		//background: rgba(255, 0, 0, 0.275);
		text-align: center;
	}
}

.master-links {
	display: flex;
	padding-top: 93px;
	padding-bottom: 93px;
}

.master-link {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;

	&:not(:last-child) {
		margin-right: 37px;
	}

	&__pic {
		position: relative;
		overflow: hidden;
		width: 100%;
		max-width: 402px;
		margin-bottom: 9px;
		-webkit-mask-image: -webkit-radial-gradient(white, #000);
		border-radius: 6px;

		@include scalepic();

		&::before {
			display: block;
			padding-top: 248/402 * 100%;
			content: '';
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: .3s;
			object-position: center;
			object-fit: cover;
		}
	}

	&__text {
		display: flex;
		align-items: center;
		flex-direction: column;
		color: $dark;
	}

	&__title {
		margin-bottom: 5px;
		text-align: center;
		letter-spacing: -0.03em;
		font-size: 28px;
		line-height: 45px;
	}

	&__more {}

	/*&:hover {
		img {
			opacity: 0.7;
		}
	}*/
	&:active {}

	&:focus {}
}

.section-science-kria {
	padding-top: 93px;
	padding-bottom: 93px;

	&--2 {
		padding-bottom: 94px;

		.scikria-item {
			display: flex;
			justify-content: space-between;

			&:first-child {
				margin-bottom: 93px;
			}

			.scikria-item-text__title2 {
				margin-bottom: 4px;
			}
		}
	}
}

.scikria-item {
	display: flex;
	justify-content: space-between;

	&:first-child {
		margin-bottom: 89px;
	}

	.scikria-item-pic {
		overflow: hidden;
		cursor: pointer;
		-webkit-mask-image: -webkit-radial-gradient(white, #000);
		border-radius: 6px;

	}

	&:last-child {
		flex-direction: row-reverse;

		.scikria-item-pic {
			overflow: hidden;
			margin-right: 0;
			margin-left: 5px;
			-webkit-mask-image: -webkit-radial-gradient(white, #000);
			border-radius: 6px;

		}

		.scikria-item-text {
			&__title2 {
				margin-bottom: 7px;
				font-size: 22px;
				line-height: 36px;
			}
		}
	}

	.scikria-item-pic {
		margin-right: 20px;
	}
}

.scikria-item-pic {
	position: relative;
	width: 100%;
	max-width: 403px;
	@include scalepic();

	&::before {
		display: block;
		padding-top: 248.88/403 * 100%;
		content: '';
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.scikria-item-text {
	max-width: 403px;
	padding-top: 15px;
	color: $dark;
	font-family: proxima-nova;

	&__title {
		margin-bottom: 20px;
		letter-spacing: -0.03em;
		color: $dark;
		font-size: 35px;
		line-height: 35px;
	}

	&__title2 {
		margin-bottom: 1px;
		color: $dark;
		font-size: 22px;
		line-height: 36px;
	}

	&__main {
		margin-bottom: 13px;
		color: $dark;
		font-size: 17px;
		line-height: 29px;

		& span {
			display: block;
		}
	}

	&__more {}
}

.section-hmlearn {
	position: relative;
	padding-top: 400/842 * 100%;
	color: $dark;
}

.banner {
	position: relative;
	overflow: hidden;
	-webkit-mask-image: -webkit-radial-gradient(white, #000);
	border-radius: 6px;


	&__picture {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		width: 100%;
		height: 100%;
		transition: .4s ease-in-out;
		-webkit-mask-image: -webkit-radial-gradient(white, #000);
		border-radius: 6px;

		object-fit: cover;
		object-position: center;

		source {
			width: 100%;
			height: 100%;
		}

		img {
			width: 100%;
			height: 100%;
		}

		//@include scalepic();
	}

	@media screen and (min-width:$minDesktop) {
		&:hover .banner__picture {
			-webkit-transform: scale(1.07);
			transform: scale(1.07);
		}
	}

	&__content {
		position: absolute;
		top: 22.4%;
		left: 51.8%;
		max-width: 317px;
		font-family: proxima-nova;
	}

	&__title {
		margin-bottom: 5px;
		letter-spacing: -0.03em;
		color: $dark;
		font-size: 35px;
		line-height: 35px;
	}

	&__title2 {
		margin-bottom: 27px;
		color: $dark;
		font-size: 22px;
		line-height: 36px;
	}

	&__more {
		color: #25378D;
	}
}

.tablet-content {
	display: none;
}

.csubscr-widget__logo-wrapper {
	display: none;
}

.section-hmlearn2 {
	position: relative;
	padding-top: 400/842 * 100%;
	color: #fff;

	.banner__content {
		left: 52%;
	}

	.banner__more {
		color: #fff;

		&::after {
			background: url('../img/arrow-more_white.svg') no-repeat center center;
		}
	}

	.banner__title {
		margin-bottom: 13px;
		color: #fff;
	}

	.banner__title2 {
		margin-bottom: 19px;
		color: #fff;
	}
}

.hm-quote-practice {
	padding-top: 153px;

	.quote-bg {
		//background-position: center;
		background-repeat: no-repeat;
		background-position: 50% 48.3%;
		background-size: cover;
	}

	&__content {}

	.quote-slide {
		padding-top: 80px;
		padding-bottom: 149px;
	}

	&__main {
		margin-right: 7px;
		margin-bottom: 32px;
		text-align: center;
		color: $dark;
		font-family: "Savoye LET";
		font-size: 45px;
		line-height: 59px;
	}

	&__name {
		text-align: center;
		color: #AFB4BF;
		font-family: Montserrat;
		font-size: 17px;
		font-weight: normal;
		font-style: normal;
		line-height: 21px;
	}
}

.quotes-slide {
	.slick-dots {
		position: absolute;
		z-index: 4;
		bottom: 24.6%;
		left: 50%;
		display: flex;
		align-items: center;
		margin-left: -3px;
		list-style: none;
		transform: translate(-50%, 0%);

		li {
			position: relative;
			box-sizing: border-box;
			width: 9px;
			height: 9px;
			margin: 0 7px;
			list-style: none;
			cursor: pointer;
			transition: .3s;
			border: 1px solid #AFB4BF;
			-webkit-mask-image: -webkit-radial-gradient(white, #000);
			border-radius: 50%;

			/*&::before {
				content: '';
				display: block;
				width: 9px;
				height: 9px;
				background: #25378D;
				 -webkit-mask-image: -webkit-radial-gradient(white,#000); border-radius: 50%;
				position: absolute;
				left: -1px;
				top: -1px;
				opacity: 0;
				transition: .3s;
			}*/
			&.slick-active {
				border-color: #AFB4BF;
				background: #AFB4BF;

				&::before {
					opacity: 1;
				}
			}

			button {
				display: none;
			}
		}
	}
}

.hm-feedback-slider-cont-wrap {
	@media screen and (min-width:$minDesktop) {
		&:hover {
			.hm-feedback__arrow {
				opacity: 1;
			}
		}
	}
}

.hm-feedback {
	padding-top: 150px;
	padding-bottom: 93px;

	&--fix-92{
		padding-bottom: 150px;
	}

	&__content {
		display: flex;
	}

	&__img-wrapper {
		position: relative;
		z-index: 1;
		overflow: hidden;
		width: 100%;
		max-width: 579px;
		margin-right: 34px;
		-webkit-mask-image: -webkit-radial-gradient(white, #000);
		border-radius: 6px;


		&::before {
			display: block;
			padding-top: 61.8%;
			content: '';
		}

		&::after {
			position: absolute;
			z-index: 3;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			content: '';
			transition-duration: .4s;
			opacity: 0;
			background: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(5px);
		}

		@media screen and (min-width:$minDesktop) {
			&:hover {
				&::after {
					opacity: 1;
				}

				.hm-feedback__img-play {
					opacity: 1;
				}
			}
		}
	}

	&__img {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;

		&-play {
			position: absolute;
			z-index: 4;
			top: 50%;
			left: 50%;
			transition-duration: .4s;
			transform: translate(-50%, -50%);
			opacity: 1;
		}
	}

	&__text {
		padding-top: 19px;
		color: $dark;

		&-title {
			margin-bottom: 10px;
			letter-spacing: -0.037em;
			color: $dark;
			font-family: proxima-nova;
			font-size: 35px;
			line-height: 59px;
		}

		&-out {
			font-family: proxima-nova;
			font-size: 22px;
			line-height: 36px;
		}

		&-info {
			margin-bottom: 12px;
			font-size: 17px;
			line-height: 30px;

			span {
				display: block;
			}
		}
	}

	&__btn-wrap {
		display: flex;
		align-items: center;
		justify-content: center;

		.btn {
	//		width: 266px;
		}
	}

	&__arrow {
		position: absolute;
		top: 50%;
		margin-top: -37px;
		transition-duration: .4s;
		opacity: 0;

		z-index: 3;

		svg {
			display: block;
		}

		svg path {
			transition-duration: .2s;
		}

		@media screen and (min-width:$minDesktop) {
			&:hover svg path {
				fill: #6974A9;
				/*	svg path:first-child {
				stroke: #6974A9;
			}
			svg path:last-child {
				fill: #6974A9;
			}*/
			}
		}

		&--next {}

		&--prev {
			transform: rotate(-180deg);
		}
	}

	.slick-initialized .slick-slide {
		display: flex;
	}

	position: relative;
	z-index: 1;

	.slick {
		&-slide {
			margin: 0 7px;
		}

		&-list {
			margin-left: -7px;
			margin-right: -7px;
			z-index: 1;

			&::before,
			&::after {
				content: '';
				display: block;
				background: #fff;
				position: absolute;
				height: 100%;
				width: 8px;
				z-index: 2;
				top: 0;
			}

			&::before {
				left: -1px;
			}

			&::after {
				right: -1px;
			}
		}

		&-track {
			z-index: 1;
		}

	}
}

.hm-feedback-slide {
	margin-bottom: 36px;

	.slick-dots {
		//position: absolute;
		z-index: 4;
		display: flex;
		align-items: center;
		justify-content: center;
		//left: 50%;
		//bottom: -10.3%;
		//transform: translate(-50%, 0%);
		//margin-left: 2px;
		width: 100%;
		margin-top: 36px;
		list-style: none;

		li {
			position: relative;
			box-sizing: border-box;
			width: 9px;
			height: 9px;
			margin: 0 7px;
			list-style: none;
			cursor: pointer;
			transition: .3s;
			border: 1px solid #AFB4BF;
			-webkit-mask-image: -webkit-radial-gradient(white, #000);
			border-radius: 50%;

			/*&::before {
				content: '';
				display: block;
				width: 9px;
				height: 9px;
				background: #25378D;
				 -webkit-mask-image: -webkit-radial-gradient(white,#000); border-radius: 50%;
				position: absolute;
				left: -1px;
				top: -1px;
				opacity: 0;
				transition: .3s;
			}*/
			&.slick-active {
				border-color: #AFB4BF;
				background: #AFB4BF;

				&::before {
					opacity: 1;
				}
			}

			button {
				display: none;
			}
		}
	}
}

.hm-galery {
	position: relative;
	z-index: 1;

	&::before {
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 0;
		display: block;
		width: 100%;
		height: 1px;
		margin-top: -2px;
		content: '';
		background: #DEE6E9;
	}

	&::after {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		display: block;
		width: 100%;
		width: 1210px;
		max-width: 95%;
		max-width: calc(100% - 30px * 2);
		height: 4px;
		margin-top: -4px;
		content: '';
		transform: translateX(-50%);
		background: #ffffff;
	}

	&__row {
		position: relative;
		z-index: 3;
		display: flex;
		justify-content: space-between;
		background: #ffffff;
	}

	&__img-wrapper {
		position: relative;
		width: calc(25% - 6px);
		cursor: pointer;
		-webkit-mask-image: -webkit-radial-gradient(white, #000);
		border-radius: 6px;

		@include scalepic();

		&::after {
			display: block;
			padding-top: 100%;
			content: '';
			-webkit-mask-image: -webkit-radial-gradient(white, #000);
			border-radius: 6px;

		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	&__white-box {
		position: absolute;
		top: 50%;
		left: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 113px;
		height: 113px;
		transition: all ease .3s;
		transform: translate(-50%, -50%);
		-webkit-mask-image: -webkit-radial-gradient(white, #000);
		border-radius: 50%;
		background-color: #fff;

		p {
			z-index: 10;
			margin-top: -11px;
			transition: all ease .3s;
			text-align: center;
			color: $dark;
			font-size: 13px;
			font-weight: 400;
			line-height: 21px;
		}

		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 113px;
			height: 113px;
			content: '';
			transition: all ease .3s;
			transform: translate(-50%, -50%);
			-webkit-mask-image: -webkit-radial-gradient(white, #000);
			border-radius: 50%;
			background-color: #fff;
		}

		@media screen and (min-width:$minDesktop) {
			&:hover {
				p {
					color: #AFB4BF;
				}

				/*&:after {
				position: absolute;
				content: '';
				width: 137px;
				height: 137px;
				background-color: #fff;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				 -webkit-mask-image: -webkit-radial-gradient(white,#000); border-radius: 50%;
			}*/
			}
		}
	}
}

.master {
	padding-top: 84px;
	padding-bottom: 50px;

	&_article {
		padding-top: 48px;
	}

	&_video {
		padding-top: 48px;
		padding-bottom: 53px;
	}

	&__content {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		position: relative;
		margin-bottom: 6px;
		padding-bottom: 6px;
		text-transform: uppercase;
		color: $dark;
		font-weight: 600;
		font-size: 13px;
		line-height: 30px;

		/*&::after {
			position: absolute;
			bottom: 0;
			left: 50%;
			overflow: hidden;
			width: 15px;
			height: 1px;
			margin-left: -6px;
			content: '';
			border-top: 1px solid;
		}*/
	}

	&__img-wrapper {
		position: relative;
		width: 100%;
		max-width: 164px;
		margin-bottom: 28px;

		&::after {
			display: block;
			padding-top: 100%;
			content: '';
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-position: center;
		object-fit: cover;
	}

	&__info {
		margin-bottom: 29px;
		font-size: 13px;
		line-height: 21px;

		span {
			display: block;
		}
	}

	&__social {
		margin-right: -3px;
	}
}

.social {
	display: flex;

	svg rect {
		transition: 0.3s ease fill;
	}

	&__link {
		@media screen and (min-width:$minDesktop) {
			&:hover {
				svg rect {
					fill: #25378D;
				}
			}
		}

		&:not(:last-child) {
			margin-right: 9px;
		}
	}

	&__icon {}
}

////////////////////////////

.custom-widget-title {
	position: relative;
	display: block;
	padding-bottom: 19px;
	text-align: center;
	text-transform: uppercase;
	color: $dark;
	font-weight: 600;
	font-size: 13px;
	line-height: 30px;
	font-style: normal;
	line-height: 1;

	/*	&::after {
		position: absolute;
		top: auto;
		bottom: 22px;
		left: calc(50% - 8px);
		display: block;
		width: 16px;
		height: 1px;
		content: '';
		background: #919AA4;
	}*/
}

.insta-widget {
	padding-bottom: 58px;

	&__title {}

	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: -4px;
		// -webkit-mask-image: -webkit-radial-gradient(white,#000); border-radius: 6px;
		//overflow: hidden;
	}
}

.insta-widget__item {
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: calc(50% - 2px);
	margin-bottom: 4px;
	transition-duration: .2s;


	&::before {
		position: relative;
		z-index: 1;
		display: block;
		padding-top: 100%;
		content: '';
	}

	img {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	@media screen and (min-width:$minDesktop) {
		&:hover {
			opacity: .7;
		}
	}

	&:active {}

	&:focus {}

	/*	&:nth-child(1) {
		 -webkit-mask-image: -webkit-radial-gradient(white,#000); border-radius: 5px 0 0 0;
	}
	&:nth-child(2) {
		 -webkit-mask-image: -webkit-radial-gradient(white,#000); border-radius: 0 5px 0 0;
	}
	&:nth-child(3) {
		 -webkit-mask-image: -webkit-radial-gradient(white,#000); border-radius: 0 0 0 5px;
	}
	&:nth-child(4) {
		 -webkit-mask-image: -webkit-radial-gradient(white,#000); border-radius: 0 0 5px 0;
	}*/
}

////////////////////

.csubscr-widget {
	box-sizing: border-box;
	margin-bottom: 61px;
	padding: 34px 30px 32px;
	border: 1px solid #DEE6E9;
	-webkit-mask-image: -webkit-radial-gradient(white, #000);
	border-radius: 6px;

	background: #FFFFFF;

	&__inner {}

	&__title {
		text-align: center;
		text-transform: uppercase;
		color: $dark;
		font-size: 17px;
		font-weight: 500;
		font-style: normal;
		line-height: 1;
	}

	&__description {
		margin-top: 15px;
		margin-top: 15px;
		text-align: center;
		color: $dark;
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		line-height: 21px;
	}

	&__inp-wrap {
		margin-top: 27px;
	}
}

input.email-cinp {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 43px;
	padding: 13px 20px 13px;
	padding-left: 49px;
	transition: all 0.3s ease-out;
	//align-items: center;
	color: #AFB4BF;
	border: 1px solid #D9DBDE;
	-webkit-mask-image: -webkit-radial-gradient(white, #000);
	border-radius: 3px;
	background: #FFFFFF;
	background-image: url(../img/mail.svg);
	background-repeat: no-repeat;
	background-position: 20px center;
	background-size: 21px auto;
	font-size: 13px;
	line-height: 1;

	&:focus {
		//border: 1px solid #25378D;
		padding-left: 20px;
		border: 1px solid #D9DBDE;
		background-position: -25px center;
	}
}

.csubscr-widget__btn {
	margin-top: 20px;
	margin-top: 9px;

	width: 100%;
}

/////////////
.slider-news-widget {
	position: relative;
	z-index: 1;
	margin-bottom: 57px;
}

.slider-news-widget__title {}

.slnewsw-slider {
	position: relative;
	z-index: 1;
	padding-bottom: 33px;

	&--noarrow {
		padding-bottom: 0;
	}

	.slick-dots {
		display: none !important;
	}

	.slick {
		&-slide {
			margin: 0 7px;
		}

		&-list {
			margin-right: -7px;
			margin-left: -7px;
		}
	}
}

.slnewsw-slider-item {
	color: $dark;
	@include hov();

	&__pic {
		position: relative;
		overflow: hidden;
		padding-bottom: 61.6541%;
		-webkit-mask-image: -webkit-radial-gradient(white, #000);
		border-radius: 6px;


		img {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}

	&__name {
		margin-top: 13px;
		text-align: center;
		color: $dark;
		font-size: 17px;
		font-weight: normal;
		font-style: normal;
		line-height: 29px;
	}


	&__metas {
		display: flex;
		justify-content: center;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 16px;

		text-transform: uppercase;
		color: #AFB4BF;
		flex-wrap: wrap;
		margin-left: -14px;
		margin-top: 1px;
		padding-bottom: 5px;
	}

	&__metas-place {
		margin-left: 14px;
	}

	&__metas-date {
		margin-left: 14px;
	}
}

.slnewsw-slider--video {
	.slnewsw-slider-item {
		&__pic {
			img {}

			&::after {
				position: absolute;
				z-index: 2;
				top: 50%;
				left: 50%;
				display: block;
				width: 59px;
				height: 59px;
				content: '';
				transform: translate(-50%, -50%);
				background: url(../img/play-vid.svg) no-repeat center center;
				background-size: 59px auto;
			}
		}
	}
}

.slnewsw-arrow {
	position: absolute;
	z-index: 5;
	bottom: 0;
	left: 50%;

	svg path {
		transition: .3s;
	}

	@media screen and (min-width:$minDesktop) {
		&:hover {
			svg path:first-child {
				stroke: #6974A9;
			}

			svg path:last-child {
				fill: #6974A9;
			}
		}
	}

	svg {
		display: block;
	}

	&--prev {
		margin-left: -32px;
	}

	&--next {
		margin-left: 4px;
	}
}

//////////////////////////////

.newposts-widget {
	margin-bottom: 52px;

	&__title {}

	&__items {
		padding-top: 6px;
	}
}

.newposts-widget-item {
	display: block;
	text-align: center;

	@media screen and (min-width:$minDesktop) {
		&:hover {
			.newposts-widget-item__title {
				text-decoration: underline;
			}
		}
	}

	&__title {
		position: relative;
		text-align: center;
		color: $dark;
		font-size: 17px;
		font-weight: normal;
		font-style: normal;
		line-height: 29px;
	}

	&__date {
		margin-top: 7px;
		text-align: center;
		text-transform: capitalize;
		color: #AFB4BF;
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		line-height: 21px;
	}

	&:hover {}

	&:active {}

	&:focus {}

	&+.newposts-widget-item {
		margin-top: 20px;
	}
}

///////////////////////////////
/*.wnevents-widget_article {
	.wnevents-widget__item {
		&:last-child {
			display: none;
		}
	}

	.wnevents-widget__pic {
		padding-top: 24%;
	}
}*/

.wnevents-widget {
	position: relative;
	margin-bottom: 51px;

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		@include hov();

		&+.wnevents-widget__item {
			margin-top: 33px;
		}

		&--big {

			.wnevents-widget__pic {
				padding-top: 24%;
			}
		}
	}
}

.wnevents-widget__pic {
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	margin-bottom: -15px;
	padding-bottom: 37.969924812%;

	img {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-webkit-mask-image: -webkit-radial-gradient(white, #000);
		border-radius: 6px;

		object-fit: cover;
		object-position: center center;
	}
}

.wnevents-widget__title {
	position: relative;
	z-index: 2;
	display: flex;
	display: block;
	box-sizing: border-box;
	max-width: 100%;
	margin: 0 auto;
	padding: 6px 13px;
	text-align: center;
	text-transform: uppercase;
	color: $dark;
	-webkit-mask-image: -webkit-radial-gradient(white, #000);
	border-radius: 6px;

	background: #fff;
	//margin-top: -15px;
	//font-family: 'Montserrat';
	font-size: 15px;
	font-weight: 500;
	font-style: normal;
	line-height: 1;
}