.btn {
	//min-height: 43px;
	width: 256px;
	max-width: 100%;
	text-align: center;

	display: flex;

	justify-content: center;

	align-items: center;
	border: 1px solid #25378d;

	box-sizing: border-box;
	border-radius: 200px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 1.2;
	padding: 14px 15px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #25378d;
	transition-duration: .2s;
	cursor: pointer;

	&:hover {
		border-color: #AFB4BF;
		color: #AFB4BF;
	}

	&:active {
		border-color: #DEE6E9;
		color: #DEE6E9;
	}


	&--square {
		border-radius: 5px;
	}
}

.section-home-slider {}

.home-slider {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	max-width: 100%;



	.slick-dots {
		position: absolute;

		z-index: 4;
		left: 95px;
		top: 50%;
		transform: translate(0, -50%);
		margin-top: 4px;

		display: flex;
		flex-direction: column;
		align-items: center;
		list-style: none;

		li {
			margin: 11px 0;
			list-style: none;

			width: 9px;
			height: 9px;
			border: 1px solid #FFFFFF;
			box-sizing: border-box;
			border-radius: 50%;
			transition: .3s;
			position: relative;

			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				background: #ffffff;
				border-radius: 50%;
				position: absolute;
				left: 0;
				top: 0;
				opacity: 0;
				transition: .3s;

			}

			&.slick-active {
				&::before {
					opacity: 1;
				}
			}

			button {
				display: none;
			}
		}
	}
}

.home-slider-slide {
	position: relative;
	height: calc(100vh - 90px);

	&::before {
		z-index: 3;
		display: block;
		width: 533px;
		height: 100%;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		background: linear-gradient(90deg, rgba(3, 17, 83, 0.67) 0%, rgba(28, 40, 94, 0) 100%);
	}
}

.hms-pic {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}

.hms-info {
	position: absolute;
	left: 103px;
	//bottom: 81px;
	bottom: 88px;
	z-index: 4;

	&__top {}


	&__title {
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		line-height: 59px;
		letter-spacing: -1.2px;
		color: #FFFFFF;
	}

	&__bottom {
		margin-top: 19px;
		display: flex;
		align-items: center;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 22px;
		letter-spacing: -0.7px;
		text-transform: uppercase;
		color: #FFFFFF;
	}

	&__area {
		margin-right: 23px;
	}

	&__date {
		font-weight: 300;
	}
}


.section-home-quote {
	padding-top: 139px;
	padding-bottom: 88px;
}

body {
	//width: calc(100% + 17px);
}

.hm-quote {
	margin-left: -28px;

	&__main {
		font-family: 'Savoye LET';
		font-style: normal;
		font-weight: normal;
		font-size: 58px;
		line-height: 59px;
		text-align: center;
		letter-spacing: -1.73px;
		color: #3E434D;

		&::after {
			content: '';
			display: inline-block;
			margin-right: -27px;
		}
	}

	&__info {
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 33px;
		text-align: center;
		color: #53565A;
		margin-left: 30px;
		letter-spacing: -0.04px;
		margin-top: 35px;
	}

	&__name {
		font-family: 'Montserrat';
		font-size: 17px;
		line-height: 21px;
		text-align: center;
		color: #53565A;
		margin-top: 43px;
		padding-left: 28px;
	}

	br {}
}

.hr {}



.section-home-events {
	padding-top: 93px;
	padding-bottom: 93px;
}

.hm-events-slider {
	margin-left: -38px;
	width: calc(100% + 38px);

	.slick-dots {
		position: relative;
		z-index: 4;
		margin-top: 31px;
		max-width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		list-style: none;
		margin-left: 34px;

		li {
			margin: 0 7px;
			list-style: none;

			width: 9px;
			height: 9px;
			border: 1px solid #25378D;
			box-sizing: border-box;
			border-radius: 50%;
			transition: .3s;
			position: relative;

			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				background: #25378D;
				border-radius: 50%;
				position: absolute;
				left: 0;
				top: 0;
				opacity: 0;
				transition: .3s;

			}

			&.slick-active {
				&::before {
					opacity: 1;
				}
			}

			button {
				display: none;
			}
		}
	}
}

.hm-events-slide__wrap {
	padding-left: 38px;
}

.hm-events-slide {
	background: red;

	&__pic {
		display: block;
		position: relative;
		width: 100%;
		background: blue;
		z-index: 1;

		img {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
			object-fit: cover;
			object-position: center center;
		}

		&::before {
			content: '';
			display: block;
			padding-top: 100%;
			width: 100%;
			z-index: 1;
		}
	}

	&__text {}

	&__name {
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		line-height: 1.25;
		color: #3E434D;
		margin-top: 15px;
	}

	&__meta {
		font-style: normal;
		font-weight: 300;
		font-size: 17px;
		line-height: 21px;
		text-transform: uppercase;
		color: #25378D;
		margin-top: 9px;
	}



	&__area {
		display: inline-block;
		margin-right: 28px;
	}

	&__date {
		display: inline-block;
	}

	&__info {
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 29px;
		margin-top: 8px;
		color: #53565A;
	}

}


.hm-events-arrow {
	display: block;
	position: absolute;
	top: 180px;
	width: 12px;
	height: auto;

	&--prev {
		left: -12px;

		svg {
			transform: rotate(-180deg);
		}
	}

	&--next {
		right: -51px;
	}
}

.hm-events-btn-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 36px;
	margin-left: -4px;

}


.read-more {
	cursor: pointer;
	display: inline-flex;
	font-size: 17px;
	color: #25378D;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	position: relative;
	padding-right: 10px;
	transition-duration: .2s;

	&::after {
		transition-duration: .2s;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
		content: '';
		display: block;
		background: url(../img/arrow-more.svg) no-repeat center center;
		background-size: contain;
		width: 6px;
		height: 12px;
		margin-top: 2px;
	}

	&:hover {
		&::after {

			right: -5px;
		}

		text-decoration: underline;
	}

}


////////////////////////////



.section-cria-medet {
	padding-top: 93px;
	padding-bottom: 93px;
}

.cria-medet {
	display: flex;
	.video-preview-wrapper {
		max-width: 580px;
		position: relative;
		width: 100%;
		margin-right: 34px;
		&::before {
			content: '';
			display: block;
			padding-top: 358/580 * 100%;
		}
		&:hover {}

		&:active {}

		&:focus {}
		
	}
	.video-preview {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 100%;
	}
	.video-play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-49%,-50%);
		width: 116px;
		height: 116px;
	}
	&__text {
		font-family: "Proxima Nova";
		color: #53565A;
		padding-top: 20px;
		max-width: 470px;
	}

	&__title {
		font-size: 35px;
		line-height: 59px;
		letter-spacing: -0.03em;
		margin-bottom: 12px;
	}

	&__out {
		font-size: 22px;
		line-height: 30px;
		margin-bottom: 3px;
	}

	&__main {
		font-size: 17px;
		line-height: 30px;
		margin-bottom: 13px;
	}

	&__read-more {
		&:hover {}

		&:active {}

		&:focus {}
	}
}


////////////////////////////



.section-part-wsidebar {}

.part-wsidebar {
	display: flex;
	justify-content: space-between;
	&__main {
		width: calc(100% - 358px);
	}

	&__sidebar {
		width: 266px;
		background: red;
		color: #ffffff;
		text-align: center;
	}

}

.master-links {
	display: flex;
	padding-top: 93px;
	padding-bottom: 93px;
}

.master-link {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	&:not(:last-child) {
		margin-right: 37px;
	}
	&__pic {
		position: relative;
		max-width: 402px;
		width: 100%;
		margin-bottom: 9px;
		&::before {
			content: '';
			display: block;
			padding-top: 248/402 * 100%;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-position: center;
			object-fit: cover;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #3E434D;
	}


	&__title {
		font-size: 28px;
		line-height: 45px;
		text-align: center;
		letter-spacing: -0.03em;
		margin-bottom: 5px;
	}

	&__more {}

	&:hover {}

	&:active {}

	&:focus {}
}

.section-science-kria {
	padding-top: 93px;
	padding-bottom: 93px;
	&--2 {
		.scikria-item {
			display: flex;
			justify-content: space-between;
			&:first-child {
				margin-bottom: 93px;
			}
			.scikria-item-text__title2 {
				margin-bottom: 4px;
			}
		}
	}
}
.scikria-item {
	display: flex;
	justify-content: space-between;
	&:first-child {
		margin-bottom: 89px;
	}
	&:last-child {
		flex-direction: row-reverse;
		.scikria-item-pic {
			margin-left: 5px;
			margin-right: 0;
		}
		.scikria-item-text {
			&__title2 {
				font-size: 22px;
				line-height: 36px;
				margin-bottom: 7px;
			}
		}
	}
	.scikria-item-pic {
		margin-right: 20px;
	}
}

.scikria-item-pic {
	max-width: 403px;
	width: 100%;
	position: relative;
	&::before {
		content: '';
		display: block;
		padding-top: 248.88/403 * 100%;
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		object-fit: cover;
		object-position: center;
	}
}

.scikria-item-text {
	padding-top: 15px;
	max-width: 403px;
	font-family: "Proxima Nova";
	color: #3E434D;

	&__title {
		font-size: 35px;
		line-height: 35px;
		letter-spacing: -0.03em;
		margin-bottom: 20px;
	}

	&__title2 {
		font-size: 22px;
		line-height: 36px;
		margin-bottom: 1px;
	}

	&__main {
		font-size: 17px;
		line-height: 29px;
		margin-bottom: 13px;
		& span {
			display: block;
		}
	}

	&__more {}
}

.section-hmlearn {
	padding-top: 400/842 * 100%;
	position: relative;
}

.banner {
	position: relative;
	&__content {
		position: absolute;
		top: 22.4%;
		left: 52%;
		max-width: 317px;
		color: #3E434D;
		font-family: "Proxima Nova";
	}
	&__title {
		margin-bottom: 5px;
		font-size: 35px;
		line-height: 35px;
		letter-spacing: -0.03em;
	}

	&__title2 {
		margin-bottom: 27px;
		font-size: 22px;
		line-height: 36px;
	}

	&__more {

	}
}