.hidden{
	display: none;
}
@media screen and (min-width: 1151px) {//  >tablet
	.container--disable-on-desktop {
		width: 100% !important;
		max-width: 100% !important;
		padding: 0 !important;
		margin: 0 !important;
	}

	.oh-wrap--on-desktop {
		overflow: hidden;
	}
	.hide--desktop{
		display: none !important;
	}
	.display-d{
		display: block;
	}
}

@media screen and (max-width: 1150px) {//  <=tablet
}

@media screen and (min-width: 750px) and (max-width: 1150px) {//  only tablet
	.container--disable-on-tablet {
		width: 100% !important;
		max-width: 100% !important;
		padding: 0 !important;
		margin: 0 !important;
	}

	.oh-wrap--on-tablet {
		overflow: hidden;
	}
	.hide--tablet{
		display: none !important;
	}
	.display-t{
		display: block;
	}
}

@media screen and (min-width: 750px) {//  >mob
}

@media screen and (max-width: 749px) {//767 было
	.hide--mob{
		display: none !important;
	}
	//  <=mob  only mob
	.container--disable-on-mob {
		width: 100% !important;
		max-width: 100% !important;
		padding: 0 !important;
		margin: 0 !important;
	}

	.oh-wrap--on-mob {
		overflow: hidden;
	}

	.mob-order--1{order:1;}
	.mob-order--2{order:2;}
	.mob-order--3{order:3;}
	.mob-order--4{order:4;}
	.mob-order--5{order:5;}
	.mob-order--6{order:6;}
	.mob-order--7{order:7;}
	.mob-order--8{order:8;}
	.mob-order--9{order:9;}
	.mob-order--10{order:10;}

	.display-m{
		display: block;
	}
}