input,
button,
textarea,
select {
	font-size: inherit;
	font-family: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

div,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
	outline: none;
	font-size: inherit;
	background: transparent;
}

* {
	box-sizing: border-box;
}

a,
a:hover {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

textarea {
	resize: none;
}

a {
	color: inherit;
}


body {
	display: flex;
	flex-direction: column;
	margin: 0;
	color: $dark;
	background: #ffffff;
	font-family: $mainFont;
	font-size: 16px;
}

.main {
	flex-grow: 1;
}

html,
body {
	height: 100%;
}

.container {
	box-sizing: border-box;
	width: 1200px;
	max-width: 95%;
	max-width: calc(100% - 30px * 2);
	margin: 0 auto;
}

.slick-dots li:first-child:last-child{
	opacity: 0 !important;
}

//десктоп держим правками до 1151px включительно

@media screen and (max-width: 1150px){//тут начинается планшетный вид
	.container{
		width: 582px;
		max-width: calc(100% - 25px * 2);
	}
	.container--long{//этот класс проаиши обёрткам .container дивов .hr и блоков которые этого требуют
		width: 697px;
	}
}

//планшетный вид нам адаптировать не приходится


@media screen and (max-width: 749px ){//на 767 начинается мобилка. её делаем как на смм. Только в данном случае под 360
	.container{//если где-то нужен другой контейнер - там прописывай его ширну доп классом
		width: vw(333);
		max-width: calc(100% - #{vw(14)} * 2);
	}
	.container--hr{//этот класс проаиши обёрткам .container дивов .hr
		width: vw(333);
	}
}



#jGrowl {
	z-index: 999999;
}

*:focus {
	outline: none;
}

.hide {
	display: none;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;

	-webkit-locale: auto;
	white-space: normal;

	&.compensate-for-scrollbar {
		overflow: hidden;
	}
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

.hr {
	background: #DEE6E9;
	border-radius: 5px;
	height: 1px;
	width: 100%;
}

//START сбрасываем исходные

ul li, ol li {
    padding: 0px 0;
}
//END сбрасываем исходные
.slick-dots {
	li {
		cursor: pointer;
	}
}
.slick-arrow {
	cursor: pointer;
}


.oh-wrap{
	overflow: hidden;
}

.ui-loader.ui-corner-all.ui-loader-default.ui-body-a{
	display: none !important;
}