.music-player {
	position: relative;
	box-sizing: border-box;
    padding: 22px 18px 8px;
	color: #000;
	/* FieldBorder */
	border: 1px solid #D9DBDE;
	border-radius: 5px;
	background: #FFFFFF;
    margin-bottom: 56px;
}

.music-player-top {}

.music-player-top__next,
.music-player-top__prev {
	position: absolute;
	top: 46px;
	width: 28px;
	height: 28px;
	cursor: pointer;

	svg path {
		transition-duration: .2s;
	}

	&:hover {
		svg path {
			fill: #6974A9;
			/*&:first-child {
				stroke: #6974A9;
			}

			&:nth-child(2) {
				fill: #6974A9;
			}*/
		}
	}
}

.music-player-top__next {
	right: 42px;
}

.music-player-top__prev {
	left: 42px;
}

.music-player-center {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.music-player__album-art {
	position: relative;
	width: 77px;
	height: auto;

	/*&::before {
		display: none;
		padding-top: 100%;
		content: '';
	}*/

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 10px;
	}
}

.song-meta-data {}

.music-player__song-name {
	display: block;
	/* Font_Title_dark */
    margin-top: 19px;
	text-align: center;
	color: #3E434D;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.2;
}

.music-player__song-artist {
	display: block;
	margin-top: 3px;
	/* identical to box height, or 162% */
	text-align: center;
	/* FieldHint */
	color: #AFB4BF;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.2;
}

.music-player__time-progress {
	width: 100%;
    margin-top: 18px;
}

.music-player__controls {
    margin-top: -2px;
}

.soundRS__progress-container {
	width: 100%;
}

.amplitude-song-slider.js-song-progress-slider {}

.soundRS {
	&--horizontal {
		position: relative;
		height: 2px;
		border-radius: 2px;
		background: #DEE6E9;

		&::before {
			position: absolute;
			top: -5px;
			left: 0;
			width: 100%;
			height: 12px;
			content: '';
			cursor: pointer;
			//background: rgba(255, 5, 5, 0.6);
		}
	}

	&__fill {
		height: 2px;
		border-radius: 2px;
		background: #25378D;
	}

	&__handle {
		position: absolute;
		top: -3px !important;
		width: 2px;
		height: 8px;
		opacity: 1;
		border: none;
		border-radius: 50px;
		background: #25378d;

		&::before {
			display: none;
		}

		&::after {
			display: none;
		}
	}
}

#song-played-progress {
	display: none;
}

.music-player__time-container {
	display: flex;
	justify-content: space-between;
	margin-top: 7px;
	text-align: center;
	font-family: 'Montserrat';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
}

.amplitude-current-minutes,
.amplitude-duration-minutes {
	position: relative;
	display: inline-block;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 9px;
		height: 100%;
		content: '';
		background: #ffffff;
	}
}

.music-player__current-time {
	margin-left: -9px;
}

.music-player__duration {}

.amplitude-current-minutes {}

.amplitude-current-seconds {}

.amplitude-duration-minutes {}

.amplitude-duration-seconds {}

.amplitude-prev.music-player__prev {}

.music-player__controls {
	display: flex;
	align-items: center;
	justify-content: center;
    margin-top: -2px;
}

.music-player-mainctrl {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 36px;
	min-width: 36px;
	height: 36px;
	margin: 0px 10px;
	cursor: pointer;
	/* Main_blue */
	border: 1px solid #25378D;
	border-radius: 50px;
	background: #FFFFFF;
	@include hov();

	&__pause,
	&__play {
		position: absolute;
		top: 50%;
		left: 52%;
		// margin-top: -6px;
		// margin-left: -6px;
		transition-duration: .2s;
		opacity: 0;
		transform: translate(-50%,-50%);
		img,
		svg {
			display: block;
			width: 12px;
			height: 12px;
			object-fit: contain;
			object-position: center center;
		}
	}
	&__play {
		left: 55%	;
	}

	&.amplitude-paused {
		.music-player-mainctrl__play {
			opacity: 1;
		}
	}

	&.amplitude-playing {
		.music-player-mainctrl__pause {
			opacity: 1;
		}
	}

	&--playlist {
		margin: 0;
	}
}

.music-player__next,
.music-player__prev {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	/* Main_blue */
	//border: 1px solid #25378D;
	box-sizing: border-box;
	width: 36px;
	height: 36px;
	cursor: pointer;
	border-radius: 50px;
	background: #FFFFFF;
	@include hov();
}

/*
.amplitude-volume-slide+.rangeslider {
	position: absolute;
	margin-left: -600px;
}*/
.volumeRS-wrap {
	position: absolute;
	z-index: 5;
	top: -51px;
	left: 12px;
	width: 149px;
	height: 36px;
	padding-top: 17px;
	padding-right: 14px;
	padding-left: 14px;
	transform: translateX(-50%);
	border-radius: 5px;
	background: #FFFFFF;
	box-shadow: 0px 2px 6px rgba(43, 47, 78, 0.25);
    transition: all 0.4s ease-in-out;

	&--vertical {
		padding: 14px 17px;
		height: 149px;
		width: 36px;
		top: -164px;
	}

	&::before {
		position: absolute;
		z-index: 5;
		bottom: -6px;
		left: 50%;
		display: block;
		width: 13px;
		height: 13px;
		content: '';
		transform: translateX(-50%) rotate(-45deg);
		border-radius: 0 0 0 2px;
		background: #FFFFFF;
		box-shadow: 0px 2px 6px rgba(43, 47, 78, 0.25);
	}

	&::after {
		position: absolute;
		z-index: 6;
		bottom: 0;
		left: 50%;
		display: block;
		width: 30px;
		height: 13px;
		content: '';
		transform: translateX(-50%);
		background: #FFFFFF;
	}

	opacity: 0;
	pointer-events: none;

	/*&:hover {

		opacity: 1;
		pointer-events: all;

		&+img {
			opacity: .7;
		}
	}*/
}
.music-player--lock{
	pointer-events:none;
}
.volumeRS {
	position: relative;
	z-index: 7;
	width: 100%;
	height: 2px;
	border-radius: 2px;

	&::before {
		position: absolute;
		top: -5px;
		left: 0;
		width: 100%;
		height: 12px;
		content: '';
		cursor: pointer;
		//background: rgba(255, 5, 5, 0.6);
	}

	&--horizontal {

		.volumeRS__handle {
			top: -3px !important;
		}

		.rangeslider__fill {
			height: 2px;
		}
	}

	&--vertical {
		min-height: unset;
		height: 100%;
		width: 2px;

		&::before {
			position: absolute;
			left: -10px;
			top: 0;
			width: 22px;
			height: 100%;
			content: '';
			cursor: pointer;
			//background: rgba(255, 5, 5, 0.6);
		}

		.volumeRS__handle {
			width: 8px;
			height: 2px;
			right: auto;
			left: -3px;

			&::before {
				top: -3px;
				left: 0px;
			}
		}

		.rangeslider__fill {
			height: auto;
			width: 2px;
		}
	}

	&__fill {
		border-radius: 2px;
		background: #25378D;
	}

	&__handle {
		position: absolute;
		width: 2px;
		height: 8px;
		opacity: 1;
		border: none;
		border-radius: 50px;
		background: #25378d;

		&::before {
			position: absolute;
			top: 0;
			left: -3px;
			display: block;
			width: 8px;
			height: 8px;
			content: '';
			border-radius: 50px;
			background: #25378D;
		}

		&::after {
			display: none;
		}
	}
}

.musicpl-bottom-controls {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 100%;
    margin-top: 19px;

	&__playlist,
	&__orig_link,
	&__volume {
		cursor: pointer;
		//@include hov();
	}

	&__playlist {
		width: 20px;

		img {
			width: 17px;
			height: auto;
		}
	}

	&__orig_link {
		display: flex;
		justify-content: center;
		width: 30px;

		img {
			width: 10px;
			height: 14px;
		}
	}

	&__volume {
		position: relative;
		display: flex;
		justify-content: flex-end;
		width: 20px;

		img {
			width: 17px;
			height: auto;
			transition-duration: .3s;
		}

		&--active {
			.volumeRS-wrap {
				opacity: 1;
				pointer-events: all;
			}

			img {
				opacity: .7;
			}
		}
	}
}

.music-player {
	transition-duration: .2s;
}

.music-player--playlist-on {
	border-radius: 5px 5px 0 0;

	.music-player__playlist-container {
		pointer-events: all;
		opacity: 1;
	}

}

.music-player__playlist-container {
	position: absolute;
	z-index: 5;
	top: 100%;
	left: -1px;
	box-sizing: border-box;
	width: calc(100% + 2px);
	max-width: calc(100% + 2px);
	//transition-duration: .2s;
	pointer-events: none;
	opacity: 0;
	border: 1px solid #D9DBDE;
	border-radius: 0 0 5px 5px;
	background: #ffffff;
	color: #747679;
    transition: all 0.4s ease-in-out;
	// max-height: 318px;
	// overflow: auto;
	/*&::before{
		position: absolute;
		left: -2px;
		top: -5px;
		//content: '';
		display: block;
		width: 100%;
		height: 10px;
		background: #ffffff;
		border: 1px solid #D9DBDE;
		border-top: none;
		border-bottom: none;
	}*/
}

.music-player__playlist {
	padding: 23px 18px 10px;
	position: relative;
	background: #ffffff;
}


.musicpl-playlist-item {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&.amplitude-paused {
		color: #747679;

		.music-player-mainctrl {
			.music-player-mainctrl__play {
				opacity: 1;
			}
		}
	}

	&.amplitude-playing {
		color: #25378D;

		.music-player-mainctrl {
			.music-player-mainctrl__pause {
				opacity: 1;
			}
		}
	}

	.music-player-mainctrl--playlist {}




	.custom-audio-playlist__song {
		flex-grow: 1;
		text-align: left;
		padding: 9px 10px;
		display: block;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 1.2;

		display: flex;
		align-items: center;

	}

	.custom-audio-playlist__duration {
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 21px;
		/* or 162% */

		display: flex;
		align-items: center;
		text-align: right;

		/* FieldHint */

		color: #AFB4BF;
	}

	&+.musicpl-playlist-item {
		margin-top: 12px;
	}
}

.custom-audio-playlist {

	&__artist {
		display: inline;

		&::after {
			content: ' - ';
		}
	}

	&__song {
		display: inline;
	}
}

.mpl-icon-slider {
	pointer-events: none !important;
	width: 100%;
	height: 100%;
	z-index: 2;
	&__slide{
		border-radius: 10px;
		overflow: hidden;
		position: relative;
		&::before{
			content: '';
			display: block;
			width: 100%;
			padding-top: 100%;
		}
		img{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}
}