.music-player-wrap {
	position: relative;

}

.music-player {
	position: relative;
	box-sizing: border-box;
	padding: 22px 18px 3px;
	color: $dark;
	/* FieldBorder */
	border: 1px solid #D9DBDE;
	//border: 1px solid red;
	border-bottom: none;

	  border-radius: 5px 5px 0 0;

	background: #FFFFFF;
	margin-bottom: 56px;
}

.music-player-top {}

.music-player-top__arrow,
.music-player-top__arrow {
	position: absolute;
	top: 43px;
	width: 7px;
	box-sizing: content-box;
	padding: 10px;
	cursor: pointer;
	cursor: pointer;
	z-index: 6;

	svg {
		width: 100%;
		height: auto;

		path {
			transition-duration: .2s;
		}
	}

	&:hover {
		svg path {
			fill: #6974A9;
			/*&:first-child {
				stroke: #6974A9;
			}

			&:nth-child(2) {
				fill: #6974A9;
			}*/
		}
	}
}

.music-player-top__arrow--next {
	right: 41px;
}

.music-player-top__arrow--prev {
	left: 41px;
}

.music-player-center {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.music-player__album-art {
	position: relative;
	width: 77px;
	height: auto;

	/*&::before {
		display: none;
		padding-top: 100%;
		content: '';
	}*/

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		 border-radius: 10px;
		object-fit: cover;
		object-position: center center;
	}
}

.song-meta-data {}

.music-player__song-name {
	display: block;
	/* Font_Title_dark */
	margin-top: 19px;
	text-align: center;
	color: $dark;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.2;
}

.music-player__song-artist {
	display: block;
	margin-top: 3px;
	/* identical to box height, or 162% */
	text-align: center;
	/* FieldHint */
	color: #AFB4BF;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.2;
}

.music-player__time-progress {
	width: 100%;
	margin-top: 18px;
}

.music-player__controls {
	margin-top: -2px;
}

.soundRS__progress-container {
	width: 100%;
}

.amplitude-song-slider.js-song-progress-slider {}

.soundRS {
	&--horizontal {
		position: relative;
		height: 2px;
		 border-radius: 2px;
		background: #DEE6E9;

		&::before {
			position: absolute;
			top: -5px;
			left: 0;
			width: 100%;
			height: 12px;
			content: '';
			cursor: pointer;
			//background: rgba(255, 5, 5, 0.6);
		}
	}

	&__fill {
		height: 2px;
		 border-radius: 2px;
		background: #25378D;
	}

	&__handle {
		position: absolute;
		top: -3px !important;
		width: 2px;
		height: 8px;
		opacity: 1;
		border: none;
		 border-radius: 50px;
		background: #25378d;

		&::before {
			display: none;
		}

		&::after {
			display: none;
		}
	}
}

#song-played-progress {
	display: none;
}

.music-player__time-container {
	display: flex;
	justify-content: space-between;
	margin-top: 7px;
	text-align: center;
	font-family: 'Montserrat';
	font-size: 13px;
	color: #AFB4BF;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
}

.amplitude-current-minutes,
.amplitude-duration-minutes {
	position: relative;
	display: inline-block;

	/*&::before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 9px;
		height: 100%;
		content: '';
		background: #ffffff;
	}*/
}

.music-player__current-time {
	/*margin-left: -9px;*/
}

.music-player__duration {}

.amplitude-current-minutes {}

.amplitude-current-seconds {}

.amplitude-duration-minutes {}

.amplitude-duration-seconds {}

.amplitude-prev.music-player__prev {}

.music-player__controls {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -2px;
}

.music-player-mainctrl {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 36px;
	min-width: 36px;
	height: 36px;
	margin: 0px 10px;
	cursor: pointer;
	/* Main_blue */
	border: 1px solid #25378D;

	  border-radius: 50px;
	background: #FFFFFF;
	@include hov();

	&__pause,
	&__play {
		position: absolute;
		top: 50%;
		left: 52%;
		// margin-top: -6px;
		// margin-left: -6px;
		transition-duration: .2s;
		opacity: 0;
		transform: translate(-50%, -50%);

		img,
		svg {
			display: block;
			width: 12px;
			height: 12px;
			object-fit: contain;
			object-position: center center;
		}
	}

	&__play {
		left: 55%;
	}

	&.amplitude-paused {
		.music-player-mainctrl__play {
			opacity: 1;
		}
	}

	&.amplitude-playing {
		.music-player-mainctrl__pause {
			opacity: 1;
		}
	}

	&--playlist {
		margin: 0;
		width: 28px;
		min-width: 28px;
		height: 28px;
	}
}

.music-player__next,
.music-player__prev {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	/* Main_blue */
	//border: 1px solid #25378D;
	box-sizing: border-box;
	width: 36px;
	height: 36px;
	cursor: pointer;

	  border-radius: 50px;
	background: #FFFFFF;
	@include hov();
}

/*
.amplitude-volume-slide+.rangeslider {
	position: absolute;
	margin-left: -600px;
}*/
.volumeRS-wrap {
	position: absolute;
	z-index: 5;
	top: -51px;
	left: 50%;
	width: 149px;
	height: 36px;
	padding-top: 17px;
	padding-right: 14px;
	padding-left: 14px;
	transform: translateX(-50%);
	  border-radius: 6px;

	background: #FFFFFF;
	box-shadow: 0px 2px 6px rgba(43, 47, 78, 0.25);
	transition: all 0.4s ease-in-out;

	&--vertical {
		padding: 14px 17px;
		height: 149px;
		width: 36px;
		top: -164px;
	}

	&::before {
		position: absolute;
		z-index: 5;
		bottom: -6px;
		left: 50%;
		display: block;
		width: 13px;
		height: 13px;
		content: '';
		transform: translateX(-50%) rotate(-45deg);
		  border-radius: 0 0 0 2px;
		background: #FFFFFF;
		box-shadow: 0px 2px 6px rgba(43, 47, 78, 0.25);
	}

	&::after {
		position: absolute;
		z-index: 6;
		bottom: 0;
		left: 50%;
		display: block;
		width: 30px;
		height: 13px;
		content: '';
		transform: translateX(-50%);
		background: #FFFFFF;
	}

	opacity: 0;
	pointer-events: none;

	/*&:hover {

		opacity: 1;
		pointer-events: auto;

		&+img {
			opacity: .7;
		}
	}*/
}

.music-player--lock {
	pointer-events: none;
}

.volumeRS {
	position: relative;
	z-index: 7;
	width: 100%;
	height: 2px;
	  border-radius: 2px;

	&::before {
		position: absolute;
		top: -5px;
		left: 0;
		width: 100%;
		height: 12px;
		content: '';
		cursor: pointer;
		//background: rgba(255, 5, 5, 0.6);
	}

	&--horizontal {

		.volumeRS__handle {
			top: -3px !important;
		}

		.rangeslider__fill {
			height: 2px;
		}
	}

	&--vertical {
		min-height: unset;
		height: 100%;
		width: 2px;

		&::before {
			position: absolute;
			left: -10px;
			top: 0;
			width: 22px;
			height: 100%;
			content: '';
			cursor: pointer;
			//background: rgba(255, 5, 5, 0.6);
		}

		.volumeRS__handle {
			width: 8px;
			height: 2px;
			right: auto;
			left: -3px;

			&::before {
				top: -3px;
				left: 0px;
			}
		}

		.rangeslider__fill {
			height: auto;
			width: 2px;
		}
	}

	&__fill {

		  border-radius: 2px;
		background: #25378D;
	}

	&__handle {
		position: absolute;
		width: 2px;
		height: 8px;
		opacity: 1;
		border: none;

		  border-radius: 50px;
		background: #25378d;

		&::before {
			position: absolute;
			top: 0;
			left: -3px;
			display: block;
			width: 8px;
			height: 8px;
			content: '';

			  border-radius: 50px;
			background: #25378D;
		}

		&::after {
			display: none;
		}
	}
}

.musicpl-bottom-controls {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 100%;
	margin-top: 19px;

	&__playlist,
	&__orig_link,
	&__volume {
		cursor: pointer;
		//@include hov();
	}

	&__playlist {
		width: 20px;

		img {
			width: 17px;
			height: 13px;
			object-fit: contain;
			object-position: left center;
		}
	}

	&__orig_link {
		display: flex;
		justify-content: center;
		width: 30px;

		img {
			width: 10px;
			height: 13px;
			object-fit: contain;
			object-position: center center;
		}
	}

	&__volume {
		position: relative;
		display: flex;
		justify-content: flex-end;
		width: 20px;

		img {
			width: 17px;
			height: 13px;
			transition-duration: .3s;
			object-fit: contain;
			object-position: right center;
		}

		&--active {
			.volumeRS-wrap {
				opacity: 1;
				pointer-events: auto;
			}

			img {
				opacity: .7;
			}
		}
	}
}

.music-player {
	transition-duration: .2s;
}

.music-player--playlist-on {

	//  border-radius: 5px 5px 0 0;
	&+.music-player__playlist-container {
		pointer-events: auto;

		.music-player__playlist {
			pointer-events: auto;
			//opacity: 1;
		}

	}

}

.music-player__playlist-container {
	&::before {
		content: '';
		display: block;
		width: calc(100% + 2px);
		height: 7px;
		bottom: 0;

		background: #fff;
		//border: 1px solid red;
		border: 1px solid #D9DBDE;
		border-top: none;
		 border-radius: 0 0 5px 5px;
		//border-bottom: none;
		position: absolute;
		left: -1px;
		z-index: 21;
		box-sizing: border-box;
		pointer-events: none;
	}


	pointer-events: none;
	transition-duration: .2s;
	padding-top: 6px;
	display: block;
	position: absolute;
	z-index: 20;
	top: 100%;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	border: 1px solid #D9DBDE;
	border-top: none;
	border-bottom: none;

	  border-radius: 0 0 5px 5px;
	background: #ffffff;
	color: #747679;

}

.music-player__playlist-container-2 {


	&::before {
		content: '';
		display: block;
		/*left: -1px;
		width: calc(100% + 2px);*/
		left: 18px;
		width: calc(100% - 36px);
		height: 1px;
		top: 10px;
		background: #D9DBDE;
		position: absolute;

		z-index: 21;
		box-sizing: border-box;
		opacity: 0;
		transition-duration: .8s;

	}

	&--show-line {
		&::before {
			opacity: 1;
		}
	}

	/*	display: block;
	position: absolute;
	z-index: 5;
	top: 100%;
	left: -1px;
	box-sizing: border-box;
	width: calc(100% + 2px);
	max-width: calc(100% + 2px);
	//transition-duration: .2s;
	border: 1px solid #D9DBDE;
	border-top: none;
	  border-radius: 0 0 5px 5px;
	background: #ffffff;
	color: #747679;
	overflow: hidden;*/
}

.simplebar-content-wrapper{
	&::-webkit-scrollbar { display: none; }
}

.music-player__playlist-inner {
	&::-webkit-scrollbar { display: none; }
	*::-webkit-scrollbar { display: none; }
	overflow: auto;
	overflow-x: hidden;
	position: relative;
	max-height: 120px;
	height: 120px;
	padding-right: 12px;
	transition: color .3s linear !important;
	color: rgba(0, 0, 0, 0);

	.simplebar-track.simplebar-vertical {
		cursor: pointer;
	}

	.simplebar-scrollbar.simplebar-visible {
		cursor: pointer;
		background: #D9DBDE;
		transition: opacity .4s linear;
		 border-radius: 6px;
		width: 3px;
		left: 8px;
		right: 0px;

		@media screen and (min-width: 1151px) {
			opacity: 0;
		}
	}
}

.music-player__playlist {
	padding: 21px 5px 24px 18px;

	position: relative;
	background: #ffffff;
	pointer-events: none;
	//opacity: 0;
	transition: all 0.4s ease-in-out;


	&:hover .music-player__playlist-inner .simplebar-scrollbar.simplebar-visible {
		opacity: 1;
	}

}


.musicpl-playlist-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: 0;
	transition: all 0.4s ease-in-out;

	&.amplitude-paused {
		color: #747679;

		.music-player-mainctrl {
			.music-player-mainctrl__play {
				opacity: 1;
			}
		}
	}

	&.amplitude-playing {
		color: #25378D;

		.music-player-mainctrl {
			.music-player-mainctrl__pause {
				opacity: 1;
			}
		}
	}

	&:not(.amplitude-playing) {
		.music-player-mainctrl--playlist {
			border-color: #AFB4BF;

			svg path {
				fill: #AFB4BF;
			}
		}
	}



	&--visible {
		opacity: 1;
	}

	&--pseudo {
		.music-player-mainctrl--playlist {
			border-color: #D9DBDE !important;

			svg path {
				fill: #D9DBDE !important;
			}
		}

		color: #D9DBDE !important;

		.custom-audio-playlist__duration,
		.custom-audio-playlist__duration {
			color: #D9DBDE !important;
		}
	}

	&:nth-child(1) {
		transition-duration: .1s;
	}

	&:nth-child(2) {
		transition-duration: .2s;
	}

	&:nth-child(3) {
		transition-duration: .3s;
	}

	&:nth-child(4) {
		transition-duration: .4s;
	}

	&:nth-child(5) {
		transition-duration: .5s;
	}

	&:nth-child(6) {
		transition-duration: .6s;
	}

	&:nth-child(7) {
		transition-duration: .7s;
	}

	&:nth-child(8) {
		transition-duration: .8s;
	}

	&:nth-child(9) {
		transition-duration: .9s;
	}

	&:nth-child(10) {
		transition-duration: 1s;
	}


	.custom-audio-playlist__song {
		flex-grow: 1;
		text-align: left;
		padding: 9px 10px 9px 15px;
		display: block;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 1.2;

		display: flex;
		align-items: center;

	}

	.custom-audio-playlist__duration {
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 21px;
		/* or 162% */

		display: flex;
		align-items: center;
		text-align: right;

		/* FieldHint */

		color: #AFB4BF;
	}

	&+.musicpl-playlist-item {
		margin-top: 9px;
	}

}

.custom-audio-playlist {

	&__artist {
		display: inline;

		&::after {
			content: ' - ';
		}
	}

	&__song {
		display: inline;
	}
}

.music-player__swipe-area {
	//background: rgba(255, 0, 0, 0.467);
	position: absolute;
	left: 42px;
	right: 42px;
	top: 22px;
	height: 77px;
	left: 60px;
	right: 60px;
	z-index: 5;
}

.mpl-icon-slider {
	width: 100%;
	height: 100%;
	z-index: 2;
	pointer-events: none;

	.slick {
		&-slide {
			margin: 0 2px;
		}

		&-list {
			margin-left: -2px;
			margin-right: -2px;
		}
	}

	&__slide {
		 border-radius: 10px;
		overflow: hidden;
		position: relative;
		//-webkit-mask-image: -webkit-radial-gradient(white,#000);
		&::before {
			content: '';
			display: block;
			width: 100%;
			padding-top: 100%;
		}

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}
}