@media screen and (min-width: 1151px) {
	.mpl-icon-slider {
		pointer-events: none !important;
	}
}

@media screen and (max-width: 1150px) {

	.music-player-wrap {
		margin-bottom: 57px;

	}

	.music-player__swipe-area {
		top: 36px;
		height: 100px;
		left: 47px;
		right: 47px;
	}

	.music-player {
		margin: 0 auto;
		margin-bottom: 0;
		width: 100%;
		padding: 36px 35px 18px;

		&__album-art {
			width: 100px;
		}

		&__song-name {
			margin-top: 20px;
			color: $darktm;
		}

		&__song-artist {
			margin-top: 8px;
		}

		&__time-progress {
			margin-top: 28px;
		}

		&__time-container {
			margin-top: 9px;
		}

		.musicpl-bottom-controls {
			margin-top: 12px;
		}

		.music-player-top__arrow {
			top: 75px;
			width: 11px;
		}

		.music-player-top__arrow--prev {
			left: 24px;
		}

		.music-player-top__arrow--next {
			right: 24px;
		}

		.music-player-top__next,
		.music-player-top__prev {
			position: absolute;
			top: 79px;
			width: 28px;
			height: 28px;
			cursor: pointer;

			svg {
				width: 100%;
				height: auto;
			}
		}
	}

	.music-player__playlist-container {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
		padding-top: 6px;
	}
}


@media screen and (max-width: 749px) {

	//767 было
	.music-player-wrap {
		margin-bottom: vw(94);

	}

	.music-player__swipe-area {
		top: vw(36);
		height: vw(114);
		left: vw(52);
		right: vw(52);
	}

	.music-player {
		margin: 0 auto;
		margin-bottom: 0;
		width: 100%;
		padding: vw(36) 0 vw(2);

		&__album-art {
			width: vw(115);
		}

		&__song-name {
			margin-top: vw(21);
			font-size: vw(13);
		}

		&__song-artist {
			margin-top: vw(8);
			font-size: vw(13);
		}

		&__time-progress {
			margin-top: vw(28);
		}

		&__current-time {}

		&__time-container {

			font-size: vw(13);
			margin-top: vw(9);
		}

		&__controls {
			margin-top: vw(-2);
		}

		&-center {

			margin: 0 auto;
			width: vw(288);
		}


		.musicpl-bottom-controls {
			margin-top: vw(22);
			margin-bottom: vw(6);

			&__orig_link {

				// display: none;
				img {

					width: vw(11);
					height: vw(14);
				}
			}

			&__volume {
				width: vw(20);

				// display: none;
				img {

					width: vw(18);
					height: vw(14);
				}
			}

			&__playlist {
				width: vw(20);

				// display: none;
				img {

					width: vw(18);
					height: vw(14);
				}
			}
		}

		.music-player-top__arrow--prev {
			left: vw(27);
		}

		.music-player-top__arrow--next {
			right: vw(27);
		}

		.music-player-top__arrow {
			position: absolute;
			top: vw(74);
			width: vw(11);
			height: vw(28);
			cursor: pointer;
		}

		.music-player__arrow,
		.music-player__arrow {
			width: vw(36);
			height: vw(36);

			svg {
				width: 100%;
				height: auto;
			}
		}

		.music-player-mainctrl {
			width: vw(36);
			min-width: vw(36);
			height: vw(36);
			margin: 0 vw(10);
		}

		.music-player-mainctrl__pause img,
		.music-player-mainctrl__pause svg,
		.music-player-mainctrl__play img,
		.music-player-mainctrl__play svg {

			width: vw(12);
			min-width: 12px;
			height: vw(12);
			min-height: 12px;
		}
	}

	.music-player-mainctrl__pause img,
	.music-player-mainctrl__pause svg,
	.music-player-mainctrl__play img,
	.music-player-mainctrl__play svg {
		width: vw(12);
		height: vw(12);
	}

	.music-player__playlist-container {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
		padding-top: 6px;
		;
		background: #ffffff;
	}

	.musicpl-playlist-item .custom-audio-playlist__song {

		padding: vw(9) vw(14);
		font-size: vw(13);
	}


	.musicpl-playlist-item .custom-audio-playlist__duration {
		font-size: vw(13);
		line-height: vw(21);
	}

	.musicpl-playlist-item+.musicpl-playlist-item {
		margin-top: vw(8);
	}

	.music-player__playlist {
		//padding: vw(26) vw(20) vw(50) vw(22);
		padding: vw(26) vw(5) vw(50) vw(22);
	}

	.music-player__playlist-inner {
		position: relative;
		max-height: vw(242);
		padding-right: vw(12);

		&::-webkit-scrollbar {
			width: vw(4);
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 15px;
			width: vw(4);
		}


	}

	.music-player-mainctrl--playlist {
		margin: 0 !important;

		width: vw(28);
		min-width: vw(28);
		height: vw(28);
	}

	.music-player__next,
	.music-player__prev {

		width: vw(36);
		height: vw(36);
		border-radius: vw(50);

		img {
			width: vw(12);
		}

	}


}