@media screen and (max-width: 1150px) {
    .music-player {
        margin: 0 auto;
        margin-bottom: 59px;
        width: 92%;
        padding: 34px 35px 10px;
        &__album-art {
            width: 102px;
        }
        &__song-artist {
            margin-top: 8px;
        }
        &__time-progress {
            margin-top: 28px;
        }
        .musicpl-bottom-controls {
            margin-bottom: 12px;
        }
        .music-player-top__prev {
            left: 25px;
        }
        .music-player-top__next {
            right: 25px;
        }
        .music-player-top__next, .music-player-top__prev {
            position: absolute;
            top: 79px;
            width: 28px;
            height: 28px;
            cursor: pointer;
        }
    }
}


@media screen and (max-width: 768px) {
    .music-player {
        margin: 0 auto;
        margin-bottom: vw(94);
        width: 100%;
        padding: vw(34) vw(24) vw(10);
        &__album-art {
            width: vw(115);
        }
        &__song-name {
                margin-top: vw(20);
                font-size: vw(13);
        }
        &__song-artist {
            margin-top: vw(8);
            font-size: vw(13    );
        }
        &__time-progress {
            margin-top: vw(28);
        }
        &__current-time {
        }
        .musicpl-bottom-controls {
            margin-bottom: vw(12);
        }
        .music-player-top__prev {
            left: vw(25);
        }
        .music-player-top__next {
            right: vw(25);
        }
        .music-player-top__next, .music-player-top__prev {
            position: absolute;
            top: vw(79);
            width: vw(28);
            height: vw(28);
            cursor: pointer;
        }
    }
}