.simple-add-to-calendar {
	margin-top: 44px;


	@media screen and (max-width: 1150px) {
		margin-top: 41px;
	}

	@media screen and (max-width: 749px) {
		margin-top: vw(50);
	}

	&+*,&+.simple-add-to-calendar__hr-after-mob+* {

		margin-top: 59px;

		@media screen and (max-width: 1150px) {
			margin-top: 58px;
		}

		@media screen and (max-width: 749px) {
			margin-top: vw(58);
		}
	}

	&+.kspc-media-wrap,&+.simple-add-to-calendar__hr-after-mob+.kspc-media-wrap{
		@media screen and (min-width: 1151px) {
			margin-top: 93px;
		}
	}
}

.kspc-event-calendar--simple-add {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 0;
	margin-left: -11px;

	@media screen and (max-width: 1150px) {
		margin-left: -9px;
	}

	@media screen and (max-width: 749px) {
		margin-left: -4.16667vw;
		width: auto;
	}
}

.kspc-event-btn--simple-add {

	@media screen and (max-width: 1150px) {}

	@media screen and (max-width: 749px) {}
}

.simple-add-to-calendar__btn-wrap {
	display: flex;
	justify-content: center;
	width: 100%;

	@media screen and (max-width: 1150px) {}

	@media screen and (max-width: 749px) {}
}