section.ks-post-constructor.ks-post-constructor--support-page
	.kspc-simple-text.kspc-simple-text--has-title
		.container.container--ks
			.kspc-simple-text__h2 Поддержите распространение знаний о Науке Крийя
			.kspc-simple-text__p.custom-ul
				//.custom-ul--grey-dots.custom-ul--no-p-l
				p Приобретая материалы и записи Имрам Крийя, вы напрямую участвуете в распространении настоящих Знаний, помогаете себе и своим близким, гармонизируете наше пространство и повышаете вибрации всей Планеты.
				p Все полученные средства направляются на развитие и распространение знаний. Мы развиваем очень много направлений, в том числе:
				ul
					li Youtube-каналы (русский, английский, Imram music)
					li Проводим бесплатные онлайн вебинары, сатсанги, медитации
					li Транслируем бесплатные онлайн-концерты
					li Реклама в социальных сетях
					li Выездные съемки



	.kspc-slider-block
		.container.container--ks
			.kspc-slider.js-kspc-slider.custom-dots
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=1")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=1", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=2")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=2", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=3")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=3", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=4")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=4", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=5")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=5", alt="")


	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__p.custom-ul
				//.custom-ul--grey-dots.custom-ul--no-p-l
				p Благодаря вашей поддержке десятки тысяч и миллионы людей получают возможность встать на путь духовного развития и узнают о Крийя.
				p Многие уже изменили свою жизнь к лучшему, избавились от вредных привычек, гармонизировали семейные отношения, стали добрее, терпимее к своим родными и близкими, многие ребята раскрыли в себе новые таланты и безграничный творческий потенциал, заложенный в каждого из нас.
				p Вы также можете сделать подарок для ваших друзей, родных, близких или просто подарите возможность просмотра другим.
				p Чтобы это сделать, выберите комплект, которым вы хотели бы поделиться и введите колличество (например вы хотите подарить его 7-ми друзьям).<br> Благодарим за ваше участие и поддержку!

	.container.container--ks.support-block-hr-before
		.hr
	.support-block
		.container.container--ks
			h2.kspc-h2-style.support-block__title Выберите подходящий вариант
			.support-block-row
				.support-block-card(data-single-price="800")
					.support-block-card__title Комплект 1
					.support-block-card__pic
						img(src="img/gallery/photo1.jpg", alt="")
					.support-block-card__desc-title Состав комплекта
					.support-block-card__desc
						p Вебинар "Медитация как она есть"
					.support-block-card__price-title Стоимость и количество
					.support-block-card__price-and-count
						.support-block-card__count
							.cnumber-input.js-cnumber-input
								.cnumber-input__minus.js-cnumber-input__minus
								.cnumber-input__center
									input.cnumber-input__inp(type="number", name="" value="1")
								.cnumber-input__plus.js-cnumber-input__plus
						.support-block-card__price
							span 800
							|  рублей
					a.btn.support-block-card__btn(href="") Поддержать

				.support-block-card(data-single-price="1500")
					.support-block-card__title Комплект 2
					.support-block-card__pic
						img(src="img/gallery/photo1.jpg", alt="")
					.support-block-card__desc-title Состав комплекта
					.support-block-card__desc
						p Лекция "Медитация это просто"
						p Вебинар "Важность духовной практики<br class="dt dm"> в эту эпоху"

					.support-block-card__price-title Стоимость и количество
					.support-block-card__price-and-count
						.support-block-card__count
							.cnumber-input.js-cnumber-input
								.cnumber-input__minus.js-cnumber-input__minus
								.cnumber-input__center
									input.cnumber-input__inp(type="number", name="" value="1")
								.cnumber-input__plus.js-cnumber-input__plus
						.support-block-card__price
							span 1 500
							|  рублей
					a.btn.support-block-card__btn(href="") Поддержать


				.support-block-card(data-single-price="3000")
					.support-block-card__title Комплект 3
					.support-block-card__pic
						img(src="img/gallery/photo1.jpg", alt="")
					.support-block-card__desc-title Состав комплекта
					.support-block-card__desc
						p Лекция "Сила мысли и намерения"
						p Вебинар "Как найти свой духовный путь и обрести спокойствие ума"
						p Лекция "Алхимия тела"
						p Лекция "Крийя - совершенный метод, ключи к&nbsp;самореализации"
					.support-block-card__price-title Стоимость и количество
					.support-block-card__price-and-count
						.support-block-card__count
							.cnumber-input.js-cnumber-input
								.cnumber-input__minus.js-cnumber-input__minus
								.cnumber-input__center
									input.cnumber-input__inp(type="number", name="" value="1")
								.cnumber-input__plus.js-cnumber-input__plus
						.support-block-card__price
							span 3 000
							|  рублей
					a.btn.support-block-card__btn(href="") Поддержать

				.support-block-card(data-single-price="9000")
					.support-block-card__title Комплект 4
					.support-block-card__pic
						img(src="img/gallery/photo1.jpg", alt="")
					.support-block-card__desc-title Состав комплекта
					.support-block-card__desc
						p Погружение в Крийя - комплект<br class="dd dm"> из 12 вебинаров и лекций

					.support-block-card__price-title Стоимость и количество
					.support-block-card__price-and-count
						.support-block-card__count
							.cnumber-input.js-cnumber-input
								.cnumber-input__minus.js-cnumber-input__minus
								.cnumber-input__center
									input.cnumber-input__inp(type="number", name="" value="1")
								.cnumber-input__plus.js-cnumber-input__plus
						.support-block-card__price
							span 9 000
							|  рублей
					a.btn.support-block-card__btn(href="") Поддержать

