section.band
    .container.band__container
        .section-title.band__title Наши статьи
        .band__row
            .card.band__card
                .card__img-wrapper.band__img-wrapper
                    img.card__img.band__img(src="img/0000FF.png")
                .card__title.band__card-title Прана - жизненная сила
                .card__theme.band__theme-wrapper
                    a.card__theme-link.band__theme-link Саморазвитие
                    .card__theme-date.band__theme-date 20 фев 2021
                    .card__theme-icon.band__theme-icon
                .card__desc.band__theme-desc Это способность сохранить концентрацию на высокой Идее вплоть до ее полного проявления...
            .card.band__card
                .card__img-wrapper.band__img-wrapper
                    img.card__img.band__img(src="img/0000FF.png")
                .card__title.band__card-title Прана - жизненная сила
                .card__theme.band__theme-wrapper
                    a.card__theme-link.band__theme-link Саморазвитие
                    .card__theme-date.band__theme-date 20 фев 2021
                    .card__theme-icon.band__theme-icon
                .card__desc.band__theme-desc Это способность сохранить концентрацию на высокой Идее вплоть до ее полного проявления...
            .card.band__card
                .card__img-wrapper.band__img-wrapper
                    img.card__img.band__img(src="img/0000FF.png")
                .card__title.band__card-title Прана - жизненная сила
                .card__theme.band__theme-wrapper
                    a.card__theme-link.band__theme-link Саморазвитие
                    .card__theme-date.band__theme-date 20 фев 2021
                    .card__theme-icon.band__theme-icon
                .card__desc.band__theme-desc Это способность сохранить концентрацию на высокой Идее вплоть до ее полного проявления...
            .card.band__card
                .card__img-wrapper.band__img-wrapper
                    img.card__img.band__img(src="img/0000FF.png")
                .card__title.band__card-title Прана - жизненная сила
                .card__theme.band__theme-wrapper
                    a.card__theme-link.band__theme-link Саморазвитие
                    .card__theme-date.band__theme-date 20 фев 2021
                    .card__theme-icon.band__theme-icon
                .card__desc.band__theme-desc Это способность сохранить концентрацию на высокой Идее вплоть до ее полного проявления...
            .card.band__card
                .card__img-wrapper.band__img-wrapper
                    img.card__img.band__img(src="img/0000FF.png")
                .card__title.band__card-title Прана - жизненная сила
                .card__theme.band__theme-wrapper
                    a.card__theme-link.band__theme-link Саморазвитие
                    .card__theme-date.band__theme-date 20 фев 2021
                    .card__theme-icon.band__theme-icon
                .card__desc.band__theme-desc Это способность сохранить концентрацию на высокой Идее вплоть до ее полного проявления...
            .card.band__card
                .card__img-wrapper.band__img-wrapper
                    img.card__img.band__img(src="img/0000FF.png")
                .card__title.band__card-title Прана - жизненная сила
                .card__theme.band__theme-wrapper
                    a.card__theme-link.band__theme-link Саморазвитие
                    .card__theme-date.band__theme-date 20 фев 2021
                    .card__theme-icon.band__theme-icon
                .card__desc.band__theme-desc Это способность сохранить концентрацию на высокой Идее вплоть до ее полного проявления...
            .card.band__card
                .card__img-wrapper.band__img-wrapper
                    img.card__img.band__img(src="img/0000FF.png")
                .card__title.band__card-title Прана - жизненная сила
                .card__theme.band__theme-wrapper
                    a.card__theme-link.band__theme-link Саморазвитие
                    .card__theme-date.band__theme-date 20 фев 2021
                    .card__theme-icon.band__theme-icon
                .card__desc.band__theme-desc Это способность сохранить концентрацию на высокой Идее вплоть до ее полного проявления...
            .card.band__card
                .card__img-wrapper.band__img-wrapper
                    img.card__img.band__img(src="img/0000FF.png")
                .card__title.band__card-title Прана - жизненная сила
                .card__theme.band__theme-wrapper
                    a.card__theme-link.band__theme-link Саморазвитие
                    .card__theme-date.band__theme-date 20 фев 2021
                    .card__theme-icon.band__theme-icon
                .card__desc.band__theme-desc Это способность сохранить концентрацию на высокой Идее вплоть до ее полного проявления...
            .card.band__card
                .card__img-wrapper.band__img-wrapper
                    img.card__img.band__img(src="img/0000FF.png")
                .card__title.band__card-title Прана - жизненная сила
                .card__theme.band__theme-wrapper
                    a.card__theme-link.band__theme-link Саморазвитие
                    .card__theme-date.band__theme-date 20 фев 2021
                    .card__theme-icon.band__theme-icon
                .card__desc.band__theme-desc Это способность сохранить концентрацию на высокой Идее вплоть до ее полного проявления...
            .card.band__card
                .card__img-wrapper.band__img-wrapper
                    img.card__img.band__img(src="img/0000FF.png")
                .card__title.band__card-title Прана - жизненная сила
                .card__theme.band__theme-wrapper
                    a.card__theme-link.band__theme-link Саморазвитие
                    .card__theme-date.band__theme-date 20 фев 2021
                    .card__theme-icon.band__theme-icon
                .card__desc.band__theme-desc Это способность сохранить концентрацию на высокой Идее вплоть до ее полного проявления...
        .pagination.band__pagination
            a.pagination__arrow.pagination__prev()
                include ../../../img/hm-feedback/arrow-prev.svg
            a.pagination__paginate.pagination__paginate-active 1
            a.pagination__paginate 2
            a.pagination__paginate 3
            a.pagination__paginate 4
            .pagination__paginate-more ...
            a.pagination__paginate 69
            a.pagination__arrow.pagination__next
                include ../../../img/hm-feedback/arrow-next.svg