section.section-category-slider
	.container.article-master-container.container--disable-on-desktop
		.artimaster-section-title.section-category-slider__title Категории
	.container.article-master-container.article-master-container--tab-no-r.article-master-container--mob-no-r.container--disable-on-desktop
		.category-slider.custom-dots
			a.category-slide(href="")
				.category-slide__img-wrapper
					img.category-slide__img(src='img/DEE6E9.png')
					.category-slide__category-name
						span Саморазвитие
			a.category-slide(href="")
				.category-slide__img-wrapper
					img.category-slide__img(src='img/DEE6E9.png')
					.category-slide__category-name
						span Наука Крийя
			a.category-slide(href="")
				.category-slide__img-wrapper
					img.category-slide__img(src='img/DEE6E9.png')
					.category-slide__category-name
						span Творчество
			a.category-slide(href="")
				.category-slide__img-wrapper
					img.category-slide__img(src='img/DEE6E9.png')
					.category-slide__category-name
						span Саморазвитие
			a.category-slide(href="")
				.category-slide__img-wrapper
					img.category-slide__img(src='img/DEE6E9.png')
					.category-slide__category-name
						span Наука Крийя
			a.category-slide(href="")
				.category-slide__img-wrapper
					img.category-slide__img(src='img/DEE6E9.png')
					.category-slide__category-name
						span Творчество