section.section-category-slider
	.container.section-category-slider__container
		.section-title.section-category-slider__title Категории
		.category-slider.custom-dots
			a.category-slide(href="")
				.category-slide__img-wrapper
					img.category-slide__img(src='img/DEE6E9.png')
					.category-slide__category-name
						span Саморазвитие
			a.category-slide(href="")
				.category-slide__img-wrapper
					img.category-slide__img(src='img/DEE6E9.png')
					.category-slide__category-name
						span Наука Крийя
			a.category-slide(href="")
				.category-slide__img-wrapper
					img.category-slide__img(src='img/DEE6E9.png')
					.category-slide__category-name
						span Творчество
			a.category-slide(href="")
				.category-slide__img-wrapper
					img.category-slide__img(src='img/DEE6E9.png')
					.category-slide__category-name
						span Саморазвитие
			a.category-slide(href="")
				.category-slide__img-wrapper
					img.category-slide__img(src='img/DEE6E9.png')
					.category-slide__category-name
						span Наука Крийя
			a.category-slide(href="")
				.category-slide__img-wrapper
					img.category-slide__img(src='img/DEE6E9.png')
					.category-slide__category-name
						span Творчество