section.section-category-slider
    .container.section-category-slider__container
        .section-category-slider__title Категории
        .category-slider
            .category-slide
                .category-slide__img-wrapper
                    img.category-slide__img(src='https://via.placeholder.com/500x300/0000FF')
                    .category-slide__category-name Саморазвитие
            .category-slide
                .category-slide__img-wrapper
                    img.category-slide__img(src='https://via.placeholder.com/500x300/0000FF')
                    .category-slide__category-name Наука Крийя
            .category-slide
                .category-slide__img-wrapper
                    img.category-slide__img(src='https://via.placeholder.com/500x300/0000FF')
                    .category-slide__category-name Творчество
            .category-slide
                .category-slide__img-wrapper
                    img.category-slide__img(src='https://via.placeholder.com/500x300/0000FF')
                    .category-slide__category-name Саморазвитие
            .category-slide
                .category-slide__img-wrapper
                    img.category-slide__img(src='https://via.placeholder.com/500x300/0000FF')
                    .category-slide__category-name Наука Крийя
            .category-slide
                .category-slide__img-wrapper
                    img.category-slide__img(src='https://via.placeholder.com/500x300/0000FF')
                    .category-slide__category-name Творчество