section.section-category-slider
    .container.section-category-slider__container
        .section-title.section-category-slider__title Категории
        .category-slider
            .category-slide
                .category-slide__img-wrapper
                    img.category-slide__img(src='img/0000FF.png')
                    .category-slide__category-name Саморазвитие
            .category-slide
                .category-slide__img-wrapper
                    img.category-slide__img(src='img/0000FF.png')
                    .category-slide__category-name Наука Крийя
            .category-slide
                .category-slide__img-wrapper
                    img.category-slide__img(src='img/0000FF.png')
                    .category-slide__category-name Творчество
            .category-slide
                .category-slide__img-wrapper
                    img.category-slide__img(src='img/0000FF.png')
                    .category-slide__category-name Саморазвитие
            .category-slide
                .category-slide__img-wrapper
                    img.category-slide__img(src='img/0000FF.png')
                    .category-slide__category-name Наука Крийя
            .category-slide
                .category-slide__img-wrapper
                    img.category-slide__img(src='img/0000FF.png')
                    .category-slide__category-name Творчество