.maslider-section
	.maslider.js-maslider
		.maslider-slide
			a.maslider-slide__inner(href="")
				picture
					source(srcset='img/maslider/mobile.jpg' media='(max-width: 749px)')
					source(srcset='img/maslider/desktop.jpg')
					img.maslider-slide__img(srcset='img/maslider/desktop.jpg' alt='My default image')
				.maslider-slide__title
					span Как возникает эго
		.maslider-slide
			a.maslider-slide__inner(href="")
				picture
					source(srcset='img/maslider/mobile.jpg' media='(max-width: 749px)')
					source(srcset='img/maslider/desktop.jpg')
					img.maslider-slide__img(srcset='img/maslider/desktop.jpg' alt='My default image')
				.maslider-slide__title
					span Как возникает эго
		.maslider-slide
			a.maslider-slide__inner(href="")
				picture
					source(srcset='img/maslider/mobile.jpg' media='(max-width: 749px)')
					source(srcset='img/maslider/desktop.jpg')
					img.maslider-slide__img(srcset='img/maslider/desktop.jpg' alt='My default image')
				.maslider-slide__title
					span Как возникает эго
		.maslider-slide
			a.maslider-slide__inner(href="")
				picture
					source(srcset='img/maslider/mobile.jpg' media='(max-width: 749px)')
					source(srcset='img/maslider/desktop.jpg')
					img.maslider-slide__img(srcset='img/maslider/desktop.jpg' alt='My default image')
				.maslider-slide__title
					span Как возникает эго
		.maslider-slide
			a.maslider-slide__inner(href="")
				picture
					source(srcset='img/maslider/mobile.jpg' media='(max-width: 749px)')
					source(srcset='img/maslider/desktop.jpg')
					img.maslider-slide__img(srcset='img/maslider/desktop.jpg' alt='My default image')
				.maslider-slide__title
					span Как возникает эго