section.new-article
    .container.new-article__container
        .new-article__header
            .section-title.new-article__title Новые статьи
            .new-article__link-more.read-more См. все
        .new-article__slider.article-slider
            .card.new-article__slider-card
                .card__img-wrapper.new-article__card-img-wrapper
                    img.card__img.new-article__card-img(src="https://via.placeholder.com/500x300/0000FF")
                .card__title.new-article__card-title Как возникает эго
                .card__theme.new-article__theme-wrapper
                    a.card__theme-link.new-article__theme-link(href="#") Саморазвитие
                    .card__theme-date.new-article__theme-date 20 фев 2021
                    .card__theme-icon.new-article__theme-icon
                .card__desc.new-article__desc Крийя является физическим, духовным и научным методом. Крийя является физическим, духовным и научным методом
            .card.new-article__slider-card
                .card__img-wrapper.new-article__card-img-wrapper
                    img.card__img.new-article__card-img(src="https://via.placeholder.com/500x300/0000FF")
                .card__title.new-article__card-title Как возникает эго
                .card__theme.new-article__theme-wrapper
                    a.card__theme-link.new-article__theme-link(href="#") Саморазвитие
                    .card__theme-date.new-article__theme-date 20 фев 2021
                    .card__theme-icon.new-article__theme-icon
                .card__desc.new-article__desc Крийя является физическим, духовным и научным методом. Крийя является физическим, духовным и научным методом
            .card.new-article__slider-card
                .card__img-wrapper.new-article__card-img-wrapper
                    img.card__img.new-article__card-img(src="https://via.placeholder.com/500x300/0000FF")
                .card__title.new-article__card-title Как возникает эго
                .card__theme.new-article__theme-wrapper
                    a.card__theme-link.new-article__theme-link(href="#") Саморазвитие
                    .card__theme-date.new-article__theme-date 20 фев 2021
                    .card__theme-icon.new-article__theme-icon
                .card__desc.new-article__desc Крийя является физическим, духовным и научным методом. Крийя является физическим, духовным и научным методом
            .card.new-article__slider-card
                .card__img-wrapper.new-article__card-img-wrapper
                    img.card__img.new-article__card-img(src="https://via.placeholder.com/500x300/0000FF")
                .card__title.new-article__card-title Как возникает эго
                .card__theme.new-article__theme-wrapper
                    a.card__theme-link.new-article__theme-link(href="#") Саморазвитие
                    .card__theme-date.new-article__theme-date 20 фев 2021
                    .card__theme-icon.new-article__theme-icon
                .card__desc.new-article__desc Крийя является физическим, духовным и научным методом. Крийя является физическим, духовным и научным методом
            .card.new-article__slider-card
                .card__img-wrapper.new-article__card-img-wrapper
                    img.card__img.new-article__card-img(src="https://via.placeholder.com/500x300/0000FF")
                .card__title.new-article__card-title Как возникает эго
                .card__theme.new-article__theme-wrapper
                    a.card__theme-link.new-article__theme-link(href="#") Саморазвитие
                    .card__theme-date.new-article__theme-date 20 фев 2021
                    .card__theme-icon.new-article__theme-icon
                .card__desc.new-article__desc Крийя является физическим, духовным и научным методом. Крийя является физическим, духовным и научным методом