section.new-article
    .container.new-article__container
        .new-article__header
            .new-article__title Новые статьи
            .new-article__link-more.read-more См. все
        .new-article__slider.article-slider
            .new-article__slider-card
                .new-article__card-img-wrapper
                    img.new-article__card-img(src="https://via.placeholder.com/500x300/0000FF")
                .slider-title.new-article__card-title Как возникает эго
                .slider-group.new-article__theme-wrapper
                    a.slider-link.new-article__theme-link(href="#") Саморазвитие
                    .slider-date.new-article__theme-date 20 фев 2021
                    img.slider-icon.new-article__theme-icon(src="img/icons/subscribe.svg")
                .new-article__desc Крийя является физическим, духовным и научным методом. Крийя является физическим, духовным и научным методом
            .new-article__slider-card
                .new-article__card-img-wrapper
                    img.new-article__card-img(src="https://via.placeholder.com/500x300/0000FF")
                .new-article__card-title Как возникает эго
                .new-article__theme-wrapper
                    a.new-article__theme-link(href="#") Саморазвитие
                    .new-article__theme-date 20 фев 2021
                    img.new-article__theme-icon(src="img/icons/subscribe.svg")
                .new-article__desc Крийя является физическим, духовным и научным методом. Крийя является физическим, духовным и научным методом
            .new-article__slider-card
                .new-article__card-img-wrapper
                    img.new-article__card-img(src="https://via.placeholder.com/500x300/0000FF")
                .new-article__card-title Как возникает эго
                .new-article__theme-wrapper
                    a.new-article__theme-link(href="#") Саморазвитие
                    .new-article__theme-date 20 фев 2021
                    img.new-article__theme-icon(src="img/icons/subscribe.svg")
                .new-article__desc Крийя является физическим, духовным и научным методом. Крийя является физическим, духовным и научным методом
            .new-article__slider-card
                .new-article__card-img-wrapper
                    img.new-article__card-img(src="https://via.placeholder.com/500x300/0000FF")
                .new-article__card-title Как возникает эго
                .new-article__theme-wrapper
                    a.new-article__theme-link(href="#") Саморазвитие
                    .new-article__theme-date 20 фев 2021
                    img.new-article__theme-icon(src="img/icons/subscribe.svg")
                .new-article__desc Крийя является физическим, духовным и научным методом. Крийя является физическим, духовным и научным методом
            .new-article__slider-card
                .new-article__card-img-wrapper
                    img.new-article__card-img(src="https://via.placeholder.com/500x300/0000FF")
                .new-article__card-title Как возникает эго
                .new-article__theme-wrapper
                    a.new-article__theme-link(href="#") Саморазвитие
                    .new-article__theme-date 20 фев 2021
                    img.new-article__theme-icon(src="img/icons/subscribe.svg")
                .new-article__desc Крийя является физическим, духовным и научным методом. Крийя является физическим, духовным и научным методом