section.new-article
	.container.article-master-container.container--disable-on-desktop
		.new-article__header
			.artimaster-section-title.new-article__title Новые статьи
			.new-article__link-more.read-more См. все

	.container.article-master-container.article-master-container--tab-no-r.article-master-container--mob-no-r.container--disable-on-desktop
		.new-article__slider.article-slider.custom-dots
			.card.new-article__slider-card
				a.card__img-wrapper.new-article__card-img-wrapper(href="")
					img.card__img.new-article__card-img(src="img/0000FF.png")
				.card__title.new-article__card-title Как возникает эго
				.card__theme.new-article__theme-wrapper
					a.card__theme-link.new-article__theme-link(href="#") Саморазвитие
					.card__theme-date.new-article__theme-date 20 фев 2021
					.card__theme-icon.new-article__theme-icon.js-share(src="img/icons/subscribe.svg" data-title="Имрам Видео" data-url="http://imram.q7.by/videos" data-picture="http://htmlbook.ru/files/images/samcss/fig15-3.png" data-description="В этом разделе мы представляем уникальные материалы. Каждая статья несет в себе личный Опыт Мастера Имрама. Здесь вы найдете множество ключей, подсказок и ответов на самые животрепещущие вопросы.")
				.card__desc.new-article__desc Крийя является физическим, духовным и научным методом...
			.card.new-article__slider-card
				a.card__img-wrapper.new-article__card-img-wrapper(href="")
					img.card__img.new-article__card-img(src="img/0000FF.png")
				.card__title.new-article__card-title Как возникает эго
				.card__theme.new-article__theme-wrapper
					a.card__theme-link.new-article__theme-link(href="#") Саморазвитие
					.card__theme-date.new-article__theme-date 20 фев 2021
					.card__theme-icon.new-article__theme-icon.js-share(src="img/icons/subscribe.svg" data-title="Имрам Видео" data-url="http://imram.q7.by/videos" data-picture="http://htmlbook.ru/files/images/samcss/fig15-3.png" data-description="В этом разделе мы представляем уникальные материалы. Каждая статья несет в себе личный Опыт Мастера Имрама. Здесь вы найдете множество ключей, подсказок и ответов на самые животрепещущие вопросы.")
				.card__desc.new-article__desc Крийя является физическим, духовным и научным методом...
			.card.new-article__slider-card
				a.card__img-wrapper.new-article__card-img-wrapper(href="")
					img.card__img.new-article__card-img(src="img/0000FF.png")
				.card__title.new-article__card-title Как возникает эго
				.card__theme.new-article__theme-wrapper
					a.card__theme-link.new-article__theme-link(href="#") Саморазвитие
					.card__theme-date.new-article__theme-date 20 фев 2021
					.card__theme-icon.new-article__theme-icon.js-share(src="img/icons/subscribe.svg" data-title="Имрам Видео" data-url="http://imram.q7.by/videos" data-picture="http://htmlbook.ru/files/images/samcss/fig15-3.png" data-description="В этом разделе мы представляем уникальные материалы. Каждая статья несет в себе личный Опыт Мастера Имрама. Здесь вы найдете множество ключей, подсказок и ответов на самые животрепещущие вопросы.")
				.card__desc.new-article__desc Крийя является физическим, духовным и научным методом...
			.card.new-article__slider-card
				a.card__img-wrapper.new-article__card-img-wrapper(href="")
					img.card__img.new-article__card-img(src="img/0000FF.png")
				.card__title.new-article__card-title Как возникает эго
				.card__theme.new-article__theme-wrapper
					a.card__theme-link.new-article__theme-link(href="#") Саморазвитие
					.card__theme-date.new-article__theme-date 20 фев 2021
					.card__theme-icon.new-article__theme-icon.js-share(src="img/icons/subscribe.svg" data-title="Имрам Видео" data-url="http://imram.q7.by/videos" data-picture="http://htmlbook.ru/files/images/samcss/fig15-3.png" data-description="В этом разделе мы представляем уникальные материалы. Каждая статья несет в себе личный Опыт Мастера Имрама. Здесь вы найдете множество ключей, подсказок и ответов на самые животрепещущие вопросы.")
				.card__desc.new-article__desc Крийя является физическим, духовным и научным методом...
			.card.new-article__slider-card
				a.card__img-wrapper.new-article__card-img-wrapper(href="")
					img.card__img.new-article__card-img(src="img/0000FF.png")
				.card__title.new-article__card-title Как возникает эго
				.card__theme.new-article__theme-wrapper
					a.card__theme-link.new-article__theme-link(href="#") Саморазвитие
					.card__theme-date.new-article__theme-date 20 фев 2021
					.card__theme-icon.new-article__theme-icon.js-share(src="img/icons/subscribe.svg" data-title="Имрам Видео" data-url="http://imram.q7.by/videos" data-picture="http://htmlbook.ru/files/images/samcss/fig15-3.png" data-description="В этом разделе мы представляем уникальные материалы. Каждая статья несет в себе личный Опыт Мастера Имрама. Здесь вы найдете множество ключей, подсказок и ответов на самые животрепещущие вопросы.")
				.card__desc.new-article__desc Крийя является физическим, духовным и научным методом...