section.quote-true
    .container.quote-true__container
        .quote-true__title Настоящее сокровище для искателя Истины
        .quote-true__desc В этом разделе мы представляем уникальные материалы. Каждая статья несет в себе личный Опыт Мастера Имрама.  Здесь вы найдете  множество  ключей, подсказок и ответов на  самые  животрепещущие  вопросы.