section.subscribe
    .container.subscribe__container
        .subscribe__content
            .subscribe__name Статьи Мастера
            .subscribe__inner
                img.subscribe__icon(src="img/icons/subscribe.svg")
                a.subscribe__link(href="#") Подписаться