#eventsCalendar{
	padding: 0 15px;
	margin: 0 auto;
	max-width: 100%;
	width: 1228px;
	@media screen and (max-width:1150px) {
		width: 724px;
	}
}

.fc {
	direction: ltr;
	text-align: left; }

.fc-bg{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.fc-bg table {
	height: 100%;
}


.fc table {
	width: 100%;
	box-sizing: border-box;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 1em;
}

.fc th {
	text-align: left;
	border: none;
	padding: 10px 16px;
	font-size: 22px;
	line-height: 22px;
	letter-spacing: -0.03em;
	color: #AFB4BF;
	font-weight: 400;
}

.fc td {
	border-style: solid;
	border-width: 1px;
	padding: 0;
	vertical-align: top; }



.fc .fc-row {
	border-style: solid;
	border-width: 0; }

.fc-row table {
	border-left: 0 hidden transparent;
	border-right: 0 hidden transparent;
	border-bottom: 0 hidden transparent; }

.fc-row:first-child table {
	border-top: 0 hidden transparent;
}

.fc-row {
	position: relative; }

.fc-row .fc-bg {
	z-index: 1; }

.fc-row .fc-content-skeleton {
	position: relative;
	z-index: 4;
	padding-bottom: 2px;
}


.fc .fc-row .fc-content-skeleton table,
.fc .fc-row .fc-content-skeleton td{
	background: none;
	border-color: transparent; }

.fc-row .fc-content-skeleton td {
	border-bottom: 0; }

.fc-row .fc-content-skeleton tbody td{
	border-top: 0; }

.fc-scroller {
	overflow: hidden auto;
	height: auto;
	-webkit-overflow-scrolling: touch; }

.fc-scroller > .fc-day-grid,
.fc-scroller > .fc-time-grid {
	position: relative;
	width: 100%;
}

.fc-event {
	position: relative;
	display: block;
	border-radius: 3px;
	background: #EDF4FF;
	font-size: 17px;
	line-height: 22px;
	padding-left: 5px;
	padding-right: 5px;
	letter-spacing: -0.03em; }


.fc-event,
.fc-event:hover {
	color: #53565A;
	text-decoration: none; }

.fc-event[href] {
	cursor: pointer; }


.fc-event .fc-bg {
	/* the generic .fc-bg already does position */
	z-index: 1;
	background: #fff;
	opacity: .25; }

.fc-event .fc-content {
	position: relative;
	z-index: 2; }


.fc-ltr .fc-h-event.fc-not-start {
	margin-left: 0;
	border-left-width: 0;
	padding-left: 13px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0; }

.fc-ltr .fc-h-event.fc-not-end {
	margin-right: 0;
	border-right-width: 0;
	padding-right: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0; }


.fc-day-grid-event {
	margin: 14px 14px 0;
	padding: 0 5px; }

tr:first-child > td > .fc-day-grid-event {
	margin-top: 12px;
}


.fc-day-grid-event .fc-content {
	white-space: nowrap;
	border-radius: 5px;
	text-overflow: ellipsis;
	overflow: hidden; }



.fc-day-grid .fc-row {
	z-index: 1;
}


.fc-unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent; }


.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content {
	border-color: #DEE6E9; }


.fc-basic-view .fc-day-number {
	width: 36px;
	height: 36px;
	box-sizing: border-box;
	border-radius: 50%;
	margin: 5px 4px 0;
	font-size: 22px;
	line-height: 22px;
	letter-spacing: -0.03em;
	color: #53565A;
	display: flex;
	align-items: center;
	justify-content: center;
}


.fc-unthemed td.fc-today .fc-day-number {
	color: #fff;
	background: #6974A9; }



.fc-view-container *,
.fc-view-container *:before,
.fc-view-container *:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box; }

.fc-view,
.fc-view > table {
	position: relative;
	z-index: 1; }



.fc-basic-view .fc-body .fc-row {
	min-height: 172px; }

.fc-day-top.fc-other-month {
	opacity: 0.3; }

.fc-week{
	height: 172px;
}

.fc-day.fc-sat,
.fc-day.fc-sun{
	background: #FAFAFF;
}

.fc-content-skeleton tr:nth-child(n+4){
	display: none;
}

.fc-head-container{
	border: none !important;
}


/*modal*/
#eventsModal{
	display: none;
	position: absolute;
	z-index: 99;
}

.eventsModal{
	width: 475px;
	background: #fff;
	box-shadow: 0px 2px 7px rgba(43, 47, 78, 0.25);
	border-radius: 5px;
	overflow: hidden;
	&__img{
		width: 100%;
		position: relative;
		overflow: hidden;
		padding-bottom: 60%;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	&__info{
		padding: 31px 34px 58px;
	}
	&__title{
		font-size: 35px;
		line-height: 35px;
		letter-spacing: -0.03em;
		color: #53565A;
	}
	&__datetime{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -11px;
		&-item{
			font-weight: 300;
			font-size: 17px;
			line-height: 21px;
			color: #25378D;
			margin: 11px 11px 0;
			text-transform: uppercase;
		}
	}
	&__text{
		margin-top: 9px;
		position: relative;
		font-size: 17px;
		line-height: 29px;
		color: #53565A;
		&-inner{
			max-height: 116px;
			overflow: hidden;
		}
		&-link{
			background: #ffffff;
			padding-right: 65px;
			position: absolute;
			right: 0;
			bottom: 0;
			a{
				color: #AFB4BF;
				text-decoration: none;
				position: relative;
				padding-right: 12px;
				display: inline-flex;
				&::after{
					position: absolute;
					top: 50%;
					right: 0;
					display: block;
					width: 6px;
					height: 12px;
					margin-top: 2px;
					content: '';
					-webkit-transition-duration: .2s;
					transition-duration: .2s;
					-webkit-transform: translate(0,-50%);
					transform: translate(0,-50%);
					background: url(../img/arr-next.svg) no-repeat center center;
					background-size: contain;
				}
			}
		}
	}
	&__kspc{
		margin-top: 24px;
	}
}
