.calendar-page{
	padding: 45px 0 58px;
	@media screen and (max-width:1150px) {
		padding: 48px 0 58px;
	}
	@media screen and (max-width: 749px) {
		padding: vw(48) 0 vw(58);
	}
	.page--tabs-blocks__tab{
		min-height: 900px;
		@media screen and (max-width:1150px) {
			min-height: 750px;
		}
		@media screen and (max-width: 749px) {
			min-height: vw(550);
		}
	}
	&__add-all{
		display: flex;
		justify-content: flex-end;
		margin-top: 40px;
		@media screen and (max-width:1150px) {
			justify-content: center;
			margin-top: 18px;
		}
		@media screen and (max-width: 749px) {
			margin-top: 58px;
		}
		a{
			font-family: Montserrat;
			font-style: normal;
			font-weight: 500;
			font-size: 13px;
			line-height: 21px;
			display: flex;
			align-items: center;
			text-align: center;
			text-transform: uppercase;
			margin: 0 !important;
			@media screen and (max-width: 749px) {
				font-size: vw(12);
				line-height: vw(15);
			}
		}
	}
}

#eventsCalendarTop{
	padding: 22px 15px 0;
	margin: 0 auto;
	max-width: 100%;
	width: 1228px;
	@media screen and (max-width:1150px) {
		width: 724px;
		padding: 0px 15px 0;
	}
	@media screen and (max-width: 749px) {
		padding: vw(0) vw(15) vw(0);
	}
}

#eventsCalendar{
	padding: 38px 15px 40px;
	margin: 0 auto;
	max-width: 100%;
	width: 1228px;
	@media screen and (max-width:1150px) {
		width: 724px;
		padding: 36px 15px 40px;
	}
	@media screen and (max-width: 749px) {
		padding: vw(34) vw(15) vw(58);
	}
}

.fc {
	direction: ltr;
	text-align: left;
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}
	&__navigate{
		display: flex;
		align-items: center;
	}
	&__nav{
		width: 12px;
		height: 22px;
		color: #AFB4BF;
		cursor: pointer;
		transition: 0.3s;
		@media screen and (max-width: 1150px) {
			width: 12px;
			height: 21px;
		}
		@media screen and (max-width: 768px) {
			width: vw(9);
			height: vw(16);
		}
		&:hover{
			color: #25378D;
		}
		svg{
			width: 100%;
			height: 100%;
			object-fit: contain;
			display: block;
		}
	}
	&__monthName{
		margin: 0 19px;
		font-size: 35px;
		line-height: 35px;
		letter-spacing: -0.03em;
		color: #53565A;
		@media screen and (max-width: 1150px) {
			font-size: 32px;
			line-height: 35px;
			margin: 0 19px;
		}
		@media screen and (max-width: 749px) {
			font-size: vw(24);
			line-height: vw(35);
			margin: 0 vw(19);
			font-weight: 500;
		}
	}
	&__home{
		@media screen and (max-width: 749px) {
			text-align: center;
			margin-top: vw(20);
		}
		&-link{
			user-select: none;
			font-family: Montserrat;
			font-weight: 500;
			font-size: 17px;
			line-height: 17px;
			text-transform: uppercase;
			color: #25378D;
			@media screen and (max-width: 1150px) {
				font-size: 15px;
				line-height: 17px;
			}
			@media screen and (max-width: 749px) {
				font-size: vw(13);
				line-height: vw(17);
			}
		}
	}
}

.fc-bg{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.fc-bg table {
	height: 100%;
}


.fc table {
	width: 100%;
	box-sizing: border-box;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 1em;
}

.fc th {
	text-align: left;
	border: none;
	padding: 10px 16px;
	font-size: 22px;
	line-height: 22px;
	letter-spacing: -0.03em;
	color: #AFB4BF;
	font-weight: 400;
	@media screen and (max-width:1150px) {
		text-align: center;
		font-size: 19px;
		line-height: 22px;
	}
	@media screen and (max-width: 749px) {
		font-size: vw(15);
		line-height: vw(22);
		padding: vw(7);
	}
}

.fc td {
	border-style: solid;
	border-width: 1px;
	padding: 0;
	vertical-align: top;
	@media screen and (max-width: 749px) {
		border-left: none;
		border-right: none;
	}
}



.fc .fc-row {
	border-style: solid;
	border-width: 0; }

.fc-row table {
	border-left: 0 hidden transparent;
	border-right: 0 hidden transparent;
	border-bottom: 0 hidden transparent; }

.fc-row:first-child table {
	border-top: 0 hidden transparent;
}

.fc-row {
	position: relative; }

.fc-row .fc-bg {
	z-index: 1; }

.fc-row .fc-content-skeleton {
	position: relative;
	z-index: 4;
	padding-bottom: 2px;
	@media screen and (max-width:1150px) {
		tbody{
			display: none;
		}
	}
}


.fc .fc-row .fc-content-skeleton table,
.fc .fc-row .fc-content-skeleton td{
	background: none;
	border-color: transparent; }

.fc-row .fc-content-skeleton td {
	border-bottom: 0; }

.fc-row .fc-content-skeleton tbody td{
	border-top: 0; }

.fc-scroller {
	overflow: hidden auto;
	height: auto;
	-webkit-overflow-scrolling: touch; }

.fc-scroller > .fc-day-grid,
.fc-scroller > .fc-time-grid {
	position: relative;
	width: 100%;
}

.fc-event {
	position: relative;
	display: block;
	border-radius: 3px;
	background: #EDF4FF;
	font-size: 17px;
	line-height: 22px;
	padding-left: 5px;
	padding-right: 5px;
	letter-spacing: -0.03em; }


.fc-event,
.fc-event:hover {
	color: #53565A;
	text-decoration: none; }

.fc-event[href] {
	cursor: pointer; }


.fc-event .fc-bg {
	/* the generic .fc-bg already does position */
	z-index: 1;
	background: #fff;
	opacity: .25; }

.fc-event .fc-content {
	position: relative;
	z-index: 2; }


.fc-ltr .fc-h-event.fc-not-start {
	margin-left: 0;
	border-left-width: 0;
	padding-left: 13px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0; }

.fc-ltr .fc-h-event.fc-not-end {
	margin-right: 0;
	border-right-width: 0;
	padding-right: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0; }


.fc-day-grid-event {
	margin: 14px 14px 0;
	padding: 0 5px; }

tr:first-child > td > .fc-day-grid-event {
	margin-top: 12px;
}


.fc-day-grid-event .fc-content {
	white-space: nowrap;
	border-radius: 5px;
	text-overflow: ellipsis;
	overflow: hidden; }



.fc-day-grid .fc-row {
	z-index: 1;
}


.fc-unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent; }


.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content {
	border-color: #DEE6E9; }


.fc-basic-view .fc-day-number {
	width: 36px;
	height: 36px;
	box-sizing: border-box;
	border-radius: 50%;
	margin: 5px 4px 0;
	font-size: 22px;
	line-height: 22px;
	letter-spacing: -0.03em;
	color: #53565A;
	display: flex;
	align-items: center;
	justify-content: center;
	@media screen and (max-width:1150px) {
		margin: 12px auto;
		font-size: 18px;
		line-height: 22px;
		width: 24px;
		height: 24px;
	}
	@media screen and (max-width: 749px) {
		font-size: vw(15);
		line-height: vw(22);
		width: vw(22);
		height: vw(22);
		margin: vw(8) auto;
	}
}


.fc-unthemed td.fc-today .fc-day-number {
	color: #fff;
	background: #6974A9; }



.fc-view-container *,
.fc-view-container *:before,
.fc-view-container *:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box; }

.fc-view,
.fc-view > table {
	position: relative;
	z-index: 1; }



.fc-basic-view .fc-body .fc-row {
	min-height: 172px;
	@media screen and (max-width:1150px) {
		min-height: 100px;
	}
	@media screen and (max-width: 749px) {
		min-height: vw(66);
	}
}

.fc-day-top.fc-other-month {
	opacity: 0.3; }

.fc-week{
	height: 172px;
	@media screen and (max-width:1150px) {
		height: 100px;
	}
	@media screen and (max-width: 749px) {
		height: vw(66);
	}
}

.fc-day.fc-sat,
.fc-day.fc-sun{
	background: #FAFAFF;
}

.fc-content-skeleton tr:nth-child(n+4){
	display: none;
}

.fc-head-container{
	border: none !important;
}

.fc-row .fc-content-skeleton{
	@media screen and (max-width:1150px) {
		pointer-events: none;
	}
}
.fc-day.fc-widget-content.has-events{
	@media screen and (max-width:1150px) {
		cursor: pointer;
		position: relative;
		&::after{
			content: "";
			display: block;
			width: 9px;
			height: 9px;
			background: #6974A9;
			border-radius: 50%;
			position: absolute;
			left: 50%;
			bottom: 23px;
			transform: translateX(-50%);

			@media screen and (max-width: 749px) {
				width: vw(6);
				height: vw(6);
				bottom: vw(23);
			}
		}
	}
}
.fc-widget-content{
	@media screen and (max-width: 749px) {
		border-bottom: none !important;
	}
}
.fc-row.fc-week.fc-widget-content{
	@media screen and (max-width: 749px) {
		&:last-child{
			border-bottom: none;
			td{
				border-bottom: none;
			}
		}
	}
}


/*modal*/
#eventsModal{
	display: none;
	position: absolute;
	z-index: 99;
}
#eventsModal2{
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	&.blur{
		.eventsModal-bg{
			backdrop-filter: blur(55px);
		}
	}
}

.eventsModal{
	width: 475px;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #DEE6E9;
	-webkit-mask-image: -webkit-radial-gradient(white,#000);
	@media screen and (max-width: 1150px) {
		width: 332px;
		padding: 45px 15px 58px;
	}
	@media screen and (max-width: 749px) {
		width: vw(332);
		padding: vw(45) vw(15) vw(58);
		border-radius: vw(5);
	}
	&-bg{
		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(0);
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		display: block;
		transition: backdrop-filter 0.5s linear;
	}
	&-inner{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&-fade{
		display: none;
		position: relative;
	}
	&-preloader{
		position: absolute;
		left: 50%;
		top: 50%;
		margin: 0;
		padding: 0;
		transform: translateX(-50%) translateY(-50%);
		pointer-events: none;
		span{
			animation-name: preloaderDots2;
		}
		&-container{
			display: none;
		}
	}
	&-close{
		width: 27px;
		height: 27px;
		position: absolute;
		padding: 5px;
		box-sizing: border-box;
		display: block;
		right: 13px;
		top: 11px;
		cursor: pointer;
		z-index: 1;
		@media screen and (max-width: 749px) {
			width: vw(27);
			height: vw(27);
			padding: vw(5);
			right: vw(13);
			top: vw(11);
		}
		svg{
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&-slider{
		.slick-dots{
			margin: 0;
			position: static;
			margin-top: 55px;
			@media screen and (max-width: 749px) {
				margin-top: vw(55);
			}
		}
	}
	&__img{
		width: 100%;
		position: relative;
		overflow: hidden;
		padding-bottom: 60%;
		-webkit-mask-image: -webkit-radial-gradient(white,#000);
		@media screen and (max-width: 1150px) {
			border-radius: 5px;
		}
		@media screen and (max-width: 749px) {
			border-radius: vw(5);
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	&__info{
		padding: 31px 34px 47px;
		border-radius: 0 0 5px 5px;
		@media screen and (max-width: 1150px) {
			padding: 33px 0px 0;
		}
		@media screen and (max-width: 749px) {
			padding: vw(34) vw(0) vw(0);
		}
	}
	&__title{
		font-size: 35px;
		line-height: 35px;
		letter-spacing: -0.03em;
		color: #53565A;
		@media screen and (max-width: 1150px) {
			font-size: 24px;
			line-height: 32px;
		}
		@media screen and (max-width: 749px) {
			font-size: vw(24);
			line-height: vw(32);
		}
	}
	&__datetime{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -11px;
		@media screen and (max-width: 1150px) {
			margin: 0 -11px;
		}
		@media screen and (max-width: 749px) {
			margin: 0 vw(-11);
		}
		&-item{
			font-weight: 300;
			font-size: 17px;
			line-height: 21px;
			color: #25378D;
			margin: 11px 11px 0;
			text-transform: uppercase;
			@media screen and (max-width: 1150px) {
				margin: 0 11px 11px;
				font-size: 15px;
				line-height: 18px;
			}
			@media screen and (max-width: 749px) {
				margin: 0 vw(11) vw(11);
				font-size: vw(15);
				line-height: vw(18);
			}
		}
	}
	&__text{
		margin-top: 9px;
		position: relative;
		font-size: 17px;
		line-height: 29px;
		color: #53565A;
		@media screen and (max-width: 1150px) {
			font-size: 15px;
			line-height: 24px;
			margin-top: 6px;
		}
		@media screen and (max-width: 749px) {
			font-size: vw(15);
			line-height: vw(24);
			margin-top: vw(6);
		}
		&-inner{
			max-height: 116px;
			overflow: hidden;
			@media screen and (max-width: 1150px) {
				max-height: 48px;
			}
			@media screen and (max-width: 749px) {
				max-height: vw(48);
			}
		}
		&-link{
			background: #ffffff;
			padding-right: 65px;
			position: absolute;
			right: 0;
			bottom: 0;
			@media screen and (max-width: 1150px) {
				padding-right: 20px;
			}
			@media screen and (max-width: 749px) {
				padding-right: vw(10);
			}
			a{
				color: #AFB4BF;
				text-decoration: none;
				position: relative;
				padding-right: 12px;
				display: inline-flex;
				@media screen and (max-width: 749px) {
					padding-right: vw(12);
				}
				&::after{
					position: absolute;
					top: 50%;
					right: 0;
					display: block;
					width: 6px;
					height: 12px;
					margin-top: 2px;
					content: '';
					transition-duration: .2s;
					transform: translate(0,-50%);
					background: url(../img/arr-next.svg) no-repeat center center;
					background-size: contain;
					@media screen and (max-width: 749px) {
						width: vw(6);
						height: vw(12);
						margin-top: vw(2);
					}
				}
			}
		}
	}
	&__kspc{
		margin-top: 24px;
		@media screen and (max-width: 1150px) {
			margin-top: 20px;
			justify-content: space-between;
		}
		@media screen and (max-width: 749px) {
			margin-top: vw(20);
		}
	}

	.kspc-event-calendar__item{
		@media screen and (max-width: 1150px) {
			font-size: 13px;
			line-height: 16px;
			align-items: baseline;
		}
		@media screen and (max-width: 749px) {
			font-size: vw(13);
			line-height: vw(16);
		}
		&-pic {
			@media screen and (max-width: 1150px) {
				margin-right: 7px;
				width: 9px;
			}
			@media screen and (max-width: 749px) {
				margin-right: vw(7);
				width: vw(9);
			}
		}
	}
}


.calendar-preloader{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	opacity: 0;
	pointer-events: none;
	z-index: 100;
	transition: opacity 0.4s linear;
}
.calendar-container{
	position: relative;
	&.loading{
		.calendar-preloader{
			opacity: 1;
			pointer-events: auto;
		}
	}
}



.kspc-events{
	padding-top: 19px;
	padding-bottom: 90px;
	border-bottom: 1px solid #DEE6E9;
	@media screen and (max-width: 1150px) {
		padding-top: 19px;
	}
	@media screen and (max-width: 749px) {
		padding-top: vw(19);
	}
	&__date {
		font-weight: 300;
		font-size: 45px;
		line-height: 1;
		letter-spacing: -0.03em;
		color: #DEE6E9;
		position: relative;
		margin-bottom: 70px;

		@media screen and (max-width: 1150px) {
			font-size: 39px;
		}
		@media screen and (max-width: 749px) {
			font-size: vw(39);
			margin-bottom: vw(70);
		}

		span {
			display: inline-block;
			background: #ffffff;
			padding-right: 24px;
			@media screen and (max-width: 1150px) {
				padding-right: 18px;
			}
			@media screen and (max-width: 749px) {
				padding-right: vw(18);
			}
		}

		&::before {
			content: "";
			width: 100%;
			height: 1px;
			background: #DEE6E9;
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
			z-index: -1;
		}

		&:not(:first-child){
			margin-top: 80px;
			@media screen and (max-width: 1150px) {
				margin-top: 70px;
			}
			@media screen and (max-width: 749px) {
				margin-top: vw(70);
			}
		}
	}

	&__item{

	}
}


.ke-i{
	$self: &;
	display: flex;
	justify-content: space-between;
	@media screen and (max-width: 749px) {
		flex-direction: column-reverse;
	}
	+.ke-i{
		margin-top: 93px;
		@media screen and (max-width: 749px) {
			margin-top: vw(86);
		}
	}

	&__left{
		width: calc(100% - 440px);
		padding-top: 17px;
		@media screen and (max-width: 1150px) {
			width: calc(100% - 355px);
			padding-top: 0;
		}
		@media screen and (max-width: 749px) {
			width: 100%;
			padding-top: vw(32);
		}
	}

	&__right{
		width: 403px;
		@media screen and (max-width: 1150px) {
			width: 330px;
		}
		@media screen and (max-width: 749px) {
			width: 100%;
		}
	}

	&__img{
		width: 100%;
		position: relative;
		padding-bottom: 61%;
		display: block;
		border-radius: 5px;
		overflow: hidden;
		img{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform .4s ease-in-out;
		}
		&:hover{
			img{
				transform: scale(1.07);
			}
		}
	}
	&__info{
		padding: 31px 34px 58px;
		border-radius: 0 0 5px 5px;
		@media screen and (max-width: 1150px) {
			padding: 18px 36px 81px;
		}
		@media screen and (max-width: 749px) {
			padding: vw(32) vw(14) vw(81);
		}
	}
	&__title{
		font-size: 35px;
		line-height: 35px;
		letter-spacing: -0.03em;
		color: #53565A;
		@media screen and (max-width: 1150px) {
			font-size: 32px;
			line-height: 32px;
		}
		@media screen and (max-width: 749px) {
			font-size: vw(32);
			line-height: vw(32);
		}
	}
	&__datetime{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -11px;
		@media screen and (max-width: 1150px) {
			margin: 0 -10px;
		}
		@media screen and (max-width: 749px) {
			margin: 0 vw(-10);
		}
		&-item{
			font-weight: 300;
			font-size: 17px;
			line-height: 21px;
			color: #25378D;
			margin: 0 11px 6px;
			text-transform: uppercase;
			@media screen and (max-width: 1150px) {
				margin: 0 10px 5px;
				font-size: 15px;
				line-height: 18px;
			}
			@media screen and (max-width: 749px) {
				margin: 0 vw(10) vw(5);
				font-size: vw(15);
				line-height: vw(18);
			}
		}
	}
	&__text{
		margin-top: 20px;
		position: relative;
		font-size: 17px;
		line-height: 29px;
		color: #53565A;
		@media screen and (max-width: 1150px) {
			font-size: 15px;
			line-height: 24px;
			margin-top: 23px;
		}
		@media screen and (max-width: 749px) {
			font-size: vw(15);
			line-height: vw(24);
			margin-top: vw(23);
		}
		&-inner{
			max-height: 58px;
			overflow: hidden;
			@media screen and (max-width: 1150px) {
				max-height: 48px;
			}
			@media screen and (max-width: 749px) {
				max-height: vw(48);
			}
		}
		&-link{
			background: #ffffff;
			padding-right: 65px;
			position: absolute;
			right: 0;
			bottom: 0;
			@media screen and (max-width: 1150px) {
				padding-right: 20px;
			}
			@media screen and (max-width: 749px) {
				padding-right: vw(10);
			}
			a{
				color: #AFB4BF;
				text-decoration: none;
				position: relative;
				padding-right: 12px;
				display: inline-flex;
				@media screen and (max-width: 749px) {
					padding-right: vw(12);
				}
				&::after{
					position: absolute;
					top: 50%;
					right: 0;
					display: block;
					width: 6px;
					height: 12px;
					margin-top: 2px;
					content: '';
					transition-duration: .2s;
					transform: translate(0,-50%);
					background: url(../img/arr-next.svg) no-repeat center center;
					background-size: contain;
					@media screen and (max-width: 749px) {
						width: vw(6);
						height: vw(12);
						margin-top: vw(2);
					}
				}
			}
		}
	}
	&__kspc{
		margin-top: 24px;
		@media screen and (max-width: 1150px) {
			margin-top: 20px;
		}
		@media screen and (max-width: 749px) {
			margin-top: vw(20);
		}
	}

}
