.breadcrumbs-wrap
	.container.container--ks
		ul.breadcrumbs
			li.breadcrumbs-item
				a.breadcrumbs-item_link(href="") Все мероприятия
				.breadcrumbs-delimiter
			li.breadcrumbs-item
				span.breadcrumbs-item_link.breadcrumbs-item_link--current(href="") Семинар Крийя