section.ks-post-constructor
	.kspc-h1-block
		.container.container--ks
			h1.kspc-h1.kspc-h1--small Семинар Имрам Крийя


	.kspc-slider-block
		.container.container--ks
			.kspc-slider.js-kspc-slider.custom-dots
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=1")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=1", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=2")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=2", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=3")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=3", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=4")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=4", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=5")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=5", alt="")

	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__p
				p Семинар – это достаточно социальное название. В реальности, Семинар Крийя – это посвящение в Науку Крийя йоги. Когда вы посещаете 2-дневный Семинар Крийя, вы получаете знания и пищу для ума. Но самым главным является то, что человек получает
					b   истинные знания от сердца к сердцу, от Мастера к ученику.

	.kspc-quote-right
		.container.container--ks
			.kspc-quote-right__text Это метод прямой передачи знаний…


	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__p
				p Когда вы приходите на Семинар Крийя, вы можете быть совершенно не готовыми, не готовыми сидеть, внутренне не готовыми. Вы приходите для того, чтобы подготовиться и ускорить свою эволюцию. Эволюция ускоряется во много сотен тысяч раз быстрее, только благодаря этому великому и высокому учению. И, естественно, ваше тело меняется. Меняется оно тогда, когда вы практикуете. Критерий истины – практика.


	.kspc-quote-right
		.container.container--ks
			.kspc-quote-right__text Крийя является основанием, фундаментом и венцом всех духовных практик!


	.kspc-simple-text.kspc-simple-text--has-title
		.container.container--ks
			.kspc-simple-text__h2 Наука Крийя
			.kspc-simple-text__p
				p В практике Крийя, энергизируя каждую клеточку, особые центры, с концентрацией на продолговатом мозге, мы пробуждаем нейроны и отделы нашего мозга.




	.kspc-text-with-pic-and-hide
		.container.container--ks
			.kspc-twpah.kspc-twpah--pic-left.kspc-twpah--non-hide
				.kspc-twpah__pic
					img(src="img/DEE6E9.png", alt="")
				//.kspc-twpah__delimiter
				.kspc-twpah__text
					p Мы становимся способными принять и усвоить больше энергии-информации, высших знаний, за пределами обычного понимания.
					p Со временем, когда мы научимся чувствовать очень тонкие каналы внутри позвоночника, мы подойдем к Высоким техникам Крийя.
					p Во время практики в Высшей Крийя: один сознательный вдох и выдох равен одному году вашей эволюции, что соответствует космическому циклу вращения нашей солнечной системы, с ее планетарным сознанием.
				.clearfix

	.kspc-simple-text.kspc-simple-text--has-title
		.container.container--ks
			h2.kspc-simple-text__h2 Метод Крийя Мастера Имрама
			.kspc-simple-text__p.custom-ul
				ul
					li
						b Наглядное объяснение сути, <br>
						|  принципов и техник Крийя, как связи научного, метафизического и духовного.
					li
						b Удобная и понятная подача материала, <br>
						|  метод для людей любого уровня подготовки.
					li
						b Крийя даётся путем прямой передачи <br>
						|  в своем первоначальном, не искаженном виде. Это интенсивная практика, пробуждающая знания, данные нам  Свыше, от рождения.
					li
						b Метод позволяет увеличить силу и концентрацию, <br>
						|  пробуждает нейронные связи, активирует творческие способности, и без усилий пробуждает интуицию.
					li
						b За 2 дня семинара даются 6 из 7 ступеней Крийя <br>
						|  в виде стройной проверенной системы, раскрываются тайные ключи Крийя.
					li
						b Вы также получите доступ к образовательной платформе Имрам Крийя, <br>
						|  аудио и видео материалы для самостоятельной практики

	.kspc-media-wrap.kspc-media-wrap--has-title
		.container.kspc-h2-style.container--ks
			h2.kspc-media-title.kspc-h2-style Что такое семинар Имрам Крийя
			a.kspc-media.kspc-media--video(href="https://www.youtube.com/embed/tf3wfU6QeG8" data-fancybox)
				img.kspc-media-preview(src="img/0000FF.png", alt="")




	.kspc-simple-text.kspc-simple-text--has-title
		.container.container--ks
			.kspc-simple-text__h2 Шесть ступеней самореализации
			.kspc-simple-text__p
				p Во время 2-дневного Семинара Имрам Крийя вы получаете шесть ступеней Крийя. Первые три ступени, связаны с энергизацией тела. Это 42 энергизирующих упражнения (42 Крийи), энергизация сидя, медитация на дыхании, медитация на Звук и медитация на Свет.




	.kspc-text-with-pic-and-hide.kspc-text-with-pic-and-hide--has-title-top
		.container.container--ks
			h2.kspc-h2-style.kspc-twpah-title-top 42 Крийи
			.kspc-twpah.kspc-twpah--pic-right.kspc-twpah--non-hide
				.kspc-twpah__pic
					img(src="img/DEE6E9.png", alt="")
				//.kspc-twpah__delimiter
				.kspc-twpah__text
					p 42 энергизирующих упражения эффективно выстраивают межполушарные связи, пробуждают нейронные сети, заставляют работать мозг, который опирается на сознание и сознание, которое присутствует в мозге.
					p Направляя энергию в разные части тела, мы «вытаскиваем» на поверхность негативные программы, которые были занесены (внедрены) с рождения, много лет назад, и будучи учеными в своей «лаборатории тела и сознания» способны преобразовать негативные программы и получить позитивный опыт, раскрывая творческие центры.


				.clearfix

	.kspc-simple-text.kspc-simple-text--has-title.kspc-simple-text--with-hide.kspc-simple-text--with-hide--show-9
		.container.container--ks
			.kspc-simple-text__h2 Прогрессивные техники
			.kspc-simple-text__p
				p Прогрессивные техники Крийя: Маха-мудра, Гуру-Пранам, Джьоти-мудра и Паравастха передаются Мастером только на Семинаре при посвящении в Крийя. Они даются постепенно, поэтапно в течение двух дней, потому что это достаточно серьезный процесс.

				p Парахамса Йогананда в своей книге «Крийя – Высшее Учение» пишет, что «время человеческого развития можно сократить, заставляя вращаться жизненную силу (физическую энергию Земли) в позвоночнике и в его шести центрах по эллиптическому пути вверх от основания позвоночника к точке между бровей и затем опять вниз из этой точки к основанию позвоночника, с душой, как центральным солнцем.» Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione delectus animi voluptatibus voluptates a, quam non! Modi recusandae, ullam dolorem consequatur qui odio magni cupiditate aut ipsum provident illo sint necessitatibus minima non, id eum est. Asperiores voluptates dignissimos velit molestias fuga voluptatem temporibus eveniet reiciendis ut, ratione, magnam assumenda culpa deserunt omnis expedita odio adipisci? Quos, et incidunt cum ipsum velit eius sed voluptatem omnis expedita nam, blanditiis consequatur! Itaque illo officia fuga, animi, ea eum rem nihil quam, quod temporibus quae sunt! Sequi, libero! Natus et, qui fugiat explicabo ipsa, aliquid tempora officiis nulla hic quasi, esse mollitia.

				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, natus! Earum asperiores totam aut ab, excepturi ex ut doloremque dolores sit porro omnis. Eveniet dignissimos magni, illo est temporibus illum.


				div.kspc-twpah-unwrap.js-simple-text-unwrap
					span.kspc-twpah-unwrap__dots ...
					span.kspc-twpah-unwrap__text  Развернуть


	.kspc-slider-block
		.container.container--ks
			.kspc-slider.js-kspc-slider.custom-dots
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=1")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=1", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=2")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=2", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=3")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=3", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=4")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=4", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=5")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=5", alt="")


	.kspc-simple-text.kspc-simple-text--has-title
		.container.container--ks
			.kspc-simple-text__h2 Сосуд трансцендентальной силы
			.kspc-simple-text__p
				p Наука Крийя позволяет сделать ваш позвоночник осознанным мыслящим веществом, подобным головному мозгу.  Через некоторое время ваш позвоночник будет продолжением головного мозга.
				p Когда наши нейроны будут очень активны, импульсы, которые передаются из головного мозга к периферии и обратно через систему обратной связи, со временем будут осознаваться вами.
				p В конце второго дня Семинара, Мастер Имрам в течение нескольких часов передает сокровенное знание – теорию Трансцендентального Сосуда.



	.kspc-3-in-row
		.container.container--ks
			h2.kspc-h2-style.kspc-3-in-row__title Программа двухдневного Семинара
			.kspc-3-in-row__flex
				.kspc-3ir-item
					.kspc-3ir-item__pic
						img(src="img/0000FF.png", alt="")
					.kspc-3ir-item__desc
						.kspc-3ir-item__title Теоретический аспект Крийя
						.kspc-3ir-item__name Подробное разъяснение теоретического и философского аспектов науки Крийя

				.kspc-3ir-item
					.kspc-3ir-item__pic
						img(src="img/0000FF.png", alt="")
					.kspc-3ir-item__desc
						.kspc-3ir-item__title  Практика энергизации тела
						.kspc-3ir-item__name  Изучение комплекса 42 энергизируюших упражнений и энергизации сидя

				.kspc-3ir-item
					.kspc-3ir-item__pic
						img(src="img/0000FF.png", alt="")
					.kspc-3ir-item__desc
						.kspc-3ir-item__title  Базовые техники Крийя
						.kspc-3ir-item__name  Изучение базовых техник Крийя йоги и их практическое освоение

				.kspc-3ir-item
					.kspc-3ir-item__pic
						img(src="img/0000FF.png", alt="")
					.kspc-3ir-item__desc
						.kspc-3ir-item__title  Прогрессивные техники Крийя
						.kspc-3ir-item__name  Изучение прогрессивных техник Крийя – дыхание 14 Крий, Маха-мудра, Гуру-пранам, Джьоти-мудра, Паравастха.

				.kspc-3ir-item
					.kspc-3ir-item__pic
						img(src="img/0000FF.png", alt="")
					.kspc-3ir-item__desc
						.kspc-3ir-item__title  Практика с Мастером
						.kspc-3ir-item__name  Практическая отработка базовых и прогрессивных вместе с Мастером и подробное разъяснение всех техник

				.kspc-3ir-item
					.kspc-3ir-item__pic
						img(src="img/0000FF.png", alt="")
					.kspc-3ir-item__desc
						.kspc-3ir-item__title  Ответы на вопросы
						.kspc-3ir-item__name  Мастер отвечает на вопросы, связанные с выполнением техник. Это позволяет сформировать целостное понимание Науки Крийя

	//Адаптировать осторожно, секция с главной
	.oh-wrap.hm-quote-practice--wrap-ks-constuctor
		section.hm-quote-practice.hm-quote-practice--ks-constuctor
			.quote-bg.js-jarallax-1(style="background-image:url(img/quotes-bg-new.jpg);")
				.container.container--extra-long
					.hm-quote-practice__content.quotes-slide
						.quote-slide
							.hm-quote-practice__main Не теряйте времени, будьте осознаны, ищите в своей жизни только хорошее,
								br.dd
								|  думайте только о хорошем, выбрав практику веры как Путь развития.
							.hm-quote-practice__name Мастер Имрам
						.quote-slide
							.hm-quote-practice__main Не теряйте времени, будьте осознаны, ищите в своей жизни только хорошее,
								br.dd
								|  думайте только о хорошем, выбрав практику веры как Путь развития.
							.hm-quote-practice__name Мастер Имрам
						.quote-slide
							.hm-quote-practice__main Не теряйте времени, будьте осознаны, ищите в своей жизни только хорошее,
								br.dd
								|  думайте только о хорошем, выбрав практику веры как Путь развития.
							.hm-quote-practice__name Мастер Имрам





	.kspc-simple-text.kspc-simple-text--has-title
		.container.container--ks
			.kspc-simple-text__h2 На Семинарах Мастера
			.kspc-simple-text__p
				p На семинарах Мастера Имрама в удобной и понятной форме люди обучаются дыхательным и медитативным практикам с обязательным разъяснением сути всех техник Крийя с точки зрения науки, психологии и Духовности.
				p В результате взаимодействия с Мастером и выполнения практик, многие присутствующие часто ощущают заметный терапевтический эффект.
				p В дальнейшем, получив все необходимые знания, участники Семинара смогут самостоятельно практиковать науку Крийя, двигаться по пути творческой и духовной самореализации.




	.kspc-slider-block
		.container.container--ks
			.kspc-slider.js-kspc-slider.custom-dots
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=1")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=1", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=2")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=2", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=3")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=3", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=4")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=4", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=5")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=5", alt="")




	.kspc-simple-text.kspc-simple-text--has-title
		.container.container--ks
			h2.kspc-simple-text__h2 Для кого предназначен Семинар Имрам Крийя
			.kspc-simple-text__p.custom-ul
				ul
					li Вы занимаетесь различными видами йоги, духовными практиками и стремитесь получить эффективный инструмент ускоренной внутренней эволюции
					li Только ищете свой путь и готовы к быстрым изменениям, переходу на новый уровень осознанности
					li Вы стремитесь к обретению гармонии, радости, счастья, покоя ума и познанию Себя…
					li Вы ищете способы преодолеть внутренние проблемы, комплексы, неуверенность, ограничения ума, улучшить здоровье
					li Вы стремитесь лучше узнать и понять себя, взять под контроль свой ум, мысли и внутреннее состояние, обрести внутренний покой и тишину
					li Вы хотите познать настоящую медитацию, достичь Высокой цели жизни и готовы совершать необходимые усилия по достижению


	.kspc-simple-text.kspc-simple-text--has-title
		.container.container--ks
			h2.kspc-simple-text__h2 В результате Вы получите
			.kspc-simple-text__p.custom-ul
				ul
					li
						b Посвящение в науку Крийя <br>
						|  В конце второго дня, каждый участник Семинара обретает знание шести ступеней Крийя для самостоятельного практикования в домашних условиях.  На семинаре Крийя происходит преобразование сознания на уровне клеток.
					li
						b Доступ к платформе Имрам Крийя <br>
						|  В помощь практикующему открывается доступ к аудио-видео материалам, методическому пособию с техниками Крийя, предоставляется доступ к образовательной платформе Имрам Крийя
					li
						b Запустите процесс изменений <br>
						|  После прохождения Семинара вы запустите процесс ускоренной эволюции, ведущий  к развитию творческих способностей, осознанности, гармонии, развитию  интуиции, улучшению психофизиологического состояния







	.kspc-event
		.container.container--ks.kspc-event__container-hr-1
			.hr

		.container.container--ks.kspc-event__container-main
			h2.kspc-h2-style.kspc-event-title Дата и формат участия
			.kspc-event-row
				.kspc-event-map
					img.kspc-event-map__img(src="img/0000FF.png", alt="")
				.kspc-event-info-wrap
					.kspc-event-info
						.kspc-event-info__name Дата
						.kspc-event-info__val
							span.kspc-event-info__date 3-4 июля, 2021
							span.kspc-event-info__time  с 13:00 до 19:00
					.kspc-event-info
						.kspc-event-info__name Место проведения
						.kspc-event-info__val Москва, ул. Никулинскя, 2К1  Метро Юго-Западная
					.kspc-event-info
						.kspc-event-info__name Стоимость участия
						.kspc-event-info__val 30 000 рублей
					.kspc-event-calendar
						a.kspc-event-calendar__item(href="" target="_blank")
							|  <svg class="kspc-event-calendar__item-pic" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5.33331" width="1.33333" height="12" rx="0.666667" fill="#25378D"/><rect y="6.6665" width="1.33333" height="12" rx="0.666666" transform="rotate(-90 0 6.6665)" fill="#25378D"/></svg>
							span.kspc-event-calendar__item-name Google Календарь

						a.kspc-event-calendar__item(href="" target="_blank")
							|  <svg class="kspc-event-calendar__item-pic" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5.33331" width="1.33333" height="12" rx="0.666667" fill="#25378D"/><rect y="6.6665" width="1.33333" height="12" rx="0.666666" transform="rotate(-90 0 6.6665)" fill="#25378D"/></svg>
							span.kspc-event-calendar__item-name Apple Календарь

					a.btn.kspc-event-btn(href="")  Принять участие

		.container.container--ks.kspc-event__container-hr-2
			.hr



	.kspc-text-with-pic-and-hide.kspc-text-with-pic-and-hide--master
		.container.container--ks
			.kspc-twpah.kspc-twpah--pic-right.kspc-twpah--non-hide.kspc-twpah--master
				.kspc-twpah__pic
					img(src="img/DEE6E9.png", alt="")
				//.kspc-twpah__delimiter
				.kspc-twpah__text.custom-ul.kspc-h2-style-in-this
					h2 Мастер Имрам
					ul
						li Мастер Крийя, достигший Единства
						li Инициирует трансцендентность Крийя
						li Будучи в миру - Он не от мира сего...
						li Композитор, меняющий пространство Звуком
					p Благодаря многолетней практике-садхане, Имрам достиг Реализации, т.е. Единства с Высшим Я, что в йоге рассматривается как Нирвикальпа Самадхи.


				.clearfix



	.kspc-qa.js-kspc-qa
		.container.container--ks
			h2.kspc-h2-style.kspc-qa-title Часто задаваемые вопросы
			.kspc-qa-main
				.kspc-qa-item
					.kspc-qa-item__top
						.kspc-qa-item__title Что такое Крийя йога
						.kspc-qa-item__plus
					.kspc-qa-item__content
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic sapiente nobis in laboriosam at! Dolorem!
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic sapiente nobis in laboriosam at! Dolorem!
				.kspc-qa-item
					.kspc-qa-item__top
						.kspc-qa-item__title Что такое медитация
						.kspc-qa-item__plus
					.kspc-qa-item__content
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur molestias aut voluptatem ratione nostrum illum?
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur molestias aut voluptatem ratione nostrum illum?
				.kspc-qa-item
					.kspc-qa-item__top
						.kspc-qa-item__title Если я ничего не знаю о йоге, могу ли я практиковать Крийя
						.kspc-qa-item__plus
					.kspc-qa-item__content
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat explicabo debitis minus impedit, mollitia quis!
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat explicabo debitis minus impedit, mollitia quis!
				.kspc-qa-item
					.kspc-qa-item__top
						.kspc-qa-item__title Ваша первая книга о Крийя йоге
						.kspc-qa-item__plus
					.kspc-qa-item__content
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi deleniti molestias porro, reiciendis ullam praesentium?
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi deleniti molestias porro, reiciendis ullam praesentium?
				.kspc-qa-item
					.kspc-qa-item__top
						.kspc-qa-item__title Могут ли пожилые люди практиковать Крийя
						.kspc-qa-item__plus
					.kspc-qa-item__content
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eveniet tenetur voluptatem, assumenda fuga rem?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eveniet tenetur voluptatem, assumenda fuga rem?
				.kspc-qa-item
					.kspc-qa-item__top
						.kspc-qa-item__title Что такое Семинар Имрам Крийя
						.kspc-qa-item__plus
					.kspc-qa-item__content
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero sint doloremque reiciendis quos alias? Doloribus.
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero sint doloremque reiciendis quos alias? Doloribus.
				.kspc-qa-item
					.kspc-qa-item__top
						.kspc-qa-item__title Одежда для практики
						.kspc-qa-item__plus
					.kspc-qa-item__content
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem magni asperiores consectetur maiores harum tempora.
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem magni asperiores consectetur maiores harum tempora.
				.kspc-qa-item
					.kspc-qa-item__top
						.kspc-qa-item__title Питание
						.kspc-qa-item__plus
					.kspc-qa-item__content
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem magni asperiores consectetur maiores harum tempora.
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem magni asperiores consectetur maiores harum tempora.


	include ../kriya-science/ks-post-tags-and-share
	include ../seminar/reviews

