section.ks-post-constructor
	.kspc-h1-block
		.container.container--ks
			h1.kspc-h1.kspc-h1--small Семинар Имрам Крийя


	.kspc-slider-block
		.container.container--ks
			.kspc-slider.js-kspc-slider.custom-dots
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=1")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=1", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=2")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=2", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=3")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=3", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=4")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=4", alt="")
				.kspc-slider-item.js-open-fancy-slide(data-href="https://via.placeholder.com/150/000000/FFFFFF/?text=5")
					img.kspc-slider-item__img(src="https://via.placeholder.com/150/000000/FFFFFF/?text=5", alt="")

	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__p
				p Семинар – это достаточно социальное название. В реальности, Семинар Крийя – это посвящение в Науку Крийя йоги. Когда вы посещаете 2-дневный Семинар Крийя, вы получаете знания и пищу для ума. Но самым главным является то, что человек получает
					b   истинные знания от сердца к сердцу, от Мастера к ученику.

	.kspc-quote-right
		.container.container--ks
			.kspc-quote-right__text Это метод прямой передачи знаний…


	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__p
				p Когда вы приходите на Семинар Крийя, вы можете быть совершенно не готовыми, не готовыми сидеть, внутренне не готовыми. Вы приходите для того, чтобы подготовиться и ускорить свою эволюцию. Эволюция ускоряется во много сотен тысяч раз быстрее, только благодаря этому великому и высокому учению. И, естественно, ваше тело меняется. Меняется оно тогда, когда вы практикуете. Критерий истины – практика.


	.kspc-quote-right
		.container.container--ks
			.kspc-quote-right__text Крийя является основанием, фундаментом и венцом всех духовных практик!


	.kspc-simple-text.kspc-simple-text--has-title
		.container.container--ks
			.kspc-simple-text__h2 Наука Крийя
			.kspc-simple-text__p
				p В практике Крийя, энергизируя каждую клеточку, особые центры, с концентрацией на продолговатом мозге, мы пробуждаем нейроны и отделы нашего мозга.




	.kspc-text-with-pic-and-hide
		.container.container--ks
			.kspc-twpah.kspc-twpah--pic-left.kspc-twpah--non-hide
				.kspc-twpah__pic
					img(src="img/DEE6E9.png", alt="")
				//.kspc-twpah__delimiter
				.kspc-twpah__text
					p Мы становимся способными принять и усвоить больше энергии-информации, высших знаний, за пределами обычного понимания.
					p Со временем, когда мы научимся чувствовать очень тонкие каналы внутри позвоночника, мы подойдем к Высоким техникам Крийя.
					p Во время практики в Высшей Крийя: один сознательный вдох и выдох равен одному году вашей эволюции, что соответствует космическому циклу вращения нашей солнечной системы, с ее планетарным сознанием.
				.clearfix

	.kspc-simple-text.kspc-simple-text--has-title
		.container.container--ks
			h2.kspc-simple-text__h2 Метод Крийя Мастера Имрама
			.kspc-simple-text__p.custom-ul
				ul
					li
						b Наглядное объяснение сути, <br>
						|  принципов и техник Крийя, как связи научного, метафизического и духовного.
					li
						b Удобная и понятная подача материала, <br>
						|  метод для людей любого уровня подготовки.
					li
						b Крийя даётся путем прямой передачи <br>
						|  в своем первоначальном, не искаженном виде. Это интенсивная практика, пробуждающая знания, данные нам  Свыше, от рождения.
					li
						b Метод позволяет увеличить силу и концентрацию, <br>
						|  пробуждает нейронные связи, активирует творческие способности, и без усилий пробуждает интуицию.
					li
						b За 2 дня семинара даются 6 из 7 ступеней Крийя <br>
						|  в виде стройной проверенной системы, раскрываются тайные ключи Крийя.
					li
						b Вы также получите доступ к образовательной платформе Имрам Крийя, <br>
						|  аудио и видео материалы для самостоятельной практики



	.kspc-3-in-row
		.container.container--ks
			h2.kspc-h2-style.kspc-3-in-row__title Метод Крийя Мастера Имрама
			.kspc-3-in-row__flex
				.kspc-3ir-item
					.kspc-3ir-item__pic
						img(src="img/0000FF.png", alt="")
					.kspc-3ir-item__desc
						.kspc-3ir-item__title Теоретический аспект Крийя
						.kspc-3ir-item__name Подробное разъяснение теоретического и философского аспектов науки Крийя

				.kspc-3ir-item
					.kspc-3ir-item__pic
						img(src="img/0000FF.png", alt="")
					.kspc-3ir-item__desc
						.kspc-3ir-item__title  Практика энергизации тела
						.kspc-3ir-item__name  Изучение комплекса 42 энергизируюших упражнений и энергизации сидя

				.kspc-3ir-item
					.kspc-3ir-item__pic
						img(src="img/0000FF.png", alt="")
					.kspc-3ir-item__desc
						.kspc-3ir-item__title  Базовые техники Крийя
						.kspc-3ir-item__name  Изучение базовых техник Крийя йоги и их практическое освоение

				.kspc-3ir-item
					.kspc-3ir-item__pic
						img(src="img/0000FF.png", alt="")
					.kspc-3ir-item__desc
						.kspc-3ir-item__title  Прогрессивные техники Крийя
						.kspc-3ir-item__name  Изучение прогрессивных техник Крийя – дыхание 14 Крий, Маха-мудра, Гуру-пранам, Джьоти-мудра, Паравастха.

				.kspc-3ir-item
					.kspc-3ir-item__pic
						img(src="img/0000FF.png", alt="")
					.kspc-3ir-item__desc
						.kspc-3ir-item__title  Практика с Мастером
						.kspc-3ir-item__name  Практическая отработка базовых и прогрессивных вместе с Мастером и подробное разъяснение всех техник

				.kspc-3ir-item
					.kspc-3ir-item__pic
						img(src="img/0000FF.png", alt="")
					.kspc-3ir-item__desc
						.kspc-3ir-item__title  Ответы на вопросы
						.kspc-3ir-item__name  Мастер отвечает на вопросы, связанные с выполнением техник. Это позволяет сформировать целостное понимание Науки Крийя


	.kspc-event
		.container.container--ks
			h2.kspc-h2-style.kspc-event-title Дата и формат участия
			.kspc-event-row
				.kspc-event-map
					img.kspc-event-map__img(src="img/0000FF.png", alt="")
				.kspc-event-info-wrap
					.kspc-event-info
						.kspc-event-info__name Дата
						.kspc-event-info__val
							span.kspc-event-info__date 3-4 июля, 2021
							span.kspc-event-info__time  с 13:00 до 19:00
					.kspc-event-info
						.kspc-event-info__name Место проведения
						.kspc-event-info__val Москва, ул. Никулинскя, 2К1  Метро Юго-Западная
					.kspc-event-info
						.kspc-event-info__name Стоимость участия
						.kspc-event-info__val 30 000 рублей
					.kspc-event-calendar
						a.kspc-event-calendar__item(href="" target="_blank")
							|  <svg class="kspc-event-calendar__item-pic" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5.33331" width="1.33333" height="12" rx="0.666667" fill="#25378D"/><rect y="6.6665" width="1.33333" height="12" rx="0.666666" transform="rotate(-90 0 6.6665)" fill="#25378D"/></svg>
							span.kspc-event-calendar__item-name Google Календарь

						a.kspc-event-calendar__item(href="" target="_blank")
							|  <svg class="kspc-event-calendar__item-pic" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5.33331" width="1.33333" height="12" rx="0.666667" fill="#25378D"/><rect y="6.6665" width="1.33333" height="12" rx="0.666666" transform="rotate(-90 0 6.6665)" fill="#25378D"/></svg>
							span.kspc-event-calendar__item-name Apple Календарь

					a.btn.kspc-event-btn(href="")  Принять участие


	.kspc-qa
		.container.container--ks
			h2.kspc-h2-style.kspc-qa-title Часто задаваемые вопросы
			.kspc-qa-main
				.kspc-qa-item
					.kspc-qa-item__top Что такое Крийя йога
					.kspc-qa-item__content
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic sapiente nobis in laboriosam at! Dolorem!
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic sapiente nobis in laboriosam at! Dolorem!
				.kspc-qa-item
					.kspc-qa-item__top Что такое медитация
					.kspc-qa-item__content
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur molestias aut voluptatem ratione nostrum illum?
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur molestias aut voluptatem ratione nostrum illum?
				.kspc-qa-item
					.kspc-qa-item__top Если я ничего не знаю о йоге, могу ли я практиковать Крийя
					.kspc-qa-item__content
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat explicabo debitis minus impedit, mollitia quis!
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat explicabo debitis minus impedit, mollitia quis!
				.kspc-qa-item
					.kspc-qa-item__top Ваша первая книга о Крийя йоге
					.kspc-qa-item__content
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi deleniti molestias porro, reiciendis ullam praesentium?
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi deleniti molestias porro, reiciendis ullam praesentium?
				.kspc-qa-item
					.kspc-qa-item__top Могут ли пожилые люди практиковать Крийя
					.kspc-qa-item__content
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eveniet tenetur voluptatem, assumenda fuga rem?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eveniet tenetur voluptatem, assumenda fuga rem?
				.kspc-qa-item
					.kspc-qa-item__top Что такое Семинар Имрам Крийя
					.kspc-qa-item__content
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero sint doloremque reiciendis quos alias? Doloribus.
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero sint doloremque reiciendis quos alias? Doloribus.
				.kspc-qa-item
					.kspc-qa-item__top Одежда для практики
					.kspc-qa-item__content
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem magni asperiores consectetur maiores harum tempora.
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem magni asperiores consectetur maiores harum tempora.
				.kspc-qa-item
					.kspc-qa-item__top Одежда для практики
					.kspc-qa-item__content
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem magni asperiores consectetur maiores harum tempora.
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem magni asperiores consectetur maiores harum tempora.

	.hr(style="background:red;")
	.hr(style="background:red;")
	.hr(style="background:red;")
	.hr(style="background:red;")
	.hr(style="background:red;")
	.hr(style="background:red;")
	.hr(style="background:red;")
	.hr(style="background:red;")
	.hr(style="background:red;")
	.hr(style="background:red;")
	.hr(style="background:red;")
	.hr(style="background:red;")
	.hr(style="background:red;")
	.hr(style="background:red;")
	.hr(style="background:red;")
	.hr(style="background:red;")
	.hr(style="background:red;")
	.hr(style="background:red;")
	.hr(style="background:red;")
	.hr(style="background:red;")




	.kspc-text-with-pic-and-hide
		.container.container--ks
			.kspc-twpah.kspc-twpah--pic-right
				.kspc-twpah__pic
					img(src="img/DEE6E9.png", alt="")
				//.kspc-twpah__delimiter
				.kspc-twpah__text
					p Йога присутствует во всех аспектах бытия. Она позволяет познать себя как микрокосмос, используя космический инструмент, которым является наше тело. Применяя научный психо&#8209;физиологический метод, мы можем пробудить внутренние резервы организма (знания, Свыше, с которыми мы рождаемся) и познать себя, как проявление Вселенной, созданной Высшим Творцом.
					p В Йоге используются три основных уровня восприятия  – это ментальный, психо&#8209;эмоциональный и физический. Все это помогает познать Духовный мир.
					p Йог – тот, кто осознает присутствие Вездесущего Творца в каждый момент своего бытия, в каждом дыхании!
					p Это тот, кто является выражением Божественной Силы, Мудрости и Покоя. Это тот, кто растворился, и  в итоге осознал Единство, полностью стерев свое эго. К этому можно прийти через Святую Науку Крийя -сосредоточение -внушение - восприятие .
					p Йога — это опыт, который помогает человеку прочувствовать это единство с Высшим Я, внутри нас и это абсолютно научный метод. Метод, который позволяет воссоединиться с тем, Кто есть Всё-во-всём…
					div.kspc-twpah-unwrap.js-kspc-twpah-unwrap
						span.kspc-twpah-unwrap__dots ...
						span.kspc-twpah-unwrap__text  Развернуть
				.clearfix


	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__h2 Метод ускоренной эволюции
			.kspc-simple-text__p
				p Для прохождения и трансформации всех уровней сознания требуется один миллион лет сознательной практики и праведной жизни.
				p Каждые 8 лет наш мозг обновляется. Например, мозг восьмилетнего ребенка не может воспринять информацию и знания 16-и летнего.  Хотя энергия идет постоянно, но усвоить её мозг не способен, не хватает понимания. Огромное количество наших нейронов спит, емкость восприятия малая.
				p Через восемь лет клетки мозга обновляются и происходит раскрытие под воздействием Солнца, химическим процессов и преобразования химических элементов внутри человека. Каждые  8 лет обновляя клетки мозга&nbsp;можно прийти к Реализации или высочайшей осознанности, но для это требуется один миллион лет эволюции.

	.quote-with-parallax.js-jarallax-1(style="background-image:url(img/quotes-bg-new.jpg);")
		.container.container--ks.container--qwp
			.quote-with-parallax-quote Крийя является физическим, научным и духовным методом, посредством которого ускоряется развитие тела, ума и души и достигается самореализация человека.


	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__h2 Наука Крийя
			.kspc-simple-text__p
				p <b>Крийя-йога – это инструмент, позволяющий человеку ускорить свою эволюцию.</b><span class="hidden display-d"></span> Крийя  — это высший метод постижения Закона Вселенной, где истинный ответ приходит из глубин внутреннего Я. Вечный неизменный закон вселенной, выраженный как Истина, Праведность, Безусловная Любовь, Мир и Покой, Ненасилие. Наука Крийя есть выражение этого Закона в действии.
				p Посредством этой практики, интуиция пробуждается без усилий и вы сможете лицом к Лицу встретиться со своим Высшим Я. Крийя йога учит, как управляя процессом дыхания, можно успокоить разум и достичь высших состояний сознания.


	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__p
				p В практике Крийя, энергизируя каждую клеточку, особые центры, с концентрацией на продолговатом мозге, мы пробуждаем нейроны и отделы мозга. Мы становимся способны принять и усвоить больше энергии -информации, высших знаний , за пределами обычного понимания.
				p Со временем, когда мы научимся чувствовать очень тонкие каналы внутри позвоночника, ученик подходит к Высоким техникам.
				p Во время практики Высшей Крийя: один сознательный вдох и выдох – это один год эволюции – что соответствует космическому циклу вращения нашей солнечной системы , с ее планетарным сознанием.


	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__h2 Научный метод доступный каждому
			.kspc-simple-text__p
				p Десятки миллионов людей во всем мире сегодня занимаются разными направлениями йоги, воспринимая ее в основном как гимнастику для тела. Однако йога, которую практиковали в течение пяти тысячелетий в Индии, имеет <b>несоизмеримо больший потенциал и глубокий сакральный смысл.</b>
				p Крийя йога<b>, как и Веды, вопреки распространенному заблуждению, не является индийской наукой. Есть</b> мнение, что Крийю изучали пророки Запада и Востока. Ее практиковали Пифагор, Архимед, Леонардо да Винчи, Карл Юнг, а так же многие современные&nbsp;известные лидеры. О ней упоминал в своих Йога-сутрах древний мудрец Патанджали.



	.kspc-text-with-pic-and-hide
		.container.container--ks
			.kspc-twpah.kspc-twpah--pic-left
				.kspc-twpah__pic
					img(src="img/DEE6E9.png", alt="")
				//.kspc-twpah__delimiter
				.kspc-twpah__text
					p Крийя веками передавалась только устно, чтобы избежать искажений, от учителя к ученику через посвящение, в виде Крий или «техник, которые должны практиковаться точно».
					p Любой человек, который ничего не знает о Крийя, но истинно хочет практиковать, хочет что-то сделать для своей жизни, для самого себя и других – может спокойно начать практику.
					p <b>Физическая подготовка - не важна.</b> Наука Крийя преобразует тело и делает человека более подготовленным. Если мы говорим о том, что человек должен быть подготовлен, тогда знания не универсальны. Подготовленным он должен быть тогда, когда сдает экзамены. А до этого, мы должны практиковать, тренироваться и работать над собой.
					p Наука Крийя не является хатха-йогой, здесь не делается акцент, чтобы сидеть в позе лотоса, полулотоса или по-турецки. Здесь очень важно, чтобы ваш позвоночник был ровным, то есть, вы можете сидеть на стуле или маленьком пуфике, который позволит вам удерживать позвоночник ровно. Этого достаточно для начала. Вся реализация происходит в позвоночнике, в головном и спинном мозге. Она не происходит в ногах или руках.
					p Настоящая практика Крийя выглядит следующим образом – мы практикуем Крийя, чтобы пробудить то, чем мы являемся на самом деле, то есть всю палитру цветов сразу, постепенно и достаточно быстро. Мы движемся не от точки А к точке Б, а постигаем сразу весь алфавит. То есть в нас уже все заложено Свыше...
					div.kspc-twpah-unwrap.js-kspc-twpah-unwrap
						span.kspc-twpah-unwrap__dots ...
						span.kspc-twpah-unwrap__text  Развернуть
				.clearfix


	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__h2 Совершенный путь познания Высшего
			.kspc-simple-text__p
				p Парамаханса Йогананда, великий индийский йогин и просветитель, принесший Крийю в Америку и Европу, писал в книге «Автобиография йога», глава 26 «Учение Крия&#8209;йоги»:
				p «Крия-йога — это простой психофизиологический метод, благодаря которому кровь человека освобождается от углекислоты и обогащается кислородом. Атомы&nbsp;этого избыточного количества кислорода преобразуются в жизненный ток, что омолаживает мозг и спинальные центры. Тормозя процесс образования венозной крови, йог в состоянии затормозить или предотвратить разложение тканей.


	.kspc-slider-block
		.container.container--ks
			.kspc-slider.js-kspc-slider.custom-dots
				a.kspc-slider-item(href="img/DEE6E9.png" data-fancybox="slider-2")
					img.kspc-slider-item__img(src="img/DEE6E9.png", alt="")
				a.kspc-slider-item(href="img/DEE6E9.png" data-fancybox="slider-2")
					img.kspc-slider-item__img(src="img/DEE6E9.png", alt="")
				a.kspc-slider-item(href="img/DEE6E9.png" data-fancybox="slider-2")
					img.kspc-slider-item__img(src="img/DEE6E9.png", alt="")

	.kspc-simple-text.kspc-simple-text--with-hide
		.container.container--ks
			.kspc-simple-text__p
				p Крия-йога - это инструмент, благодаря которому может быть ускорена эволюция человека, - объяснял ученикам Шри Юктешвар. - Йоги древности открыли, что секрет Космического Сознания тесно связан с господством над дыханием. Это уникальный и бессмертный вклад Индии в сокровищницу мирового знания. Жизненная сила, обычно занятая поддержанием деятельности сердца, может быть освобождена для более высоких видов деятельности методом успокоения и остановки непрестанной потребности в дыхании".
				p Крия-йог мысленно направляет движение жизненной энергии вверх и вниз вокруг шести спинальных центров (мозговое, затылочное, грудное, поясничное, крестцовое и копчиковое сплетения), соответствующих двенадцати астральным знакам зодиака - символическому Космическому Человеку. Полминуты обращения энергии вокруг чувствительного спинного мозга человека вызывают тонкий прогресс в его эволюции; полминуты крия равны году естественного духовного развития.
				p Астральная система человека с шестью (двенадцать по полярности) внутренними созвездиями, обращающимися вокруг солнца всеведущего духовного ока, связана с физическим солнцем и двенадцатью знаками зодиака. Так на всех людей действует внутренняя и внешняя вселенная. Древние риши - мудрецы открыли, что земная и небесная сфера человека двенадцатилетними циклами толкают его вперед на его естественный путь. Писания утверждают, что человеку требуется миллион лет нормальной безболезненной эволюции, чтобы, усовершенствовав мозг, достичь Космического Сознания.
				p Тысяча крийя, выполняемых в течение восьми с половиной часов, дают йогу за день эквивалент тысячи лет естественной эволюции, или 365.000 лет эволюции за один год. Таким образом за три года крийя-йог может достичь собственным разумным усилием того же результата, который природа дает только через миллион лет. Конечно, ускорением крийя могут пользоваться только такие йоги, которые с помощью гуру тщательно приготовили тело и мозг для того, чтобы выдержать силу, порождаемую интенсивной практикой.
				p Начинающий заниматься крийя делает от 14 до 28 йоговских упражнений два раза в день. Многие йоги достигают освобождения через 6, 12, 24 или 48 лет.
				p Тело обычного человека подобно лампочке в пятьдесят ватт, которая не способна выдержать мощность в миллион ватт, пробужденную постоянной практикой крийя. Благодаря постепенному и регулярному наращиванию простых и всем понятных методов крийя тело человека день за днем астрально преобразуется и становится, наконец, готовым для проявления бесконечных потенций космической энергии, составляющей первое материально активное порождение Духа.
				p Крия-йога не имеет ничего общего с ненаучными дыхательными упражнениями, преподаваемыми многими введенными в заблуждение фанатиками. Попытки насильственно удержать дыхание в легких не только неестественны, но и явно неприятны. Крия же, напротив, с самого начала сопровождается ощущением покоя и ощущением эффекта восстановления в позвоночнике.
				p Древняя йоговская техника преобразует дыхание в вещество мысли. Путем духовного развития можно познать дыхание как ментальную концепцию действия ума: воображаемое дыхание.
				p Можно привести множество примеров математической связи между скоростью дыхания человека и изменениями в состоянии его сознания. Человек, все внимание которого поглощено интеллектуальной беседой или осуществлением какого-нибудь искусного или трудного дела, автоматически дышит очень медленно. Устойчивость внимания зависит от скорости дыхания, быстрое или неровное дыхание неминуемо сопровождается вредными эмоциональными состояниями страха, страсти, гнева. Беспокойная обезьяна дышит со скоростью тридцать два раза в минуту в отличие от человека, скорость дыхания которого в среднем восемнадцать раз. Слон, крокодил, черепаха, змея и другие животные, известные своей долгой жизнью, отличаются меньшей скоростью дыхания, чем у человека. Гигантская черепаха, например, доживающая до трехсот лет, дышит лишь четыре раза в минуту.
				p Омолаживающий эффект сна связан с временным неосознаванием человеком тела и дыхания. Спящий как бы становится йогом, каждую ночь он бессознательно выполняет йоговский ритуал освобождения себя от отождествления с телом и поглощается потоками жизненной силы, исцеляющей главные области головного мозга и шесть "субдинамо" спинальных центров. Таким образом, спящий, сам того не ведая, подзаряжается космической энергией, поддерживающей его всю жизнь».
				div.kspc-twpah-unwrap.js-simple-text-unwrap
					span.kspc-twpah-unwrap__dots ...
					span.kspc-twpah-unwrap__text  Развернуть


	.kspc-simple-text
		.container.container--ks
			.kspc-simple-text__h2 Духовный рост и семейные ценности
			.kspc-simple-text__p
				p <b>Практика Крийя, в этом смысле, не нуждается в том, чтобы уходить куда-то.</b><span class="hidden display-d"></span> Лахири Махасайя, ученик Бабаджи, показал всему миру пример домохозяина. У Лахири Махасайя было пятеро детей, жена и множество учеников. Как и все люди он жил достаточно сложной жизнью, поскольку был простым служащим и не имел средств существованию таких, какие есть у нас, но при этом он достиг Реализации, то есть полного освобождения.
				p Вы пришли сюда для реализации — это цель нашей жизни. По дороге вы можете можете и должны создавать семьи, дабы позволить другим душам реализоваться, поэтому чем больше детей, чем лучше.




	.kspc-text-with-pic-and-hide
		.container.container--ks
			.kspc-twpah.kspc-twpah--pic-right.kspc-twpah--non-hide
				.kspc-twpah__pic
					img(src="img/DEE6E9.png", alt="")
				//.kspc-twpah__delimiter
				.kspc-twpah__text
					p Если у вас есть ощущение, что вы монах, значит с этим ощущением нужно что-то делать, потому что настоящее монашество– это ваше полное, спокойное, отрешённое восприятиеывсего того, к чему привязаны люди. «Я монах в миру, у меня есть семья, но истинное монашество — это не уход от мира, а пребывание в миру, но будучи не от мира сего должен быть монах…».
					p Домохозяин или домохозяйка, то есть семьянин – это лучшее, что может быть проявлено и благодаря семье возможно быстрее прийти к Реализации...
				.clearfix

	include ../kriya-science/ks-post-tags-and-share