section.ksquote
	//маленький шрифт на планшете
	.container.container--ksquote-wide
		//широкий контейнер
		.ksquote-content
			h2.ksquote-content__title.ksquote-content__title--small-on-tablet Крийя-Йога – это высший метод постижения Закона <br class="dd"> Вселенной, где&nbsp;истинный ответ приходит из глубин Высшего  Я
			.ksquote-content-description
				.ksquote-content-description__desk 10 минут практики Крийя эквивалентно 20-ти годам естественной эволюции человека. <br class="dd"> 50 минут практики научной Крийя эквивалентно 100 годам духовной эволюции……
				.ksquote-content-description__mob 10 минут практики Крийя эквивалентно 20-ти годам естественной эволюции человека. 50 минут практики научной Крийя эквивалентно 100 годам духовной эволюции……
			.ksquote-content__author Мастер Имрам