section.ksquote.ksquote--seminar-page
	.container
		//широкий контейнер
		.ksquote-content
			h2.ksquote-content__title Крийя-Йога – это высший метод постижения Закона <br class="dd"> Вселенной, где истинный ответ приходит из глубин Высшего  Я
			.ksquote-content-description
				.ksquote-content-description__desk 10 минут практики Крийя эквивалентно 20-ти годам естественной эволюции человека. <br> 50 минут практики научной Крийя эквивалентно 100 годам духовной эволюции……
				.ksquote-content-description__mob 10 минут практики Крийя эквивалентно 20-ти годам естественной эволюции человека. 50 минут практики научной Крийя эквивалентно 100 годам духовной эволюции……
			.ksquote-content__author Мастер Имрам