
.artimaster-posts-section {
	margin-top: 41px;
    margin-bottom:150px;
	&--videos{
		margin-bottom: 93px;
	}
	&--videos-on-music-page{
		margin-top: 14px;

	}
}

.artimaster-posts__container {}

.artimaster-section-title {}

.artimaster-posts {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 19px;
    margin-bottom: -48px;
	&--videos{
		margin-bottom: -49px;
	}
}

.artimaster-post {
	width: calc(50% - 18px);
    margin-bottom: 48px;



	&__img-wrapper {
		display: block;
		position: relative;
		width: 100%;
		 -webkit-mask-image: -webkit-radial-gradient(white,#000); border-radius: 6px;
		overflow: hidden;
		-webkit-mask-image: -webkit-radial-gradient(white, #000);

		&::after {
			content: '';
			display: block;
			padding-top: 100%;
		}

		&:not(.artimaster-post__img-wrapper--videos){
			@include scalepic();
		}
		&--videos{
			@media screen and (min-width: 1151px){
				&+.artimaster-post__title {
					margin-top: 13px;
				}

			}
			&::after {
				padding-top: 62%;
				opacity: 0;
				transition: all .4s ease;
				background: rgba(255, 255, 255, .1);
				backdrop-filter: blur(5px);
				z-index: 3;
			}

			&::before {
				position: absolute;
				z-index: 4;
				top: 50%;
				left: 50%;
				display: block;
				width: 59px;
				height: 59px;
				content: '';
				transition: all .4s ease;
				transform: translate(-50%, -50%);
				background: url(../img/play-vid.svg) no-repeat center center;
				background-size: contain;
				opacity: 0;
			}
			@media screen and (min-width: 1151px) {
				&:hover {

					&::after, &::before, .videos-duration {
						opacity: 1;
					}
				}
			}
		}
	}

	&__img {
		position: absolute;
		-o-object-fit: cover;
		object-fit: cover;
		-o-object-position: center;
		object-position: center;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__title {
		font-style: normal;
		font-weight: 600;
		font-size: 17px;
		line-height: 26px;
		color: $dark;
		margin-top: 16px;
	}

	&__meta {
		/*font-weight: 300;
		font-size: 17px;
		line-height: 26px;*/
		text-transform: uppercase;
		margin-top: 6px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		font-weight: 400;
		font-size: 13px;
		line-height: 26px;
		margin-top: -3px;

		@media screen and (max-width: 1150px) {
			margin-top: -1px;
		}

		@media screen and (max-width: 749px) {
			font-size: vw(13);
			line-height: vw(26);
			margin-top: 0;
		}
	}

	&__img {}

	&__meta-theme {
		color: #25378D;
		margin-right: 12px;
		text-transform: capitalize;
	}

	&__meta-date {
		color: #AFB4BF;
		margin-right: 15px;
		text-transform: lowercase;
	}
	//.btn-more-about-course-wrap
	&__meta-share-icon {
		width: 14px;
		height: 14px;
		background: url(../img/icons/subscribe.svg);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__desc {
		font-size: 13px;
		line-height: 22px;
		color: $dark;
		margin-top: 8px;
		letter-spacing: -0.06px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;


		@media screen and (max-width: 1150px) {
		}

		@media screen and (max-width: 749px) {
			font-size: vw(15);
			line-height: vw(24);
			margin-top: vw(6);
		}
	}

	&:hover {}

	&:active {}

	&:focus {}


	&--videos{
		@media screen and (min-width: 1151px){
			margin-bottom: 49px;
			.artimaster-post__title{
				font-size: 17px;
				line-height: 26px;
			}
		}


		// new
		.artimaster-post__meta {

			@media screen and (max-width: 749px) {
				margin-top: vw(-3);
			}
		}
		/*
		.artimaster-post__meta {
			font-weight: 400;
			font-size: 13px;
			line-height: 26px;
			margin-top: -3px;

			@media screen and (max-width: 1150px) {
				margin-top: -1px;
			}

			@media screen and (max-width: 749px) {
				font-size: vw(13);
				line-height: vw(26);
				margin-top: vw(-3);
			}
		}
		.artimaster-post__meta-date {
			@media screen and (min-width: 1151px) {
				margin-right: 16px;
			}

			@media screen and (max-width: 1150px) {}

			@media screen and (max-width: 749px) {}
		}*/
	}
}

.artimaster-posts__pagination{
    margin-top: 50px;
}
