@media screen and (max-width: 1150px) {
	.artimaster-posts-section {
		margin-top: 55px;
		margin-bottom: 107px;

		&--videos {
			margin-bottom: 58px;
		}

		&--videos-on-music-page {
			margin-top: 8px;

			.artimaster-post {

				&__title {
					font-size: 19px;
					line-height: 26px;
				}
			}
		}
	}

	.artimaster-posts__container {}

	.artimaster-section-title {}

	.artimaster-posts {
		margin-top: 29px;
		margin-bottom: -51px;
	}

	.artimaster-post {
		margin-bottom: 51px;
		&__img-wrapper {
			&::after {}
		}

		&__img {}

		&__title {
			font-style: normal;
			font-weight: normal;
			font-weight: 500;
			font-size: 15px;
			line-height: 24px;
			color: $dark;
			margin-top: 7px;
		}

		&__meta {
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 26px;
			text-transform: uppercase;
			margin-top: -1px;
		}

		&__img {}

		&__meta-theme {}

		&__meta-date {}

		&__meta-share-icon {}

		&__desc {
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 24px;
			color: $dark;
			margin-top: -1px;
		}

		&:hover {}

		&:active {}

		&:focus {}

		&--videos{
			/*.artimaster-post__title{
				font-size: 19px;
				line-height: 26px;
			}*/
		}
	}

	.artimaster-posts__pagination {
		margin-top: 87px;}

}




@media screen and (max-width: 749px) {
	.artimaster-posts-section {
		//margin-top: vw(22);
		margin-top: 9.11111vw;
		//margin-bottom: vw(93);
		margin-bottom: 16.2vw;

		&--videos {
			margin-bottom: 16vw;
		}

		&--videos-on-music-page {
			.artimaster-section-title {

				font-style: normal;
				font-weight: normal;
				font-size: vw(32);
				line-height: vw(45);
			}

			.artimaster-post {

				&__title {
					margin-top: vw(18);
					font-style: normal;
					font-weight: normal;
					font-size: vw(19);
					line-height: vw(27);
				}
			}
		}
	}

	.artimaster-posts__container {}

	.artimaster-section-title {}

	.artimaster-posts {
		margin-top: vw(7);
		margin-bottom: vw(-51);
		&--videos{
			margin-bottom: -14.4vw;
		}
	}

	.artimaster-post {
		width: 100%;
		margin-bottom: vw(51);

		&--videos {    margin-bottom: 14.4vw;
		}

		&__img-wrapper {
			&::after {}

			&--videos {
				&+.artimaster-post__title {
					margin-top: vw(7);
				}
			}
		}

		&__img {}

		&__title {
			margin-top: vw(7);
			font-style: normal;
			//font-weight: 500;
			font-size: vw(15);
			line-height: vw(24);
			/* identical to box height, or 137% */


			color: $dark;
		}

		&__meta {
			font-style: normal;
			font-weight: 400;
			font-size: vw(15);
			line-height: vw(24);
			margin-top: 0px;
		}

		&__img {}

		&__meta-theme {
			color: #25378D;
			margin-right: vw(12);
		}

		&__meta-date {
			margin-right: vw(14);
			color: #AFB4BF;
		}

		&__meta-share-icon {
			width: vw(13);
			height: vw(13);
		}

		&__desc {
			margin-top: vw(0);
			font-style: normal;
			font-weight: 400;
			font-size: vw(15);
			line-height: vw(24);
			color: $dark;
		}

		&:hover {}

		&:active {}

		&:focus {}

		&--videos{
			.artimaster-post__title{

			}
		}
	}

	.artimaster-posts__pagination {
		margin-top: vw(86);
	}

}