.band {
padding-top: 41px;
padding-bottom: 96px;
    &__container {
        max-width: 100%;
    }
    
    &__title {
        margin-bottom: 18px;
    }
    
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: -18px;
    }
    
    &__card {
        width: 50%;
        padding: 18px;
    }
    
    &__img-wrapper {
        margin-bottom: 17px;
        max-width: 403px;
        &:after {
            padding-top: 100%;
        }
    }
    
    &__img {
    }
    
    &__card-title {
        margin-bottom: 6px;
    }
    
    &__theme-wrapper {
        margin-bottom: 6px;
    }
    
    &__theme-link {
    }
    
    &__theme-date {
    }
    
    &__theme-icon {
    }
    
    &__theme-desc {
        max-width: 403px;
        margin-bottom: 47px;
    }

    &__patination {

    }

    &__paginate {

    }
}