.maslider-section {
	.maslider-slide {
		max-width: 845px;
		width: 100%;
		padding: 3px;
		height: 400/842 * 100%;
		&__inner {
		}
	}
	.maslider-slide__title {
		position: absolute;
		top: 47%;
		left: 55px;
		font-size: 35px;
		line-height: 26px;
		display: flex;
		align-items: center;
		color: #363B42;
		z-index: 100;
	}
	.maslider-slide__inner {
		position: relative;
		&::after {
			content: '';
			padding-top: 398/842 * 100%;
			display: block;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	.slick-dots {
		display: none!important;
	}
	.article-arrow {
		position: absolute;
		bottom: 26px;
		width: 37px;
		height: 37px;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		z-index: 100;
		&--prev {
			left: 15px;
		}
		&--next {
			right: 12px;
		}
	}
}