@media screen and (max-width: 1150px) {

	//  <=tablet

	.maslider-slide {
		max-width: 588px;
		padding: 0 3px 0;

		&__inner {}
	}

	.maslider-slide__title {
		span {}
	}

	.maslider-slide__inner {
		&::after {
			content: '';
			padding-top: 48.092%;
			display: block;
			font-weight: 300;
			font-size: 32px;
			line-height: 37px;
			/* or 116% */

			display: flex;
			align-items: center;
			letter-spacing: -0.03em;

			color: #2E333D;

		}

		img {}
	}

	.maslider-arrow {
		display: none !important;

		&--prev {}

		&--next {
			svg {}
		}

		&,
		svg path {}

		svg {
			path {}
		}

		&:hover {
			svg path {}
		}
	}
}


@media screen and (max-width: 749px) {

	//767 было
	.maslider-section {}

	.maslider-slide {
		width: vw(292);
		padding: 0 vw(3) 2px;

		&__inner {}
	}

	.maslider-slide__title {
		padding: vw(10) vw(19);
		font-style: normal;
		font-weight: normal;
		font-size: vw(19);
		line-height: vw(26);
		color: #363B42;

		span {
			width: 60%;
		}
	}

	.maslider-slide__inner {
		&::after {
			padding-top: 47.638%;
		}

		img {}
	}

	.maslider-arrow {

		&--prev {}

		&--next {
			svg {}
		}

		&,
		svg path {}

		svg {
			path {}
		}

		&:hover {
			svg path {}
		}
	}
}