.maslider-section {
	//border-top: 1px solid #C4C4C4;
	&:hover{
		.maslider-arrow{
			opacity: 1;
		}
	}
}

.maslider-slide {
	max-width: 848px;
	width: 100%;
	padding: 0 3px 5px;
	height: 400/842 * 100%;

	&__inner {
		display: block;
		width: 100%;
	}
}

.maslider-slide__title {
	position: absolute;
	width: 100%;
	height: 100%;
    padding: 21px 56px 20px;

	top: 0;
	left: 0;
	font-size: 35px;
	line-height: 26px;
    letter-spacing: -0.2px;
	display: flex;
	align-items: center;
	color: #363B42;
	z-index: 30;
	span{
		display: block;
	}
}

.maslider-slide__inner {
	position: relative;
	overflow: hidden;
	border-radius: 5px;

	&::after {
		content: '';
		padding-top: 398/842 * 100%;
		display: block;
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.maslider-arrow {
	position: absolute;
    bottom: 20px;
	width: 37px;
	height: 37px;
	box-sizing: border-box;
	background: #FFFFFF;
	border: 1px solid #AFB4BF;
	box-sizing: border-box;
	border-radius: 500px;
	transform: rotate(-180deg);
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	z-index: 100;
	cursor: pointer;
	transition: all .4s ease;
	opacity: 0;

	&--prev {
		left: 22px;
	}

	&--next {
		right: 22px;

		svg {
			transform: rotate(180deg);
		}
	}
	&,svg path{
		transition: all .4s ease;
	}
	svg {
		display: block;
		height: auto;
		width: 7px;
		path{

		}
	}
	&:hover{
		border-color:  #6974A9;
		svg path{
			fill: #6974A9;
		}
	}
}