.new-article {
padding-top: 76px;
    &__container {
        max-width: 100%;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__title {
        margin-bottom: 17px;
        font-size: 35px;
        line-height: 59px;
        letter-spacing: -0.03em;
        color: #3E434D;
    }
    
    &__link-more {
        margin-top: -8px;
    }
    
    &__slider {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        margin: -40px;
    }
    
    &__slider-card {
        width: 257px;
        padding: 18px;
    }
    
    &__card-img-wrapper {
        max-width: 257px;
        position: relative;
        margin-bottom: 17px;
        &::after {
            content: '';
            display: block;
            padding-top: 100%;
        }
    }

    &__card-img {
        position: absolute;
        object-fit: cover;
        object-position: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    &__card-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #53565A;
        margin-bottom: 6px;
    }
    
    &__theme-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }
    
    &__theme-link {
        font-weight: 300;
        font-size: 13px;
        line-height: 26px;
        text-transform: uppercase;
        color: #25378D;
        margin-right: 15px;
    }
    
    &__theme-date {
        font-weight: 300;
        font-size: 13px;
        line-height: 26px;
        text-transform: uppercase;
        color: #AFB4BF;
        margin-right: 14px;
    }
    
    &__theme-icon {
        width: 12px;
        height: 12px;
    }
    
    &__desc {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        font-size: 17px;
        line-height: 30px;
        color: #53565A;
    }
}

.article-slider {
    .article-arrow {
        position: absolute;
        top: 31.5%;
        &--prev {
            left: -4px;
        }
        &--next {
            right: -7px;
        }
    }

    .slick-dots {
		position: absolute;

		z-index: 4;
		left: 50%;
		bottom: -5%;
		transform: translate(-48%, -50%);
		margin-top: 1px;

		display: flex;
		align-items: center;
		list-style: none;

		li {
			margin: 0 7px;
			list-style: none;

			width: 9px;
			height: 9px;
			border: 1px solid #25378D;
			box-sizing: border-box;
			border-radius: 50%;
			transition: .3s;
			position: relative;

			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				background: #25378D;
				border-radius: 50%;
				position: absolute;
				left: 0;
				top: 0;
				opacity: 0;
				transition: .3s;

			}

			&.slick-active {
				&::before {
					opacity: 1;
				}
			}

			button {
				display: none;
			}
		}
	}
}