@media screen and (max-width: 1150px) {
    .new-article {
        padding-top: 52px;
        padding-bottom: 53px;
            &__container {
                max-width: 100%;
                width: 100%;
            }
            &__header {
                margin-bottom: 14px;
            }
            
            &__title {
                letter-spacing: -.03em;
                margin-bottom: 17px;
            }
            
            &__link-more {
                margin-top: -8px;
            }
            
            &__slider {
                margin: -18px;
            }
            
            &__slider-card {
                padding: 18px;
                width: 309px;
            }
            
            &__card-img-wrapper {
                max-width: 273px;
                position: relative;
                margin-bottom: 17px;
                &::after {
                    content: '';
                    display: block;
                    padding-top: 100%;
                }
            }
        
            &__card-img {
            }
            
            &__card-title {
                margin-bottom: 11px;
            }
            
            &__theme-wrapper {
                margin-bottom: 12px;
            }
            
            &__theme-link {
                
            }
            
            &__theme-date {
            }
            
            &__theme-icon {
                width: 12px;
                height: 12px;
            }
            
            &__desc {
              
            }
            .slick-dots {
                display: none!important;
            }
        }
}

@media screen and (max-width: 767px) {
    .new-article {
        padding-top: vw(43);
        padding-bottom: vw(54);
            &__container {
                max-width: 100%;
                width: 100%;
            }
            &__header {
                margin-bottom: vw(7);
            }
            
            &__title {
                letter-spacing: normal;
                margin-bottom: 0px;
            }
            
            &__link-more {
                margin-top: vw(5);
                font-size: vw(13);
                line-height: vw(16);
            }
            
            &__slider {
                margin: vw(-9);
            }
            
            &__slider-card {
                padding: vw(9);
                width: vw(291);
            }
            
            &__card-img-wrapper {
                max-width: vw(266);
                position: relative;
                margin-bottom: vw(17);
                &::after {
                    content: '';
                    display: block;
                    padding-top: 100%;
                }
            }
        
            &__card-img {
            }
            
            &__card-title {
                margin-bottom: vw(11);
            }
            
            &__theme-wrapper {
                margin-bottom: vw(12);
            }
            
            &__theme-link {
                
            }
            
            &__theme-date {
            }
            
            &__theme-icon {
                width: vw(12);
                height: vw(12);
            }
            
            &__desc {
              
            }
            .slick-dots {
                display: none!important;
            }
        }
}