.new-article {
	padding-top: 76px;
	padding-bottom: 53px;


	&__container {
		max-width: 100%;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		margin-bottom: 0;
		margin-left: -3px;
	}

	&__link-more {
		margin-top: 8px;
		margin-right: 3px;
	}

	&__slider {
		margin-top: 18px;

		.slick-list {
			margin: 0 -18px;
			z-index: 1;

			&::before,
			&::after {
				content: '';
				display: block;
				background: #fff;
				position: absolute;
				height: 100%;
				width: 19px;
				z-index: 2;
				top: 0;
			}

			&::before {
				left: -1px;
			}

			&::after {
				right: -1px;
			}
		}

		.slick-track {
			z-index: 1;
		}
	}

	&__slider-card {
		padding: 0 0;
		margin: 0 18px;
	}

	&__card-img-wrapper {
		display: block;
		width: 100%;
		max-width: 100%;
		position: relative;
		margin-bottom: 17px;
		overflow: hidden;
		-webkit-mask-image: -webkit-radial-gradient(white, #000);
		border-radius: 6px;


		&::after {
			content: '';
			display: block;
			padding-top: 100%;
			z-index: 2;
		}

		&:not(.new-article__card-img-wrapper--videos) {
			@include scalepic();
		}


		&--videos {
			margin-bottom: 21px;
			&::after {
				padding-top: 62%;
				opacity: 0;
				transition: all .4s ease;
				background: rgba(255, 255, 255, .1);
				backdrop-filter: blur(5px);
				z-index: 3;
			}

			&::before {
				position: absolute;
				z-index: 4;
				top: 50%;
				left: 50%;
				display: block;
				width: 59px;
				height: 59px;
				content: '';
				transition: all .4s ease;
				transform: translate(-50%, -50%);
				background: url(../img/play-vid.svg) no-repeat center center;
				background-size: contain;
				opacity: 0;
			}
			&:hover {

				&::after,&::before,.videos-duration{
					opacity: 1;
				}
			}
		}

	}


	&__card-img {

		z-index: 1;
	}

	&__card-title {

		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		margin-bottom: 6px;
	}

	&__theme-wrapper {
		margin-bottom: 5px;
	}

	&__theme-link {}

	&__theme-date {}

	&__theme-icon {
		width: 12px;
		height: 12px;
	}

	&__desc {}


	&--videos + .hr-video + &--videos{
		padding-top: 41px;
	}
	&--videos{
		.card__title{
			font-size: 17px;
			line-height: 26px;
		}
	}
}

.article-arrow {
	top: 116px;

	&.customized-arrow--prev {}

	&.customized-arrow--next {}
}
.new-videos-arrow{
    top: 114px;
}
.article-slider {
	z-index: 1;

	&:hover {
		.article-arrow,.new-videos-arrow {
			opacity: 1;
		}
	}

	@media screen and (min-width: 1151px) {
		&::before {
			content: '';
			display: block;
			z-index: 1;
			position: absolute;
			left: -40px;
			top: 0;
			height: 100%;
			width: calc(100% + 80px);
			//background: red;
		}
	}

	.slick-list {
		z-index: 2;
	}

	.slick-arrow {
		z-index: 3;
	}

	.slick-dots {
		z-index: 2;
		position: relative;

		margin-top: 26px;


	}
}





.videos-duration{
	position: absolute;
	right: 9px;
	bottom: 9px;
	z-index: 8;
    padding: 2px 13px 3px;
	transition: all .4s ease;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	-webkit-mask-image: -webkit-radial-gradient(white, #000);
	opacity: 0;
}
.videos-duration-text{

	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 17px;
	/* or 100% */

	display: flex;
	align-items: center;
	text-align: center;

	color: $dark;

}