@media screen and (max-width: 1150px) {
	.new-article {
		padding-top: 54px;
		padding-bottom: 53px;

		&__container {
			max-width: 100%;
			width: 100%;
		}

		&__header {
			margin-bottom: 0;
		}

		&__title {
			letter-spacing: -.03em;
			margin-bottom: 0;
			margin-left: 0;
		}

		&__link-more {
			margin-top: 0;
			margin-top: 8px;
		}

		&__slider {
			margin: 0;
			margin-top: 29px;

			//margin: -18px;
			.slick-list {
				margin: 0;

				&::before, &::after{
					display: none;
				}
			}
		}

		&__slider-card {
			width: 273px;
			margin: 0;
			margin-right: 36px;
			padding: 0;
		}

		&__card-img-wrapper {
			width: 100%;
			max-width: 100%;
			position: relative;
			margin-bottom: 14px;

			&::after {
				content: '';
				display: block;
				padding-top: 100%;
			}
		}

		&__card-img {}

		&__card-title {
			font-size: 24px;
			line-height: 32px;
			margin-bottom: 9px;
			/* identical to box height, or 187% */


			color: $dark;

		}

		&__theme-wrapper {
			margin-bottom: 12px;
		}

		&__theme-link {
			font-weight: 400;
			font-size: 15px;
			line-height: 18px;
			text-transform: uppercase;
			color: #25378D;
			margin-right: 13px;
		}

		&__theme-date {
			font-weight: 400;
			font-size: 15px;
			line-height: 18px;
			text-transform: uppercase;
			color: #AFB4BF;
		}

		&__theme-icon {
			width: 12px;
			height: 12px;
		}

		&__desc {
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 24px;
			max-width: 100%;
			width: 100%;
			margin-right: 0;

			color: $dark;
		}

		.slick-dots {
			display: none !important;
		}
	}
}

@media screen and (max-width: 749px) {

	//767 было
	.new-article {
		padding-top: vw(43);
		padding-bottom: vw(52);

		&__container {
			max-width: 100%;
			width: 100%;
		}

		&__header {
			margin-bottom: vw(7);
		}

		&__title {
			letter-spacing: normal;
			margin-bottom: 0px;
		}

		&__link-more {
			margin-top: vw(5);
			font-size: vw(13);
			line-height: vw(16);
		}

		&__slider {
			margin-top: vw(7);
		}

		&__slider-card {
			padding: 0;
			width: vw(266);
			margin-right: vw(23);
		}

		&__card-img-wrapper {
			position: relative;
			margin-bottom: vw(17);

			&::after {
				content: '';
				display: block;
				padding-top: 100%;
			}
		}

		&__card-img {}

		&__card-title {
			margin-bottom: vw(11);
			font-style: normal;
			font-weight: normal;
			font-size: vw(19);
			line-height: vw(27);

			color: $dark;

		}

		&__theme-wrapper {
			margin-bottom: vw(12);
		}

		&__theme-link {
			font-weight: 400;
			font-size: vw(13);
			line-height: vw(16);
			text-transform: uppercase;
			color: #25378D;
			margin-right: vw(13);
		}

		&__theme-date {
			font-weight: 400;
			font-size: vw(13);
			line-height: vw(16);
			text-transform: uppercase;
			color: #9CA1AC;
			margin-right: vw(14);
		}

		&__theme-icon {
			width: vw(13);
			height: vw(13);
		}

		&__desc {
			font-style: normal;
			font-weight: 400;
			font-size: vw(15);
			line-height: vw(24);
			max-height: vw(48);
			/* or 160% */


			/* Font_text_dark */

			color: $dark;
		}

		.slick-dots {
			display: none !important;
		}
	}
}