.new-article {
	padding-top: 76px;
	padding-bottom: 58px;

	&__container {
		max-width: 100%;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		margin-bottom: 0;
		margin-left: -3px;
	}

	&__link-more {
		margin-top: 8px;
		margin-right: 3px;
	}

	&__slider {
		margin-top: 18px;
		.slick-list {
			margin: 0 -18px;
			z-index: 1;
			&::before,&::after{
				content: '';
				display: block;
				background: #fff;
				position: absolute;
				height: 100%;
				width: 19px;
				z-index: 2;
				top: 0;
			}
			&::before{
				left: -1px;
			}
			&::after{
				right: -1px;
			}
		}
		.slick-track{
			z-index: 1;
		}
	}

	&__slider-card {
		padding: 0 0;
		margin: 0 18px;
	}

	&__card-img-wrapper {
		display: block;
		width: 100%;
		max-width: 100%;
		position: relative;
		margin-bottom: 17px;
		overflow: hidden;
		 -webkit-mask-image: -webkit-radial-gradient(white,#000); border-radius: 6px;


		&::after {
			content: '';
			display: block;
			padding-top: 100%;
		}

		@include scalepic();
	}

	&__card-img {}

	&__card-title {

		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		margin-bottom: 6px;
	}

	&__theme-wrapper {
		margin-bottom: 5px;
	}

	&__theme-link {}

	&__theme-date {}

	&__theme-icon {
		width: 12px;
		height: 12px;
	}

	&__desc {}
}

.article-arrow {
	top: 116px;

	&.customized-arrow--prev {
	}

	&.customized-arrow--next {
	}
}

.article-slider {
	z-index: 1;

	&:hover {
		.article-arrow {
			opacity: 1;
		}
	}

	@media screen and (min-width: 1151px) {
		&::before {
			content: '';
			display: block;
			z-index: 1;
			position: absolute;
			left: -40px;
			top: 0;
			height: 100%;
			width: calc(100% + 80px);
			//background: red;
		}
	}

	.slick-list {
		z-index: 2;
	}

	.slick-arrow {
		z-index: 3;
	}

	.slick-dots {
		z-index: 2;
		position: relative;

		margin-top: 26px;


	}
}