.new-article {
	padding-top: 76px;
    padding-bottom: 57px;

	&__container {
		max-width: 100%;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		margin-bottom: 0;
		margin-left: -3px;
	}

	&__link-more {
		margin-top: 8px;
		margin-right: 3px;
	}

	&__slider {
		margin-left: -2px;

		.slick-list {
			margin: 0 -18px;
		}
	}

	&__slider-card {
		padding: 18px;
	}

	&__card-img-wrapper {
		max-width: 257px;
		position: relative;
		margin-bottom: 17px;
		overflow: hidden;
		border-radius: 6px; -webkit-mask-image: -webkit-radial-gradient(white, black);

		&::after {
			content: '';
			display: block;
			padding-top: 100%;
		}
	}

	&__card-img {}

	&__card-title {

		margin-bottom: 6px;
	}

	&__theme-wrapper {

		margin-bottom: 5px;
	}

	&__theme-link {
	}

	&__theme-date {}

	&__theme-icon {
		width: 12px;
		height: 12px;
	}

	&__desc {}
}

.article-slider {
	.article-arrow {
		position: absolute;
		top: 136px;

		&--prev {
			left: -22px;
		}

		&--next {
			right: -22px;
		}
	}

	.slick-dots {

		margin-top: 8px;


	}
}