.quote-true {
padding-top: 45px;
padding-bottom: 83px;
    &__container {
    }
    
    &__title {
        margin-bottom: 35px;
        font-family: "Savoye LET";
        font-style: normal;
        font-weight: normal;
        font-size: 58px;
        line-height: 1.02;
        text-align: center;
        letter-spacing: -0.03em;
        color: #3E434D;
    }
    
    &__desc {
        max-width: 1014px;
        margin: 0 auto;
        font-size: 17px;
        line-height: 1.94;
        text-align: center;
        color: #53565A;
    }
}
@media screen and (max-width: 1150px) {
    .quote-true {
        padding-top: 48px;
        padding-bottom: 55px;
            &__container {
                width: 700px;
            }
            
            &__title {
                margin-bottom: 16px;
                font-family: "Savoye LET";
                font-style: normal;
                font-weight: normal;
                font-size: 58px;
                line-height: 1.02;
                text-align: center;
                letter-spacing: -0.03em;
                color: #3E434D;
            }
            
            &__desc {
                max-width: 490px;
                margin: 0 auto;
                font-weight: 300;
                padding-left: 30px;
                font-size: 15px;
                line-height: 24px;
                color: #53565A;
            }
        }
}

@media screen and (max-width: 767px) {
    .quote-true {
        padding-top: 50px;
        padding-bottom: 51px;
            &__container {
                width: 700px;
            }
            
            &__title {
                margin-bottom: 19px;
                font-family: "Savoye LET";
                font-style: normal;
                font-weight: normal;
                font-size: 39px;
                line-height: 39px;
                text-align: center;
                letter-spacing: -0.03em;
                color: #3E434D;
            }
            
            &__desc {
                max-width: 490px;
                margin: 0 auto;
                font-weight: 300;
                padding-left: 0px;
                font-size: 15px;
                line-height: 24px;
                color: #53565A;
            }
        }
}

    