.subscribe {
    border: 1px solid #DEE6E9;
    border-left-width: 0;
    border-right-width: 0;
    padding: 15px 0;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__name {
        font-size: 28px;
        line-height: 2.11;
        letter-spacing: -0.03em;
        color: #53565A;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__icon {
        margin-right: 24px;
    }
    &__link {
        font-weight: 500;
        font-size: 13px;
        text-transform: uppercase;
        color: #25378D;
        border: 1px solid #25378D;
        box-sizing: border-box;
        border-radius: 200px;
        min-width: 220px;
        min-height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1150px) {
    .subscribe {
        padding: 0;
        &__container {
            width: 100%;
        }
        &__name {
            font-size: 24px;
            line-height: 2.46;
        }
        &__icon {
            display: none;
        }
        &__link {
            font-weight: 400;
            font-size: 15px;
            text-transform: none;
            color: #25378D;
            border: none;
            box-sizing: border-box;
            min-width: auto;
            min-height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 0;
        }
    }
}
@media screen and (max-width: 767px) {
    .subscribe {
        padding: 0;
        &__container {
            width: 100%;
        }
        &__name {
            font-size: 19px;
            line-height: 2.46;
        }
        &__icon {
            display: none;
        }
        &__link {
            font-weight: 400;
            font-size: 15px;
            text-transform: none;
            color: #25378D;
            border: none;
            box-sizing: border-box;
            min-width: auto;
            min-height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 18px 0;
        }
    }
}