.ks-post-constructor--gallery {
	padding-top: 62px;

	@media screen and (max-width: 1150px) {
		padding-top: 46px;
	}

	@media screen and (max-width: 749px) {
		padding-top: vw(25);

	}
}

.kriya-science-main--gallery {
    padding-bottom: 92px;
	@media screen and (max-width: 1150px) {
		padding-bottom: 35px;
	}


	@media screen and (max-width: 749px) {
		padding-top: 10.61111vw;

	}
}

.ks-post-constructor--gallery-single {
	padding-top: 31px;

	@media screen and (max-width: 1150px) {
		padding-top: 41px;
	}

	@media screen and (max-width: 749px) {
		padding-top: 1px;

	}
}

.breadcrumbs-wrap--gal-single {
	@media screen and (max-width: 1150px) and (min-width: 750px)  {
		padding-top: 0;
	}
}

.kspc-phg-archive {
	//height: 418px;
	grid-auto-rows: 135px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 6px;

	@media screen and (max-width: 1150px) {}


	@media screen and (max-width: 1150px) {
		grid-auto-rows: 171px;
		grid-template-columns: repeat(4, 1fr);

	}

	@media screen and (max-width: 749px) {
		grid-auto-rows: vw(108);
		grid-template-columns: repeat(3, 1fr);
		grid-gap: vw(3);
	}
}


.kspc-phg__item-archive {
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: 6px;
	-webkit-mask-image: -webkit-radial-gradient(white, #000);

	@media screen and (min-width: 1151px) {
		&--1 {
			grid-area: 1 / 1 / span 3 / span 3;
		}

		&--2 {
			grid-area: 1/4/span 1/span 1;

		}

		&--3 {
			grid-area: 1/5/span 1/span 1;

		}

		&--4 {
			grid-area: 1/6/span 1/span 1;

		}

		&--5 {
			grid-area: 2/4/span 2/span 2;
		}

		&--6 {
			grid-area: 2/6/span 1/span 1;

		}

		&--7 {
			grid-area: 3/6/span 1/span 1;

		}
	}


	@media screen and (max-width: 1150px) {

		&--1 {
			grid-area: 1 / 1 / span 3 / span 3;
		}

		&--2 {
			grid-area: 1/4/span 1/span 1;

		}

		&--3 {
			grid-area: 2/4/span 1/span 1;

		}

		&--4 {
			grid-area: 3/4/span 1/span 1;

		}

		&--5,
		&--6,
		&--7 {
			display: none;
		}

	}

	@media screen and (max-width: 749px) {

		&--1 {
			grid-area: 1 / 1 / span 3 / span 3;
		}

		&--2 {
			grid-area: 4/1/span 1/span 1;

		}

		&--3 {
			grid-area: 4/2/span 1/span 1;

		}

		&--4 {
			grid-area: 4/3/span 1/span 1;

		}
	}

//	@include scalepic();

	img {
		width: 100%;
		height: 100%;
		@include relative_img();
	}
}



.kspc-phg-archive--reverse {

	.kspc-phg__item-archive {

		@media screen and (min-width: 1151px) {
			&--1 {
				grid-area: 1 / 4 / span 3 / span 3;
			}

			&--2 {
				grid-area: 3/1/span 1/span 1;

			}

			&--3 {
				grid-area: 3/2/span 1/span 1;

			}

			&--4 {
				grid-area: 3/3/span 1/span 1;

			}

			&--5 {
				grid-area: 1/2/span 2/span 2;
			}

			&--6 {
				grid-area: 1/1/span 1/span 1;

			}

			&--7 {
				grid-area: 2/1/span 1/span 1;

			}
		}


		@media screen and (max-width: 1150px) and (min-width: 750px) {

			&--1 {
				grid-area: 1 / 2 / span 3 / span 3;
			}

			&--2 {
				grid-area: 1/1/span 1/span 1;

			}

			&--3 {
				grid-area: 2/1/span 1/span 1;

			}

			&--4 {
				grid-area: 3/1/span 1/span 1;

			}


		}

	}
}

.kspc-phg__block--archive {}

.kspc-phg-arcgroup {
	/*&-1 {
		display: flex;

		&__item {
			width: calc(50% - 3px);

			&:first-child {
				margin-right: 6px;
			}
		}
	}

	&-2 {
		display: flex;
		flex-direction: column;

		&__item {
			width: 100%;

			&--1 {
				height: calc(33.333% - 3px);
				margin-bottom: 6px;
			}

			&--2 {
				height: calc(66.333% - 3px);
			}
		}
	}

	&-3 {
		display: flex;


		&__item {
			width: calc(33.333% - 4px); //6*2/3

			&:not(:first-child) {
				margin-left: 6px;
			}
		}
	}

	&-4 {
		display: flex;

		&__item {
			&--1 {
				width: calc(66.333333% - 3px);
				margin-right: 6px;
			}

			&--2 {
				width: calc(33.333333% - 3px);
			}
		}
	}

	&-5 {
		display: flex;
		flex-direction: column;

		&__item {

			height: calc(50% - 3px);

			&:first-child {
				margin-bottom: 6px;
			}
		}
	}*/
}